2025/02/AI Automated HR Workflow for CV Analysis and Candidate Evaluation.json
{"createdAt":"2025-02-20T16:34:55.783Z","updatedAt":"2025-02-20T16:37:53.292Z","id":"Ain19GA2gJkcpEm0","name":"AI Automated HR Workflow for CV Analysis and Candidate Evaluation","active":false,"nodes":[{"parameters":{"formTitle":"Send CV","formFields":{"values":[{"fieldLabel":"Name","placeholder":"Name","requiredField":true},{"fieldLabel":"Email","fieldType":"email","placeholder":"Email","requiredField":true},{"fieldLabel":"CV","fieldType":"file","acceptFileTypes":".pdf","requiredField":true}]},"options":{}},"id":"b1c4ddcd-4caf-4174-ba36-ae7242510843","name":"On form submission","type":"n8n-nodes-base.formTrigger","position":[40,480],"webhookId":"2a87705d-8ba1-41f1-80ef-85f364ce253e","typeVersion":2.2},{"parameters":{"operation":"pdf","binaryPropertyName":"CV","options":{}},"id":"3e0144a2-c9d6-4709-bf33-74afc6d074f9","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[400,480],"typeVersion":1},{"parameters":{"text":"={{ $json.text }}","attributes":{"attributes":[{"name":"Educational qualification","description":"Summary of your academic career. Focus on your high school and university studies. Summarize in 100 words maximum and also include your grade if applicable.","required":true},{"name":"Job History","description":"Work history summary. Focus on your most recent work experiences. Summarize in 100 words maximum","required":true},{"name":"Skills","description":"Extract the candidate’s technical skills. What software and frameworks they are proficient in. Make a bulleted list.","required":true}]},"options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."}},"id":"54e8c007-a1c0-4030-acd3-288efb941a6d","name":"Qualifications","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[720,580],"typeVersion":1},{"parameters":{"options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"=Write a concise summary of the following:\n\nCity: {{ $json.output.city }}\nBirthdate: {{ $json.output.birthdate }}\nEducational qualification: {{ $json.output[\"Educational qualification\"] }}\nJob History: {{ $json.output[\"Job History\"] }}\nSkills: {{ $json.output.Skills }}\n\nUse 100 words or less. Be concise and conversational.","prompt":"=Write a concise summary of the following:\n\nCity: {{ $json.output.city }}\nBirthdate: {{ $json.output.birthdate }}\nEducational qualification: {{ $json.output[\"Educational qualification\"] }}\nJob History: {{ $json.output[\"Job History\"] }}\nSkills: {{ $json.output.Skills }}\n\nUse 100 words or less. Be concise and conversational."}}}},"id":"a7cda1f3-a432-4f71-a4fb-02bfcf70687a","name":"Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[1460,460],"typeVersion":2},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"6749c3aa-e5ed-4961-abd6-85ca3973398d","name":"Merge","type":"n8n-nodes-base.merge","position":[1220,460],"typeVersion":3},{"parameters":{"assignments":{"assignments":[{"id":"a3d049b0-5a70-4e7b-a6f2-81447da5282a","name":"profile_wanted","type":"string","value":"We are a web agency and we are looking for a full-stack web developer who knows how to use PHP, Python and Javascript. He has experience in the sector and lives in Northern Italy."}]},"options":{}},"id":"e11fdf9e-e61d-4196-9a22-8d3a9563de9b","name":"Profile Wanted","type":"n8n-nodes-base.set","position":[1860,460],"typeVersion":3.4},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1ssz5RvN1Hr20Q31pnYnbjCLu1MGBvoLttBAjXunMRQE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ssz5RvN1Hr20Q31pnYnbjCLu1MGBvoLttBAjXunMRQE/edit?usp=drivesdk","cachedResultName":"Ricerca WebDev"},"sheetName":{"__rl":true,"mode":"list","value":"gid=0","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ssz5RvN1Hr20Q31pnYnbjCLu1MGBvoLttBAjXunMRQE/edit#gid=0","cachedResultName":"Foglio1"},"columns":{"value":{"CITY":"={{ $('Merge').item.json.output.city }}","DATA":"={{ $now.format('dd/LL/yyyy') }}","NAME":"={{ $('On form submission').item.json.Nome }}","VOTE":"={{ $json.output.vote }}","EMAIL":"={{ $('On form submission').item.json.Email }}","SKILLS":"={{ $('Merge').item.json.output.Skills }}","TELEFONO":"={{ $('Merge').item.json.output.telephone }}","SUMMARIZE":"={{ $('Summarization Chain').item.json.response.text }}","EDUCATIONAL":"={{ $('Merge').item.json.output[\"Educational qualification\"] }}","JOB HISTORY":"={{ $('Merge').item.json.output[\"Job History\"] }}","DATA NASCITA":"={{ $('Merge').item.json.output.birthdate }}","CONSIDERATION":"={{ $json.output.consideration }}"},"schema":[{"id":"DATA","type":"string","display":true,"required":false,"displayName":"DATA","defaultMatch":false,"canBeUsedToMatch":true},{"id":"NAME","type":"string","display":true,"required":false,"displayName":"NAME","defaultMatch":false,"canBeUsedToMatch":true},{"id":"PHONE","type":"string","display":true,"removed":false,"required":false,"displayName":"PHONE","defaultMatch":false,"canBeUsedToMatch":true},{"id":"CITY","type":"string","display":true,"required":false,"displayName":"CITY","defaultMatch":false,"canBeUsedToMatch":true},{"id":"EMAIL","type":"string","display":true,"required":false,"displayName":"EMAIL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"DATA NASCITA","type":"string","display":true,"required":false,"displayName":"DATA NASCITA","defaultMatch":false,"canBeUsedToMatch":true},{"id":"EDUCATIONAL","type":"string","display":true,"required":false,"displayName":"EDUCATIONAL","defaultMatch":false,"canBeUsedToMatch":true},{"id":"JOB HISTORY","type":"string","display":true,"required":false,"displayName":"JOB HISTORY","defaultMatch":false,"canBeUsedToMatch":true},{"id":"SKILLS","type":"string","display":true,"required":false,"displayName":"SKILLS","defaultMatch":false,"canBeUsedToMatch":true},{"id":"SUMMARIZE","type":"string","display":true,"required":false,"displayName":"SUMMARIZE","defaultMatch":false,"canBeUsedToMatch":true},{"id":"VOTE","type":"string","display":true,"removed":false,"required":false,"displayName":"VOTE","defaultMatch":false,"canBeUsedToMatch":true},{"id":"CONSIDERATION","type":"string","display":true,"required":false,"displayName":"CONSIDERATION","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"d2c0a525-6dbf-4eff-972f-f4d07accf640","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","position":[2520,460],"typeVersion":4.5},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"vote\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"consideration\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"},"id":"fd2eee75-4ef0-48a6-a9ff-6f1971bdaf63","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[2280,660],"typeVersion":1.2},{"parameters":{"promptType":"define","text":"=Profilo ricercato:\n{{ $json.profile_wanted }}\n\nCandidato:\n{{ $('Summarization Chain').item.json.response.text }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"Sei un esperto HR e devi capire se il candidato è in linea con il profilo ricercato dall'azienda.\n\nDevi dare un voto da 1 a 10 dove 1 significa che il candidato non è in linea con quanto richiesto mentre 10 significa che è il candidato ideale perchè rispecchia in toto il profilo cercato.\n\nInoltre nel campo \"consideration\" motiva il perchè hai dato quel voto. "}]}},"id":"3c1890c6-b3c0-4e22-a345-647d6bab24ae","name":"HR Expert","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[2120,460],"typeVersion":1.5},{"parameters":{"text":"={{ $json.text }}","schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"telephone\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"city\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"birthdate\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}","options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."}},"id":"15eb5189-3abf-42b9-970d-f5dd5e8dacf1","name":"Personal Data","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[720,400],"typeVersion":1},{"parameters":{"inputDataFieldName":"CV","name":"=CV-{{ $now.format('yyyyLLdd') }}-{{ $json.CV[0].filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"1tzeSpx4D3EAGXa3Wg-gqGbdaUk6LIZTV","cachedResultUrl":"https://drive.google.com/drive/folders/1tzeSpx4D3EAGXa3Wg-gqGbdaUk6LIZTV","cachedResultName":"CV"},"options":{}},"id":"3d576059-af03-4bab-b819-5baf341a9e47","name":"Upload CV","type":"n8n-nodes-base.googleDrive","position":[400,300],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{},"id":"4e193257-3d04-4c2c-8cc3-71aa83991ae5","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1480,920],"typeVersion":1.2,"credentials":{}},{"parameters":{"content":"## HR Expert \nThis workflow automates the process of handling job applications by extracting relevant information from submitted CVs, analyzing the candidate's qualifications against a predefined profile, and storing the results in a Google Sheet","width":540,"color":3},"id":"cee75d22-5098-4ed7-9195-0d94dfd30f2f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"The CV is uploaded to Google Drive and converted so that it can be processed\n","height":420,"width":300},"id":"9cc2dc6e-17d3-4bb1-af48-68503d501c86","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[320,220],"typeVersion":1},{"parameters":{"content":"The essential information for evaluating the candidate is collected in two different chains","height":440,"width":360},"id":"7323d61c-ba86-41a2-87bf-5f958b3f76e2","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[680,300],"typeVersion":1},{"parameters":{"content":"Summary of relevant information useful for classifying the candidate","height":240,"width":320},"id":"6f1a714e-0931-4c87-8d31-f2fafffec8e6","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1420,380],"typeVersion":1},{"parameters":{"content":"Characteristics of the profile sought by the company that intends to hire the candidate","height":240,"width":220},"id":"72055431-2b57-4104-aa5b-8b5c5dbab8ff","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1800,380],"typeVersion":1},{"parameters":{"content":"Candidate evaluation with vote and considerations of the HR agent relating the profile sought with the candidate's skills","height":240,"width":360},"id":"aecbf6e1-5454-4b07-b129-2c3f3df86764","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2060,380],"typeVersion":1}],"connections":{"Merge":{"main":[[{"node":"Summarization Chain","type":"main","index":0}]]},"HR Expert":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Personal Data":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Profile Wanted":{"main":[[{"node":"HR Expert","type":"main","index":0}]]},"Qualifications":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Extract from File":{"main":[[{"node":"Qualifications","type":"main","index":0},{"node":"Personal Data","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"Upload CV","type":"main","index":0}]]},"Summarization Chain":{"main":[[{"node":"Profile Wanted","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"HR Expert","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a308c317-50de-446a-932c-907354ae499d","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/02/"}