2025/02/Breakdown Documents into Study Notes using Templating MistralAI and Qdrant.json
{"createdAt":"2025-02-24T08:57:25.122Z","updatedAt":"2025-02-24T10:10:14.326Z","id":"PYu9Zm6Y86gbOmvZ","name":"Breakdown Documents into Study Notes using Templating MistralAI and Qdrant","active":false,"nodes":[{"parameters":{"triggerOn":"folder","path":"/home/node/storynotes/context","events":["add"],"options":{"followSymlinks":true,"usePolling":true}},"id":"a73c35cf-f7a8-49d1-a050-c5a063e0d685","name":"Local File Trigger","type":"n8n-nodes-base.localFileTrigger","position":[-2780,120],"typeVersion":1},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"project","value":"={{ $('Settings').item.json.project }}"},{"name":"filename","value":"={{ $('Settings').item.json.filename }}"}]}}},"id":"26712cb6-f609-42ff-8aae-f223a17cbea5","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[-1620,580],"typeVersion":1},{"parameters":{"chunkSize":2000,"options":{}},"id":"dc4d05f4-8c09-4bfc-9be8-541668be0c35","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[-1620,720],"typeVersion":1},{"parameters":{"options":{}},"id":"0b058f31-8dcb-4c84-a13d-0ef48e8fb0bd","name":"Embeddings Mistral Cloud","type":"@n8n/n8n-nodes-langchain.embeddingsMistralCloud","position":[-1740,580],"typeVersion":1,"credentials":{"mistralCloudApi":{"id":"NBeSmYZTNG8XbHEk","name":"Mistral Cloud account"}}},{"parameters":{"model":"open-mixtral-8x7b","options":{}},"id":"09ae6aab-6b93-4f31-a5dc-4cbb09d07f73","name":"Mistral Cloud Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","position":[-260,700],"typeVersion":1,"credentials":{"mistralCloudApi":{"id":"NBeSmYZTNG8XbHEk","name":"Mistral Cloud account"}}},{"parameters":{"model":"open-mixtral-8x7b","options":{}},"id":"d9850c52-0bf1-45dd-b728-6dfaf0c787aa","name":"Mistral Cloud Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","position":[-1720,260],"typeVersion":1,"credentials":{"mistralCloudApi":{"id":"NBeSmYZTNG8XbHEk","name":"Mistral Cloud account"}}},{"parameters":{"assignments":{"assignments":[{"id":"da64ffde-1e8f-478d-baea-59fc05e6d3ce","name":"data","type":"string","value":"={{ $json.text }}"}]},"options":{}},"id":"556bcfa4-6c88-4c80-a32d-7f57005470be","name":"Prep Incoming Doc","type":"n8n-nodes-base.set","position":[-2020,280],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"df327b01-961c-4a49-8455-58c3fbff111a","name":"project","type":"string","value":"={{ $json.path.split('/').slice(0, 4)[3] }}"},{"id":"6b7d26f9-3a38-417e-85d0-4e9d42476465","name":"path","type":"string","value":"={{ $json.path }}"},{"id":"bb4471c7-d894-4739-99a6-4be247794ffa","name":"filename","type":"string","value":"={{ $json.path.split('/').last() }}"}]},"options":{}},"id":"5f2fcb75-7208-4051-bdb2-573c06369cd5","name":"Settings","type":"n8n-nodes-base.set","position":[-2600,120],"typeVersion":3.3},{"parameters":{"mode":"chooseBranch"},"id":"ecb72dc7-46d0-4f91-9e56-08f77ef93052","name":"Merge","type":"n8n-nodes-base.merge","position":[-1320,280],"typeVersion":2.1},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"docs\": [\n    {\n      \"filename\": \"study_guide.md\",\n      \"title\": \"Study Guide\",\n      \"description\": \"A Study Guide is a consolidated resource designed to aid learning. This guide includes three key elements: * A short answer quiz accompanied by an answer key to test comprehension. * A curated list of long-form essay questions to encourage deeper analysis and synthesis of the material. * A glossary of key terms to reinforce understanding of important concepts.\"\n    },\n    {\n      \"filename\": \"timeline.md\",\n      \"title\": \"Timeline\",\n      \"description\": \"A Timeline organizes all significant events described in the sources you have uploaded in chronological order. This ordered list makes it easier to understand the sequence of events and their connection to the broader context of your sources. In addition to the list of events, the Timeline also provides a “cast of characters,” which comprises short biographical sketches of all the important people mentioned in your uploaded sources. These short biographies can help you quickly grasp the roles of various individuals involved in the events described by the Timeline.\"\n    },\n    {\n      \"filename\": \"briefing_doc.md\",\n      \"title\": \"Briefing Doc\",\n      \"description\": \"A Briefing Doc identifies and presents the most important facts and insights from the sources in an easy-to-understand outline format. This format is designed to provide a concise overview of the key takeaways from the uploaded materials.\"\n    }\n  ]\n}\n","options":{}},"id":"cc0623b3-926d-4d7d-ba6a-9ac27cdc459f","name":"Get Doc Types","type":"n8n-nodes-base.set","position":[-920,280],"executeOnce":true,"typeVersion":3.3},{"parameters":{"fieldToSplitOut":"docs","options":{}},"id":"86d30272-f6e0-4b3c-95ae-eecec2b53826","name":"Split Out Doc Types","type":"n8n-nodes-base.splitOut","position":[-760,280],"typeVersion":1},{"parameters":{"options":{}},"id":"346d35c5-9289-465f-b456-08ae43b7ec7c","name":"For Each Doc Type...","type":"n8n-nodes-base.splitInBatches","position":[-580,280],"typeVersion":3},{"parameters":{"options":{}},"id":"4b443e5b-196f-4468-97a1-45e8cebc6a60","name":"Item List Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserItemList","position":[-80,700],"typeVersion":1},{"parameters":{},"id":"a4399fbc-e38a-467e-a728-b7b43806b32b","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","position":[260,720],"typeVersion":1},{"parameters":{"options":{}},"id":"b27c5c7b-c8d2-441b-80a1-19749770ec5a","name":"Embeddings Mistral Cloud1","type":"@n8n/n8n-nodes-langchain.embeddingsMistralCloud","position":[180,1000],"typeVersion":1,"credentials":{"mistralCloudApi":{"id":"NBeSmYZTNG8XbHEk","name":"Mistral Cloud account"}}},{"parameters":{"qdrantCollection":{"__rl":true,"mode":"list","value":"storynotes","cachedResultName":"storynotes"},"options":{}},"id":"6b220f72-a7cd-4f5b-b3a6-ccd96ebff239","name":"Qdrant Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[240,860],"typeVersion":1,"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"options":{}},"id":"90cad4df-19b9-40ed-ad9d-cd06e715bc7e","name":"Mistral Cloud Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","position":[100,760],"typeVersion":1,"credentials":{"mistralCloudApi":{"id":"NBeSmYZTNG8XbHEk","name":"Mistral Cloud account"}}},{"parameters":{"fieldToSplitOut":"response","options":{}},"id":"ef80254b-72f8-4070-b78f-80910f22bac6","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[40,540],"typeVersion":1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"response.text"}]},"options":{}},"id":"e53cac73-5f4d-4370-9795-cbe5047e5ac3","name":"Aggregate","type":"n8n-nodes-base.aggregate","position":[480,540],"typeVersion":1},{"parameters":{"model":"open-mixtral-8x7b","options":{}},"id":"48f23577-4927-44b6-a549-2c6420878fbc","name":"Mistral Cloud Chat Model3","type":"@n8n/n8n-nodes-langchain.lmChatMistralCloud","position":[620,700],"typeVersion":1,"credentials":{"mistralCloudApi":{"id":"NBeSmYZTNG8XbHEk","name":"Mistral Cloud account"}}},{"parameters":{"promptType":"define","text":"={{ $json.response }}","options":{}},"id":"6dc894b6-b752-4f50-8adb-f84f632827de","name":"Discover","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","position":[180,540],"typeVersion":1.3},{"parameters":{},"id":"bc1692da-df8a-4a1f-bf0d-c59f226e7bc7","name":"2secs","type":"n8n-nodes-base.wait","position":[960,920],"webhookId":"ec58ab18-03c5-4b58-bc2e-24415a236c72","typeVersion":1.1},{"parameters":{"assignments":{"assignments":[{"id":"b38546b2-47c4-4967-a2d7-98aebd589e95","name":"data","type":"string","value":"={{ $json.text }}"},{"id":"a263519a-aa05-410a-b4f0-f5e22cc5058c","name":"path","type":"string","value":"={{ $('Prep For AI').item.json.path }}"},{"id":"ec1687d6-0ea9-460f-b9d4-ae4a7e229e12","name":"filename","type":"string","value":"={{ $('Prep For AI').item.json.name }}"}]},"options":{}},"id":"013736e3-e82e-4202-9082-69cc1ce4bd83","name":"Get Generated Documents","type":"n8n-nodes-base.set","position":[-240,100],"typeVersion":3.3},{"parameters":{"promptType":"define","text":"=## Document\n{{ $json.text.join('\\n') }}","messages":{"messageValues":[{"message":"=Your job is to create a {{ $('For Each Doc Type...').item.json.title }} for the given document. {{ $('For Each Doc Type...').item.json.description }}\n\nGenerate a  {{ $('For Each Doc Type...').item.json.title }} for the given document. If questions are generated, generate the answers alongside them. Format your response in markdown; use \"#\" to format headings, use \"*\" to format lists."}]}},"id":"4e6b5519-ca13-4ff7-9628-4f0474c63a30","name":"Generate","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[620,540],"typeVersion":1.4},{"parameters":{"assignments":{"assignments":[{"id":"5c864125-c884-4d33-b0ed-e3eecd354196","name":"id","type":"string","value":"={{ $('Settings').first().json.filename.hash() }}"},{"id":"93ac14c1-ae97-4ef2-a66f-6c1110f3b0fc","name":"project","type":"string","value":"={{ $('Settings').first().json.project }}"},{"id":"fafd16b9-0002-4f7c-89d0-29788f8ec472","name":"path","type":"string","value":"={{ $('Settings').first().json.path }}"},{"id":"5a5860ba-918b-4fb8-b18c-96c1cd22091a","name":"name","type":"string","value":"={{ $('Settings').first().json.filename }}"},{"id":"1a1caf65-85d8-4f74-a3be-503ccfc0b2c9","name":"summary","type":"string","value":"={{ $('Summarization Chain').first().json.response.text }}"}]},"options":{}},"id":"3e57a81d-3c05-485a-bd82-285c8b31f7a0","name":"Prep For AI","type":"n8n-nodes-base.set","position":[-1160,280],"typeVersion":3.3},{"parameters":{"operation":"toText","sourceProperty":"={{ $json.data }}","options":{}},"id":"85fdf364-34ff-430f-b47f-a27060ac029d","name":"To Binary","type":"n8n-nodes-base.convertToFile","position":[-60,100],"typeVersion":1.1},{"parameters":{"operation":"write","fileName":"={{\n  $('Get Generated Documents').item.json.path.replace(\n    $('Get Generated Documents').item.json.path.split('/').last(),\n    $('Get Generated Documents').item.json.filename.substring(0,21) + '...' + $('Split Out Doc Types').item.json.title + '.md'\n  )\n}}","options":{}},"id":"2cf83ef6-f640-4627-bb13-af54c77c0a2d","name":"Export to Folder","type":"n8n-nodes-base.readWriteFile","position":[100,100],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.fileType }}","rightValue":"pdf"}]},"renameOutput":true,"outputKey":"pdf"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"3a5f509d-46fe-490c-95f0-35124873c63e","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.fileType }}","rightValue":"docx"}]},"renameOutput":true,"outputKey":"docx"},{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"75188d2f-4bea-44ea-a579-9b9a1bd1ea93","operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json }}","rightValue":""}]},"renameOutput":true,"outputKey":"everything else"}]},"options":{}},"id":"560fc2c7-130c-47ff-a0cc-6313a58b5e85","name":"Get FileType","type":"n8n-nodes-base.switch","position":[-2440,280],"typeVersion":3},{"parameters":{"fileSelector":"={{ $json.path }}","options":{}},"id":"1cfe5159-c0a7-467c-8229-6a83a4a78439","name":"Import File","type":"n8n-nodes-base.readWriteFile","position":[-2600,280],"typeVersion":1},{"parameters":{"operation":"pdf","options":{}},"id":"a91f4850-6ef6-4194-8f35-0cb066b61068","name":"Extract from PDF","type":"n8n-nodes-base.extractFromFile","position":[-2240,120],"typeVersion":1},{"parameters":{"operation":"ods","options":{}},"id":"914a168c-582e-4609-bb68-1c617ad81eeb","name":"Extract from DOCX","type":"n8n-nodes-base.extractFromFile","position":[-2240,280],"typeVersion":1},{"parameters":{"operation":"text","options":{}},"id":"942382a5-cde6-4d6a-a343-20e8298a64a9","name":"Extract from TEXT","type":"n8n-nodes-base.extractFromFile","position":[-2240,440],"typeVersion":1},{"parameters":{"chunkSize":4000,"options":{}},"id":"bfc16e76-e930-4ba1-b48c-f7a4078eb66b","name":"Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[-1720,120],"typeVersion":2},{"parameters":{"content":"## Step 1. Watch Folder and Import New Documents\n[Read more about Local File Trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.localfiletrigger)\n\nWith n8n's local file trigger, we're able to trigger the workflow when files are created in our target folder. We still have to import them however as the trigger will only give the file's path. The \"Extract From\" node is used to get at the file's contents.","height":694.0931000693263,"width":995.1475972814769,"color":7},"id":"9ad2a4e5-5f5d-460c-acd7-07b324c2c76d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-2860,-60],"typeVersion":1},{"parameters":{"content":"## Step 2. Summarise and Vectorise Document Contents\n[Learn more about using the Qdrant VectorStore](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.vectorstoreqdrant)\n\nCapturing the document into our vector store is intended for a technique we'll use later known as Retrieval Augumented Generation or \"RAG\" for short. For our scenario, this allows our LLM to retrieve context more efficiently which produces better respsonses.","height":949.8141899605673,"width":824.3300768713589,"color":7},"id":"aed7ca66-850c-4799-96ed-0f7b76e96af8","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1840,-60],"typeVersion":1},{"parameters":{"content":"## Step 3. Loop through Templates\n\nWe'll ask the LLM to help us generate 3 types of notes from the imported source document. These notes are intended to breakdown the content for faster study. Our templates for this demo are:\n(1) **Study guide**\n(2) **Briefing document**\n(3) **Timeline**","height":485.0226378812345,"width":591.09953935829,"color":7},"id":"730b1d2c-1f61-4c0c-863b-4eac9e426f7c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-980,20],"typeVersion":1},{"parameters":{"content":"## Step 4. Use AI Agents to Query and Generate Template Documents\n[Read more about using the Question & Answer Retrieval Chain](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainretrievalqa)\n\nn8n allows us to easily use a chain of LLMs as agents which can work together to handle any task!\nHere the agents generate questions to explore the content of the source document and use the answers to generate the template. ","height":806.6560661824452,"width":1500.7886103732135,"color":7},"id":"30ce906c-0993-44ac-9dbd-5f3b7f318b73","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-360,340],"typeVersion":1},{"parameters":{"content":"## Step 5. Export Generated Templates To Folder\n[Learn more about writing to the local filesystem](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.filesreadwrite)\n\nFinally, the AI generated documents can now be exported to disk. This workflow makes it easy to generate any kind of document from various source material and can be used for training and sales.","height":384.22073222791266,"width":771.8710855215123,"color":7},"id":"cf152187-8e23-4f6a-8863-00034b80599c","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-360,-80],"typeVersion":1},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"mode":"list","value":"storynotes","cachedResultName":"storynotes"},"options":{}},"id":"5e942e7a-bac2-4d15-a66d-f237c660eb08","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[-1720,420],"typeVersion":1,"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"content":"## Try It Out! \n\n### This workflow automates generating notes from a source document.\n* It watches a target folder to pick up new files.\n* When a new file is detected, it saves the contents of the file in a vectorstore.\n* multiple AI agents guided by a templates list, generate the predetermined notes.\n* These notes are then export alongside the original source file for the user.\n\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!","height":401.0080676370763,"width":390.63004227317265},"id":"ff28a455-9e18-4623-9090-19a21985f53c","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-3280,-60],"typeVersion":1},{"parameters":{"promptType":"define","text":"=## document summary\n {{ $('Prep For AI').item.json.summary }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Given the following document summary, what questions would you ask to create a {{ $('For Each Doc Type...').item.json.title }} for the document? Generate 5 questions."}]}},"id":"d50992c5-6963-470f-bb92-2f33577d4a0e","name":"Interview","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-260,540],"typeVersion":1.4},{"parameters":{"content":"Description du modèle\nCe flux de travail n8n intègre un document tel qu'un document de recherche, un document de marketing ou de vente ou des documents d'entreprise, et les décompose en 3 modèles: guide d'étude, document d'information et calendrier.\n\nCes modèles sont conçus pour aider un étudiant, un associé ou un commis à résumer, apprendre et comprendre rapidement le contenu pour être plus productif.\n\nGuide d'étude - un court quiz de questions et réponses générées par l'agent AI en utilisant le contenu du document.\nBriefing Doc - les informations et les idées clés sont extraites par l'IA sous une forme digestible.\nChronologie - les événements clés, les durées et les personnes sont identifiés et répertoriés dans une chronologie simple à comprendre par l'IA\nComment ça marche\nUn déclencheur de fichier local surveille un répertoire réseau local pour les nouveaux documents.\nDe nouveaux documents sont importés dans le flux de travail, son contenu est extrait et vectorisé dans un magasin de vecteurs Qdrant pour créer une mini-base de connaissances.\nLe document passe ensuite par une série de modèles générant des invites où l'IA effectuera une \"recherche\" sur la base de connaissances pour générer le contenu du modèle.\nLe guide d'étude généré, les documents d'information et de chronologie sont exportés vers un dossier désigné pour l'utilisateur.\nExigences\nVersion auto-hébergée de n8n.\nInstance Qdrant pour la base de connaissances.\nMistral.l compte pour les incorporations et le modèle AI.\nPersonnaliser votre flux de travail\nEssayez d'ajouter vos propres modèles ou d'ajuster les modèles existants en fonction de votre cas d'utilisation unique. Tout est tout à fait possible et limité seulement par votre imagination!\n\nVous voulez aller entièrement local?\nUne version de ce workflow est disponible qui utilise Ollama à la place. Vous pouvez télécharger ce modèle ici: https://drive.google.com/file/d/1VV5R2nW-IhVcFP_k8uEks4LsLRZrHSNG/view?usp=sharing","height":455,"width":1772,"color":4},"id":"5bda4c15-cc6a-47d4-aa01-2f3792688c6b","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-3000,-540],"typeVersion":1},{"parameters":{},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"956582a4-90f7-42c5-beff-b9318f95bce1","name":"Sticky Note7"}],"connections":{"2secs":{"main":[[{"node":"For Each Doc Type...","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Prep For AI","type":"main","index":0}]]},"Discover":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Generate":{"main":[[{"node":"2secs","type":"main","index":0}]]},"Settings":{"main":[[{"node":"Import File","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Generate","type":"main","index":0}]]},"Interview":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Discover","type":"main","index":0}]]},"To Binary":{"main":[[{"node":"Export to Folder","type":"main","index":0}]]},"Import File":{"main":[[{"node":"Get FileType","type":"main","index":0}]]},"Prep For AI":{"main":[[{"node":"Get Doc Types","type":"main","index":0}]]},"Get FileType":{"main":[[{"node":"Extract from PDF","type":"main","index":0}],[{"node":"Extract from DOCX","type":"main","index":0}],[{"node":"Extract from TEXT","type":"main","index":0}]]},"Get Doc Types":{"main":[[{"node":"Split Out Doc Types","type":"main","index":0}]]},"Extract from PDF":{"main":[[{"node":"Prep Incoming Doc","type":"main","index":0}]]},"Extract from DOCX":{"main":[[{"node":"Prep Incoming Doc","type":"main","index":0}]]},"Extract from TEXT":{"main":[[{"node":"Prep Incoming Doc","type":"main","index":0}]]},"Prep Incoming Doc":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0},{"node":"Summarization Chain","type":"main","index":0}]]},"Local File Trigger":{"main":[[{"node":"Settings","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Qdrant Vector Store":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Split Out Doc Types":{"main":[[{"node":"For Each Doc Type...","type":"main","index":0}]]},"Summarization Chain":{"main":[[{"node":"Merge","type":"main","index":0}]]},"For Each Doc Type...":{"main":[[{"node":"Get Generated Documents","type":"main","index":0}],[{"node":"Interview","type":"main","index":0}]]},"Qdrant Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Discover","type":"ai_retriever","index":0}]]},"Get Generated Documents":{"main":[[{"node":"To Binary","type":"main","index":0}]]},"Item List Output Parser":{"ai_outputParser":[[{"node":"Interview","type":"ai_outputParser","index":0}]]},"Embeddings Mistral Cloud":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Mistral Cloud Chat Model":{"ai_languageModel":[[{"node":"Interview","type":"ai_languageModel","index":0}]]},"Embeddings Mistral Cloud1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Mistral Cloud Chat Model1":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]},"Mistral Cloud Chat Model2":{"ai_languageModel":[[{"node":"Discover","type":"ai_languageModel","index":0}]]},"Mistral Cloud Chat Model3":{"ai_languageModel":[[{"node":"Generate","type":"ai_languageModel","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0a809f81-73f2-40c8-bc31-c726cd26c406","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-worklow","repo_path":"","subPath":"2025/02/"}