2025/02/Extract data from resume and create PDF with Gotenberg.json
{"createdAt":"2025-02-20T15:42:43.431Z","updatedAt":"2025-02-20T15:53:56.516Z","id":"ljZFHNSQUpYNylX0","name":"Extract data from resume and create PDF with Gotenberg","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-4-turbo-preview","options":{"responseFormat":"json_object","temperature":0}},"id":"980fd0ec-70e5-4e3a-a462-d2205f1a787c","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-960,740],"typeVersion":1,"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function convertToHTML(list) {\n    let html = '';\n\n    list.forEach((education, index) => {\n        if (index > 0) {\n            html += '<br /><br />'; // Add a new line if it's not the first item\n        }\n        html += `<b>Institution:</b> ${education.institution}<br />\n<b>Start year:</b> ${education.start_year}<br />\n<b>Degree:</b> ${education.degree}`;\n    });\n\n    return html;\n}\n\n// Assuming payload is already defined\nconst payload = $input.item.json.education;\n\nconst htmlOutput = convertToHTML(payload);\nreturn {\n    htmlOutput\n};"},"id":"05f78c9e-2b40-46d7-95ea-9c4c339a7c87","name":"Convert education to HTML","type":"n8n-nodes-base.code","position":[-120,580],"typeVersion":2},{"parameters":{"options":{}},"id":"c26f06e2-b95a-4854-9207-2aefadb5d252","name":"Auto-fixing Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","position":[-720,740],"typeVersion":1},{"parameters":{"options":{"temperature":0}},"id":"571a5859-81aa-4fcc-aa6c-ab4ee21b467a","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-800,920],"typeVersion":1,"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"jsonSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"personal_info\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"name\": { \"type\": \"string\" },\n        \"address\": { \"type\": \"string\" },\n        \"email\": { \"type\": \"string\", \"format\": \"email\" },\n        \"github\": { \"type\": \"string\"},\n        \"linkedin\": { \"type\": \"string\" }\n      }\n    },\n    \"employment_history\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"position\": { \"type\": \"string\" },\n          \"company\": { \"type\": \"string\" },\n          \"duration\": { \"type\": \"string\" },\n          \"responsibilities\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          }\n        }\n      }\n    },\n    \"education\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"institution\": { \"type\": \"string\" },\n          \"start_year\": { \"type\": \"integer\" },\n          \"degree\": { \"type\": \"string\" }\n        }\n      }\n    },\n    \"projects\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": { \"type\": \"string\" },\n          \"year\": { \"type\": \"integer\" },\n          \"description\": { \"type\": \"string\" },\n          \"technologies\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          }\n        }\n      }\n    },\n    \"volunteering\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"activity\": { \"type\": \"string\" },\n          \"location\": { \"type\": \"string\" },\n          \"date\": { \"type\": \"string\" },\n          \"description\": { \"type\": \"string\" }\n        }\n      }\n    },\n    \"programming_languages\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"languages\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"tools\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"methodologies\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        }\n      }\n    },\n    \"foreign_languages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"language\": { \"type\": \"string\" },\n          \"level\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}\n"},"id":"f6938d68-2c6b-4298-b749-254bf44a54f4","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[-580,920],"typeVersion":1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function convertToHTML(list) {\n    let html = '';\n\n    list.forEach((item, index) => {\n        if (index > 0) {\n            html += '<br />'; // Add a new line if it's not the first item\n        }\n        html += `<b>Position:</b> ${item.position}\n<b>Company:</b> ${item.company}\n<br />\n<b>Duration:</b> ${item.duration}\n<br />\n<b>Responsibilities:</b>\n`;\n\n        item.responsibilities.forEach((responsibility, i) => {\n            html += `- ${responsibility}`;\n            if (i < item.responsibilities.length - 1 || index < list.length - 1) {\n                html += '<br />'; // Add new line if it's not the last responsibility in the last item\n            }\n        });\n    });\n\n    return html;\n}\n\n// Assuming payload is already defined\nconst payload = $input.item.json.employment_history;\n\nconst htmlOutput = convertToHTML(payload);\nreturn {\n    htmlOutput\n};"},"id":"bd9c7a8e-ffb2-4600-9251-9dab7b16a6a8","name":"Convert employment history to HTML","type":"n8n-nodes-base.code","position":[-120,380],"typeVersion":2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function convertToHTML(list) {\n    let html = '';\n\n    list.forEach((project, index) => {\n        if (index > 0) {\n            html += '<br />'; // Add a new line if it's not the first project\n        }\n        html += `<b>Name:</b> ${project.name}<br />\n<b>Year:</b> ${project.year}<br />\n<b>Description:</b> ${project.description}<br /><br />\n<b>Technologies:</b>\n<br />`;\n\n        project.technologies.forEach((technology, i) => {\n            html += `- ${technology}`;\n            if (i < project.technologies.length - 1 || index < list.length - 1) {\n                html += '<br />'; // Add new line if it's not the last technology in the last project\n            }\n        });\n    });\n\n    return html;\n}\n\n// Assuming payload is already defined\nconst payload = $input.item.json.projects;\n\nconst htmlOutput = convertToHTML(payload);\nreturn {\n    htmlOutput\n};\n"},"id":"598c8950-946c-468d-adf2-80a88b0d7c90","name":"Convert projects to HTML","type":"n8n-nodes-base.code","position":[-120,780],"typeVersion":2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function convertToHTML(list) {\n    let html = '';\n\n    list.forEach((event, index) => {\n        if (index > 0) {\n            html += '<br />'; // Add a new line if it's not the first volunteering event\n        }\n        html += `<b>Activity:</b> ${event.activity}<br />\n<b>Location:</b> ${event.location}<br />\n<b>Date:</b> ${event.date}<br />\n<b>Description:</b> ${event.description}<br />`;\n    });\n\n    return html;\n}\n\n// Assuming payload is already defined\nconst payload = $input.item.json.volunteering;\n\nconst htmlOutput = convertToHTML(payload);\nreturn {\n    htmlOutput\n};\n"},"id":"9dee9117-872e-4d2e-9152-b21a139a15bb","name":"Convert volunteering to HTML","type":"n8n-nodes-base.code","position":[-120,980],"typeVersion":2},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"809d5bc0-5467-4c35-890e-1e12230dbb8b","name":"Telegram trigger","type":"n8n-nodes-base.telegramTrigger","position":[-2180,740],"webhookId":"d6829a55-a01b-44ac-bad3-2349324c8515","typeVersion":1.1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7ca4b4c3-e23b-4896-a823-efc85c419467","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.message.chat.id }}","rightValue":0}],"combinator":"and"},"options":{}},"id":"89553d3c-b550-4865-aa2c-e5a6f3eda29d","name":"Auth","type":"n8n-nodes-base.if","position":[-1940,740],"typeVersion":2},{"parameters":{},"id":"ba35bc0b-8da5-4deb-bedc-7a155977e5a3","name":"No operation (unauthorized)","type":"n8n-nodes-base.noOp","position":[-1680,920],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1031f14f-9793-488d-bb6b-a021f943a399","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.message.text }}","rightValue":"/start"}],"combinator":"and"},"options":{}},"id":"449898b3-9068-4737-a8f5-31caa9987456","name":"Check if start message","type":"n8n-nodes-base.if","position":[-1680,620],"typeVersion":2},{"parameters":{},"id":"a3c1c8c0-2a8e-47ca-860e-7b06456b3b85","name":"No operation (start message)","type":"n8n-nodes-base.noOp","position":[-1420,760],"typeVersion":1},{"parameters":{"resource":"file","fileId":"={{ $json.message.document.file_id }}"},"id":"f4c9319c-cda7-45cf-a331-09a38a00d77e","name":"Get file","type":"n8n-nodes-base.telegram","position":[-1420,520],"typeVersion":1.1},{"parameters":{"operation":"pdf","options":{}},"id":"5b5e4287-3cd9-489e-98e1-ac7f070f99fc","name":"Extract text from PDF","type":"n8n-nodes-base.extractFromFile","position":[-1160,520],"typeVersion":1},{"parameters":{"options":{}},"id":"33762385-3495-45e6-9739-0429bf7d95cf","name":"Set parsed fileds","type":"n8n-nodes-base.set","position":[-500,520],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"personal_info","stringValue":"=<b><u>Personal info</u></b>\n<br /><br />\n<b>Name:</b> {{ $json.personal_info.name }}\n<br />\n<b>Address:</b> {{ $json.personal_info.address }}\n<br />\n<b>Email:</b> {{ $json.personal_info.email }}\n<br />\n<b>GitHub:</b> {{ $json.personal_info.github }}\n<br />"}]},"include":"none","options":{}},"id":"dc237c0a-f103-4937-bd65-f433529a3772","name":"Personal info","type":"n8n-nodes-base.set","position":[-120,20],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"technologies","stringValue":"=<b><u>Technologies</u></b>\n<br /><br />\n<b>Programming languages:</b> {{ $json.programming_languages.languages.join(', ') }}\n<br />\n<b>Tools:</b> {{ $json.programming_languages.tools.join(', ') }}\n<br />\n<b>Methodologies:</b> {{ $json.programming_languages.methodologies.join(', ') }}\n<br />"}]},"include":"none","options":{}},"id":"110b5a2b-b33b-4911-a580-dd74b4f276b7","name":"Technologies","type":"n8n-nodes-base.set","position":[-120,200],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"employment_history","stringValue":"=<b><u>Employment history</u></b>\n<br /><br />\n{{ $json[\"htmlOutput\"] }}"}]},"include":"none","options":{}},"id":"1c2b8e80-b2e2-47a7-b6bc-21c3e8112a72","name":"Employment history","type":"n8n-nodes-base.set","position":[100,380],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"education","stringValue":"=<b><u>Education</u></b>\n<br /><br />\n{{ $json[\"htmlOutput\"] }}"}]},"include":"none","options":{}},"id":"da474c38-13cf-432c-b384-d0c4ebab8e10","name":"Education","type":"n8n-nodes-base.set","position":[100,580],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"projects","stringValue":"=<b><u>Projects</u></b>\n<br /><br />\n{{ $json[\"htmlOutput\"] }}"}]},"include":"none","options":{}},"id":"812da9fa-c0cd-440f-a035-12a50b1bded4","name":"Projects","type":"n8n-nodes-base.set","position":[100,780],"typeVersion":3.2},{"parameters":{"fields":{"values":[{"name":"volunteering","stringValue":"=<b><u>Volunteering</u></b>\n<br /><br />\n{{ $json[\"htmlOutput\"] }}"}]},"include":"none","options":{}},"id":"734fec4b-be30-40b6-ac98-2b81c9926fd0","name":"Volunteering","type":"n8n-nodes-base.set","position":[100,980],"typeVersion":3.2},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"a20cb948-fb81-4dd3-974b-8c018bd24116","name":"Merge education and employment history","type":"n8n-nodes-base.merge","position":[340,500],"typeVersion":2.1},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"52c6a437-99ef-4ab1-934a-ebdf85b266ea","name":"Merge projects and volunteering","type":"n8n-nodes-base.merge","position":[340,900],"typeVersion":2.1},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"05384bc4-271b-49ac-ab57-b29b0647b3f8","name":"Merge personal info and technologies","type":"n8n-nodes-base.merge","position":[600,240],"typeVersion":2.1},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"0039a11d-948e-470c-92f7-2d3b51392704","name":"Merge all","type":"n8n-nodes-base.merge","position":[860,600],"typeVersion":2.1},{"parameters":{"fields":{"values":[{"name":"output","stringValue":"={{ $json.personal_info }}\n<br /><br />\n{{ $json.employment_history }}\n<br /><br />\n{{ $json.education }}\n<br /><br />\n{{ $json.projects }}\n<br /><br />\n{{ $json.volunteering }}\n<br /><br />\n{{ $json.technologies }}"}]},"include":"none","options":{}},"id":"742321e3-dbd8-4735-9a29-dd52fed8461e","name":"Set final data","type":"n8n-nodes-base.set","position":[1080,600],"typeVersion":3.2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const encoded = Buffer.from($json.output).toString('base64');\n\nreturn { encoded };"},"id":"7334876e-aafc-4d8d-96b6-12cb9102f46c","name":"Convert raw to base64","type":"n8n-nodes-base.code","position":[1300,600],"typeVersion":2},{"parameters":{"operation":"toBinary","sourceProperty":"encoded","options":{"fileName":"index.html","mimeType":"text/html"}},"id":"c477b0f8-c07a-4b2b-95ca-544fb4e76cd2","name":"Convert to HTML","type":"n8n-nodes-base.convertToFile","position":[1520,600],"typeVersion":1.1},{"parameters":{"method":"POST","url":"http://gotenberg:3000/forms/chromium/convert/html","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"files","inputDataFieldName":"data"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"id":"7815b463-3db9-4fa8-b7b1-526c2b0ee03f","name":"Generate plain PDF doc","type":"n8n-nodes-base.httpRequest","position":[1800,600],"typeVersion":4.1},{"parameters":{"operation":"sendDocument","chatId":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","binaryData":true,"additionalFields":{"fileName":"={{ $('Set parsed fileds').item.json[\"personal_info\"][\"name\"].toLowerCase().replace(' ', '-') }}.pdf"}},"id":"6e0079c2-bd81-4c83-b403-afebb4a186c6","name":"Send PDF to the user","type":"n8n-nodes-base.telegram","position":[2100,600],"typeVersion":1.1},{"parameters":{"content":"### Add chat ID\nRemember to set your actual ID to trigger automation from Telegram.","height":312.917333333334,"width":226.21234567901217},"id":"30ac78fe-dec2-489e-9d6c-7fe4ed9acfec","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-2000,580],"typeVersion":1},{"parameters":{"content":"### Ignore start message\nWorkflow ignores initial`/start` message sent to the bot.","height":293.54824691358016,"width":229.64938271604922},"id":"c36da61a-129d-4ebb-8658-d7489977b2d8","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1740,480],"typeVersion":1},{"parameters":{"content":"### Download resume file\nBased on file ID, node performs downloading of the file uploaded by user.","height":302.41975308642,"width":211.00246913580224},"id":"742aa614-8be0-4504-8d4c-94137023a1bb","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1480,380],"typeVersion":1},{"parameters":{"content":"### Extract text from PDF\nNode extracts readable text form PDF.","height":302.41975308642,"width":217.87654320987633},"id":"22af16cc-3674-45d5-ae63-fda2ff34e29d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-1220,380],"typeVersion":1},{"parameters":{"content":"### Parse resume data\nCreate structured data from text extracted from resume. Chain uses OpenAI `gpt-4-turbo-preview` model and JSON response mode. **Adjust JSON schema in output parser to your needs.**","height":302.41975308642,"width":410.9479506172837},"id":"fc1c40d7-37b6-4619-845b-d0ea33f0c67a","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-960,380],"typeVersion":1},{"parameters":{"prompt":"={{ $json.text }}","messages":{"messageValues":[{"message":"Your task is to extract all necessary data such as first name, last name, experience, known technologies etc. from the provided resume text and return in well-unified JSON format. Do not make things up."}]}},"id":"460d194c-ef56-4b7c-b4eb-a8dc5fbe84a8","name":"Parse resume data","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[-880,520],"typeVersion":1.3},{"parameters":{"mode":"combine","combinationMode":"multiplex","options":{}},"id":"b5df925e-5801-4686-b120-f7a4ea562b0e","name":"Merge other data","type":"n8n-nodes-base.merge","position":[600,740],"typeVersion":2.1},{"parameters":{"content":"### Format HTML\nFormat HTML for each resume section (employment history, projects etc.).","height":1260.345679012346,"width":1196.8442469135782},"id":"8ed4e33d-4705-4eea-ae43-45beb87175e4","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-200,-100],"typeVersion":1},{"parameters":{"content":"### Create HTML file\nFrom formatted output create `index.html` file in order to run PDF conversion.","height":322.5837037037037,"width":638.6516543209876},"id":"1192663a-5bae-44d3-8ee4-359e5ae4b91c","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[1040,440],"typeVersion":1},{"parameters":{"content":"### Convert file to PDF\nForm `index.html` create PDF using [Gotenberg](https://gotenberg.dev/). If you're not familiar with this software, feel free to check out [my tutorial on YouTube](https://youtu.be/bo15xdjXf1Y?si=hFZMTfjzfSOLOLPK).","height":322.5837037037035,"width":262.0096790123454,"color":3},"id":"6219fdf8-ce49-4c13-bd82-50402cb10455","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[1720,440],"typeVersion":1},{"parameters":{"content":"### Send PDF file to user\nDeliver converted PDF to Telegram user (based on chat ID).","height":322.5837037037035,"width":262.0096790123454},"id":"f916bdba-0224-4248-b379-13875a469976","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[2020,440],"typeVersion":1},{"parameters":{"content":"## ⚠️ Note\n\nThis is *resume extractor* workflow that I had a pleasure to present during [n8n community hangout](https://youtu.be/eZacuxrhCuo?si=KkJQrgQuvLxj-6FM&t=1701\n) on March 7, 2024.\n\n1. Remember to add your credentials and configure nodes.\n2. This node requires installed [Gotenberg](https://gotenberg.dev/) for PDF generation. If you're not familiar with this software, feel free to check out [my tutorial on YouTube](https://youtu.be/bo15xdjXf1Y?si=hFZMTfjzfSOLOLPK). If you don't want to self-host Gotenberg, you use other PDF generation provider (PDFMonkey, ApiTemplate or similar).\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\n**Thank you for your support!**","height":364.2150828344463,"width":432.69769500990674},"id":"85e9ceb5-aa32-4273-90cd-7c451f0089b6","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-2820,520],"typeVersion":1}],"connections":{"Auth":{"main":[[{"node":"Check if start message","type":"main","index":0}],[{"node":"No operation (unauthorized)","type":"main","index":0}]]},"Get file":{"main":[[{"node":"Extract text from PDF","type":"main","index":0}]]},"Projects":{"main":[[{"node":"Merge projects and volunteering","type":"main","index":0}]]},"Education":{"main":[[{"node":"Merge education and employment history","type":"main","index":1}]]},"Merge all":{"main":[[{"node":"Set final data","type":"main","index":0}]]},"Technologies":{"main":[[{"node":"Merge personal info and technologies","type":"main","index":1}]]},"Volunteering":{"main":[[{"node":"Merge projects and volunteering","type":"main","index":1}]]},"Personal info":{"main":[[{"node":"Merge personal info and technologies","type":"main","index":0}]]},"Set final data":{"main":[[{"node":"Convert raw to base64","type":"main","index":0}]]},"Convert to HTML":{"main":[[{"node":"Generate plain PDF doc","type":"main","index":0}]]},"Merge other data":{"main":[[{"node":"Merge all","type":"main","index":1}]]},"Telegram trigger":{"main":[[{"node":"Auth","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Parse resume data","type":"ai_languageModel","index":0}]]},"Parse resume data":{"main":[[{"node":"Set parsed fileds","type":"main","index":0}]]},"Set parsed fileds":{"main":[[{"node":"Convert employment history to HTML","type":"main","index":0},{"node":"Convert education to HTML","type":"main","index":0},{"node":"Convert projects to HTML","type":"main","index":0},{"node":"Personal info","type":"main","index":0},{"node":"Convert volunteering to HTML","type":"main","index":0},{"node":"Technologies","type":"main","index":0}]]},"Employment history":{"main":[[{"node":"Merge education and employment history","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Convert raw to base64":{"main":[[{"node":"Convert to HTML","type":"main","index":0}]]},"Extract text from PDF":{"main":[[{"node":"Parse resume data","type":"main","index":0}]]},"Check if start message":{"main":[[{"node":"Get file","type":"main","index":0}],[{"node":"No operation (start message)","type":"main","index":0}]]},"Generate plain PDF doc":{"main":[[{"node":"Send PDF to the user","type":"main","index":0}]]},"Convert projects to HTML":{"main":[[{"node":"Projects","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Parse resume data","type":"ai_outputParser","index":0}]]},"Convert education to HTML":{"main":[[{"node":"Education","type":"main","index":0}]]},"Convert volunteering to HTML":{"main":[[{"node":"Volunteering","type":"main","index":0}]]},"Merge projects and volunteering":{"main":[[{"node":"Merge other data","type":"main","index":1}]]},"Convert employment history to HTML":{"main":[[{"node":"Employment history","type":"main","index":0}]]},"Merge personal info and technologies":{"main":[[{"node":"Merge all","type":"main","index":0}]]},"Merge education and employment history":{"main":[[{"node":"Merge other data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8649112e-abc4-41c1-97ea-7816e89daa55","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/02/"}