2025/02/Fetch Dynamic Prompts from GitHub and Auto-Populate n8n Expressions in Prompt.json
{"createdAt":"2025-02-20T16:06:39.204Z","updatedAt":"2025-02-20T16:29:48.700Z","id":"38knPJbA9kHHSfu9","name":"Fetch Dynamic Prompts from GitHub and Auto-Populate n8n Expressions in Prompt","active":false,"nodes":[{"parameters":{},"id":"cf94b4e4-c82b-48f7-90aa-69dbbe1daece","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-1860,200],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.Account }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo }}"},"filePath":"={{ $json.path }}{{ $json.prompt }}","additionalParameters":{}},"id":"53ba1911-6523-44ad-a950-c40948c60148","name":"GitHub","type":"n8n-nodes-base.github","position":[-1180,200],"typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"VK7usXEp6ZVGgyVU","name":"GitHub account"}}},{"parameters":{"operation":"text","options":{}},"id":"e3c6d642-1281-4d22-999f-410904536041","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[-940,200],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"150618c5-09b1-4f8b-a7b4-984662bf3381","name":"Account","type":"string","value":"Olivier340"},{"id":"22e8a3b0-bd53-485c-b971-7f1dd0686f0e","name":"repo","type":"string","value":"self-hosted-ai-starter-kit"},{"id":"ab94d0a1-ef3a-4fe9-9076-6882c6fda0ac","name":"path","type":"string","value":""},{"id":"66f122eb-1cbd-4769-aac8-3f05cdb6c116","name":"prompt","type":"string","value":"readme.md"},{"id":"03fe26a3-04e6-439c-abcb-d438fc5203c0","name":"company","type":"string","value":""},{"id":"c133d216-a457-4872-a060-0ba4d94549af","name":"product","type":"string","value":""},{"id":"584864dd-2518-45e2-b501-02828757fc3a","name":"features","type":"string","value":""},{"id":"0c4594cc-302a-4215-bdad-12cf54f57967","name":"sector","type":"string","value":""}]},"options":{}},"id":"623787b7-3f79-41dd-a18d-ff1081456707","name":"setVars","type":"n8n-nodes-base.set","position":[-1600,200],"typeVersion":3.4},{"parameters":{"jsCode":"// Fetch the prompt text\nconst prompt = $('SetPrompt').first().json.data;  // Ensure the prompt contains placeholders like {{ some.node.value }}\n\n// Example variables object\nconst variables = {\n  company: $('setVars').first().json.company,\n  features: \"Awesome Software\",\n  keyword: \"2025-02-07\"\n};\n\n// Function to replace placeholders dynamically\nconst replaceVariables = (text, vars) => {\n  return text.replace(/{{(.*?)}}/g, (match, key) => {\n    const trimmedKey = key.trim();\n    \n    // Extract last part after the last dot\n    const finalKey = trimmedKey.split('.').pop();\n\n    // Replace if key exists, otherwise leave placeholder unchanged\n    return vars.hasOwnProperty(finalKey) ? vars[finalKey] : match;\n  });\n};\n\n// Replace and return result\nreturn [{\n  prompt: replaceVariables(prompt, variables)\n}];\n"},"id":"174dc652-a75c-4843-b491-336b591a8c3e","name":"replace variables","type":"n8n-nodes-base.code","position":[120,180],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2717a7e5-095a-42bf-8b5b-8050c3389ec5","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.success }}","rightValue":"={{ $('Check All Prompt Vars Present').item.json.keys()}}"}]},"options":{}},"id":"3abb7a82-45ff-4cd8-8973-f688ff9a3109","name":"If","type":"n8n-nodes-base.if","position":[-220,200],"typeVersion":2.2},{"parameters":{"jsCode":"// Get prompt text\nconst prompt = $json.data;\n\n// Extract variables inside {{ }} dynamically\nconst matches = [...prompt.matchAll(/{{(.*?)}}/g)];\nconst uniqueVars = [...new Set(matches.map(match => match[1].trim().split('.').pop()))];\n\n// Get variables from the Set Node\nconst setNodeVariables = $node[\"setVars\"].json || {};\n\n// Log extracted variables and Set Node keys\nconsole.log(\"Extracted Variables:\", uniqueVars);\nconsole.log(\"Set Node Keys:\", Object.keys(setNodeVariables));\n\n// Check if all required variables are present in the Set Node\nconst missingKeys = uniqueVars.filter(varName => !setNodeVariables.hasOwnProperty(varName));\n\nconsole.log(\"Missing Keys:\", missingKeys);\n\n// Return false if any required variable is missing, otherwise return true\nreturn [{\n  success: missingKeys.length === 0,\n  missingKeys: missingKeys\n}];\n"},"id":"60ca68ff-89fe-4eb6-bf16-f08f10011a79","name":"Check All Prompt Vars Present","type":"n8n-nodes-base.code","position":[-500,200],"typeVersion":2},{"parameters":{"assignments":{"assignments":[{"id":"335b450d-542a-4714-83d8-ccc237188fc5","name":"data","type":"string","value":"={{ $json.data }}"}]},"options":{}},"id":"2b5e7349-1a5d-4e18-99c3-5bb38620df94","name":"SetPrompt","type":"n8n-nodes-base.set","position":[-720,200],"typeVersion":3.4},{"parameters":{"errorMessage":"=Missing Prompt Variables : {{ $('Check All Prompt Vars Present').item.json.missingKeys }}\n"},"id":"71f1348e-9dfa-453f-9a45-5e869a236ea1","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","position":[120,400],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"57a9625b-adea-4ee7-a72a-2be8db15f3d4","name":"Prompt","type":"string","value":"={{ $json.prompt }}"}]},"options":{}},"id":"e685406f-0ca8-4219-906f-bdb12cfedfc3","name":"Set Completed Prompt","type":"n8n-nodes-base.set","position":[440,180],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"={{ $json.Prompt }}","options":{}},"id":"fb2ab6bd-19f5-4e86-a11c-f58b00cfbaa8","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[660,180],"typeVersion":1.7},{"parameters":{"content":"# Set The variables in your prompt here","height":260,"width":340},"id":"ac165525-e313-4946-a10d-4a3039535087","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-1720,80],"typeVersion":1},{"parameters":{"content":"## The repo is currently public for you to test with","color":5},"id":"21bbd70d-4913-4a91-82ee-88338a59106e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1260,80],"typeVersion":1},{"parameters":{"content":"## Replaces the values in the prompt with the variables in the \n# 'setVars' Node","height":260,"width":360},"id":"1a29606a-42db-4785-ba7f-855ff594c833","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"## If you're missing variables they will be listed here","color":3},"id":"f8420154-78f0-438e-8241-959b3cb7d3bf","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[260,420],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"01a30683-c348-4712-a3b1-739fc4a17718","name":"promptResponse","type":"string","value":"={{ $json.output }}"}]},"options":{}},"id":"99532720-2bed-40ff-9f3a-eac7f9ea2599","name":"Prompt Output","type":"n8n-nodes-base.set","position":[1020,180],"typeVersion":3.4},{"parameters":{"model":"llama3.2:latest","options":{}},"id":"62ca6ea0-5de2-4847-9dee-ad6651b11591","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","position":[700,400],"typeVersion":1,"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}}],"connections":{"If":{"main":[[{"node":"replace variables","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"setVars":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Prompt Output","type":"main","index":0}]]},"SetPrompt":{"main":[[{"node":"Check All Prompt Vars Present","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"SetPrompt","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"replace variables":{"main":[[{"node":"Set Completed Prompt","type":"main","index":0}]]},"Set Completed Prompt":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Check All Prompt Vars Present":{"main":[[{"node":"If","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"setVars","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9a6cb696-6fd3-4132-84e9-a1122ba6f8a3","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-worklow","repo_path":"","subPath":"2025/02/"}