2025/02/google scrape.json
{"createdAt":"2025-02-23T11:10:14.308Z","updatedAt":"2025-02-23T11:10:14.308Z","id":"ad7AyKutv8ngsCOA","name":"google scrape","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"1376037e-12b6-43d6-b296-7fa9d72e1ba0","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"url":"=https://www.googleapis.com/customsearch/v1?key=YOUR_API_KEY&cx=ENGINE_ID&q=CEO+real+estate+Chicago&num=10&start={{ $json.start }}\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3"}]},"options":{}},"id":"2e11b642-b0a0-4e4b-b984-330ad85ed433","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,20]},{"parameters":{"jsCode":"let start = 0;  // Initial page\nconst limit = 100;  // Limit to fetch 500 profiles (adjust as needed)\nconst batchSize = 10;  // Google Search returns 100 results per page\nconst output = [];\n\n// Loop through pages by increments of 100\nwhile (start < limit) {\n  output.push({ json: { start: start } });\n  start += batchSize;  // Increment by 100 for each page\n}\n\nreturn output;\n"},"id":"47aba83b-af06-4766-b2dc-494d0597fc3c","name":"Pagination","type":"n8n-nodes-base.code","typeVersion":2,"position":[140,0]},{"parameters":{"options":{}},"id":"d46f6c9e-59c3-4c86-87a0-1a14b5388a62","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[360,0]},{"parameters":{"jsCode":"// Get the items array from the response\nconst items = $json[\"items\"];  // Access the items array directly from the response\n\n// Create an empty array to store the extracted URLs\nconst output = [];\n\nif (items && items.length > 0) {\n  // Loop over each item in the array and extract the 'link'\n  for (const item of items) {\n    if (item.link) {\n      // Push each extracted URL as a separate item in the output\n      output.push({\n        json: {\n          url: item.link,\n        }\n      });\n    }\n  }\n}\n\nreturn output;  // Return the array of URL items\n"},"id":"05a973db-a4f1-406c-a578-0a68e0efb470","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[780,20],"alwaysOutputData":false},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1_0bfvmyLdhc-j8QhCDDRVZQZvk5TNg7TYoUsvyh9MvY","mode":"list","cachedResultName":"Profiles Demo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_0bfvmyLdhc-j8QhCDDRVZQZvk5TNg7TYoUsvyh9MvY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1_0bfvmyLdhc-j8QhCDDRVZQZvk5TNg7TYoUsvyh9MvY/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[]},"options":{}},"id":"99a804a0-9fac-43f1-8d45-3154f95b60c9","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[960,20]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Pagination","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Pagination":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"039f4c05-6e88-44b9-8558-22a11f75734b","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/02/"}