2025/02/Rag Drive.json
{"createdAt":"2025-02-16T10:59:12.664Z","updatedAt":"2025-02-20T12:19:40.567Z","id":"CC43zUeSjATBK5N3","name":"Rag Drive","active":false,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"list","value":"company-files","cachedResultName":"company-files"},"options":{}},"id":"f6d8fa83-29fd-420b-85e6-102da0ab4c1b","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[320,220],"typeVersion":1},{"parameters":{"modelName":"models/text-embedding-004"},"id":"93863314-e60f-4b03-aea2-a34556e28fe8","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[160,520],"typeVersion":1},{"parameters":{"dataType":"binary","binaryMode":"specificField","options":{}},"id":"3b1717e4-95b0-4cc4-a8ed-22b397d66737","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[480,440],"typeVersion":1},{"parameters":{"chunkOverlap":100,"options":{}},"id":"694b1321-3b51-4264-8091-a7242e52cc65","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[460,640],"typeVersion":1},{"parameters":{"options":{"systemMessage":"You are a helpful HR assistant designed to answer employee questions based on company policies.\n\nRetrieve relevant information from the provided internal documents and provide a concise, accurate, and informative answer to the employee's question.\n\nUse the tool called \"company_documents_tool\" to retrieve any information from the company's documents.\n\nIf the answer cannot be found in the provided documents, respond with \"I cannot find the answer in the available resources.\""}},"id":"ce4f86d1-05f5-457d-b75d-ae1925c6b5ac","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[-140,1060],"typeVersion":1.7},{"parameters":{"name":"company_documents_tool","description":"Retrieve information from any company documents"},"id":"e8df46b0-1ed4-4d96-882e-cdb8a2ca0667","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","position":[260,1280],"typeVersion":1},{"parameters":{"pineconeIndex":{"__rl":true,"mode":"list","value":"company-files","cachedResultName":"company-files"},"options":{}},"id":"2b285116-8a61-4701-a3d7-eaae475f5f2d","name":"Pinecone Vector Store (Retrieval)","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[160,1460],"typeVersion":1},{"parameters":{"modelName":"models/text-embedding-004"},"id":"e44f22c4-932f-4a6b-b13f-92634619f1d2","name":"Embeddings Google Gemini (retrieval)","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","position":[140,1620],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"fileName":"={{ $json.name }}"}},"id":"041cf4db-42db-4c05-b0f4-e76d2cf264d5","name":"Download File From Google Drive","type":"n8n-nodes-base.googleDrive","position":[-100,220],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"content":"## Chat with company documents"},"id":"07ab9670-4c19-4630-85e5-2088e4639093","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-140,880],"typeVersion":1},{"parameters":{"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"14_J1f0oA1suFfSv1Ae6SfqpikSzPm3XY","mode":"list","cachedResultName":"SearchJobs","cachedResultUrl":"https://drive.google.com/drive/folders/14_J1f0oA1suFfSv1Ae6SfqpikSzPm3XY"},"event":"fileUpdated","options":{"fileType":"all"}},"id":"47d7fb04-3444-4d52-86d0-8e4523a1bf19","name":"Google Drive File Updated","type":"n8n-nodes-base.googleDriveTrigger","position":[-420,360],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"id","value":"14_J1f0oA1suFfSv1Ae6SfqpikSzPm3XY"},"event":"fileCreated","options":{}},"id":"a5860a0e-5ce4-414e-8bfe-6b7089b3ed8a","name":"Google Drive File Created","type":"n8n-nodes-base.googleDriveTrigger","position":[-420,100],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{},"id":"a7237867-61af-4a76-8840-10556f84a71f","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[-60,1360],"typeVersion":1.3},{"parameters":{"options":{}},"id":"506a3d5a-0e3a-43db-b99e-0d5a69655367","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[-480,1060],"webhookId":"5f1c0c82-0ff9-40c7-9e2e-b1a96ffe24cd","typeVersion":1.1},{"parameters":{"content":"## Add docuemnts to vector store when updating or creating new documents in Google Drive","width":320},"id":"d86a592c-7854-468b-b990-84c0ec24041e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-120,-20],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"c556d2f6-cb7a-4208-8a91-7abba4f244ed","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[-240,1360],"typeVersion":1},{"parameters":{"modelName":"models/gemini-2.0-flash-exp","options":{}},"id":"9f70aa52-5748-493f-afcf-e39f239edc83","name":"Google Gemini Chat Model (retrieval)","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[520,1460],"typeVersion":1},{"parameters":{"content":"## Set up steps\n\n1. Google Cloud Project and Vertex AI API:\n* Create a Google Cloud project.\n* Enable the Vertex AI API for your project.\n2. Google AI API Key:\n* Obtain a Google AI API key from Google AI Studio.\n3. Pinecone Account:\n* Create a free account on the Pinecone website.\nObtain your API key from your Pinecone dashboard.\n* Create an index named company-files in your Pinecone project.\n4. Google Drive:\n* Create a dedicated folder in your Google Drive where company documents will be stored.\n5. Credentials in n8n: Configure credentials in your n8n environment for:\n* Google Drive OAuth2\n* Google Gemini(PaLM) Api (using your Google AI API key)\n* Pinecone API (using your Pinecone API key)\n5. Import the Workflow:\n* Import this workflow into your n8n instance.\n6. Configure the Workflow:\n* Update both Google Drive Trigger nodes to watch the specific folder you created in your Google Drive.\n* Configure the Pinecone Vector Store nodes to use your company-files index.","height":720,"width":420},"id":"452105f1-2163-44a0-b10f-c790d8af2734","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1100,440],"typeVersion":1}],"connections":{"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Drive File Created":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"Google Drive File Updated":{"main":[[{"node":"Download File From Google Drive","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Download File From Google Drive":{"main":[[]]},"Pinecone Vector Store (Retrieval)":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Google Gemini (retrieval)":{"ai_embedding":[[{"node":"Pinecone Vector Store (Retrieval)","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model (retrieval)":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0efdc7c6-1ebb-4677-ad7b-914cc63fd2ea","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/02/"}