2025/02/Recherche d'emploi.json
{"createdAt":"2025-02-05T05:27:19.105Z","updatedAt":"2025-02-05T05:47:19.795Z","id":"wmFxs5SLCkw6d2Ua","name":"Recherche d'emploi","active":false,"nodes":[{"parameters":{"options":{"allowFileUploads":true}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-640,-180],"id":"a59d5d1c-a1bb-4617-b220-bbabac622d1e","name":"When chat message received","webhookId":"1a9197e3-fbca-4863-90d8-23b7796d0514"},{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[-380,-160],"id":"ab2b6662-863e-4b02-9977-c6d706258677"},{"parameters":{"values":{"string":[{"name":"q","value":"développeur"},{"name":"locality","value":"fr"},{"name":"page","value":"1"},{"name":"sort","value":"date"},{"name":"location","value":"paris"}]},"options":{}},"name":"Set Search Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[-160,-160],"id":"97c3138a-1dc0-4f88-805a-60798da98a3f"},{"parameters":{"functionCode":"const response = $json;\nif (response && response.results) {\n  return response.results.map(job => ({\n    json: {\n      title: job.title,\n      company: job.company,\n      location: job.location,\n      salary: job.salary || 'Not specified',\n      url: job.url\n    }\n  }));\n} else {\n  return [{ json: { message: 'No results found' } }];\n}"},"name":"Process Job Results","type":"n8n-nodes-base.function","typeVersion":1,"position":[320,-160],"id":"9ae6c27b-b3d0-4267-8e39-d5826fe019d4"},{"parameters":{"values":{"string":[{"name":"q","value":"developer"},{"name":"l","value":"Paris"},{"name":"page","value":"1"},{"name":"sort","value":"date"}]},"options":{}},"name":"Set Search Parameters1","type":"n8n-nodes-base.set","typeVersion":1,"position":[120,100],"id":"ae4321de-1291-49da-89f5-38fdea54d72f"},{"parameters":{"url":"https://indeed12.p.rapidapi.com/jobs/search","options":{},"headerParametersUi":{"parameter":[{"name":"X-RapidAPI-Key","value":"20db81a5d3msh4fa2a97afeac76ep1ec0a0jsn8c0ce792a095"},{"name":"X-RapidAPI-Host","value":"indeed12.p.rapidapi.com"}]},"queryParametersUi":{"parameter":[{"name":"query","value":"={{$json[\"q\"]}}"},{"name":"=locality","value":"={{ $json.locality }}"},{"name":"page","value":"={{$json[\"page\"]}}"},{"name":"sort","value":"={{$json[\"sort\"]}}"},{"name":"={{ $json.location }}"}]}},"name":"HTTP Request - Indeed API1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[80,-140],"id":"9e6766e0-350a-43ca-8e07-46091723f29c"},{"parameters":{"functionCode":"const response = $json;\nif (response && response.results) {\n  return response.results.map(job => ({\n    json: {\n      title: job.title,\n      company: job.company,\n      location: job.location,\n      salary: job.salary || 'Not specified',\n      url: job.url\n    }\n  }));\n} else {\n  return [{ json: { message: 'No results found' } }];\n}"},"name":"Process Job Results1","type":"n8n-nodes-base.function","typeVersion":1,"position":[620,100],"id":"ad525f31-425c-4315-b398-a19fe36dfa80"}],"connections":{"Set Search Parameters":{"main":[[{"node":"HTTP Request - Indeed API1","type":"main","index":0}]]},"Set Search Parameters1":{"main":[[]]},"HTTP Request - Indeed API1":{"main":[[{"node":"Process Job Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0f3e9def-1d25-41ef-b033-0f63fe9ff917","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-worklow","repo_path":"","subPath":"2025/02/"}