2025/02/Recherche d'emploi.json
{"createdAt":"2025-02-05T05:27:19.105Z","updatedAt":"2025-02-13T11:30:58.145Z","id":"wmFxs5SLCkw6d2Ua","name":"Recherche d'emploi","active":true,"nodes":[{"parameters":{"values":{"string":[{"name":"q","value":"technicien methodes"},{"name":"locality","value":"fr"},{"name":"page","value":"1"},{"name":"sort","value":"date"},{"name":"location","value":"cluses"}]},"options":{}},"name":"Set Search Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[-1480,-160],"id":"97c3138a-1dc0-4f88-805a-60798da98a3f"},{"parameters":{"url":"https://customsearch.googleapis.com/customsearch/v1","options":{"useQueryString":false},"queryParametersUi":{"parameter":[{"name":"key","value":"AIzaSyCinZYl58rnUTPpNX_xzqdAGnc6uPak-FE"},{"name":"cx","value":"f5db20188c61d409d"},{"name":"q","value":"={{ $json.q }} {{ $json.location }}"}]}},"name":"Google Search","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-1020,-340],"id":"d51d6dff-2918-429f-895c-9b2ef6385b95"},{"parameters":{"authentication":"headerAuth","url":"https://active-jobs-db.p.rapidapi.com/active-ats-7d","options":{},"headerParametersUi":{"parameter":[{"name":"X-Rapidapi-Host","value":"active-jobs-db.p.rapidapi.com"}]},"queryParametersUi":{"parameter":[{"name":"title_filter","value":"={{ $json.q }}"},{"name":"location_filter","value":"={{ $json.locality }}"}]}},"name":"Active Jobs API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-1020,-60],"id":"e71e06aa-9d8d-4327-aeeb-987cc756b3c7","credentials":{"httpHeaderAuth":{"id":"sgOE2BzhDy5BIQZo","name":"Header Auth Rapid API"}}},{"parameters":{"authentication":"headerAuth","url":"https://jobs-api14.p.rapidapi.com/v2/list","options":{},"headerParametersUi":{"parameter":[{"name":"x-rapidapi-host","value":"jobs-api14.p.rapidapi.com"}]},"queryParametersUi":{"parameter":[{"name":"query","value":"={{ $json.q }}"},{"name":"location","value":"={{ $json.location }}"}]}},"name":"Jobs API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-1020,180],"id":"4f4127cd-ba23-44d2-a2e8-82dad3e1e888","credentials":{"httpHeaderAuth":{"id":"sgOE2BzhDy5BIQZo","name":"Header Auth Rapid API"}}},{"parameters":{"authentication":"headerAuth","url":"https://jsearch.p.rapidapi.com/search","options":{},"headerParametersUi":{"parameter":[{"name":"x-rapidapi-host","value":"jsearch.p.rapidapi.com"}]},"queryParametersUi":{"parameter":[{"name":"country","value":"=fr"},{"name":"query","value":"={{ $json.q }} in  {{ $json.location }}"}]}},"name":"JSearch API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-1020,420],"id":"f50b822a-d468-4336-bac9-8254f8fd8b43","credentials":{"httpHeaderAuth":{"id":"sgOE2BzhDy5BIQZo","name":"Header Auth Rapid API"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"cd874998-c309-48d0-984c-db009335a4e4","mode":"list","cachedResultName":"Offres d’emploi","cachedResultUrl":"https://www.notion.so/cd874998c30948d0984cdb009335a4e4"},"title":"={{ $('run Actor Indeed').item.json.company }}","simple":false,"propertiesUi":{"propertyValues":[{"key":"Lieu|rich_text","textContent":"={{ $('run Actor Indeed').item.json.location }}"},{"key":"Type contrat|multi_select","multiSelectValue":"={{ $('run Actor Indeed').item.json.jobType }}"},{"key":"Date de l'offre|date","includeTime":"=","date":"={{ $('run Actor Indeed').item.json.postingDateParsed }}","timezone":"Europe/Paris"},{"key":"Poste|rich_text","textContent":"={{ $('run Actor Indeed').item.json.positionName }}"},{"key":"Référence|rich_text","textContent":"={{ $('run Actor Indeed').item.json.id }}"},{"key":"Url de l'offre|url","urlValue":"={{ $('run Actor Indeed').item.json.url }}"},{"key":"Détail de l'offre|rich_text","textContent":"={{ ( $json.text|| \"\").substring(0,2000) }}"}]},"blockUi":{"blockValues":[{"type":"heading_1","textContent":"={{ $('run Actor Indeed').item.json.company }} {{ $('run Actor Indeed').item.json.location}}"},{"type":"heading_2","textContent":"={{ $('run Actor Indeed').item.json.positionName }} {{ $('run Actor Indeed').item.json.postedAt}} {{ $('run Actor Indeed').item.json.salary}} {{ $('run Actor Indeed').item.json.jobType }}"},{"textContent":"={{ ( $json.text|| \"\").substring(0,2000) }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-240,-740],"id":"5fe67b58-9f4b-47e4-aede-f261b638766d","name":"Notion1","credentials":{"notionApi":{"id":"ZIBjC8b9OWhjO7wH","name":"Notion account"}}},{"parameters":{"promptType":"define","text":"=Analyse Approfondie des Offres :\nObjectif : Délivrer une analyse détaillée des compétences et de la culture d’entreprise en fonction de l'offre d'emploi :\n {{ $json.company }} {{ $json.postedAt }} {{ $json.salary }} {{ $json.location }}\n{{ $json.positionName }} {{ $json.jobType }}\n{{ $json.url }}\n{{ $json.descriptionHTML }}\n\nDétails :\nCompétences : Identifier les compétences mentionnées et détecter celles pertinentes pour le profil de l’utilisateur.\nCulture d’entreprise : Analyser la culture à partir des informations disponibles.\nCorrespondance Profil-Poste : Évaluer la correspondance des compétences de l’utilisateur avec celles requises.\n5. Présentation Structurée des Résultats :\nObjectif : Présenter les offres de manière claire et détaillée.\nLangue : Répondre dans la langue de l’utilisateur.\nFormat : répondre au format json\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,-700],"id":"9fa43a53-bd36-48fe-a867-0f1948ee8262","name":"AI Agent"},{"parameters":{"model":"mistral:latest","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[340,-420],"id":"f59f8942-634d-43e2-8411-e06fc0deaf49","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"cd874998-c309-48d0-984c-db009335a4e4","mode":"list","cachedResultName":"Offres d’emploi","cachedResultUrl":"https://www.notion.so/cd874998c30948d0984cdb009335a4e4"},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[660,-460],"id":"46bd249e-1cbc-42c6-b51d-9b5dc6365640","name":"Notion","credentials":{"notionApi":{"id":"ZIBjC8b9OWhjO7wH","name":"Notion account"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/misceres~indeed-scraper/run-sync-get-dataset-items?token=apify_api_s7Kq2WTJPCNPRNhefglhou1Dnll3q602yFKG","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"country\": \"{{ $json.locality.toUpperCase() }}\",\n    \"followApplyRedirects\": false,\n    \"location\": \"{{ $json.location }}\",\n    \"maxItems\": 20,\n    \"parseCompanyDetails\": false,\n    \"position\": \"{{ $json.q }}\",\n    \"saveOnlyUniqueItems\": true\n}","options":{}},"id":"1466f46c-0fac-445c-8e2a-a0d393f0695a","name":"run Actor Indeed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1240,-720],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"but6yVhPbQehPuro","name":"Header Auth Apify"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[-620,-540],"id":"e6cd576f-dd07-426a-b119-914568b3314d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"cd874998-c309-48d0-984c-db009335a4e4","mode":"list","cachedResultName":"Offres d’emploi","cachedResultUrl":"https://www.notion.so/cd874998c30948d0984cdb009335a4e4"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-1060,-880],"id":"d625b014-b010-4a69-94f2-8c46fbb00b11","name":"Notion2","executeOnce":true,"credentials":{"notionApi":{"id":"ZIBjC8b9OWhjO7wH","name":"Notion account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"property_r_f_rence","field2":"id"}]},"joinMode":"keepNonMatches","outputDataFrom":"input2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-860,-740],"id":"c7c16877-101b-4a8e-9896-a6c960f4eb70","name":"Merge"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"databaseId":{"__rl":true,"value":"cd874998-c309-48d0-984c-db009335a4e4","mode":"list","cachedResultName":"Offres d’emploi","cachedResultUrl":"https://www.notion.so/cd874998c30948d0984cdb009335a4e4"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[-1660,-860],"id":"378c3099-4ff8-47ae-8c0f-842a8b380dd7","name":"Notion Trigger","credentials":{"notionApi":{"id":"ZIBjC8b9OWhjO7wH","name":"Notion account"}}},{"parameters":{},"id":"3e5d2e28-00cc-4458-ba72-337ad7273813","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[380,120],"credentials":{"postgres":{"id":"gPu37zS904wrxDaM","name":"Postgres account"}}},{"parameters":{"model":"llama3.1:latest","options":{}},"id":"db3085e9-e698-4e77-be97-e167898c3f4a","name":"Ollama Model","type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[1260,60],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"name":"SearchJob","topK":3},"id":"87703cf0-a605-4a2d-82ba-baaf3e27b830","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1040,-100]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"8cc71d24-60e3-4a27-a42f-befd9cdeadae","name":"Embeddings Ollama","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[900,200],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"id","value":"14_J1f0oA1suFfSv1Ae6SfqpikSzPm3XY"},"event":"fileCreated","options":{}},"id":"0fc64ba0-e656-43ca-9f84-3d4e78c21a51","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-120,400],"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}},"disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"14_J1f0oA1suFfSv1Ae6SfqpikSzPm3XY","mode":"list","cachedResultName":"SearchJobs","cachedResultUrl":"https://drive.google.com/drive/folders/14_J1f0oA1suFfSv1Ae6SfqpikSzPm3XY"},"event":"fileUpdated","options":{"fileType":"all"}},"id":"c99c251c-98f5-4da9-92e9-b23c37abdd67","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-100,660],"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}},"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.changes[0].file.id }}","type":"string"},{"id":"dd0aa081-79e7-4714-8a67-1e898285554c","name":"folder_id","value":"={{ $json.changes[0].file.parents[0] }}","type":"string"}]},"options":{}},"id":"1edf55bc-36ae-40e3-bd47-88c0b1dc9aed","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,440]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"41303c24-b00c-4c88-9c82-18c2d8402092","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[600,440],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"operation":"pdf","options":{}},"id":"a54df99d-100e-4437-8aca-d45e9b2284fd","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[840,440],"alwaysOutputData":true},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Set File ID').item.json.file_id }}"},{"name":"folder_id","value":"={{ $('Set File ID').item.json.folder_id }}"}]}}},"id":"c3b59f6d-114a-477d-987d-87508b53b11b","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1160,660]},{"parameters":{"chunkOverlap":100,"options":{}},"id":"042b304e-1e1d-4f20-903e-bd8ac124c6c4","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1160,880]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"16912e07-469b-4e9e-a1db-f2e0544d6a53","name":"Embeddings Ollama1","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1000,660],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"content":"## Local RAG AI Agent with Chat Interface","height":527.3027193303974,"width":969.0343804425795},"id":"c73894b7-3925-4206-a763-f93400931caf","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,-220]},{"parameters":{"content":"## Agent Tools for Local RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"f7e54fb9-f4c7-4c8f-9380-d0fa12f52666","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,-220]},{"parameters":{"content":"## Workflow to Create Local Knowledgebase from Google Drive Folder","height":705.2695614889159,"width":1568.9362829025763,"color":5},"id":"870d61d3-8733-44a6-bb50-a47226473c38","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-180,340]},{"parameters":{"options":{}},"id":"8fb8824e-4cf8-44c0-87bd-75a406d1040d","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-80,-100],"webhookId":"cb31b294-29c2-416c-8a2c-4aee3bf352c0"},{"parameters":{"qdrantCollection":{"__rl":true,"value":"SearchJob","mode":"list","cachedResultName":"SearchJob"},"options":{}},"id":"e46ccaa7-2880-4bed-81f0-8f803dc07c7e","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[860,40],"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"code":{"execute":{"code":"throw new Error(\"🚨 TEST : Ce message doit apparaître dans la console !\");\ntry {\n    console.log(\"📌 Début du script - Suppression des anciens vecteurs.\");\n\n    const { QdrantVectorStore } = require(\"@langchain/qdrant\");\n    const { OllamaEmbeddings } = require(\"@langchain/community/embeddings/ollama\");\n\n    const embeddings = new OllamaEmbeddings({\n        model: \"nomic-embed-text\",\n        baseUrl: \"http://ollama:11434\"\n    });\n\n    const vectorStore = await QdrantVectorStore.fromExistingCollection(\n        embeddings,\n        {\n            url: \"http://qdrant:6333\",\n            collectionName: \"SearchJob\",\n        }\n    );\n\n    const fileIdToDelete = this.getInputData()[0].json.file_id;\n\n    console.log(\"✅ Fichier à supprimer (file_id) :\", fileIdToDelete);\n\n    if (!fileIdToDelete) {\n        throw new Error(\"⚠️ Erreur : Aucune file_id détectée !\");\n    }\n\n    const filter = {\n        must: [\n            {\n                key: \"metadata.file_id\",\n                match: {\n                    value: fileIdToDelete,\n                },\n            },\n        ],\n    };\n\n    console.log(\"🔍 Filtre utilisé :\", JSON.stringify(filter));\n\n    // Suppression des vecteurs\n    const response = await vectorStore.client.delete(\"SearchJob\", {\n        filter\n    });\n\n    console.log(\"🗑️ Suppression des anciens vecteurs terminée :\", response);\n\n    return [{ json: { file_id: fileIdToDelete, status: \"Deleted\" } }];\n\n} catch (error) {\n    console.error(\"❌ Erreur dans 'Clear Old\n"}},"inputs":{"input":[{"type":"main","required":true}]},"outputs":{"output":[{"type":"main"}]}},"id":"136e9a9f-a454-4b96-adf6-59160c7123b4","name":"Clear Old Vectors","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[380,440],"alwaysOutputData":true},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"=SearchJob","mode":"id"},"options":{}},"id":"2caed3d3-65f3-4429-861d-4fdf7f9dd4f0","name":"Qdrant Vector Store Insert","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1060,440],"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"4f8825bd-808e-4349-9a20-476153712686","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[640,-100]},{"parameters":{"httpMethod":"POST","path":"6e96bb59-5289-4b86-b383-f276ba62b4e1","responseMode":"responseNode","options":{}},"id":"8e22994d-adcd-4f16-b5b0-b353b20f39e8","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,80],"webhookId":"6e96bb59-5289-4b86-b383-f276ba62b4e1"},{"parameters":{"assignments":{"assignments":[{"id":"75ebfdef-c8e2-4c3e-b716-1479d0cc2a73","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"59b7a20f-0626-4861-93e2-015d430c266e","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"5179d0fb-765e-4470-8bcd-fcd9bb9a3b9c","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,-100]},{"parameters":{"command":"ls /data/paperport/\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[760,860],"id":"64f3d159-4bd5-435d-b97a-05b9d6bd4e7a","name":"Execute Command"},{"parameters":{"triggerOn":"folder","path":"/data/paperport/","events":["add","change","unlink"],"options":{"awaitWriteFinish":true,"followSymlinks":true,"depth":0,"usePolling":true}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[-100,860],"id":"b30608df-5008-41e6-9887-d416a45c56b3","name":"Local File Trigger"},{"parameters":{"assignments":{"assignments":[]},"includeOtherFields":true,"options":{"dotNotation":false}},"id":"cdb60d2e-2114-44df-8820-a9b975eb04a9","name":"Set File ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,860]},{"parameters":{"fileSelector":"={{ $json.path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[520,860],"id":"920315ee-6c0b-4984-bbdf-ee5d6210a193","name":"Read/Write Files from Disk"},{"parameters":{"model":"llama3.1:latest","options":{}},"id":"859d2c6a-1869-424c-a900-3fdbac2ee8d0","name":"Ollama Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[220,120],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"options":{"systemMessage":"You are a helpful assistant","returnIntermediateSteps":false}},"id":"006dfec8-5405-4b39-b085-3ac194f70d3b","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[300,-100]},{"parameters":{"promptType":"define","text":"=réécrire cette description d'offre d'emploi en la structurant avec un maximum 1950 caractères , garde les informations importantes , telle que les valeurs d'entreprise , le contenu de la mission , les compétences demandées. Tu écriras toujours en français; l'output doit absolument être inferieur à 1950 caractères. réponds toujours en français. Tu utiliseras du text rich et des émoticônes pour rendre le tout attrayant.\nvoici la description à réecrire: {{ $json.description }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-620,-740],"id":"ee1988fb-012b-4693-a41b-715b7599737e","name":"Resume Offre","notesInFlow":false,"notes":"Reduction de la taille de l'offre à 2000 caractères maximum , car un texte plus long ne passe pas dans Notion"},{"parameters":{"content":"# Ajout des offres Indeed dans Notion","height":580,"width":1340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1360,-1000],"id":"b711e208-9706-4686-823b-25d2d054774c","name":"Sticky Note3"},{"parameters":{"url":"={{ $json.url }}","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"=q","value":"={{ $json.qs.q }}"},{"name":"fields","value":"={{ $json.qs.fields }}"},{"name":"orderBy","value":"={{ $json.qs.orderBy }}"},{"name":"pageSize","value":"={{ $json.qs.pageSize }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1320,680],"id":"7f1f36af-784b-4eef-8282-02b2810637b2","name":"HTTP Request","credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b29e587a-c248-4418-97b9-5820f926369d","leftValue":"={{Object.keys($json).length}}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,680],"id":"3cbeeabf-bafa-4765-9bb1-6d34b7cbabaa","name":"If"},{"parameters":{"jsCode":"return {\n  method: \"GET\",\n  url: \"https://www.googleapis.com/drive/v3/files\",\n  headers: {\n    Authorization: `Bearer {{$credentials.googleDriveOAuth2Api.access_token}}`\n  },\n  qs: {\n    q: \"'14_J1f0oA1suFfSv1Ae6SfqpikSzPm3XY' in parents\",\n    fields: \"files(id, name, mimeType, modifiedTime, parents)\",\n    orderBy: \"modifiedTime desc\",\n    pageSize: 50  // Récupérer plus de fichiers pour s'assurer d'avoir les derniers changements\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1540,680],"id":"2b2a07b8-6504-477a-bbc6-7707aeab937e","name":"Get File"},{"parameters":{"jsCode":"const dateSeuil = new Date();\ndateSeuil.setDate(dateSeuil.getDate() - 1);  // Vérifie les fichiers modifiés dans les dernières 24h\n\nconst fichiersRecents = $json.files.filter(file => {\n  const modifiedDate = new Date(file.modifiedTime);\n  return modifiedDate >= dateSeuil;\n});\n\nreturn fichiersRecents.length > 0 ? fichiersRecents : [{ message: \"Aucun fichier récemment ajouté ou modifié.\" }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1100,680],"id":"b66a7224-206e-4ca4-8e98-c84e933c16fe","name":"Filtre fichier modifié"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/changes/startPageToken","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1660,880],"id":"41b57e70-e6c3-4693-b448-ea6462ef6e7b","name":"trigger drive","credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1900,880],"id":"a6884c68-9852-4f68-9961-84cff4bd1029","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1760,-160],"id":"313986c8-9842-4071-aef4-baf25f0f756c","name":"Schedule Trigger1"},{"parameters":{"fileSelector":"/data/shared/fichiersConnus.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1440,880],"id":"d4e0c274-827d-4758-96d0-a05bb4b5a7b1","name":"Read fichiersConnus.json","alwaysOutputData":true},{"parameters":{"operation":"write","fileName":"/data/shared/fichiersConnus.json","dataPropertyName":"=data","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-620,880],"id":"1a30b356-c6fc-4f51-842e-1396203d1d71","name":"Write fichiersConnus.json","alwaysOutputData":true},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/changes\n","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"pageToken","value":"={{ $('trigger drive').item.json.startPageToken }}"},{"name":"fields","value":"changes(file(id, name, mimeType, parents, trashed, modifiedTime)), newStartPageToken"}]},"sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1220,880],"id":"c2d95873-15e7-424e-8a2c-54261b234a8a","name":"List file created or updated","credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"jsCode":"try {\n    console.log(\"📌 Début de l'exécution du script...\");\n\n    // Vérifie si l'entrée contient bien des données\n    if (!$input.first().json || !$input.first().json.changes) {\n        console.log(\"⚠️ Aucune donnée de modification reçue.\");\n        return [{ message: \"Aucune donnée de modification reçue.\" }];\n    }\n\n    console.log(\"✅ Données de modification reçues :\", $input.first().json.changes);\n\n    // Récupère les changements (en évitant les fichiers supprimés)\n    const changements = $input.first().json.changes.filter(change => change.file && !change.file.trashed);\n\n    console.log(\"📂 Changements filtrés (sans fichiers supprimés) :\", changements);\n\n    // Récupère les fichiers déjà vus depuis un fichier JSON ou initialise un objet vide\n    let fichiersAnciens = $json || {}; \n\n    console.log(\"📂 Fichiers connus avant traitement :\", fichiersAnciens);\n\n    let fichiersAjoutes = [];\n    let fichiersModifies = [];\n\n    changements.forEach(change => {\n        const fileId = change.file.id;\n        console.log(`🔍 Vérification du fichier : ${change.file.name} (ID: ${fileId})`);\n\n        if (!fichiersAnciens[fileId]) {\n            // Si le fichier n'existait pas avant → NOUVEAU fichier\n            console.log(`➕ Fichier ajouté : ${change.file.name}`);\n            fichiersAjoutes.push({\n                fileId: fileId,\n                fileName: change.file.name,\n                mimeType: change.file.mimeType,\n                modifiedTime: change.file.modifiedTime,\n                parentFolderId: change.file.parents ? change.file.parents[0] : \"Inconnu\",\n                status: \"Ajouté\"\n            });\n        } else {\n            // Si le fichier existait → MODIFIÉ\n            console.log(`✏️ Fichier modifié : ${change.file.name}`);\n            fichiersModifies.push({\n                fileId: fileId,\n                fileName: change.file.name,\n                mimeType: change.file.mimeType,\n                modifiedTime: change.file.modifiedTime,\n                parentFolderId: change.file.parents ? change.file.parents[0] : \"Inconnu\",\n                status: \"Modifié\"\n            });\n        }\n\n        // Met à jour la liste des fichiers connus\n        fichiersAnciens[fileId] = true;\n    });\n\n    console.log(\"📂 Liste des fichiers ajoutés :\", fichiersAjoutes);\n    console.log(\"📂 Liste des fichiers modifiés :\", fichiersModifies);\n\n    // Retourne les fichiers triés\n    return {\n        ajoutes: fichiersAjoutes.length > 0 ? fichiersAjoutes : [{ message: \"Aucun fichier ajouté.\" }],\n        modifies: fichiersModifies.length > 0 ? fichiersModifies : [{ message: \"Aucun fichier modifié.\" }],\n        fichiersConnus: fichiersAnciens // On renvoie les fichiers connus mis à jour\n    };\n\n} catch (error) {\n    console.error(\"❌ Erreur dans le script :\", error.message);\n    return [{ error: `Une erreur est survenue : ${error.message}` }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1000,880],"id":"a59501dd-ed71-4e0d-8e5f-b45544acbb15","name":"Get modif"},{"parameters":{"jsCode":"try {\n    console.log(\"📌 Début du script pour sauvegarder les fichiers connus.\");\n\n    // Vérifie que $json[\"fichiersConnus\"] existe et est un objet\n    const fichiersConnus = $json[\"fichiersConnus\"] || {};\n\n    console.log(\"✅ Contenu des fichiers connus avant conversion :\", fichiersConnus);\n\n    // Convertit l'objet JSON en une chaîne JSON\n    const jsonString = JSON.stringify(fichiersConnus, null, 2);\n\n    // Vérifie que la conversion a bien fonctionné\n    if (!jsonString || jsonString === \"{}\") {\n        throw new Error(\"⚠️ Erreur : Le fichier fichiersConnus.json est vide ou mal formé.\");\n    }\n\n    console.log(\"✅ Contenu JSON généré avec succès :\", jsonString);\n\n    // Retourne les données sous forme binaire\n    const binaryData = Buffer.from(jsonString, 'utf8').toString('base64');\n\n    console.log(\"✅ Conversion en binaire réussie. Taille :\", binaryData.length, \"bytes\");\n\n    return {\n        json: {},\n        binary: {\n            data: {\n                data: binaryData,\n                mimeType: 'application/json',\n                fileName: 'fichiersConnus.json'\n            }\n        }\n    };\n\n} catch (error) {\n    console.error(\"❌ Erreur lors de la sauvegarde du fichier :\", error.message);\n    return [{ error: `Une erreur est survenue : ${error.message}` }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-820,880],"id":"18f20677-9350-40f4-ab77-140e0e9fdd1a","name":"Convert json in bynary"}],"connections":{"Set Search Parameters":{"main":[[{"node":"run Actor Indeed","type":"main","index":0},{"node":"Jobs API","type":"main","index":0},{"node":"Active Jobs API","type":"main","index":0},{"node":"Google Search","type":"main","index":0},{"node":"JSearch API","type":"main","index":0}]]},"Google Search":{"main":[[]]},"Active Jobs API":{"main":[[]]},"Jobs API":{"main":[[]]},"JSearch API":{"main":[[]]},"Notion1":{"main":[[]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Notion":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"run Actor Indeed":{"main":[[{"node":"Notion2","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Resume Offre","type":"ai_languageModel","index":0}]]},"Notion2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Resume Offre","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Ollama Model":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Clear Old Vectors","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Qdrant Vector Store Insert","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store Insert","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant Vector Store Insert","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Clear Old Vectors":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Local File Trigger":{"main":[[{"node":"Set File ID1","type":"main","index":0}]]},"Set File ID1":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Ollama Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Resume Offre":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Filtre fichier modifié","type":"main","index":0}]]},"If":{"main":[[]]},"Get File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Filtre fichier modifié":{"main":[[{"node":"If","type":"main","index":0}]]},"trigger drive":{"main":[[{"node":"Read fichiersConnus.json","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"trigger drive","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Set Search Parameters","type":"main","index":0}]]},"Read fichiersConnus.json":{"main":[[{"node":"List file created or updated","type":"main","index":0}]]},"List file created or updated":{"main":[[{"node":"Get modif","type":"main","index":0},{"node":"Set File ID","type":"main","index":0}]]},"Get modif":{"main":[[{"node":"Convert json in bynary","type":"main","index":0}]]},"Convert json in bynary":{"main":[[{"node":"Write fichiersConnus.json","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Notion Trigger":{"lastTimeChecked":"2025-02-14T01:59:00.000Z"},"node:File Created":{"lastTimeChecked":"2025-02-13T08:13:53Z"},"node:File Updated":{"lastTimeChecked":"2025-02-13T08:14:38Z"},"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[18]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"578f4e2d-98d1-4153-b834-9823216b3f66","triggerCount":7,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-worklow","repo_path":"","subPath":"2025/02/"}