2025/02/recherche emploi old.json
{"createdAt":"2025-02-24T11:11:47.543Z","updatedAt":"2025-02-24T14:45:51.945Z","id":"6TyJ5tCxab6yiPO3","name":"recherche emploi old","active":false,"nodes":[{"parameters":{"values":{"string":[{"name":"q","value":"technicien methodes"},{"name":"locality","value":"fr"},{"name":"page","value":"1"},{"name":"sort","value":"date"},{"name":"location","value":"cluses"}]},"options":{}},"name":"Set Search Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[-440,760],"id":"9ceca606-8af7-4c82-b754-d870db004e4b"},{"parameters":{"url":"https://customsearch.googleapis.com/customsearch/v1","options":{"useQueryString":false},"queryParametersUi":{"parameter":[{"name":"key","value":"*"},{"name":"cx","value":"f5db20188c61d409d"},{"name":"q","value":"={{ $json.q }} {{ $json.location }}"}]}},"name":"Google Search","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[20,580],"id":"4d7e002b-36a6-4b84-a8c4-dcda97daeab8"},{"parameters":{"authentication":"headerAuth","url":"https://active-jobs-db.p.rapidapi.com/active-ats-7d","options":{},"headerParametersUi":{"parameter":[{"name":"X-Rapidapi-Host","value":"active-jobs-db.p.rapidapi.com"}]},"queryParametersUi":{"parameter":[{"name":"title_filter","value":"={{ $json.q }}"},{"name":"location_filter","value":"={{ $json.locality }}"}]}},"name":"Active Jobs API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[20,860],"id":"40f501e8-cb6f-442e-80a7-15f1655d0ff4","credentials":{"httpHeaderAuth":{"id":"sgOE2BzhDy5BIQZo","name":"Header Auth Rapid API"}}},{"parameters":{"authentication":"headerAuth","url":"https://jobs-api14.p.rapidapi.com/v2/list","options":{},"headerParametersUi":{"parameter":[{"name":"x-rapidapi-host","value":"jobs-api14.p.rapidapi.com"}]},"queryParametersUi":{"parameter":[{"name":"query","value":"={{ $json.q }}"},{"name":"location","value":"={{ $json.location }}"}]}},"name":"Jobs API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[20,1100],"id":"2411b6b2-a1c4-440e-a19d-de9284346eb7","credentials":{"httpHeaderAuth":{"id":"sgOE2BzhDy5BIQZo","name":"Header Auth Rapid API"}}},{"parameters":{"authentication":"headerAuth","url":"https://jsearch.p.rapidapi.com/search","options":{},"headerParametersUi":{"parameter":[{"name":"x-rapidapi-host","value":"jsearch.p.rapidapi.com"}]},"queryParametersUi":{"parameter":[{"name":"country","value":"=fr"},{"name":"query","value":"={{ $json.q }} in  {{ $json.location }}"}]}},"name":"JSearch API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[20,1340],"id":"f57edceb-de20-4aa0-880b-58bf05e6d98c","credentials":{"httpHeaderAuth":{"id":"sgOE2BzhDy5BIQZo","name":"Header Auth Rapid API"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"cd874998-c309-48d0-984c-db009335a4e4","mode":"list","cachedResultName":"Offres d’emploi","cachedResultUrl":"https://www.notion.so/cd874998c30948d0984cdb009335a4e4"},"title":"={{ $('run Actor Indeed').item.json.company }}","simple":false,"propertiesUi":{"propertyValues":[{"key":"Lieu|rich_text","textContent":"={{ $('run Actor Indeed').item.json.location }}"},{"key":"Type contrat|multi_select","multiSelectValue":"={{ $('run Actor Indeed').item.json.jobType }}"},{"key":"Date de l'offre|date","includeTime":"=","date":"={{ $('run Actor Indeed').item.json.postingDateParsed }}","timezone":"Europe/Paris"},{"key":"Poste|rich_text","textContent":"={{ $('run Actor Indeed').item.json.positionName }}"},{"key":"Référence|rich_text","textContent":"={{ $('run Actor Indeed').item.json.id }}"},{"key":"Url de l'offre|url","urlValue":"={{ $('run Actor Indeed').item.json.url }}"},{"key":"Détail de l'offre|rich_text","textContent":"={{ ( $json.text|| \"\").substring(0,2000) }}"}]},"blockUi":{"blockValues":[{"type":"heading_1","textContent":"={{ $('run Actor Indeed').item.json.company }} {{ $('run Actor Indeed').item.json.location}}"},{"type":"heading_2","textContent":"={{ $('run Actor Indeed').item.json.positionName }} {{ $('run Actor Indeed').item.json.postedAt}} {{ $('run Actor Indeed').item.json.salary}} {{ $('run Actor Indeed').item.json.jobType }}"},{"textContent":"={{ ( $json.text|| \"\").substring(0,2000) }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[800,180],"id":"c0182b24-e9d6-4a4d-98b8-2f37168dcea3","name":"Notion1","credentials":{"notionApi":{"id":"ZIBjC8b9OWhjO7wH","name":"Notion account"}}},{"parameters":{"promptType":"define","text":"=Analyse Approfondie des Offres :\nObjectif : Délivrer une analyse détaillée des compétences et de la culture d’entreprise en fonction de l'offre d'emploi :\n {{ $json.company }} {{ $json.postedAt }} {{ $json.salary }} {{ $json.location }}\n{{ $json.positionName }} {{ $json.jobType }}\n{{ $json.url }}\n{{ $json.descriptionHTML }}\n\nDétails :\nCompétences : Identifier les compétences mentionnées et détecter celles pertinentes pour le profil de l’utilisateur.\nCulture d’entreprise : Analyser la culture à partir des informations disponibles.\nCorrespondance Profil-Poste : Évaluer la correspondance des compétences de l’utilisateur avec celles requises.\n5. Présentation Structurée des Résultats :\nObjectif : Présenter les offres de manière claire et détaillée.\nLangue : Répondre dans la langue de l’utilisateur.\nFormat : répondre au format json\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1440,220],"id":"56e1ca4a-167d-4d48-b53e-f961a397ddbd","name":"AI Agent"},{"parameters":{"model":"mistral:latest","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1380,500],"id":"2d5ab7f3-308d-4aa2-a2ba-ad6084db219f","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"cd874998-c309-48d0-984c-db009335a4e4","mode":"list","cachedResultName":"Offres d’emploi","cachedResultUrl":"https://www.notion.so/cd874998c30948d0984cdb009335a4e4"},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1700,460],"id":"fc7b91e3-635f-482d-8827-dce387ed3d15","name":"Notion","credentials":{"notionApi":{"id":"ZIBjC8b9OWhjO7wH","name":"Notion account"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/misceres~indeed-scraper/run-sync-get-dataset-items?token=apify_api_s7Kq2WTJPCNPRNhefglhou1Dnll3q602yFKG","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"country\": \"{{ $json.locality.toUpperCase() }}\",\n    \"followApplyRedirects\": false,\n    \"location\": \"{{ $json.location }}\",\n    \"maxItems\": 20,\n    \"parseCompanyDetails\": false,\n    \"position\": \"{{ $json.q }}\",\n    \"saveOnlyUniqueItems\": true\n}","options":{}},"id":"ea1d88a3-3bd3-4c7a-bc30-936e5ad29490","name":"run Actor Indeed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-200,200],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"but6yVhPbQehPuro","name":"Header Auth Apify"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[420,380],"id":"f16d0a62-9796-4259-9138-787773cb4377","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"cd874998-c309-48d0-984c-db009335a4e4","mode":"list","cachedResultName":"Offres d’emploi","cachedResultUrl":"https://www.notion.so/cd874998c30948d0984cdb009335a4e4"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[-20,40],"id":"e1476379-c7df-4ca0-81bc-8de8793d96a8","name":"Notion2","executeOnce":true,"credentials":{"notionApi":{"id":"ZIBjC8b9OWhjO7wH","name":"Notion account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"property_r_f_rence","field2":"id"}]},"joinMode":"keepNonMatches","outputDataFrom":"input2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[180,180],"id":"1d206786-4224-4e06-b68e-81705d1d3b03","name":"Merge"},{"parameters":{},"id":"9cc449c0-b6b5-414e-91ec-513f3f4eb0e1","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[1420,1040],"credentials":{"postgres":{"id":"gPu37zS904wrxDaM","name":"Postgres account"}}},{"parameters":{"model":"llama3.1:latest","options":{}},"id":"e511df4a-8d70-487a-b89e-badf5f3d55ed","name":"Ollama Model","type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[2300,980],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"name":"SearchJob","topK":3},"id":"1a0b7fd0-b953-4ace-ba8a-e0a4c248204a","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[2080,820]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"e2e0a04c-ff48-4d30-9083-7486f8a4991e","name":"Embeddings Ollama","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1940,1120],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.ajoutes[0].fileId ? $json.ajoutes[0].fileId : ($json.modifies[0].fileId ? $json.modifies[0].fileId : null) }}","type":"string"},{"id":"dd0aa081-79e7-4714-8a67-1e898285554c","name":"folder_id","value":"={{ $json.ajoutes[0].parentFolderId ? $json.ajoutes[0].parentFolderId : ($json.modifies[0].parentFolderId ? $json.modifies[0].parentFolderId : null) }}","type":"string"},{"id":"93140101-35da-4e98-950b-2f95636db22f","name":"status","value":"={{ $json.ajoutes[0].fileId ? \"Ajouté\" : ($json.modifies[0].fileId ? \"Modifié\" : \"Aucun changement\") }}","type":"string"}]},"options":{}},"id":"27a09a7d-d678-4ef9-8728-67dfe33a8306","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,1900],"alwaysOutputData":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"7f383629-a860-4cc9-a837-719e06a7c9b4","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1320,1880],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"f96cb8f9-9eba-462e-9a2a-e15d262f7ab4","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1540,1880],"alwaysOutputData":true},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Set File ID').item.json.file_id }}"},{"name":"folder_id","value":"={{ $('Set File ID').item.json.folder_id }}"}]}}},"id":"2b1fc5be-5939-4838-bd81-318234ec0c0c","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1820,2120]},{"parameters":{"chunkOverlap":100,"options":{}},"id":"d2fbe463-ec79-4f39-9f94-fd954c7e3930","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1860,2340]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"46bd125e-76df-4c03-bb15-6119106b0761","name":"Embeddings Ollama1","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1700,2120],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"content":"## Local RAG AI Agent with Chat Interface","height":527.3027193303974,"width":969.0343804425795},"id":"95a45556-30ae-4807-9815-1bb76fe17eb9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[900,700]},{"parameters":{"content":"## Agent Tools for Local RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"e5d797e3-e5b3-4e43-9157-bd01beb27253","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1880,700]},{"parameters":{"content":"## Workflow to Create Local Knowledgebase from Google Drive Folder","height":1065,"width":1989,"color":5},"id":"a0374208-8ba6-4dd5-b7ac-b34cbb9a9a65","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,1460]},{"parameters":{"options":{}},"id":"3aaf50d5-46aa-4c81-aa90-facd7979f20e","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[960,820],"webhookId":"cb31b294-29c2-416c-8a2c-4aee3bf352c0"},{"parameters":{"qdrantCollection":{"__rl":true,"value":"SearchJob","mode":"list","cachedResultName":"SearchJob"},"options":{}},"id":"7c3921ff-7838-42eb-b7dc-b39100dc9e35","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1900,960],"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"code":{"execute":{"code":"try {\n    console.log(\"📌 Début du script - Vérification des fichiers à supprimer dans Qdrant.\");\n\n    const { QdrantVectorStore } = require(\"@langchain/qdrant\");\n    const { OllamaEmbeddings } = require(\"@langchain/community/embeddings/ollama\");\n\n    // Vérification de l'entrée\n    if (!this.getInputData().length || !this.getInputData()[0].json) {\n        throw new Error(\"⚠️ Aucune donnée reçue en entrée !\");\n    }\n\n    console.log(\"✅ Données reçues :\", this.getInputData()[0].json);\n\n    // Extraction des données\n    const fileIdToDelete = this.getInputData()[0].json.file_id;\n    const folderId = this.getInputData()[0].json.folder_id;\n    const fileStatus = this.getInputData()[0].json.status;\n\n    console.log(`📂 Fichier détecté : ${fileIdToDelete} (Statut : ${fileStatus})`);\n\n    if (!fileIdToDelete) {\n        throw new Error(\"⚠️ Erreur : Aucune file_id détectée !\");\n    }\n\n    // Connexion à Qdrant\n    const embeddings = new OllamaEmbeddings({\n        model: \"nomic-embed-text\",\n        baseUrl: \"http://ollama:11434\"\n    });\n\n    console.log(\"✅ Embeddings chargés.\");\n\n    const vectorStore = await QdrantVectorStore.fromExistingCollection(\n        embeddings,\n        {\n            url: \"http://qdrant:6333\",\n            collectionName: \"SearchJob\",\n        }\n    );\n\n    console.log(\"✅ Connexion à Qdrant réussie.\");\n\n    // Définition du filtre pour supprimer le fichier dans Qdrant\n    const filter = {\n        must: [\n            {\n                key: \"metadata.file_id\",\n                match: {\n                    value: fileIdToDelete,\n                },\n            },\n        ],\n    };\n\n    console.log(\"🔍 Filtre utilisé pour la suppression :\", JSON.stringify(filter));\n\n    // Suppression des vecteurs si le fichier est supprimé ou modifié\n    const response = await vectorStore.client.delete(\"SearchJob\", { filter });\n\n    console.log(\"🗑️ Suppression des anciens vecteurs terminée :\", response);\n\n    return [{ json: { file_id: fileIdToDelete, folder_id: folderId, status: fileStatus, result: \"Deleted from Qdrant\" } }];\n\n} catch (error) {\n    console.error(\"❌ Erreur dans 'Clear Old Vectors' :\", error.message);\n    return [{ json: { error: error.message } }];\n}\n"}},"inputs":{"input":[{"type":"main","required":true}]},"outputs":{"output":[{"type":"main"}]}},"id":"d385a422-81b4-4500-8987-66e1448d2b4d","name":"Clear Old Vectors","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[1140,1880],"alwaysOutputData":true},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"=SearchJob","mode":"id"},"options":{}},"id":"b891dc2f-9bca-4007-b01b-81389757a6a8","name":"Qdrant Vector Store Insert","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1760,1880],"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"id":"88bf158e-73f3-42bb-912c-3c0d82cc7e84","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1680,820]},{"parameters":{"httpMethod":"POST","path":"6e96bb59-5289-4b86-b383-f276ba62b4e1","responseMode":"responseNode","options":{}},"id":"fba89a07-8358-4811-afc8-305590c93ae9","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[960,1000],"webhookId":"6e96bb59-5289-4b86-b383-f276ba62b4e1"},{"parameters":{"assignments":{"assignments":[{"id":"75ebfdef-c8e2-4c3e-b716-1479d0cc2a73","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"59b7a20f-0626-4861-93e2-015d430c266e","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"2e55acf9-1c80-4449-86d7-fda8322695b3","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1160,820]},{"parameters":{"triggerOn":"folder","path":"/data/paperport/","events":["add","change","unlink"],"options":{"awaitWriteFinish":true,"followSymlinks":true,"depth":0,"usePolling":true}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[540,2720],"id":"de2cbbcf-361e-4721-ab1d-4bec295b4cf3","name":"Local File Trigger"},{"parameters":{"assignments":{"assignments":[]},"includeOtherFields":true,"options":{"dotNotation":false}},"id":"48d48076-46c1-4be9-b0c5-e9b666488ed9","name":"Set File ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,2720]},{"parameters":{"fileSelector":"={{ $json.path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1160,2720],"id":"fb3eea61-2b01-46e9-bab7-74bcf4b0417d","name":"Read/Write Files from Disk"},{"parameters":{"model":"llama3.1:latest","options":{}},"id":"03343969-7bf9-4565-bd6c-4b13a36f9925","name":"Ollama Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1260,1040],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"options":{"systemMessage":"You are a helpful assistant","returnIntermediateSteps":false}},"id":"cdca27ad-8db4-44e4-8967-5d30222d8d42","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1340,820]},{"parameters":{"promptType":"define","text":"=réécrire cette description d'offre d'emploi en la structurant avec un maximum 1950 caractères , garde les informations importantes , telle que les valeurs d'entreprise , le contenu de la mission , les compétences demandées. Tu écriras toujours en français; l'output doit absolument être inferieur à 1950 caractères. réponds toujours en français. Tu utiliseras du text rich et des émoticônes pour rendre le tout attrayant.\nvoici la description à réecrire: {{ $json.description }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[420,180],"id":"b48af2cc-de2d-4cf3-8cb5-c177b744b98a","name":"Resume Offre","notesInFlow":false,"notes":"Reduction de la taille de l'offre à 2000 caractères maximum , car un texte plus long ne passe pas dans Notion"},{"parameters":{"content":"# Ajout des offres Indeed dans Notion","height":580,"width":1340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,-80],"id":"8c40d09c-7b70-468d-8963-3db4916ebf95","name":"Sticky Note3"},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/changes/startPageToken","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,1600],"id":"5639df4a-2c34-4603-b724-7140dc1cc0bb","name":"trigger drive","credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[620,1600],"id":"ad1916ac-c358-46b2-b275-7a3d00d3369b","name":"Schedule Trigger"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-720,760],"id":"e14c7c83-1301-41c5-b525-1b523e8d224c","name":"Schedule Trigger1"},{"parameters":{"fileSelector":"/data/shared/fichiersConnus.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1120,1600],"id":"551f610a-d591-4fa0-8122-88faf773bbcd","name":"Read fichiersConnus.json","alwaysOutputData":true},{"parameters":{"operation":"write","fileName":"/data/shared/fichiersConnus.json","dataPropertyName":"=data","options":{"append":false}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2080,1600],"id":"a35bd41b-ed46-4007-a690-490080ca4615","name":"Write fichiersConnus.json","alwaysOutputData":true},{"parameters":{"url":"=https://www.googleapis.com/drive/v3/changes\n","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"pageToken","value":"={{ $('trigger drive').item.json.startPageToken }}"},{"name":"fields","value":"changes(file(id, name, mimeType, parents, trashed, modifiedTime)), newStartPageToken"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1300,1600],"id":"fe07a5ae-6e09-4ac6-ad5b-6d5dc0521f55","name":"List file created or updated","credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"jsCode":"try {\n    console.log(\"📌 Début de l'exécution du script...\");\n\n    if (!$input.first().json || !$input.first().json.changes) {\n        console.log(\"⚠️ Aucune donnée de modification reçue.\");\n        return [{ message: \"Aucune donnée de modification reçue.\" }];\n    }\n\n    console.log(\"✅ Données de modification reçues :\", $input.first().json.changes);\n\n    // 📌 ID du dossier à surveiller\n    const dossierCible = \"14_J1f0oA1suFfSv1Ae6SfqpikSzPm3XY\";\n\n    // Récupérer les changements (modifiés, ajoutés, supprimés)\n    let fichiersAnciens = $json.fichiersConnus ? $json.fichiersConnus.changes || [] : [];\n    let fichiersConnus = { ...$json.fichiersConnus };\n\n    let fichiersAjoutes = [];\n    let fichiersModifies = [];\n    let fichiersSupprimes = [];\n\n    // Analyse des changements\n    $input.first().json.changes.forEach(change => {\n        const file = change.file;\n        if (!file) return;\n\n        const fileId = file.id;\n        const fileName = file.name;\n        const modifiedTime = file.modifiedTime;\n        const parentFolderId = file.parents ? file.parents[0] : \"Inconnu\";\n\n        // Vérifier si le fichier appartient au dossier cible\n        if (!file.parents || !file.parents.includes(dossierCible)) {\n            return;\n        }\n\n        console.log(`🔍 Analyse du fichier : ${fileName} (ID: ${fileId})`);\n\n        if (file.trashed) {\n            console.log(`🗑️ Fichier supprimé détecté : ${fileName}`);\n            fichiersSupprimes.push({\n                fileId,\n                fileName,\n                modifiedTime,\n                parentFolderId,\n                status: \"Supprimé\"\n            });\n\n            // Supprimer le fichier du suivi\n            delete fichiersConnus[fileId];\n\n        } else if (!fichiersAnciens.some(f => f.file.id === fileId)) {\n            console.log(`➕ Fichier ajouté détecté : ${fileName}`);\n            fichiersAjoutes.push({\n                fileId,\n                fileName,\n                modifiedTime,\n                parentFolderId,\n                status: \"Ajouté\"\n            });\n\n            fichiersConnus[fileId] = { fileName, modifiedTime };\n\n        } else {\n            console.log(`✏️ Fichier modifié détecté : ${fileName}`);\n            fichiersModifies.push({\n                fileId,\n                fileName,\n                modifiedTime,\n                parentFolderId,\n                status: \"Modifié\"\n            });\n\n            fichiersConnus[fileId] = { fileName, modifiedTime };\n        }\n    });\n\n    console.log(\"📂 Fichiers ajoutés :\", fichiersAjoutes);\n    console.log(\"📂 Fichiers modifiés :\", fichiersModifies);\n    console.log(\"🗑️ Fichiers supprimés :\", fichiersSupprimes);\n\n    return {\n        ajoutes: fichiersAjoutes.length > 0 ? fichiersAjoutes : [{ message: \"Aucun fichier ajouté.\" }],\n        modifies: fichiersModifies.length > 0 ? fichiersModifies : [{ message: \"Aucun fichier modifié.\" }],\n        supprimes: fichiersSupprimes.length > 0 ? fichiersSupprimes : [{ message: \"Aucun fichier supprimé.\" }],\n        fichiersConnus: fichiersConnus // Mise à jour de fichiersConnus.json\n    };\n\n} catch (error) {\n    console.error(\"❌ Erreur dans le script :\", error.message);\n    return [{ error: `Une erreur est survenue : ${error.message}` }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,1600],"id":"13d34456-f26c-4d61-a5fd-3e8574e8e9fd","name":"Get modif"},{"parameters":{"jsCode":"try {\n    console.log(\"📌 Début du script pour sauvegarder les fichiers connus.\");\n\n    // Vérifie si fichiersConnus existe, sinon initialise un objet vide\n    let fichiersConnus = $json[\"fichiersConnus\"];\n    \n    if (!fichiersConnus || Object.keys(fichiersConnus).length === 0) {\n        console.warn(\"⚠️ Aucun fichier connu détecté. Initialisation d'un objet vide.\");\n        fichiersConnus = { message: \"Aucun fichier connu enregistré.\" };\n    }\n\n    console.log(\"✅ Contenu des fichiers connus avant conversion :\", fichiersConnus);\n\n    // Convertit l'objet JSON en une chaîne JSON\n    const jsonString = JSON.stringify(fichiersConnus, null, 2);\n\n    // Vérifie que la conversion a bien fonctionné\n    if (!jsonString || jsonString.trim() === \"{}\") {\n        throw new Error(\"⚠️ Erreur : fichiersConnus.json est vide ou mal formé.\");\n    }\n\n    console.log(\"✅ Contenu JSON généré avec succès :\", jsonString);\n\n    // Conversion en binaire\n    const binaryData = Buffer.from(jsonString, 'utf8').toString('base64');\n    console.log(\"✅ Conversion en binaire réussie.\");\n\n    return {\n        json: {},\n        binary: {\n            data: {\n                data: binaryData,\n                mimeType: 'application/json',\n                fileName: 'fichiersConnus.json'\n            }\n        }\n    };\n\n} catch (error) {\n    console.error(\"❌ Erreur dans 'Convert json in binary' :\", error.message);\n    return [{ json: { error: error.message } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,1600],"id":"5c4e9542-78a7-4755-b553-a2cdb079a239","name":"Convert json in bynary"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"952191fa-0a8b-412a-83ae-77cfa9d7881d","leftValue":"file_id","rightValue":" null","operator":{"type":"string","operation":"notEquals"}},{"id":"40d303ce-e687-48c7-96f9-e59b2fca15c7","leftValue":"folder_id","rightValue":" null","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,1900],"id":"66f13f18-58a7-4d5c-9ad5-b9c33642346b","name":"file_exist"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[960,1600],"id":"73e8f1a7-c263-40cd-ab31-b3c387996b49","name":"Wait","webhookId":"d82daf79-d950-42e1-8202-3fad9c7ffc18"}],"connections":{"Set Search Parameters":{"main":[[{"node":"run Actor Indeed","type":"main","index":0},{"node":"Jobs API","type":"main","index":0},{"node":"Active Jobs API","type":"main","index":0},{"node":"Google Search","type":"main","index":0},{"node":"JSearch API","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Notion":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"run Actor Indeed":{"main":[[{"node":"Notion2","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Resume Offre","type":"ai_languageModel","index":0}]]},"Notion2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Resume Offre","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Ollama Model":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Set File ID":{"main":[[{"node":"file_exist","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Qdrant Vector Store Insert","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store Insert","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant Vector Store Insert","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Clear Old Vectors":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Local File Trigger":{"main":[[{"node":"Set File ID1","type":"main","index":0}]]},"Set File ID1":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Ollama Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Resume Offre":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"trigger drive":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"trigger drive","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Set Search Parameters","type":"main","index":0}]]},"Read fichiersConnus.json":{"main":[[{"node":"List file created or updated","type":"main","index":0}]]},"List file created or updated":{"main":[[{"node":"Get modif","type":"main","index":0}]]},"Get modif":{"main":[[{"node":"Convert json in bynary","type":"main","index":0},{"node":"Set File ID","type":"main","index":0}]]},"Convert json in bynary":{"main":[[{"node":"Write fichiersConnus.json","type":"main","index":0}]]},"file_exist":{"main":[[{"node":"Clear Old Vectors","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Read fichiersConnus.json","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"70cb8ff8-e24c-4e69-aacc-281f38d64078","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-worklow","repo_path":"","subPath":"2025/02/"}
