2025/02/Recherche d'emploi.json
{"createdAt":"2025-02-05T05:27:19.105Z","updatedAt":"2025-02-10T08:07:56.299Z","id":"wmFxs5SLCkw6d2Ua","name":"Recherche d'emploi","active":false,"nodes":[{"parameters":{"values":{"string":[{"name":"q","value":"developpeur"},{"name":"locality","value":"fr"},{"name":"page","value":"1"},{"name":"sort","value":"date"},{"name":"location","value":"cluses"}]},"options":{}},"name":"Set Search Parameters","type":"n8n-nodes-base.set","typeVersion":1,"position":[-1480,-160],"id":"97c3138a-1dc0-4f88-805a-60798da98a3f"},{"parameters":{"url":"https://indeed12.p.rapidapi.com/jobs/search","options":{},"headerParametersUi":{"parameter":[{"name":"X-RapidAPI-Key","value":"20db81a5d3msh4fa2a97afeac76ep1ec0a0jsn8c0ce792a095"},{"name":"X-RapidAPI-Host","value":"indeed12.p.rapidapi.com"}]},"queryParametersUi":{"parameter":[{"name":"query","value":"={{ $json.q }}"},{"name":"locality","value":"={{ $json.locality }}"},{"name":"=page {{ $json.page }}"},{"name":"sort","value":"={{ $json.sort }}"},{"name":"location","value":"={{ $json.location }}"}]}},"name":"HTTP Request - Indeed API1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-1020,-540],"id":"9e6766e0-350a-43ca-8e07-46091723f29c","disabled":true},{"parameters":{"url":"https://customsearch.googleapis.com/customsearch/v1","options":{"useQueryString":false},"queryParametersUi":{"parameter":[{"name":"key","value":"AIzaSyCinZYl58rnUTPpNX_xzqdAGnc6uPak-FE"},{"name":"cx","value":"f5db20188c61d409d"},{"name":"q","value":"test"}]}},"name":"Google Search","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-1020,-300],"id":"d51d6dff-2918-429f-895c-9b2ef6385b95"},{"parameters":{"authentication":"headerAuth","url":"https://active-jobs-db.p.rapidapi.com/active-ats-7d","options":{},"headerParametersUi":{"parameter":[{"name":"X-Rapidapi-Host","value":"active-jobs-db.p.rapidapi.com"}]},"queryParametersUi":{"parameter":[{"name":"title_filter","value":"={{ $json.q }}"},{"name":"location_filter","value":"=france"}]}},"name":"Active Jobs API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-1020,-60],"id":"e71e06aa-9d8d-4327-aeeb-987cc756b3c7","credentials":{"httpHeaderAuth":{"id":"sgOE2BzhDy5BIQZo","name":"Header Auth Rapid API"}}},{"parameters":{"authentication":"headerAuth","url":"https://jobs-api14.p.rapidapi.com/v2/list","options":{},"headerParametersUi":{"parameter":[{"name":"x-rapidapi-host","value":"jobs-api14.p.rapidapi.com"}]},"queryParametersUi":{"parameter":[{"name":"query","value":"={{ $json.q }}"},{"name":"location","value":"={{ $json.location }}"}]}},"name":"Jobs API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-1140,180],"id":"4f4127cd-ba23-44d2-a2e8-82dad3e1e888","credentials":{"httpHeaderAuth":{"id":"sgOE2BzhDy5BIQZo","name":"Header Auth Rapid API"}}},{"parameters":{"url":"https://jsearch.p.rapidapi.com/search","jsonParameters":true,"options":{},"headerParametersJson":"{\"x-rapidapi-key\": \"YOUR_JSEARCH_API_KEY\"}","queryParametersJson":"{\"query\": \"{{$node[\\\"Format Request\\\"].json[\\\"titre\\\"]}}\", \"location\": \"{{$node[\\\"Format Request\\\"].json[\\\"localisation\\\"]}}\", \"num_pages\": 1}"},"name":"JSearch API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-1020,440],"id":"f50b822a-d468-4336-bac9-8254f8fd8b43"},{"parameters":{"url":"https://rapidapi.com/mantiks-mantiks-default/api/indeed12/playground/apiendpoint_28ad128d-d110-4055-8b19-0fd6f5a4105a","jsonParameters":true,"options":{},"headerParametersJson":"{\"x-rapidapi-key\": \"YOUR_INDEED_API_KEY\"}","queryParametersJson":"{\"query\": \"{{$node[\\\"Format Request\\\"].json[\\\"titre\\\"]}}\", \"location\": \"{{$node[\\\"Format Request\\\"].json[\\\"localisation\\\"]}}\"}"},"name":"Indeed API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-1020,680],"id":"b162fed4-bc90-4f31-80b6-0ec70abd1ec4"},{"parameters":{"mode":"mergeByKey"},"name":"Merge Results","type":"n8n-nodes-base.merge","typeVersion":1,"position":[-660,200],"id":"6fa69497-f88d-4f50-9146-5590fc547cca"},{"parameters":{"functionCode":"items = items.reduce((acc, curr) => {\n    // Déduplication simple par comparaison de l'URL\n    if (!acc.find(item => item.json.url === curr.json.url)) {\n        acc.push(curr);\n    }\n    return acc;\n}, []);\nreturn items;"},"name":"Filter & Deduplicate","type":"n8n-nodes-base.function","typeVersion":1,"position":[-440,200],"id":"0c56dd82-1ef7-4698-9f0d-33c9dbaa1c51"},{"parameters":{"url":"http://localhost:11434/deep-analysis","jsonParameters":true,"options":{}},"name":"Deep Analysis","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-200,200],"id":"83e64550-d55d-4aec-b53f-6699575fe1e7"},{"parameters":{"url":"http://localhost:11434/generate-motivation-letter","jsonParameters":true,"options":{}},"name":"Generate Motivation Letter","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[80,-20],"id":"a1b82485-6639-45a9-aad4-65fb9863a7f1"},{"parameters":{"url":"http://localhost:11434/modify-cv","jsonParameters":true,"options":{}},"name":"Modify CV","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[80,380],"id":"d467442c-47f0-49d1-8771-482b1e84b158"},{"parameters":{"url":"http://nomic-embed-text/generate","jsonParameters":true,"options":{}},"name":"Generate Embeddings","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[280,200],"id":"8a0fe28e-cb36-4b27-8735-7ecaba07b178"},{"parameters":{"url":"http://localhost:6333/collections/emploi/points","jsonParameters":true,"options":{}},"name":"Index in Qdrant","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[540,200],"id":"d645301c-79e2-4be5-8355-48a5b0162c0b"},{"parameters":{"functionCode":"items = items.map(item => {\n    // Formatage final de chaque offre\n    return {\n        json: {\n            title: item.json.title || \"\",\n            company: item.json.company || \"\",\n            location: item.json.location || \"\",\n            description: item.json.description || \"\",\n            url: item.json.url || \"\",\n            analysis: item.json.analysis || {}\n        }\n    };\n});\nreturn items;"},"name":"Format Final Output","type":"n8n-nodes-base.function","typeVersion":1,"position":[760,200],"id":"5fc3687c-836a-4b5e-86fb-9f7c9c766a9a"},{"parameters":{"functionCode":"console.log('Debug Info:', items);\nreturn items;"},"name":"Debug Logger","type":"n8n-nodes-base.function","typeVersion":1,"position":[1000,20],"id":"5c5e23e0-c51d-4b76-8ccc-9496db119c23"},{"parameters":{"values":{"string":[{"name":"finalOutput","value":"={{$json}}"}]},"options":{}},"name":"Output Final","type":"n8n-nodes-base.set","typeVersion":1,"position":[1260,200],"id":"412e624a-7223-421f-b625-7e826c481db9"},{"parameters":{},"name":"Start1","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1680,180],"id":"69b4aee6-94fd-4d9c-9081-2ed5b9bc3cf5"},{"parameters":{"jsCode":"// Ce code doit être collé dans un nœud \"Code\" (Function Node) de n8n.\nasync function main() {\n  // Définition de l'URL avec les paramètres de recherche.\n  const apiKey = \"AIzaSyCinZYl58rnUTPpNX_xzqdAGnc6uPak-FE\"; // Remplacer par ta clé API\n  const cx = \"f5db20188c61d409d\";\n  const query = \"cars\"; // Modifier la requête si besoin\n const url = `https://www.googleapis.com/customsearch/v1?key=${apiKey}&cx=${cx}&q=${encodeURIComponent(query)}`;\n\n  // Options de la requête HTTP\n  // Options de la requête HTTP\n  const options = {\n    method: 'GET',\n    uri: url,\n    json: true,\n    simple: false // Permet de gérer manuellement les codes de statut HTTP\n  };\n\n  // Effectuer la requête HTTP avec this.helpers.request\n  const response = await this.helpers.request(options);\n\n  // Vérification du code de statut HTTP\n  if (response.statusCode && response.statusCode >= 400) {\n    // Gérer l'erreur en fonction du code de statut et du message\n    throw new Error(`Request failed with status code ${response.statusCode}: ${response.body}`);\n  }\nconsole.log(response)\n  // Vérification de la présence de la propriété 'items' et que c'est un tableau\n  if (!response.items || !Array.isArray(response.items)) {\n    throw new Error('La réponse de l\\'API ne contient pas de propriété \"items\" valide.');\n  }\n\n  // Traitement de la réponse : extraction de l'attribut htmlTitle de chaque résultat\n  const output = response.items.map(item => {\n    return { json: { htmlTitle: item } };\n  });\n\n  return output;\n}\n\nreturn await main();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-540,-80],"id":"461127aa-2f5b-40f7-b0ce-842ea4aed0f9","name":"Code1"},{"parameters":{"url":"=https://indeed12.p.rapidapi.com/job/{{ $json.hits.id }}","options":{"batchInterval":5000,"splitIntoItems":false},"headerParametersUi":{"parameter":[{"name":"X-RapidAPI-Key","value":"20db81a5d3msh4fa2a97afeac76ep1ec0a0jsn8c0ce792a095"},{"name":"X-RapidAPI-Host","value":"indeed12.p.rapidapi.com"}]},"queryParametersUi":{"parameter":[{"name":"locality","value":"={{ $json.hits.locality }}"}]}},"name":"HTTP Request - Indeed API","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-400,-440],"id":"50446bdd-a97e-482c-8655-5fb5a58c4ae4"},{"parameters":{"fieldToSplitOut":"hits","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-620,-440],"id":"36163faa-dcad-4e41-9ca0-e1325aada557","name":"Split Out","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-140,-440],"id":"2cdba9d8-e0dd-4a23-ad6b-3143f90f9b1f","name":"Convert to File"},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"cd874998-c309-48d0-984c-db009335a4e4","mode":"list","cachedResultName":"Offres d’emploi","cachedResultUrl":"https://www.notion.so/cd874998c30948d0984cdb009335a4e4"},"title":"={{ $json.company }}","propertiesUi":{"propertyValues":[{"key":"Lieu|rich_text","textContent":"={{ $json.location }}"},{"key":"Lieu|rich_text","textContent":"={{ $json.location }}"},{"key":"Type contrat|multi_select","multiSelectValue":"={{ $json.jobType }}"},{"key":"Date de l'offre|date","includeTime":"=","date":"={{ $json.scrapedAt }}","timezone":"Europe/Paris"},{"key":"Poste|rich_text","textContent":"={{ $json.positionName }}"},{"key":"Référence|rich_text","textContent":"={{ $json.id }}"},{"key":"Url de l'offre|url","urlValue":"={{ $json.url }}"}]},"blockUi":{"blockValues":[{"textContent":"={{ $json.description }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[100,-580],"id":"5fe67b58-9f4b-47e4-aede-f261b638766d","name":"Notion1","credentials":{"notionApi":{"id":"ZIBjC8b9OWhjO7wH","name":"Notion account"}}},{"parameters":{"html":"={{ $json.url }}\n{{ $json.id }} {{ $json.scrapedAt }}\n{{ $json.positionName }} {{ $json.salary }} {{ $json.postedAt }} {{ $json.jobType }}\n{{ $json.company }} {{ $json.location }}\n\n{{ $json.descriptionHTML }}","options":{"bulletMarker":"*","codeFence":"```","emDelimiter":"_","strongDelimiter":"**","codeBlockStyle":"fence"}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[-520,-780],"id":"9067a828-75aa-4cdd-a9c8-e91c5d56a76a","name":"Markdown","alwaysOutputData":false},{"parameters":{"url":"=https://indeed12.p.rapidapi.com/job/{{ $json.hits.id }}","options":{"batchInterval":5000,"splitIntoItems":false},"headerParametersUi":{"parameter":[{"name":"X-RapidAPI-Key","value":"20db81a5d3msh4fa2a97afeac76ep1ec0a0jsn8c0ce792a095"},{"name":"X-RapidAPI-Host","value":"indeed12.p.rapidapi.com"}]},"queryParametersUi":{"parameter":[{"name":"locality","value":"={{ $json.hits.locality }}"}]}},"name":"HTTP Request - Indeed API2","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,-260],"id":"e00269e8-5059-458b-bdae-ff9a0db338a1"},{"parameters":{"url":"https://fr.indeed.com/jobs","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"developpeur"},{"name":"location","value":"Annecy"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,-1000],"id":"1e59bfa6-967f-4405-89ba-05db2292d099","name":"HTTP Request"},{"parameters":{"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,-260],"id":"50517265-0d40-4ef9-bbbb-2087bea49b5f","name":"HTTP Request1"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"app6Xd7y7jFPbLe5c","mode":"list","cachedResultName":"YouTube Scraping DB","cachedResultUrl":"https://airtable.com/app6Xd7y7jFPbLe5c"},"table":{"__rl":true,"value":"tblEJyl1lp3vlFRFo","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/app6Xd7y7jFPbLe5c/tblEJyl1lp3vlFRFo"},"filterByFormula":"AND(NOT({video_url} = \"\"), {status} = \"Ready to scrape\")","options":{}},"id":"3689aeac-c02b-4cb7-9f92-1650492a7b85","name":"get Video URL","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-940,-960]},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"waitForFinish","value":"60"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"9ca766f7-1e03-4c2f-a54c-1dcaccafeeee","name":"get Actor run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-740,-960],"credentials":{"httpHeaderAuth":{"id":"but6yVhPbQehPuro","name":"Header Auth Apify"}}},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"4e75676e-b3fa-4850-92b1-bcf99895ba4f","name":"get Dataset","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-560,-960]},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/misceres~indeed-scraper/run-sync-get-dataset-items?token=apify_api_s7Kq2WTJPCNPRNhefglhou1Dnll3q602yFKG","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"country\": \"{{ $json.locality.toUpperCase() }}\",\n    \"followApplyRedirects\": false,\n    \"location\": \"{{ $json.location }}\",\n    \"maxItems\": 20,\n    \"parseCompanyDetails\": false,\n    \"position\": \"{{ $json.q }}\",\n    \"saveOnlyUniqueItems\": true\n}","options":{}},"id":"1466f46c-0fac-445c-8e2a-a0d393f0695a","name":"run Actor","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1120,-720],"alwaysOutputData":true,"credentials":{"httpHeaderAuth":{"id":"but6yVhPbQehPuro","name":"Header Auth Apify"}}},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app6Xd7y7jFPbLe5c","mode":"list","cachedResultName":"YouTube Scraping DB","cachedResultUrl":"https://airtable.com/app6Xd7y7jFPbLe5c"},"table":{"__rl":true,"value":"tblEJyl1lp3vlFRFo","mode":"list","cachedResultName":"Scraped_data","cachedResultUrl":"https://airtable.com/app6Xd7y7jFPbLe5c/tblEJyl1lp3vlFRFo"},"columns":{"mappingMode":"defineBelow","value":{"thumbnail":"={{ [{\"url\": $('get Dataset').item.json.thumbnailUrl}] }}","id":"={{ $('get Video URL').item.json.id }}","status":"Scraped","channel_name":"={{ $('get Dataset').item.json.channelName }}","video_name":"={{ $('get Dataset').item.json.title }}","number_of_subscribers":"={{ $('get Dataset').item.json.numberOfSubscribers }}","likes":"={{ $('get Dataset').item.json.likes }}","views":"={{ $('get Dataset').item.json.viewCount }}","subtitles":"={{ $('get Dataset').item.json.subtitles[0].plaintext }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"video_url","displayName":"video_url","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Ready to scrape","value":"Ready to scrape"},{"name":"Scraped","value":"Scraped"}],"readOnly":false,"removed":false},{"id":"channel_name","displayName":"channel_name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"video_name","displayName":"video_name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"thumbnail","displayName":"thumbnail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"number_of_subscribers","displayName":"number_of_subscribers","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"likes","displayName":"likes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"views","displayName":"views","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"subtitles","displayName":"subtitles","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"958dd76f-0065-4db9-8cc6-592fd3bdff2b","name":"update scraped data","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-380,-960]},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>{{ $json.company }}</h1>\n    <h2>{{ $json.location }} {{ $json.postedAt }} {{ $json.salary }}</h2>\n    <h3>{{ $json.positionName }} </h3>\n    {{ $json.descriptionHTML }}\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: left;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-140,-800],"id":"3c2af342-4f9a-4915-9c59-36af9beecea9","name":"Annonces Html","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"=Analyse Approfondie des Offres :\nObjectif : Délivrer une analyse détaillée des compétences et de la culture d’entreprise en fonction de l'offre d'emploi :\n {{ $json.company }} {{ $json.postedAt }} {{ $json.salary }} {{ $json.location }}\n{{ $json.positionName }} {{ $json.jobType }}\n{{ $json.url }}\n{{ $json.descriptionHTML }}\n\nDétails :\nCompétences : Identifier les compétences mentionnées et détecter celles pertinentes pour le profil de l’utilisateur.\nCulture d’entreprise : Analyser la culture à partir des informations disponibles.\nCorrespondance Profil-Poste : Évaluer la correspondance des compétences de l’utilisateur avec celles requises.\n5. Présentation Structurée des Résultats :\nObjectif : Présenter les offres de manière claire et détaillée.\nLangue : Répondre dans la langue de l’utilisateur.\nFormat : répondre au format json\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,-680],"id":"9fa43a53-bd36-48fe-a867-0f1948ee8262","name":"AI Agent"},{"parameters":{"model":"mistral:latest","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[340,-420],"id":"f59f8942-634d-43e2-8411-e06fc0deaf49","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"cd874998-c309-48d0-984c-db009335a4e4","mode":"list","cachedResultName":"Offres d’emploi","cachedResultUrl":"https://www.notion.so/cd874998c30948d0984cdb009335a4e4"},"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[660,-460],"id":"46bd249e-1cbc-42c6-b51d-9b5dc6365640","name":"Notion","credentials":{"notionApi":{"id":"ZIBjC8b9OWhjO7wH","name":"Notion account"}}}],"connections":{"Set Search Parameters":{"main":[[{"node":"HTTP Request - Indeed API1","type":"main","index":0},{"node":"run Actor","type":"main","index":0},{"node":"Jobs API","type":"main","index":0},{"node":"Active Jobs API","type":"main","index":0}]]},"HTTP Request - Indeed API1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Google Search":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Active Jobs API":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Jobs API":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"JSearch API":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Indeed API":{"main":[[{"node":"Merge Results","type":"main","index":0}]]},"Merge Results":{"main":[[{"node":"Filter & Deduplicate","type":"main","index":0}]]},"Filter & Deduplicate":{"main":[[{"node":"Deep Analysis","type":"main","index":0}]]},"Deep Analysis":{"main":[[{"node":"Generate Motivation Letter","type":"main","index":0},{"node":"Modify CV","type":"main","index":0}]]},"Generate Motivation Letter":{"main":[[{"node":"Generate Embeddings","type":"main","index":0}]]},"Modify CV":{"main":[[{"node":"Generate Embeddings","type":"main","index":0}]]},"Generate Embeddings":{"main":[[{"node":"Index in Qdrant","type":"main","index":0}]]},"Index in Qdrant":{"main":[[{"node":"Format Final Output","type":"main","index":0}]]},"Format Final Output":{"main":[[{"node":"Debug Logger","type":"main","index":0},{"node":"Output Final","type":"main","index":0}]]},"Debug Logger":{"main":[[{"node":"Output Final","type":"main","index":0}]]},"Start1":{"main":[[{"node":"Set Search Parameters","type":"main","index":0}]]},"HTTP Request - Indeed API":{"main":[[]]},"Split Out":{"main":[[{"node":"HTTP Request - Indeed API","type":"main","index":0}]]},"Convert to File":{"main":[[]]},"Notion1":{"main":[[]]},"Markdown":{"main":[[{"node":"Annonces Html","type":"main","index":0}]]},"get Video URL":{"main":[[]]},"get Actor run":{"main":[[{"node":"get Dataset","type":"main","index":0}]]},"get Dataset":{"main":[[{"node":"update scraped data","type":"main","index":0}]]},"run Actor":{"main":[[{"node":"Markdown","type":"main","index":0},{"node":"Notion1","type":"main","index":0},{"node":"AI Agent","type":"main","index":0}]]},"Annonces Html":{"main":[[{"node":"Notion1","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Notion":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"81c848fe-1adb-4802-8209-835cecc6fef1","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-worklow","repo_path":"","subPath":"2025/02/"}