2025/02/Supprimer les Informations Personnellement Identifiables (PII) des Fichiers CSV avec OpenAI.json
{"createdAt":"2025-02-20T16:43:22.228Z","updatedAt":"2025-02-20T16:43:22.228Z","id":"VWyamLumwMWphwWw","name":"Supprimer les Informations Personnellement Identifiables (PII) des Fichiers CSV avec OpenAI","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":"1-hRMnBRYgY6iVJ_youKMyPz83k9GAVYu","cachedResultUrl":"https://drive.google.com/drive/folders/1-hRMnBRYgY6iVJ_youKMyPz83k9GAVYu","cachedResultName":"nnnnnnnnnnn8n"},"event":"fileCreated","options":{}},"id":"d3ae7f06-0c21-4f7e-8430-2bc74ce9ec39","name":"Google Drive Trigger","type":"n8n-nodes-base.googleDriveTrigger","position":[320,80],"typeVersion":1,"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{"binaryPropertyName":"data"}},"id":"a0d44b6c-6ff3-4a0e-a681-65c32d89d836","name":"Google Drive","type":"n8n-nodes-base.googleDrive","position":[560,80],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"options":{}},"id":"72a5f12d-440c-435b-b162-013fbd83b841","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","position":[560,280],"typeVersion":1,"alwaysOutputData":false},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"Analyze the provided tabular data and identify the columns that contain personally identifiable information (PII). Return only the column names that contain PII, separated by commas. Key name: 'content'. Do not include any additional text or explanation.","role":"system"},{"content":"=Here is some tabular data with column headers and two example rows.\n\nHeaders: {{Object.keys($json)}}\n\nExample Row 1: {{Object.values($json)}}\n\n"}]},"jsonOutput":true,"options":{}},"id":"2f9aaaa5-8a38-4f52-821a-8c68d3103b4f","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","position":[180,480],"executeOnce":true,"typeVersion":1.7,"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"numberInputs":3},"id":"0b9eda3c-ddb1-4ce0-a00f-7d9013be8889","name":"Merge","type":"n8n-nodes-base.merge","position":[740,480],"typeVersion":3},{"parameters":{"operation":"createFromText","content":"={{ $json.content }}","name":"={{ $json.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"1F30Qu3csrmMhtcu_prMipeiGm-64VEdd","cachedResultUrl":"https://drive.google.com/drive/folders/1F30Qu3csrmMhtcu_prMipeiGm-64VEdd","cachedResultName":"processed"},"options":{}},"id":"cb3e573b-0c2d-4f1f-8c4d-66376070bc04","name":"Upload to Drive","type":"n8n-nodes-base.googleDrive","position":[1040,480],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"fieldToSplitOut":"name","options":{"destinationFieldName":"originalFilename"}},"id":"61d17d9a-204f-430b-876f-ff9cd7b24ee3","name":"Get filename","type":"n8n-nodes-base.splitOut","position":[320,280],"executeOnce":true,"typeVersion":1},{"parameters":{"fieldToSplitOut":"message.content.content","options":{"destinationFieldName":"data"}},"id":"6415f886-a11b-402f-aa92-1c4de4a0b90a","name":"Get result","type":"n8n-nodes-base.splitOut","position":[500,480],"typeVersion":1},{"parameters":{"jsCode":"// Input: All items from the previous node\nconst input = $input.all();\n\n// Step 1: Extract the PII column names from the first item\nconst firstItem = input[0];\nif (!firstItem.json.data || !firstItem.json.data) {\n  throw new Error(\"PII column names are missing in the input data.\");\n}\nconst piiColumns = firstItem.json.data.split(',').map(col => col.trim());\n//console.log(\"PII Columns to Remove:\", piiColumns);\n\n// Step 2: Remove the first two items and process the remaining rows\nlet rows = input.slice(2).map(item => item.json); // Exclude the first item\n//console.log(\"Rows to convert (before skipping last):\", rows);\n\n\n// Ensure there are rows to process\nif (rows.length === 0) {\n  throw new Error(\"No rows to convert to CSV.\");\n}\n\n// Step 3: Remove PII columns from each row\nconst sanitizedRows = rows.map(row => {\n  const sanitizedRow = { ...row }; // Copy the row\n  piiColumns.forEach(column => delete sanitizedRow[column]); // Remove PII columns\n  return sanitizedRow;\n});\n//console.log(\"Sanitized Rows:\", sanitizedRows);\n\n// Step 4: Extract headers from sanitized rows\nconst headers = Object.keys(sanitizedRows[0]); // Extract updated headers\n//console.log(\"CSV Headers:\", headers);\n\n// Step 5: Convert rows to CSV format\nconst csvRows = [\n  headers.join(','), // Add header row\n  ...sanitizedRows.map(row => \n    headers.map(header => String(row[header] || '').replace(/,/g, '')).join(',') // Match headers with rows\n  )\n];\n\n// Join all rows with a newline character\nconst csvContent = csvRows.join('\\n');\n//console.log(\"CSV Content:\", csvContent);\n\nconst originalFileName = input[1].json.originalFilename;\n\n// Step 7: Generate a new filename\nconst fileExtension = originalFileName.split('.').pop();\nconst baseName = originalFileName.replace(`.${fileExtension}`, '');\nconst newFileName = `${baseName}_PII_removed.${fileExtension}`;\n//console.log(\"New Filename:\", newFileName);\n\n// Step 8: Return the CSV content and filename as JSON\nreturn [\n  {\n    json: {\n      fileName: newFileName, // New file name\n      content: csvContent // CSV content as plain text\n    }\n  }\n];\n"},"id":"649cbaff-581f-46d3-a426-3f3db57ede6a","name":"Remove PII columns","type":"n8n-nodes-base.code","position":[880,480],"typeVersion":2},{"parameters":{"content":"## Remove PII from CSV Files\nThis workflow monitors a Google Drive folder for new CSV files, identifies and removes PII columns using OpenAI, and uploads the sanitized file back to the drive. It requires Google Drive and OpenAI integrations with API access enabled.","height":260},"id":"2eebae57-04fe-425a-8d42-3d8ed41f0a8d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1}],"connections":{"Merge":{"main":[[{"node":"Remove PII columns","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Get result","type":"main","index":0}]]},"Get result":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Get filename":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Google Drive":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"OpenAI","type":"main","index":0},{"node":"Merge","type":"main","index":2}]]},"Remove PII columns":{"main":[[{"node":"Upload to Drive","type":"main","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Get filename","type":"main","index":0},{"node":"Google Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"77ba2c4b-b71f-4d9c-83d1-8bf471e096af","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/02/"}