2025/02/Transcrire des relevés bancaires à Markdown En Utilisant Gemini Vision AI.json
{"createdAt":"2025-02-24T09:19:22.610Z","updatedAt":"2025-03-17T05:25:30.696Z","id":"Szf0HkHqwOIyCKmw","name":"Transcrire des relevés bancaires à Markdown En Utilisant Gemini Vision AI","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"42b6b7ec-de95-47d3-a4ef-6d47a6720ba0","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-1520,280],"typeVersion":1},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"fileName"}]},"options":{}},"id":"a8c8a838-2365-4dff-a25d-ed6552ea5a4b","name":"Sort Pages","type":"n8n-nodes-base.sort","position":[-400,340],"typeVersion":1},{"parameters":{"content":"## Try Me Out!\n\n### This workflow converts a bank statement to markdown, faithfully capturing the details using the power of Vision Language Models (\"VLMs\"). The resulting markdown can then be parsed again by your standard LLM to extract data such as identifying all deposit table rows in the document.\n\nThis workflow is able to handle both downloaded PDFs as well as scanned PDFs. Be sure to protect sensitive data before running this workflow.\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!","height":430.522325581395,"width":437.0502325581392},"id":"ba6656a6-85f6-4e8a-b737-5c813dabcb12","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-2100,20],"typeVersion":1},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1JJpJb8zIdSN_9cLFoJLUUxHuUDC2lOlk","mode":"list","cachedResultName":"RLV_CHQ_300040060000000844188_20150202.pdf","cachedResultUrl":"https://drive.google.com/file/d/1JJpJb8zIdSN_9cLFoJLUUxHuUDC2lOlk/view?usp=drivesdk"},"options":{}},"id":"a9a01a54-e31a-4218-b98e-bd25113fd3f4","name":"Get Bank Statement","type":"n8n-nodes-base.googleDrive","position":[-1320,280],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{},"id":"95c20425-ed5f-4f72-8d2a-58e6b2da821d","name":"Extract Zip File","type":"n8n-nodes-base.compression","position":[-780,340],"typeVersion":1.1},{"parameters":{"jsCode":"let results = [];\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"},"id":"d9618dce-7d3d-46f9-8e20-02513edbe9ac","name":"Images To List","type":"n8n-nodes-base.code","position":[-580,340],"typeVersion":2},{"parameters":{"operation":"resize","width":75,"height":75,"resizeOption":"percent","options":{}},"id":"dd4e8ad3-3fb4-4cc4-b3c8-a627438595fb","name":"Resize Images For AI","type":"n8n-nodes-base.editImage","position":[-180,700],"typeVersion":1},{"parameters":{"content":"## 1. Download Bank Statement PDF\n[Read more about Google Drive node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googledrive)\n\nFor this demonstration, we'll pull an example bank statement off Google Drive however, you can also swap this out for other triggers such as webhook.\n\nYou can use the example bank statement created specifically for this workflow here: https://drive.google.com/file/d/1wS9U7MQDthj57CvEcqG_Llkr-ek6RqGA/view?usp=sharing","height":478.89348837209275,"width":546.4534883720931,"color":7},"id":"ef7579a6-4280-4310-bfae-1c32d02c8405","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-1640,20],"typeVersion":1},{"parameters":{"content":"## 2. Split PDF Pages into Seperate Images\n\nCurrently, the vision model we'll be using can't accept raw PDFs so we'll have to convert our PDF to a image in order to use it. To achieve this, we'll use the free [Stirling PDF webservice](https://stirlingpdf.io/) for convenience but if we need data privacy (recommended!), we could self-host our own [Stirling PDF instance](https://github.com/Stirling-Tools/Stirling-PDF/) instead. Alternatively, feel free to swap this service out for one of your own as long as it can convert PDFs into images!\n\nWe will ask the PDF service to return each page of our statement as separate images, which it does so as a zip file. Next steps is to just unzip the file and convert the output as a list of images.","height":533.5469767441862,"width":848.0232558139535,"color":7},"id":"b450eb49-4b51-4bc1-916d-b1a5bc71f8cf","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1060,40],"typeVersion":1},{"parameters":{"content":"## 3. Convert PDF Pages to Markdown Using Vision Model\n[Learn more about using the Basic LLM node](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainllm)\n\nUnlike traditional OCR, vision models (\"VLMs\") \"transcribe\" what they see so while we shouldn't expect an exact replication of a document, they may perform better making sense of complex document layouts ie. such as with horizontally stacked tables.\n \nIn this demonstration, we can transcribe our bank statement scans to markdown text for the purpose of further processing. With markdown, we can retain tables or columnar data found in the document. We'll employ two optimisations however as a workaround for token and timeout limits (1) we'll only transcribe one page at a time and (2) we'll shrink the pages just a little just enough to speed up processing but not enough to reduce our required resolution.","height":636.0809302325588,"width":775.3441860465115,"color":7},"id":"02901704-c9ff-4963-8b72-cc18ef514ef5","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[-180,0],"typeVersion":1},{"parameters":{"modelName":"models/gemini-1.5-pro-latest","options":{"safetySettings":{"values":[{"category":"HARM_CATEGORY_DANGEROUS_CONTENT","threshold":"BLOCK_NONE"}]}}},"id":"c3c12393-6ac7-4b1a-9844-b66e19b10665","name":"Google Gemini Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[1120,540],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"o3oFKeoPBUiDkJtq","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"## 4. Extract Key Data Confidently From Statement\n[Read more about the Information Extractor](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.information-extractor)\n\nWith our newly generated transcript, let's pull just the deposit line items from our statement. Processing all pages together as images may have been compute-extensive but as text, this is usually no problem at all for our LLM.\n\nFor our example bank statement PDF, the resulting extraction should be 8 table rows where a value exists in the \"deposits\" column.","height":574.3134883720929,"width":719.7534883720941,"color":7},"id":"6c817ca4-ce32-4e65-a609-ad571e733cdf","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[620,100],"typeVersion":1},{"parameters":{"content":"### 💡 About the Example PDF\nScanned PDFs (ie. where each page is a scanned image) are a use-case where extracting PDF text content will not work. Vision models are a great solution as this workflow aims to demonstrate!","height":125.41023255813957,"width":366.00558139534894,"color":5},"id":"f8f40cf8-5772-457d-9830-da66fb34f775","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-1460,520],"typeVersion":1},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text","renameField":true,"outputFieldName":"pages"}]},"options":{}},"id":"34eeda7b-ab95-4404-969c-181808504834","name":"Combine All Pages","type":"n8n-nodes-base.aggregate","position":[660,280],"typeVersion":1},{"parameters":{"content":"### Privacy Warning!\nThis example uses a public third party service. If your data is senstive, please swap this out for the self-hosted version!","height":175,"width":199},"id":"b989bd33-293f-428d-9067-48ff66f32a67","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-1040,580],"typeVersion":1},{"parameters":{"text":"= {{ $json.pages.join('---') }}","schemaType":"manual","inputSchema":"{\n  \"type\": \"array\",\n  \"items\": {\n\t\"type\": \"object\",\n\t\"properties\": {\n      \"date\": { \"type\": \"string\" },\n      \"valeur\": { \"type\": \"string\" },\n      \"description\": { \"type\": \"string\" },\n      \"débit\": { \"type\": \"number\" },\n      \"Crédit\": { \"type\": \"number\" }\n\t}\n  }\n}","options":{"systemPromptTemplate":"Cette déclaration contient des tableaux dont les lignes indiquent les dépôts et les retraits effectués sur le compte de l'utilisateur. Les dépôts et les retraits sont identifiés par le montant figurant dans leurs colonnes respectives. la Nature des opérations correspond à \"description\" dans le output json"}},"id":"b365eb78-f7bb-40cb-9de0-977fa17266d9","name":"Extract All Deposit Table Rows","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[940,340],"typeVersion":1},{"parameters":{"content":"### 💡 Don't use Google?\nFeel free to swap the model out for any state-of-the-art multimodal model which supports image inputs such as GPT4o(-mini) or Claude Sonnet/Opus. Note, I've found Gemini to produce the most accurate and consistent for this example use-case so no guarantees if you switch!","height":130.35162790697677,"width":498.18790697674433,"color":5},"id":"b9feebd7-fb2e-4ef9-83e8-9db09c1d3487","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[100,640],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Tu es un expert en extraction et conversion de données bancaires. Ta tâche est de convertir un relevé bancaire en **txt** en un tableau **Markdown** structuré.\n\n### 🎯 **Objectif :**\n- Extraire uniquement les **transactions bancaires** et les organiser sous forme de tableau Markdown.\n- **Ne pas inclure** d'autres éléments HTML (titres, paragraphes, métadonnées inutiles, etc.).\n\n### 📌 **Format du tableau Markdown :**\n| Date | Valeur | Nature des opérations | Débit | Crédit |\n|------|--------|-----------------------|-------|--------|\n\n### ⚙️ **Règles de conversion :**\n1️⃣ **Exclure les lignes contenant \"sous-total\".**  \n2️⃣ **Conserver uniquement les tableaux avec des en-têtes.** Supprimer tous les autres éléments HTML.  \n3️⃣ **Concaténer les descriptions des opérations multi-lignes** en une seule ligne.  \n4️⃣ **Si plusieurs tables sont adjacentes horizontalement, les empiler verticalement.** Insérer une ligne vide entre chaque tableau Markdown.  \n5️⃣ **Remplacer les séparateurs décimaux par un point** pour les valeurs numériques (ex: `1,23` → `1.23`).  \n6️⃣ **Ne retourner que le tableau Markdown**, sans texte introductif ni explication supplémentaire.\n\n🔽 **Voici le relevé bancaire en txt :**\n{{ $json.text }}","messages":{"messageValues":[{"message":"="}]}},"id":"05d84627-864d-4c78-a2b8-68d07cc24c66","name":"Transcribe to Markdown","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[200,280],"typeVersion":1.4},{"parameters":{"operation":"xls","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[920,-80],"id":"2cff7384-23c6-438d-a5ba-dc3c6e5f5af8","name":"Convert to File"},{"parameters":{"model":"deepseek-r1:8b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[-40,500],"id":"63ebdd63-e4c8-43cf-be14-d21731e2b9aa","name":"Ollama Model","credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"modelName":"models/gemini-1.5-flash-latest","options":{}},"id":"b617e4ff-f521-489f-9852-11bffcef133e","name":"Google Gemini Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","position":[220,500],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"o3oFKeoPBUiDkJtq","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"model":"mistral:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[900,540],"id":"3ad407f7-3d6f-4a6a-8bc9-da293a50c704","name":"Ollama Model1","credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[480,440],"id":"d461f13d-0209-4a2f-bee3-7d4b12ce1b1b","name":"HTML"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"988ce622-87df-4a02-a873-14c73ef2a132","leftValue":"={{ $json[\"fileName\"].split('.').pop() }}","rightValue":"html","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-160,320],"id":"f9d7be28-ba18-4c2a-8306-f478e19bf5e6","name":"Filter"},{"parameters":{"operation":"text","binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[0,320],"id":"c7bec5bc-04e2-41dd-ad52-78853f375d18","name":"Extract from File"},{"parameters":{"model":"llama3.2:latest","options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[100,500],"id":"403d6773-9de1-45bb-8736-9ec3ae3641b9","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"method":"POST","url":"http://stirling-pdf:8080/api/v1/convert/pdf/html","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Content-Type","value":"multipart/form-data"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"fileInput","inputDataFieldName":"data"}]},"options":{}},"id":"5d135048-9a31-4897-913a-aaaf848452e6","name":"Convert PDF to Html","type":"n8n-nodes-base.httpRequest","position":[-1000,240],"typeVersion":4.2},{"parameters":{"method":"POST","url":"http://stirling-pdf:8080/api/v1/misc/auto-split-pdf","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Content-Type","value":"multipart/form-data"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"fileInput","inputDataFieldName":"data"}]},"options":{}},"id":"b167d74e-e6cf-438b-89ee-ea86d581c183","name":"Convert PDF to Html2","type":"n8n-nodes-base.httpRequest","position":[-980,820],"typeVersion":4.2},{"parameters":{"operation":"ods","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-380,900],"id":"a42cfa46-e2df-403f-86e9-c436d43c55b0","name":"Extract from File1"},{"parameters":{"operation":"rtf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-40,960],"id":"3382948a-f234-4a7a-b79c-e224ed8462b7","name":"Extract from File2"},{"parameters":{},"type":"n8n-nodes-docx-converter.docxToText","typeVersion":1,"position":[-700,1000],"id":"fb8cd95a-91ab-475e-8268-688940cc6d46","name":"DOCX to Text"},{"parameters":{"method":"POST","url":"http://stirling-pdf:8080/api/v1/convert/pdf/word","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"*/*"},{"name":"Content-Type","value":"multipart/form-data"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"fileInput","inputDataFieldName":"data"},{"name":"outputFormat","value":"docx"}]},"options":{}},"id":"cc1979a9-5f45-4c49-b8a8-b064419149ba","name":"Convert PDF to word","type":"n8n-nodes-base.httpRequest","position":[-660,600],"typeVersion":4.2}],"connections":{"Sort Pages":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Images To List":{"main":[[{"node":"Sort Pages","type":"main","index":0}]]},"Extract Zip File":{"main":[[{"node":"Images To List","type":"main","index":0}]]},"Combine All Pages":{"main":[[{"node":"Convert to File","type":"main","index":0},{"node":"Extract All Deposit Table Rows","type":"main","index":0}]]},"Get Bank Statement":{"main":[[{"node":"Convert PDF to Html","type":"main","index":0},{"node":"Convert PDF to Html2","type":"main","index":0},{"node":"Convert PDF to word","type":"main","index":0}]]},"Resize Images For AI":{"main":[[]]},"Transcribe to Markdown":{"main":[[{"node":"Combine All Pages","type":"main","index":0},{"node":"HTML","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get Bank Statement","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[]]},"Ollama Model":{"ai_languageModel":[[]]},"Ollama Model1":{"ai_languageModel":[[{"node":"Extract All Deposit Table Rows","type":"ai_languageModel","index":0}]]},"Filter":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Transcribe to Markdown","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Transcribe to Markdown","type":"ai_languageModel","index":0}]]},"Convert PDF to Html":{"main":[[]]},"Convert PDF to Html2":{"main":[[{"node":"Extract Zip File","type":"main","index":0}]]},"Extract All Deposit Table Rows":{"main":[[]]},"DOCX to Text":{"main":[[]]},"Convert PDF to word":{"main":[[{"node":"Extract from File2","type":"main","index":0},{"node":"DOCX to Text","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aeed0d6e-1aa8-4bf9-9364-e1ded6472da5","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/02/"}