.json


{
  "active": false,
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Generate filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "uProc": {
      "main": [
        [
          {
            "node": "Set Page to Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        []
      ]
    },
    "MongoDB1": {
      "main": [
        [
          {
            "node": "Set More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Pages": {
      "main": [
        [
          {
            "node": "Set Page to Scrape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "More Countries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File exists?": {
      "main": [
        [
          {
            "node": "Read Binary File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Prepare countries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract1": {
      "main": [
        [
          {
            "node": "Prepare Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Countries": {
      "main": [
        [],
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set More Pages": {
      "main": [
        [
          {
            "node": "More Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "uProc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Directory": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "File exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate filename": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Documents": {
      "main": [
        [
          {
            "node": "MongoDB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare countries": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File1": {
      "main": [
        [
          {
            "node": "HTML Extract1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Binary File": {
      "main": [
        [
          {
            "node": "Read Binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Page to Scrape": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Create Directory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-23T09:59:19.644Z",
  "id": "9yn7wdaXmClqK3lT",
  "meta": {
    "templateId": "1073"
  },
  "name": "Scrape and store data from multiple website pages",
  "nodes": [
    {
      "parameters": {},
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        380,
        240
      ],
      "typeVersion": 1,
      "id": "6b9a15df-dddd-48b2-b81e-e35b727482c4"
    },
    {
      "parameters": {
        "url": "https://www.theswiftcodes.com/browse-by-country/",
        "responseFormat": "string",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        840,
        240
      ],
      "typeVersion": 1,
      "id": "369877ce-2bd4-4de4-9c82-0d54029a4cd3"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "countries",
              "cssSelector": "ol > li > a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        1040,
        240
      ],
      "typeVersion": 1,
      "id": "c3a50714-7eb3-4ac8-b29e-62ecd7cf660b"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1440,
        240
      ],
      "typeVersion": 1,
      "id": "2812b2df-d121-409e-993c-123f6812b488"
    },
    {
      "parameters": {
        "url": "={{$node[\"Set\"].json[\"url\"]}}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2780,
        160
      ],
      "typeVersion": 1,
      "id": "2998b829-8dc3-4c86-9cd9-3c25fae4a446"
    },
    {
      "parameters": {
        "sourceData": "binary",
        "extractionValues": {
          "values": [
            {
              "key": "next_button",
              "cssSelector": "span.next > a",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "names",
              "cssSelector": "td.table-name",
              "returnArray": true
            },
            {
              "key": "swifts",
              "cssSelector": "td.table-swift",
              "returnArray": true
            },
            {
              "key": "cities",
              "cssSelector": "td.table-city",
              "returnArray": true
            },
            {
              "key": "branches",
              "cssSelector": "td.table-branch",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract1",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        3280,
        20
      ],
      "typeVersion": 1,
      "id": "9e7ba29e-866a-4f16-bbb7-3466ebedb259"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "swifts.meetup",
        "fields": "iso_code,country,page,name,branch,city,swift_code,createdAt,updatedAt",
        "options": {
          "dateFields": "createdAt,updatedAt"
        }
      },
      "name": "MongoDB1",
      "type": "n8n-nodes-base.mongoDb",
      "position": [
        3800,
        20
      ],
      "typeVersion": 1,
      "id": "bdc030ca-25d0-4a48-9729-03d0c9a2715e"
    },
    {
      "parameters": {
        "group": "geographic",
        "tool": "getCountryNormalized",
        "country": "={{$node[\"SplitInBatches\"].json[\"country\"].replace(/[\\/0-9]/g, \"\")}}",
        "additionalOptions": {}
      },
      "name": "uProc",
      "type": "n8n-nodes-base.uproc",
      "position": [
        1620,
        240
      ],
      "typeVersion": 1,
      "id": "f3f934b4-b793-412a-b1a0-2d070a2c14bc"
    },
    {
      "parameters": {
        "functionCode": "var newItems = [];\n\nfor (i = 0; i < items[0].json.swifts.length; i++) {\n  var item = {\n    iso_code: $node['uProc'].json.message.code,\n    country: $node['SplitInBatches'].json.country.replace(/[-\\/0-9]/g, \"\"),\n    page: $node['Set Page to Scrape'].json.page,\n    name: items[0].json.names[i],\n    city: items[0].json.cities[i],\n    branch: items[0].json.branches[i],\n    swift_code: items[0].json.swifts[i],\n    createdAt: new Date(),\n    updatedAt: new Date()\n  }\n  newItems.push({json: item});\n}\n\nreturn newItems;\n\n"
      },
      "name": "Prepare Documents",
      "type": "n8n-nodes-base.function",
      "position": [
        3460,
        20
      ],
      "typeVersion": 1,
      "id": "b7b77f70-2ad3-49fd-84c9-d83123492266"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"SplitInBatches\"].context[\"noItemsLeft\"] + \"\"}}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "More Countries",
      "type": "n8n-nodes-base.if",
      "position": [
        3340,
        520
      ],
      "typeVersion": 1,
      "id": "888e69cf-b2bc-4b02-9678-65585b788843"
    },
    {
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\n\nitem.page = \"\";\nif (staticData.page && staticData.page.length) {\n  item.page = staticData.page;\n} else {\n  item.page = $node['SplitInBatches'].json.country;\n}\nreturn item;\n"
      },
      "name": "Set Page to Scrape",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        1820,
        100
      ],
      "typeVersion": 1,
      "id": "ba80ab3c-f517-4ca3-baae-af6add6c159e"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"more_pages\"] + \"\"}}",
              "value2": "true"
            }
          ]
        }
      },
      "name": "More Pages",
      "type": "n8n-nodes-base.if",
      "position": [
        3600,
        440
      ],
      "typeVersion": 1,
      "id": "439b2b4e-dd53-4ace-97ae-12af1f4c112d"
    },
    {
      "parameters": {
        "functionCode": "var next_page = $node['HTML Extract1'].json.next_button && $node['HTML Extract1'].json.next_button.length ? $node['HTML Extract1'].json.next_button : \"\";\nvar more_pages = next_page.length > 0;\nconst staticData = getWorkflowStaticData('global');\n\n//all current items are after date: needs pagination\nif (more_pages) {\n  staticData.page = next_page;\n} else {\n  //don't check more items in previous pages;\n  delete staticData.page;\n}\n\nreturn [\n  {\n    json: {\n      more_pages: more_pages\n    }\n  }\n];\n"
      },
      "name": "Set More Pages",
      "type": "n8n-nodes-base.function",
      "position": [
        4000,
        20
      ],
      "typeVersion": 1,
      "id": "9da77fa1-a269-47a6-a0b3-8c501ab9e3bc"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "=https://www.theswiftcodes.com{{$node[\"Set Page to Scrape\"].json[\"page\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        1960,
        100
      ],
      "typeVersion": 1,
      "id": "c8c1cfd3-4517-4125-8959-751ef1868c63"
    },
    {
      "parameters": {
        "functionCode": "var generateNameFromUrl = function(url){\n    return url.replace(/[^a-z0-9]/gi, \"_\");\n}\n\nitem.file = generateNameFromUrl(item.url) + \".html\"\nreturn item;"
      },
      "name": "Generate filename",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        2120,
        40
      ],
      "typeVersion": 1,
      "id": "2e72ab4a-37ab-45fc-b8d5-fc40ee78750b"
    },
    {
      "parameters": {
        "filePath": "=/home/node/.cache/scrapper/{{$json[\"file\"]}}"
      },
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        2300,
        40
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "c1a38360-cd62-4d77-92a1-4d200a2d19c2",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Read Binary File\"].binary.data.mimeType}}",
              "value2": "text/html"
            }
          ]
        }
      },
      "name": "File exists?",
      "type": "n8n-nodes-base.if",
      "position": [
        2480,
        40
      ],
      "typeVersion": 1,
      "id": "53ddeaf6-5c69-4f02-936c-df9a63569197"
    },
    {
      "parameters": {
        "fileName": "=/home/node/.cache/scrapper/{{$node[\"Generate filename\"].json[\"file\"]}}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "position": [
        2920,
        160
      ],
      "typeVersion": 1,
      "id": "bed745c8-89c0-447c-a75b-148b4ced0cb1"
    },
    {
      "parameters": {
        "filePath": "=/home/node/.cache/scrapper/{{$json[\"file\"]}}"
      },
      "name": "Read Binary File1",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        3100,
        20
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "32cecd2a-e1d4-4f68-b1b4-e04deca80001",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const waitTimeSeconds = 1;\n\nreturn new Promise((resolve) => {\n  setTimeout(() => {\n    resolve([]);\n  }, waitTimeSeconds * 1000);\n});\n"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.function",
      "position": [
        2620,
        160
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "8aa9625a-db3a-4ade-a7b2-18f79ca9c3fe",
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "return items[0].json.countries.map(function(country) {\n  return {\n  json: {country: country}\n  }\n});"
      },
      "name": "Prepare countries",
      "type": "n8n-nodes-base.function",
      "position": [
        1220,
        240
      ],
      "typeVersion": 1,
      "id": "6ba5f18b-8bd5-487a-b0bd-6af85ec1dd8f"
    },
    {
      "parameters": {
        "command": "mkdir -p  /home/node/.cache/scrapper/"
      },
      "name": "Create Directory",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        600,
        240
      ],
      "typeVersion": 1,
      "id": "68510276-1d7f-4e08-bbc2-9e033271c8a7",
      "continueOnFail": true
    },
    {
      "parameters": {
        "collection": "swifts.meetup",
        "options": {},
        "query": "={\"swift_code\": \"{{$json[\"swift_code\"]}}\"}"
      },
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "position": [
        3620,
        -60
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "id": "215fe7fb-25a8-4b2f-8b92-6dc99af2863d",
      "disabled": true
    }
  ],
  "pinData": {},
  "repo_name": "n8n-worklow",
  "repo_owner": "Olivier340",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-23T09:59:19.644Z",
  "versionId": "cc1ff3af-fbd0-4f68-9dd2-a1e82009182a"
}