2025/02/Telegram Messaging Agent for Text/Audio/Images.json
{"createdAt":"2025-02-24T08:49:33.947Z","updatedAt":"2025-07-25T04:48:38.000Z","id":"fdzJ2TNZjs8c8hBt","name":"Telegram Messaging Agent for Text/Audio/Images","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"5fe3c0d8-bd61-4943-b152-9e6315134520","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Listen for Telegram Events').item.json.body.message.from.first_name }}","rightValue":"={{ $json.first_name }}"},{"id":"98a0ea91-0567-459c-bbce-06abc14a49ce","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Listen for Telegram Events').item.json.body.message.from.last_name }}","rightValue":"={{ $json.last_name }}"},{"id":"18a96c1f-f2a0-4a2a-b789-606763df4423","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $('Listen for Telegram Events').item.json.body.message.from.id }}","rightValue":"={{ $json.id }}"}]},"looseTypeValidation":"=","options":{}},"id":"bb289c53-0851-42d3-b59b-89040d4b473d","name":"Check User & Chat ID","type":"n8n-nodes-base.if","position":[1080,760],"typeVersion":2.2},{"parameters":{"chatId":"={{ $json.body.message.chat.id }}","text":"=Unable to process your message.","additionalFields":{"appendAttribution":false}},"id":"10564f0b-f5a0-4317-9c9e-ccc4e7e680e3","name":"Error message","type":"n8n-nodes-base.telegram","position":[1300,1040],"typeVersion":1.2,"webhookId":"de531980-9b35-4753-b2ad-c0787950fa21"},{"parameters":{"content":"# Receive Telegram Message with Webhook","height":652,"width":929},"id":"33799895-864b-4122-939d-3dc4453354e9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[600,580],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"your-endpoint","options":{"binaryPropertyName":"data"}},"id":"346588e4-e955-4e8a-bd62-63d710dfdf4a","name":"Listen for Telegram Events","type":"n8n-nodes-base.webhook","position":[660,760],"webhookId":"b4ed4c80-a655-4ff2-87d6-febd5280d343","typeVersion":2},{"parameters":{"url":"=https://api.telegram.org/{{ $json.token }}/setWebhook","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $json.test_url }}"}]},"options":{}},"id":"af06f228-c3ba-486e-81ba-e889c498a1e2","name":"Set Webhook Test URL","type":"n8n-nodes-base.httpRequest","position":[1240,340],"typeVersion":4.2},{"parameters":{"content":"# Telegram Webhook Tools\n\n## Setting your Telegram Bot WebHook the Easy Way\n","height":532,"width":1638,"color":3},"id":"0eab39f5-33b3-4168-9275-43c7c86475c6","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[600,20],"typeVersion":1},{"parameters":{"url":"=https://api.telegram.org/{{ $json.token }}/getWebhookInfo","options":{}},"id":"7889dd35-02cb-4200-b215-1e9b81cf8ab9","name":"Get Telegram Webhook Info","type":"n8n-nodes-base.httpRequest","position":[740,340],"typeVersion":4.2},{"parameters":{"content":"# Process Audio","height":429,"width":1113,"color":4},"id":"e2f6c176-0152-4d71-8094-536251b092c3","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1560,580],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"17989eb0-feca-4631-b5c8-34b1d4a6c72b","name":"image_file_id","type":"string","value":"={{ $json.body.message.photo.last().file_id }}"},{"id":"9317d7ae-dffd-4b1f-9a9c-b3cc4f1e0dd3","name":"caption","type":"string","value":"={{ $json.body.message.caption }}"}]},"options":{}},"id":"56142ae5-2f59-4338-ba10-c823314885bb","name":"Image Schema","type":"n8n-nodes-base.set","position":[1640,1660],"typeVersion":3.4},{"parameters":{"content":"# Process Image","height":432,"width":1289,"color":6},"id":"0baf50ee-3b63-4d84-ac00-f0dedb8b4283","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1560,1500],"typeVersion":1},{"parameters":{"content":"# How to set up a Telegram Bot WebHook\n\n## WebHook Setup Process\n\n**Basic Concept**\nA WebHook allows your Telegram bot to automatically receive updates instead of manually polling the Bot API.\n\n**Setup Method**\nTo set a WebHook, make a GET request using this URL format:\n```\nhttps://api.telegram.org/bot{my_bot_token}/setWebhook?url={url_to_send_updates_to}\n```\nWhere:\n- `my_bot_token`: Your bot token from BotFather\n- `url_to_send_updates_to`: Your HTTPS endpoint that handles bot updates\n\n\n**Verification**\nTo verify the WebHook setup, use:\n```\nhttps://api.telegram.org/bot{my_bot_token}/getWebhookInfo\n```\n\nA successful response looks like:\n```json\n{\n \"ok\": true,\n \"result\": {\n   \"url\": \"https://www.example.com/my-telegram-bot/\",\n   \"has_custom_certificate\": false,\n   \"pending_update_count\": 0,\n   \"max_connections\": 40\n }\n}\n```\n\n\nThis method provides a simple and efficient way to handle Telegram bot updates automatically through webhooks rather than manual polling.","height":860,"width":800,"color":7},"id":"69e3ab8f-bbc9-4618-8bc7-94731f2b2d6c","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-220,20],"typeVersion":1},{"parameters":{"options":{}},"id":"16ab6a79-3187-44b6-94e3-7cacb13020cb","name":"gpt-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[2060,860],"typeVersion":1,"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"resource":"file","fileId":"={{ $json.body.message.voice.file_id }}"},"id":"6d59db1b-1680-44e3-adea-1e527b200ec7","name":"Get Audio File","type":"n8n-nodes-base.telegram","position":[1640,700],"typeVersion":1.2,"webhookId":"f5b5ce36-7181-432c-8296-e21e8b27bd6c"},{"parameters":{"resource":"file","fileId":"={{ $json.image_file_id }}"},"id":"8ea149bf-8f46-4115-83da-7e35b0ea2c1a","name":"Get Image","type":"n8n-nodes-base.telegram","position":[1840,1660],"typeVersion":1.2,"webhookId":"2adc204c-80bd-4e85-94dc-9ec8617e93de"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"GPT-4O-MINI"},"inputType":"base64","options":{}},"id":"82c88f28-8a94-4dbe-af28-50527830df52","name":"Analyze Image","type":"@n8n/n8n-nodes-langchain.openAi","position":[2440,1660],"typeVersion":1.6},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"id":"374701a9-75ee-47fa-8b1f-8da1e4ef9f18","name":"Transcribe Recording","type":"@n8n/n8n-nodes-langchain.openAi","position":[1840,700],"typeVersion":1.6},{"parameters":{"content":"# Process Text","height":429,"width":1113,"color":5},"id":"eaaa0a93-60b4-49a2-ae29-1ca7df5f3b49","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1560,1040],"typeVersion":1},{"parameters":{"options":{}},"id":"2f6d19e8-bc63-4a53-a7ec-adfd7c2a27df","name":"gpt-4o-mini1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[2060,1320],"typeVersion":1},{"parameters":{"chatId":"=1234567891","text":"={{ $json.description }} for Testing","additionalFields":{}},"id":"9095cdb4-9e4b-4011-a4db-6b8d4b77244e","name":"Test Webhook Status","type":"n8n-nodes-base.telegram","position":[1440,340],"typeVersion":1.2,"webhookId":"b99ee4b8-5a95-44a9-a3d3-d6592e2e90bb"},{"parameters":{"chatId":"=1234567891","text":"={{ $json.description }} for Production","additionalFields":{}},"id":"bf6bcef6-de7c-4d83-a0ca-ce8d6662bb36","name":"Production Webhook Status","type":"n8n-nodes-base.telegram","position":[1960,340],"typeVersion":1.2,"webhookId":"48e6feff-3bf4-4918-9a5e-afa9d720b58b"},{"parameters":{"url":"=https://api.telegram.org/{{ $json.token }}/setWebhook","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{ $json.production_url }}"}]},"options":{}},"id":"704197f9-9e7a-46a0-b82e-29b032a26a33","name":"Set Webhook Production URL","type":"n8n-nodes-base.httpRequest","position":[1760,340],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"b37b48ba-8fef-4e6c-bbca-73e6c2e1e0a8","name":"text","type":"string","value":"={{ $json.body.message.text }}"}]},"options":{}},"id":"4c4a82f2-bea9-4030-adc8-2009b2c3f284","name":"Edit Fields","type":"n8n-nodes-base.set","position":[1840,1160],"typeVersion":3.4},{"parameters":{"chatId":"={{ $('Listen for Telegram Events').item.json.body.message.chat.id }}","text":"=Task message: <i>{{ $json.text }}</i>","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"585c90da-ae93-4e17-b3f3-835ac61860b5","name":"Audio Task Message","type":"n8n-nodes-base.telegram","position":[2440,640],"typeVersion":1.2,"webhookId":"f30b6ff7-4ff2-407d-98d8-1ad7e26e1c4d"},{"parameters":{"chatId":"={{ $('Listen for Telegram Events').item.json.body.message.chat.id }}","text":"=Other message: <i>{{ $json.text }}</i>","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"8130110d-382a-4369-b890-4ceda64ae631","name":"Audio Other Message","type":"n8n-nodes-base.telegram","position":[2440,820],"typeVersion":1.2,"webhookId":"f91abe1d-b4b3-4ef8-b550-3a42c632bc02"},{"parameters":{"chatId":"={{ $('Listen for Telegram Events').item.json.body.message.chat.id }}","text":"=Task message: <i>{{ $json.text }}</i>","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"6f7a0dbd-ad33-4721-ac46-a4838eec8461","name":"Text Task Message","type":"n8n-nodes-base.telegram","position":[2440,1100],"typeVersion":1.2,"webhookId":"63b47fee-4e05-43ee-9e21-4a1db0b982e9","credentials":{"telegramApi":{"id":"9aWKzSaGcHyxa8yE","name":"n8n_oga_bot"}}},{"parameters":{"chatId":"={{ $('Listen for Telegram Events').item.json.body.message.chat.id }}","text":"=Other message: <i>{{ $json.text }}</i>","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"id":"dc0a44ef-1020-4d05-948c-a639914eb72b","name":"Text Other Message","type":"n8n-nodes-base.telegram","position":[2440,1280],"typeVersion":1.2,"webhookId":"f796791e-182a-4fd5-9304-3a5e82605cf5"},{"parameters":{"chatId":"={{ $('Listen for Telegram Events').item.json.body.message.chat.id }}","text":"={{ $json.content }}","additionalFields":{"appendAttribution":false}},"id":"45f89122-f2a1-422d-9a3b-0d675572d7f7","name":"Image Message","type":"n8n-nodes-base.telegram","position":[2640,1660],"typeVersion":1.2,"webhookId":"d500eaaa-e021-4bfe-a220-160e9f4e7260"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"={{ $json.result.file_path }}"}},"id":"154f4f22-baaa-41e0-80f0-0d264e8ca635","name":"Convert to Image File","type":"n8n-nodes-base.convertToFile","position":[2240,1660],"typeVersion":1.1},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"4ba2a575-5aeb-4d47-a789-d15705e22c5a","name":"Extract from File to Base64","type":"n8n-nodes-base.extractFromFile","position":[2040,1660],"typeVersion":1},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"task","description":"If the message is about about creating a task/todo"},{"category":"other","description":"If the message is not about creating a task/todo "}]},"options":{}},"id":"2e4210fb-7549-472f-acd4-541580bedcbf","name":"Text Classifier Audio","type":"@n8n/n8n-nodes-langchain.textClassifier","position":[2040,700],"typeVersion":1},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"task","description":"If the message is about about creating a task/todo"},{"category":"other","description":"If the message is not about creating a task/todo "}]},"options":{}},"id":"d7621dea-978e-42d0-bf6c-a8574075614f","name":"Text Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","position":[2040,1160],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"87811892-85f5-4578-a149-3edd94d3815a","name":"token","type":"string","value":"bot[your-telegram-bot-token]"},{"id":"d2b9ab83-44ad-4741-aac9-1feed974c015","name":"test_url","type":"string","value":"https://[your-url]/webhook-test/[your-endpoint]"},{"id":"0c671fbf-aa2c-42ef-9e8b-398ac38358d0","name":"production_url","type":"string","value":"https://[your-url]/webhook/[your-endpoint]"}]},"options":{}},"id":"ae0bf420-8881-4d98-857d-a074100976e3","name":"Telegram Token & Webhooks","type":"n8n-nodes-base.set","position":[1360,60],"typeVersion":3.4},{"parameters":{"chatId":"=1234567891","text":"={{ JSON.stringify($json.result, null, 2)  }}","additionalFields":{}},"id":"c9c5508d-99a4-4048-948e-8a5e54a9ab4b","name":"Get Webhook Status","type":"n8n-nodes-base.telegram","position":[940,340],"typeVersion":1.2,"webhookId":"cf4cd710-1bfb-4bbe-9212-ff9ca106cee4"},{"parameters":{"assignments":{"assignments":[{"id":"0cea6da1-652a-4c1e-94c3-30608ced90f8","name":"first_name","type":"string","value":"First Name"},{"id":"b90280c6-3e36-49ca-9e7e-e15c42d256cc","name":"last_name","type":"string","value":"Last Name"},{"id":"f6d86283-16ca-447e-8427-7d3d190babc0","name":"id","type":"number","value":12345678999}]},"options":{}},"id":"99acc2d1-a284-49d2-96e7-1aa93d842071","name":"Validation","type":"n8n-nodes-base.set","position":[880,760],"typeVersion":3.4},{"parameters":{"content":"## Validate Telegram User\n","height":260,"width":420,"color":7},"id":"a37a9e0d-ca8c-4443-8fc8-e051cc89482f","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[820,700],"typeVersion":1},{"parameters":{"content":"## Webhook Status","height":240,"width":460,"color":7},"id":"d89b883b-36c7-4ab3-af4f-0c5ab1000a57","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[660,280],"typeVersion":1},{"parameters":{"content":"## Set Webhook for Testing","height":240,"width":460,"color":7},"id":"f2730748-185f-4006-b364-4930ec7ecc76","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[1180,280],"typeVersion":1},{"parameters":{"content":"## Set Webhook for Production","height":240,"width":480,"color":7},"id":"4216273e-bb81-4398-8223-864c3135d64c","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[1700,280],"typeVersion":1},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"operator":{"type":"object","operation":"exists","singleValue":true},"leftValue":"={{ $json.body.message.voice }}","rightValue":""}]},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"342f0883-d959-44a2-b80d-379e39c76218","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.body.message.text }}","rightValue":""}]},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"ded3a600-f861-413a-8892-3fc5ea935ecb","operator":{"type":"array","operation":"exists","singleValue":true},"leftValue":"={{ $json.body.message.photo }}","rightValue":""}]},"renameOutput":true,"outputKey":"image"}]},"options":{"fallbackOutput":"extra"}},"id":"838ee0a7-caf9-4879-90a7-1e0cd774bf63","name":"Message Router","type":"n8n-nodes-base.switch","position":[1300,760],"typeVersion":3.2}],"connections":{"Get Image":{"main":[[{"node":"Extract from File to Base64","type":"main","index":0}]]},"Validation":{"main":[[{"node":"Check User & Chat ID","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"gpt-4o-mini":{"ai_languageModel":[[{"node":"Text Classifier Audio","type":"ai_languageModel","index":0}]]},"Image Schema":{"main":[[{"node":"Get Image","type":"main","index":0}]]},"gpt-4o-mini1":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Analyze Image":{"main":[[{"node":"Image Message","type":"main","index":0}]]},"Get Audio File":{"main":[[{"node":"Transcribe Recording","type":"main","index":0}]]},"Message Router":{"main":[[{"node":"Get Audio File","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Image Schema","type":"main","index":0}],[{"node":"Error message","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Text Task Message","type":"main","index":0}],[{"node":"Text Other Message","type":"main","index":0}]]},"Check User & Chat ID":{"main":[[{"node":"Message Router","type":"main","index":0}],[{"node":"Error message","type":"main","index":0}]]},"Set Webhook Test URL":{"main":[[{"node":"Test Webhook Status","type":"main","index":0}]]},"Transcribe Recording":{"main":[[{"node":"Text Classifier Audio","type":"main","index":0}]]},"Convert to Image File":{"main":[[{"node":"Analyze Image","type":"main","index":0}]]},"Text Classifier Audio":{"main":[[{"node":"Audio Task Message","type":"main","index":0}],[{"node":"Audio Other Message","type":"main","index":0}]]},"Get Telegram Webhook Info":{"main":[[{"node":"Get Webhook Status","type":"main","index":0}]]},"Telegram Token & Webhooks":{"main":[[{"node":"Set Webhook Production URL","type":"main","index":0},{"node":"Set Webhook Test URL","type":"main","index":0},{"node":"Get Telegram Webhook Info","type":"main","index":0}]]},"Listen for Telegram Events":{"main":[[{"node":"Validation","type":"main","index":0}]]},"Set Webhook Production URL":{"main":[[{"node":"Production Webhook Status","type":"main","index":0}]]},"Extract from File to Base64":{"main":[[{"node":"Convert to Image File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"87886c94-f7fe-4424-a851-97c4e110c251","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/02/"}