2025/06/Web Scraper.json
{"createdAt":"2025-06-04T13:29:02.175Z","updatedAt":"2025-06-04T13:56:05.817Z","id":"nFKzQaPUCwSl1zOY","name":"Web Scraper","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"openai/gpt-4.1","options":{}},"id":"94862bfd-306e-428e-a610-98c382ff86b6","name":"OpenRouter Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","position":[320,380],"typeVersion":1,"credentials":{"openRouterApi":{"id":"mP6to1Hs7rtnpaOF","name":"OpenRouter account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"name\": { \"type\": \"string\" },\n      \"description\": { \"type\": \"string\" },\n      \"rating\": { \"type\": \"number\" },\n      \"reviews\": { \"type\": \"integer\" },\n      \"price\": { \"type\": \"string\" }\n    },\n    \"required\": [\"name\", \"description\", \"rating\", \"reviews\", \"price\"]\n  }\n}"},"id":"7d3d76ae-8861-4592-b88a-876ba671bf2d","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","position":[600,380],"typeVersion":1.2},{"parameters":{"method":"POST","url":"https://api.brightdata.com/request","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"{{BRIGHTDATA_TOKEN}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"zone","value":"web_unlocker1"},{"name":"url","value":"={{ $json.url }}"},{"name":"format","value":"raw"}]},"options":{}},"id":"403a0410-eeb1-4e20-9e7c-fd866433d345","name":"scrap url","type":"n8n-nodes-base.httpRequest","position":[-60,200],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"2F8ghauTiKjGPnod","name":"Bright Data Header Auth account"}}},{"parameters":{"content":"## Web Scraper API\n\n[Inscription - Free Trial](https://get.brightdata.com/website-scraper)"},"id":"ac8f76f3-ee01-421b-a0c4-b5fcee2d1956","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-140,0],"typeVersion":1},{"parameters":{},"id":"956290e1-9783-48d6-9c62-e5a8ffa5da22","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-740,340],"typeVersion":1},{"parameters":{"options":{}},"id":"5868e257-d2c7-4232-af06-d7bda15d206e","name":"url","type":"n8n-nodes-base.splitInBatches","position":[-280,340],"typeVersion":3},{"parameters":{"documentId":"{{WEB_SHEET_ID}}","sheetName":"{{TRACK_SHEET_GID}}","options":{}},"id":"2df12313-31af-4ef8-9902-b8f2e495917a","name":"get urls to scrape","type":"n8n-nodes-base.googleSheets","position":[-500,340],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"zdCtsjBLk8S5V1ad","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// CleanHtmlFunction.js\n// Purpose: n8n Function node to clean HTML: remove doctype, scripts, styles, head, comments, classes, extra blank lines, and non-whitelisted tags\n\nreturn items.map(item => {\n  const rawHtml = item.json.data;\n\n  // 1) remove doctype, scripts, styles, comments and head section, and strip class attributes\n  let cleaned = rawHtml\n    .replace(/<!doctype html>/gi, '')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n    .replace(/<!--[\\s\\S]*?-->/g, '')\n    .replace(/<head[\\s\\S]*?<\\/head>/gi, '')\n    .replace(/\\sclass=\"[^\"]*\"/gi, '');\n\n  // 2) define whitelist of tags to keep\n  const allowedTags = [\n    'h1','h2','h3','h4','h5','h6',\n    'p','ul','ol','li',\n    'strong','em','a','blockquote',\n    'code','pre'\n  ];\n\n  // 3) strip out all tags not in the whitelist, reconstruct allowed tags cleanly\n  cleaned = cleaned.replace(\n    /<\\/?([a-z][a-z0-9]*)\\b[^>]*>/gi,\n    (match, tagName) => {\n      const name = tagName.toLowerCase();\n      if (allowedTags.includes(name)) {\n        return match.startsWith('</') ? `</${name}>` : `<${name}>`;\n      }\n      return '';\n    }\n  );\n\n  // 4) collapse multiple blank or whitespace-only lines into a single newline\n  cleaned = cleaned.replace(/(\\s*\\r?\\n\\s*){2,}/g, '\\n');\n\n  // 5) trim leading/trailing whitespace\n  cleaned = cleaned.trim();\n\n  return {\n    json: { cleanedHtml: cleaned }\n  };\n});"},"id":"c2981d3c-2382-4a1d-b6e8-4d75dda557cb","name":"clean html","type":"n8n-nodes-base.code","position":[160,200],"typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $json.cleanedHtml }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=You are an expert in web page scraping. Provide a structured response in JSON format. Only the response, without commentary.\n\nExtract the product information for {{ $(‘url’).item.json.url.split(’/s?k=’)[1].split(’&’)[0] }} present on the page.\n\nname\ndescription\nrating\nreviews\nprice"}]}},"id":"a8f55301-ad04-4d12-8996-8ede2a720eee","name":"extract data","type":"@n8n/n8n-nodes-langchain.chainLlm","position":[380,200],"typeVersion":1.6},{"parameters":{"operation":"append","documentId":"{{WEB_SHEET_ID}}","sheetName":"{{RESULTS_SHEET_GID}}","columns":{"value":{"name":"={{ $json.output.name }}","price":"={{ $json.output.price }}","rating":"={{ $json.output.rating }}","reviews":"={{ $json.output.reviews }}","description":"={{ $json.output.description }}"},"schema":[{"id":"name","type":"string"},{"id":"description","type":"string"},{"id":"rating","type":"string"},{"id":"reviews","type":"string"},{"id":"price","type":"string"}],"mappingMode":"defineBelow"},"options":{}},"id":"df04cb3a-cb8b-4e29-a316-c90cc7588f64","name":"add results","type":"n8n-nodes-base.googleSheets","position":[980,340],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"zdCtsjBLk8S5V1ad","name":"Google Sheets account"}}},{"parameters":{"fieldToSplitOut":"output","include":"allOtherFields","options":{}},"id":"9e62856d-461b-4cbf-8eb9-3453640eba1e","name":"Split items","type":"n8n-nodes-base.splitOut","position":[760,200],"typeVersion":1}],"connections":{"url":{"main":[[],[{"node":"scrap url","type":"main","index":0}]]},"scrap url":{"main":[[{"node":"clean html","type":"main","index":0}]]},"clean html":{"main":[[{"node":"extract data","type":"main","index":0}]]},"Split items":{"main":[[{"node":"add results","type":"main","index":0}]]},"add results":{"main":[[{"node":"url","type":"main","index":0}]]},"extract data":{"main":[[{"node":"Split items","type":"main","index":0}]]},"get urls to scrape":{"main":[[{"node":"url","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"extract data","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"extract data","type":"ai_outputParser","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"get urls to scrape","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"96033043-ce08-4ebe-93d9-218a72a2c72f","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/06/"}