2025/03/__Calendar_Agent.json
{"createdAt":"2025-03-13T09:20:55.920Z","updatedAt":"2025-03-13T09:21:26.565Z","id":"UHLF9oFmSeVruSZY","name":"__Calendar_Agent","active":false,"nodes":[{"parameters":{"options":{}},"id":"2c2ca955-7399-4d6c-a542-d01b3c4b731d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1300,300],"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"1a792501-4044-4ef8-8844-5b1453bbe487","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-380,140]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"df111c4f-1e44-4178-b4b6-729185508643","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-380,-60]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user's calendar.\n\n**Calendar Management Tools**  \n   - Use \"Create Event with Attendee\" when an event includes a participant.  \n   - Use \"Create Event\" for solo events.   \n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."}},"id":"cf9ec517-7877-454d-9a37-1a46e453c564","name":"Calendar Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1060,40],"onError":"continueErrorOutput"},{"parameters":{"calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-600,300],"id":"45a9ad90-00c2-4b1e-aa9f-6e51c0e79c18","name":"Create Event with Attendee","credentials":{"googleCalendarOAuth2Api":{"id":"L0OimkxzO6Oz5R72","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":[],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-740,400],"id":"fe62c22a-663e-45bb-a9b8-0d0bca242de6","name":"Create Event","credentials":{"googleCalendarOAuth2Api":{"id":"L0OimkxzO6Oz5R72","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"timeMin":"={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-880,440],"id":"47d52f0d-63c8-4e8a-9789-897c9d8981a8","name":"Get Events","credentials":{"googleCalendarOAuth2Api":{"id":"L0OimkxzO6Oz5R72","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-1020,420],"id":"8ed88f58-fbe8-42be-92de-8c86e92d5168","name":"Delete Event","credentials":{"googleCalendarOAuth2Api":{"id":"L0OimkxzO6Oz5R72","name":"Google Calendar account"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-1160,380],"id":"3b680761-1f44-46cb-acaa-851d259d4ffd","name":"Update Event","credentials":{"googleCalendarOAuth2Api":{"id":"L0OimkxzO6Oz5R72","name":"Google Calendar account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1300,40],"id":"7075194a-9722-4c61-be6d-c7462b937254","name":"When Executed by Another Workflow"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Calendar Agent","type":"ai_languageModel","index":0}]]},"Calendar Agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Calendar Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1ae82b93-4eb5-44dc-b7c5-c977a2bb935e","triggerCount":0,"tags":[{"createdAt":"2025-03-13T09:14:05.263Z","updatedAt":"2025-03-13T09:14:05.263Z","id":"bV8FAGYck0l4O5dn","name":"Assistant-personnel"},{"createdAt":"2025-03-13T09:12:01.991Z","updatedAt":"2025-03-13T09:12:01.991Z","id":"Xofq7nfMvlcYr7ow","name":"Sub-workflow"}],"repo_owner":"Olivier340","repo_name":"n8n-worklow","repo_path":"","subPath":"2025/03/"}