2025/03/Evaluator-Optimizer.json
{"createdAt":"2025-03-14T08:56:47.037Z","updatedAt":"2025-03-14T15:26:24.281Z","id":"tds8DQmuF9MDbD0X","name":"Evaluator-Optimizer","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# Evaluator-Optimizer\n✅ Ensures High-Quality Outputs – AI doesn’t just generate code, it verifies and refines until all requirements are met.\n\n✅ Reduces Errors & Manual Review – Automates verification, minimizing the need for human debugging.\n\n✅ Flexible & Scalable – Can be adapted to content generation, structured data validation, and UI text refinement.\n\n✅ Optimized AI Performance – The iterative approach ensures continuous improvement of AI-generated responses.","height":220,"width":820,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-180,-40],"typeVersion":1,"id":"3d00fcad-a4c7-4098-8362-cae036af3b1a","name":"Sticky Note"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-280,300],"id":"8beea9ce-53fd-47ca-947d-0e74bc18fb1f","name":"When chat message received","webhookId":"fab30ad7-8a5a-4477-be98-1aa43b92b052"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[240,680],"id":"8ba69e72-3fbc-437f-a4e6-70ca623ac33b","name":"4o mini","credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"options":{"systemMessage":"=# Overview\nYou are an expert biography writer. You will receive information about a person, and your job is to create an entire profile using the information they give you. You are allowed to be creative."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-60,300],"id":"adeee7cc-0acf-4474-8c15-1a16490a59c2","name":"Biography Agent"},{"parameters":{"promptType":"define","text":"=Here is the biography:\n{{ $json.bio }}","options":{"systemMessage":"=## Overview\nYou are an expert biography evaluator. Your job is to provide feedback on the biography.\n\n## Criteria\n- Make sure the biography includes a quote from the person. This could be their favorite saying or a piece of advice. It is essential that every biography has a quote.\n- Make sure the biography is light and humorous.\n- Make sure the biography has NO emojis.\n\n## Output\nYou only need to output feedback. If the biography is finished and all the criteria are met, simply output \"Finished\"."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[520,300],"id":"0818945e-bd03-4363-84e3-3b0a2ddb05fa","name":"Evaluator Agent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8d931f3d-b391-4be9-a50a-cc4a73c31b71","leftValue":"={{ $json.output }}","rightValue":"Finished","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[880,300],"id":"eae29b69-9a44-4223-b51f-942a8502ff81","name":"Evaluate"},{"parameters":{"promptType":"define","text":"=Biography: {{ $('Set Bio').item.json.bio }}\n\nFeedback: {{ $('Evaluator Agent').item.json.output }}","options":{"systemMessage":"=# Overview\nYou are an expert biography revisor. Your job is to take the biography and optimize it based on the feedback."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1200,380],"id":"6c68a7be-837b-4347-8009-6a5e35112372","name":"Optimizer Agent"},{"parameters":{"operation":"update","documentURL":"1XFVOi65tAiYyk38w1K4Dv_2d_1RgCDe8SalY4AfgFWY","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $('Set Bio').item.json.bio }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1280,160],"id":"bbe56404-be80-4867-96a0-cba27e1a7ead","name":"Push to Docs","credentials":{"googleDocsOAuth2Api":{"id":"AnbG7ywoMNNieAAu","name":"Google Docs account"}}},{"parameters":{"assignments":{"assignments":[{"id":"adf17d4d-a89e-4f97-9d31-5e74834428fc","name":"bio","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,300],"id":"38101c09-8f15-4649-aa8e-c16c6f16f6a0","name":"Set Bio"},{"parameters":{"model":"deepseek-r1:8b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[80,660],"id":"f0810401-a0fb-4573-807f-dac7f86e6b68","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Biography Agent","type":"main","index":0}]]},"4o mini":{"ai_languageModel":[[{"node":"Evaluator Agent","type":"ai_languageModel","index":0},{"node":"Optimizer Agent","type":"ai_languageModel","index":0},{"node":"Biography Agent","type":"ai_languageModel","index":0}]]},"Biography Agent":{"main":[[{"node":"Set Bio","type":"main","index":0}]]},"Evaluator Agent":{"main":[[{"node":"Evaluate","type":"main","index":0}]]},"Evaluate":{"main":[[{"node":"Push to Docs","type":"main","index":0}],[{"node":"Optimizer Agent","type":"main","index":0}]]},"Optimizer Agent":{"main":[[{"node":"Set Bio","type":"main","index":0}]]},"Set Bio":{"main":[[{"node":"Evaluator Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0e5c8e24-e287-48ad-ab78-8ccd284176ac","triggerCount":0,"tags":[{"createdAt":"2025-03-14T08:57:18.912Z","updatedAt":"2025-03-14T08:57:18.912Z","id":"oIge5Hf6vQbDhMVe","name":"Agentic"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/03/"}