2025/03/Extract Title tag and Meta description from url for SEO analysis with Airtable.json
{"createdAt":"2025-03-30T10:25:04.038Z","updatedAt":"2025-03-30T10:25:07.803Z","id":"n30X7NnvdeWMdOIh","name":"Extract Title tag and Meta description from url for SEO analysis with Airtable","active":false,"nodes":[{"parameters":{},"id":"6bca28fc-a4d7-469b-9771-fa9302782f61","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[-400,420],"typeVersion":1},{"parameters":{"operation":"search","base":{"__rl":true,"mode":"list","value":"appkkDhXu7vZCFspD","cachedResultUrl":"https://airtable.com/appkkDhXu7vZCFspD","cachedResultName":"n8n test"},"table":{"__rl":true,"mode":"list","value":"tblMdmUiSTBrvrLq3","cachedResultUrl":"https://airtable.com/appkkDhXu7vZCFspD/tblMdmUiSTBrvrLq3","cachedResultName":"SEO meta title & desc"},"filterByFormula":"=AND(url != \"\", {title tag} = \"\", {meta desc} = \"\")","returnAll":false,"limit":10,"options":{}},"id":"70615c9c-22e4-4fa1-8316-a9b0c86116dd","name":"Get records","type":"n8n-nodes-base.airtable","position":[-180,420],"typeVersion":2},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"05f7a833-dfea-422e-ae28-3f8859264587","name":"Get url content","type":"n8n-nodes-base.httpRequest","position":[20,420],"typeVersion":4.2},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"titleTag","cssSelector":"title"},{"key":"metaDesc","cssSelector":"meta[name=\"description\"]","returnValue":"attribute","attribute":"content"}]},"options":{}},"id":"e0aa6e2a-db1a-4e74-be29-73d7e07c7d2a","name":"Extract title tag and meta description","type":"n8n-nodes-base.html","position":[220,420],"typeVersion":1.2},{"parameters":{"operation":"update","base":{"__rl":true,"mode":"list","value":"appkkDhXu7vZCFspD","cachedResultUrl":"https://airtable.com/appkkDhXu7vZCFspD","cachedResultName":"n8n test"},"table":{"__rl":true,"mode":"list","value":"tblMdmUiSTBrvrLq3","cachedResultUrl":"https://airtable.com/appkkDhXu7vZCFspD/tblMdmUiSTBrvrLq3","cachedResultName":"SEO meta title & desc"},"columns":{"value":{"id":"={{ $('Get records').item.json.id }}","meta desc":"={{ $json.metaDesc }}","title tag":"={{ $json.titleTag }}"},"schema":[{"id":"id","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"id","defaultMatch":true},{"id":"url","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"url","defaultMatch":false,"canBeUsedToMatch":true},{"id":"title tag","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"title tag","defaultMatch":false,"canBeUsedToMatch":true},{"id":"meta desc","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"meta desc","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Created","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Created","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Calculation","type":"string","display":true,"removed":true,"readOnly":true,"required":false,"displayName":"Calculation","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["id"]},"options":{}},"id":"8536c93a-7136-419c-ad83-272ceda1a6fd","name":"Update original record","type":"n8n-nodes-base.airtable","position":[460,420],"typeVersion":2},{"parameters":{"content":"## How to use the workflow\n1. Set a Base in Airtable with a table with the following structure:\n  `url`, `title tag`, `meta desc`\n2. Connect Airtable to the nodes and, with the following formula, get all the records that miss `title tag` and `meta desc`.\n3. Put a bunch of url in the table in the field `url` and let the workflow work.\n\n## Extra\n\n* You can also calculate the length for title tag and meta desc using formula field inside Airtable. This is the formula:\n  `LEN({title tag})` or `LEN({meta desc})`\n* You can automate the process calling a Webhook from Airtable. For this, you need an Airtable paid plan.","height":316.6010101010099,"width":862.7929292929296},"id":"5a032bdf-d1e4-4cde-9455-5bf5556127c5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-340,60],"typeVersion":1}],"connections":{"Get records":{"main":[[{"node":"Get url content","type":"main","index":0}]]},"Get url content":{"main":[[{"node":"Extract title tag and meta description","type":"main","index":0}]]},"When clicking \"Test workflow\"":{"main":[[{"node":"Get records","type":"main","index":0}]]},"Extract title tag and meta description":{"main":[[{"node":"Update original record","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1cd2fe13-d6f4-4c30-94a7-836ff35af8ac","triggerCount":0,"tags":[{"createdAt":"2025-03-30T10:19:36.471Z","updatedAt":"2025-03-30T10:19:36.471Z","id":"2awtnFv76lnUjGU5","name":"Seo"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/03/"}