2025/03/Get Google Search Results (SERPs) for SEO Research.json
{"createdAt":"2025-03-30T10:24:15.544Z","updatedAt":"2025-03-30T10:24:22.360Z","id":"C68xGG5UEGLB8Og5","name":"Get Google Search Results (SERPs) for SEO Research","active":false,"nodes":[{"parameters":{},"id":"6ace794b-2cab-405b-8d6a-bb8b8f6f3e9c","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[440,460],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"b3e662aa-7ace-45ca-815a-0ad1d65ef7a0","name":"organicResults","type":"array","value":"={{ $json.result.organicResults }}"},{"id":"ac655bf2-181f-4117-a7d6-aa4ec2738bd9","name":"peopleAlsoAsk","type":"array","value":"={{ $json.result.peopleAlsoAsk }}"},{"id":"9e045f00-006e-4b8b-863d-cb25d682b69d","name":"searchQuery","type":"string","value":"={{ $json.result.searchQuery.term }}"},{"id":"08c1f92b-deac-4951-863f-721e0714739b","name":"paidAds","type":"string","value":"={{ $json.result.paidResults }}"}]},"options":{}},"id":"84098323-a169-4dbb-9b30-fbbe6586fce1","name":"SERP results","type":"n8n-nodes-base.set","position":[1540,460],"notesInFlow":true,"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"organicResults","options":{}},"id":"0652a6bf-4dc5-4231-b72b-1a12ac1f5ab5","name":"Separate","type":"n8n-nodes-base.splitOut","position":[1700,460],"notesInFlow":true,"typeVersion":1,"notes":"Split SERP into rows"},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"6dd422fc-0b66-4d7e-9b40-ee4a6d713e83","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.title }}","rightValue":""}]},"options":{}},"id":"5ec5bf5e-94a5-49b5-a05c-83aa915fdcdf","name":"Title <> Empty","type":"n8n-nodes-base.filter","position":[1880,460],"notesInFlow":true,"typeVersion":2,"notes":"Title is not empty"},{"parameters":{"jsCode":"const items = $input.all(); // Get all input items\n\n// Group items by searchQuery\nconst groupedItems = items.reduce((acc, item) => {\n  const searchQuery = item.json.searchQuery || 'default';\n  if (!acc[searchQuery]) {\n    acc[searchQuery] = [];\n  }\n  acc[searchQuery].push(item);\n  return acc;\n}, {});\n\n// Assign positions within each group\nconst result = Object.values(groupedItems).flatMap(group => \n  group.map((item, index) => ({\n    json: {\n      ...item.json,\n      position: index + 1, // Add the position based on the index within the group\n    },\n  }))\n);\n\nreturn result; // Return the modified items"},"id":"c7918175-1ca5-45e2-884d-fe3b6342ab9e","name":"Assign SERP #pos","type":"n8n-nodes-base.code","position":[2260,460],"notesInFlow":true,"typeVersion":2,"notes":"Assign SERP position"},{"parameters":{"method":"POST","url":"https://api.scrapingrobot.com","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"https://www.google.com\",\n  \"module\": \"GoogleScraper\",\n  \"params\": {\n    \"query\": \"{{ $json[\"Keyword\"] }}\"\n  }\n}  ","options":{"batching":{"batch":{"batchSize":20}}}},"id":"0273327e-7353-4799-b687-9cd8670632e1","name":"GET SERP","type":"n8n-nodes-base.httpRequest","position":[1360,460],"notesInFlow":false,"retryOnFail":false,"typeVersion":4.2,"notes":"SERP results - scrapingRobot\n\nhttps://dashboard.scrapingrobot.com/dashboard"},{"parameters":{"content":"**Get data from airtable and check if already done** ","height":205.68165856370325,"width":669.4820758928554,"color":7},"id":"9b4b2c6c-20b3-4095-b646-880d79ea0f47","name":"Sticky Note29","type":"n8n-nodes-base.stickyNote","position":[600,420],"typeVersion":1},{"parameters":{"content":"**POST to Scraping Robot API** ","height":205.68165856370314,"width":208.81803918109597,"color":7},"id":"4bf3e612-3015-4c64-976f-6e868b65a2e5","name":"Sticky Note30","type":"n8n-nodes-base.stickyNote","position":[1420,540],"typeVersion":1},{"parameters":{"content":"**REQUIRED**\nConnect to your database of keywords. Name the column 'Keyword' or alternatively enter keywords in the `Set Keywords to get SERPs for` array","height":119.14378614369562,"width":284.87764467541297,"color":3},"id":"16cdad7e-54a3-44ec-98c9-5b390bf746a9","name":"Sticky Note22","type":"n8n-nodes-base.stickyNote","position":[600,640],"typeVersion":1},{"parameters":{},"id":"6e7e6ac2-b390-45ea-ac14-c9fcf3fea2f5","name":"Connect to your own database - ","type":"n8n-nodes-base.noOp","position":[660,460],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"859ba768-9ae1-4d11-bab9-6b5f085adc59","name":"Keyword","type":"array","value":"[\"constant contact email automation\", \"business worfklow software\", \"n8n automation\"]"}]},"options":{}},"id":"eeb9ee9c-7090-4d35-bfed-d52c464017cc","name":"Set Keywords to get SERPs for","type":"n8n-nodes-base.set","position":[900,460],"notesInFlow":true,"typeVersion":3.4,"notes":"Array of keywords"},{"parameters":{"content":"**REQUIRED**\nUpdate the Auth parameter to your own [Scraping Robot](https://billing.scrapingrobot.com/aff.php?aff=2) token\n\n**Query Auth parameter**\nname - token\nvalue - your-own-api-key","height":150.1322172211123,"width":284.87764467541297,"color":3},"id":"df41bfe6-6895-41e5-8327-fb384cbb8e95","name":"Sticky Note24","type":"n8n-nodes-base.stickyNote","position":[1280,640],"typeVersion":1},{"parameters":{"content":"**Splits out queries for organic search and assigns them a ranking 1-10** ","height":205.68165856370314,"width":749.5454794091054,"color":7},"id":"711f1871-d727-430b-85ec-dd52acf2632d","name":"Sticky Note31","type":"n8n-nodes-base.stickyNote","position":[1780,540],"typeVersion":1},{"parameters":{"content":"**Update record in own Database**","height":223.71949738241096,"width":231.51775697271012,"color":7},"id":"f49ab850-9633-4b98-8649-a60454659b3f","name":"Sticky Note27","type":"n8n-nodes-base.stickyNote","position":[2440,400],"typeVersion":1},{"parameters":{},"id":"25e7fb18-898d-462e-8d5d-32fe349f95b5","name":"Connect to your own database2","type":"n8n-nodes-base.noOp","position":[2520,460],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"e69839b4-9ab5-4792-b6c0-a4d0e1172fa8","name":"searchQuery","type":"string","value":"={{ $('SERP results').item.json.searchQuery }}"}]},"includeOtherFields":true,"options":{}},"id":"5f037ac9-704d-4155-b6ab-60d91dcefb41","name":"Assign SearchQuery","type":"n8n-nodes-base.set","position":[2060,460],"typeVersion":3.4},{"parameters":{"fieldToSplitOut":"Keyword","options":{}},"id":"390043fe-9188-4cec-811a-6402bd9d1f8e","name":"Split out Keywords","type":"n8n-nodes-base.splitOut","position":[1100,460],"typeVersion":1},{"parameters":{"content":"**REQUIRED** \nOutput the data to your own data source e.g. Airtable","height":91.91340067739628,"width":284.87764467541297,"color":3},"id":"0a4764d7-30bd-4c34-b46d-83621ac84253","name":"Sticky Note40","type":"n8n-nodes-base.stickyNote","position":[2440,640],"typeVersion":1},{"parameters":{"content":"## Get Google Search Results (SERPs) for SEO Research\n\n## Use Case\nResearch search engine rankings for SEO analysis:\n- You need to track keyword rankings for your website\n- You want to analyze competitor positions in search results\n- You need data for SEO competition analysis\n- You want to monitor SERP changes over time\n\n## What this Workflow Does\nThe workflow uses ScrapingRobot API to fetch Google search results:\n- Retrieves SERP data for your target keywords\n- Captures URL rankings and page titles\n- Processes up to 5000 searches with free account\n- Organizes results for SEO analysis\n\n## Setup\n1. Create a [ScrapingRobot account](https://billing.scrapingrobot.com/aff.php?aff=2) and get your API key\n2. Add your ScrapingRobot API key to the HTTP Request node's `GET SERP` token parameter\n3. Either connect your keyword database (column name \"Keyword\") or use the \"Set Keywords\" node\n4. Configure your preferred output database connection\n\n## How to Adjust it to Your Needs\n- Modify keyword source to pull from different databases\n- Adjust the number of SERP results to capture\n- Customize output format for your reporting needs\n\n\nMade by Simon @ [automake.io](https://automake.io)","height":735.4043641289052,"width":697.67602815855,"color":4},"id":"9ce1e288-238a-4e08-9bd2-48408be58203","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","position":[-300,60],"typeVersion":1}],"connections":{"GET SERP":{"main":[[{"node":"SERP results","type":"main","index":0}]]},"Separate":{"main":[[{"node":"Title <> Empty","type":"main","index":0}]]},"SERP results":{"main":[[{"node":"Separate","type":"main","index":0}]]},"Title <> Empty":{"main":[[{"node":"Assign SearchQuery","type":"main","index":0}]]},"Assign SERP #pos":{"main":[[{"node":"Connect to your own database2","type":"main","index":0}]]},"Assign SearchQuery":{"main":[[{"node":"Assign SERP #pos","type":"main","index":0}]]},"Split out Keywords":{"main":[[{"node":"GET SERP","type":"main","index":0}]]},"Set Keywords to get SERPs for":{"main":[[{"node":"Split out Keywords","type":"main","index":0}]]},"Connect to your own database - ":{"main":[[{"node":"Set Keywords to get SERPs for","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Connect to your own database - ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1d5d443c-a995-4f8e-b07a-eecd6740fb2b","triggerCount":0,"tags":[{"createdAt":"2025-03-30T10:19:36.471Z","updatedAt":"2025-03-30T10:19:36.471Z","id":"2awtnFv76lnUjGU5","name":"Seo"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/03/"}