2025/03/google_maps_scraper-launch.json
{"createdAt":"2025-03-13T15:19:52.488Z","updatedAt":"2025-03-13T15:21:19.547Z","id":"b4Cs8k4FieDQ4lCx","name":"google_maps_scraper-launch","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"airtableTokenApi","baseId":{"__rl":true,"value":"app7uvqIaU8s03Lls","mode":"id"},"tableId":{"__rl":true,"value":"tblmx8ut6NAO34oIP","mode":"id"},"triggerField":"Created","additionalFields":{"viewId":"Grid view"}},"id":"308fbb46-a8ac-462b-a934-2b94ccfe1e33","name":"Airtable Trigger","type":"n8n-nodes-base.airtableTrigger","typeVersion":1,"position":[-1620,120]},{"parameters":{"options":{}},"id":"4421a0ad-f010-4b89-a003-d5aa82d2a92d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1420,380],"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"fieldToSplitOut":"output.locations","options":{}},"id":"df5d3f37-fe02-43f5-bda4-3ce46a0a2853","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-900,120]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"output\": [\"hvac+in+koreatown\", \"hvac+in+westlake\"]\n}"},"id":"1b4b249f-c77f-4b3e-8ae7-870509aac2bc","name":"Structure for Google Maps","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-960,380]},{"parameters":{"workflowId":{"__rl":true,"value":"m0Vv9lAH4xEoqcGJ","mode":"list","cachedResultName":"Google maps scraper"},"mode":"each","options":{"waitForSubWorkflow":true}},"id":"b1457f0c-2c42-4604-90f8-62a684011448","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[-40,140]},{"parameters":{"assignments":{"assignments":[{"id":"49190463-692b-49d6-8c32-db26c92f40f2","name":"output","value":"={{ $json['output.locations'] }}","type":"string"},{"id":"0d142593-081a-4b36-9d28-848d22e4b5a2","name":"location","value":"={{ $('Airtable Trigger').item.json.fields.Name }}","type":"string"}]},"options":{}},"id":"931a0787-66ec-4f85-ae4e-7d998e63484b","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-680,120]},{"parameters":{"operation":"update","base":{"__rl":true,"value":"app7uvqIaU8s03Lls","mode":"list","cachedResultName":"Google Maps Scraped Emails","cachedResultUrl":"https://airtable.com/app7uvqIaU8s03Lls"},"table":{"__rl":true,"value":"tblmx8ut6NAO34oIP","mode":"list","cachedResultName":"location","cachedResultUrl":"https://airtable.com/app7uvqIaU8s03Lls/tblmx8ut6NAO34oIP"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Airtable Trigger').item.json.id }}","Status":"Done"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Business","displayName":"Business","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Scrape","value":"Scrape"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false},{"id":"emails","displayName":"emails","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"LastModified","displayName":"LastModified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}]},"options":{}},"id":"ae85ff47-bb56-4d8d-9176-42c18cd065dd","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-180,-20]},{"parameters":{"options":{}},"id":"82e67959-9745-4c9d-bef0-de128777197d","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-440,120]},{"parameters":{"promptType":"define","text":"=You are a Google Maps search assistant designed to create highly specific and localized search queries.\n\nYou will be provided with a business type and a city name. Your task is to generate a comprehensive list of search queries by incorporating the subregions and neighborhoods of the given city.\n\nRequirements:\nUse the format: <business type> + in + <subregion> for each query.\nInclude all relevant subregions or neighborhoods of the specified city.\nEnsure proper capitalization and spelling in all search queries.\nAim to cover every subregion within the city to maximize search accuracy and reach.\n\nExample:\nBusiness: HVAC\nCity: Los Angeles\n\nOutput:\n\nhvac+in+crestview\nhvac+in+downtown\nhvac+in+brentwood\nhvac+in+hollywood\nhvac+in+echo+park\n... and so on, until all subregions are listed.\n\nYour goal is to provide a complete and exhaustive list for any city and business type provided.\n\nPlease create search queries in  {{ $json.fields.Name }} city and {{ $json.fields.Business }} business.\n\n**IMPORTANT**\n\nAlways include + signs instead of spaces in the search queries.\nOutput in a valid JSON format, for example:\n\n{\n\"locations\": [\"hvac+in+crestview\", \"hvac+in+downtown\"]\n}","hasOutputParser":true},"id":"08af1f6b-8ed7-4846-b83a-352534f7f453","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-1280,120]}],"connections":{"Airtable Trigger":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Split Out1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Structure for Google Maps":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Loop Over Items":{"main":[[{"node":"Airtable","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Split Out1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"309ccf68-9535-4aac-b0dd-2559c00efe32","triggerCount":0,"tags":[{"createdAt":"2025-03-13T09:12:58.701Z","updatedAt":"2025-03-13T09:12:58.701Z","id":"KAkHJSNW3CxNo4dk","name":"Call-Sub-Workflows"},{"createdAt":"2025-03-13T15:20:45.862Z","updatedAt":"2025-03-13T15:20:45.862Z","id":"tm10GdOzPvsXaclp","name":"Scrapping"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/03/"}