2025/03/Google maps scraper.json
{"createdAt":"2025-03-13T15:22:13.846Z","updatedAt":"2025-03-13T15:22:24.721Z","id":"WgHePNjUKQDbARSp","name":"Google maps scraper","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8bb9eee3-ac76-4e8b-9179-749c427265fc","leftValue":"={{ $json.url }}","rightValue":"(google|gstatic|ggpht|schema\\.org|example\\.com|sentry-next\\.wixpress\\.com|imli\\.com|sentry\\.wixpress\\.com|ingest\\.sentry\\.io)","operator":{"type":"string","operation":"notRegex"}}],"combinator":"and"},"options":{}},"id":"8fc906c2-5a82-4cab-99dd-42659c2a8368","name":"filter Gmail emails","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-3060,240],"alwaysOutputData":true},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"6370dab7-8c19-4499-9cd1-74b53240d7e4","name":"get URL data","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2440,360],"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"id":"ecbc92d0-eda5-4865-8069-c8a66454f6ce","name":"Remove Duplicates","type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-2840,240]},{"parameters":{"options":{}},"id":"b04ca132-1164-4df6-b791-d19f7057d9d7","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2620,240],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const data = $input.first().json.data\n\nconst regex =  /https:\\/\\/[^\\s\"']+/g;\n\nlet urls = data.match(regex) || [];\n\nreturn urls.map(url => {\n   const domainMatch = url.match(/https:\\/\\/[^\\/]+/);\n   const domain = domainMatch ? domainMatch[0] : url;\n  return { json: { url: domain } };\n});\n"},"id":"35515d40-e0a8-4ed6-81a7-11f95db6eb0a","name":"extract Domains","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3280,240]},{"parameters":{"assignments":{"assignments":[{"id":"a31053b6-d1ab-41fb-8398-da14b8e355ca","name":"url","value":"={{ $('Loop Over Items').item.json.url }}","type":"string"},{"id":"7bcfefb5-14d4-48e8-bc2b-e3e3dc7a7824","name":"data","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"9113985b-317d-4cc9-8948-0423a63e652f","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2280,480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b47b3096-1c6c-4a37-b6b5-34c6089ac4cc","leftValue":"={{ $json.emails[0].email }}","rightValue":"nothing found","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"40fbbef2-f897-4ddb-9843-ec7dce286ac2","name":"emails with valid Domains","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1740,40],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"63aa716a-de7a-4b98-b7b6-d777d0477530","name":"=email","value":"={{ $json.email.toLowerCase() }}","type":"string"}]},"options":{}},"id":"86c33089-bc6b-49bd-b2b0-255a731e4998","name":"to lower case","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1300,40]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ab145b3-2ff4-404a-ad70-56b29ea346a3","leftValue":"={{ $json.data }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"58b40525-4f36-4643-880e-c5d6a7e125ef","name":"Filter1","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2400,200],"alwaysOutputData":true},{"parameters":{"options":{}},"id":"104d7475-1bc2-4b2d-bebb-d3bd56a32dc9","name":"Loop Over URLs1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2100,60],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const url = $input.first().json.url;\nconst regex = /https?:\\/\\/(?:www\\.)?([^\\/]+)/;\nconst match = url.match(regex);\n\nif (match) {\n    return  {json: {domain: match[1] } }\n}\n"},"id":"387034e3-8045-47c1-aa6b-d66944289b74","name":"extract only Domain","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1880,160],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const htmlContent = $('Loop Over URLs1').first().json.data;\n\nconst domain = $input.first().json.domain;\n\nconst emailRegex = new RegExp(`[a-zA-Z0-9._%+-]+@${domain.replace(/\\./g, '\\\\.')}`, 'g');\n\nconst emails = htmlContent.match(emailRegex) || []; \n\n// If no emails found, return ['nothing found']\nconst result = emails.length === 0 \n  ? [{ email: 'nothing found' }] \n  : emails\n      .filter((email, index, self) => self.indexOf(email) === index) // Remove duplicates\n      .map(email => ({ email }));\n\nconsole.log(result);\n\nreturn  { emails: result };\n\n"},"id":"71303334-50a3-41fb-94b2-384efbb6681e","name":"find Domain related emails","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1680,280],"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"url":"=https://www.google.com/maps/search/{{ $json.output }}","options":{}},"id":"035f3ecc-d9bf-4fa3-afbe-3f9adf71e099","name":"get Location","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3500,240]},{"parameters":{"fieldToSplitOut":"emails","options":{}},"id":"8de3cbc7-c60f-428b-a3b9-7e336f518e4a","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1520,40],"alwaysOutputData":true},{"parameters":{"options":{}},"id":"da528a1e-5400-4788-b4e2-123b48201533","name":"Remove Duplicates1","type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-1080,40]},{"parameters":{},"id":"49af00b8-ec35-4792-b38c-e8773d828024","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-3700,240]},{"parameters":{"operation":"create","base":{"__rl":true,"value":"app7uvqIaU8s03Lls","mode":"list","cachedResultName":"Google Maps Scraped Emails","cachedResultUrl":"https://airtable.com/app7uvqIaU8s03Lls"},"table":{"__rl":true,"value":"tblXbe3gEdSiqI0Gv","mode":"list","cachedResultName":"emails","cachedResultUrl":"https://airtable.com/app7uvqIaU8s03Lls/tblXbe3gEdSiqI0Gv"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Remove Duplicates1').item.json.email }}","Search Term":"={{ $('Execute Workflow Trigger').item.json.output }}","Location":"={{ [$('Execute Workflow Trigger').item.json.location] }}"},"matchingColumns":[],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Search Term","displayName":"Search Term","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false}]},"options":{"typecast":true}},"id":"8cbc0c0e-3133-4ae8-83f6-3e4633091d03","name":"create records","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-260,-40]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b2591021-be57-4c55-b372-b27ef2bb0f33","leftValue":"={{ $json.email }}","rightValue":"=^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"id":"c3f19431-1696-4fbd-99a5-a04ddfeca3ec","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-760,40]},{"parameters":{},"id":"16dc3030-f4aa-4c13-8277-a45eb7891813","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-260,160]}],"connections":{"filter Gmail emails":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"get URL data":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Filter1","type":"main","index":0}],[{"node":"get URL data","type":"main","index":0}]]},"extract Domains":{"main":[[{"node":"filter Gmail emails","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"emails with valid Domains":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"to lower case":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Loop Over URLs1","type":"main","index":0}]]},"Loop Over URLs1":{"main":[[{"node":"emails with valid Domains","type":"main","index":0}],[{"node":"extract only Domain","type":"main","index":0}]]},"extract only Domain":{"main":[[{"node":"find Domain related emails","type":"main","index":0}]]},"find Domain related emails":{"main":[[{"node":"Loop Over URLs1","type":"main","index":0}]]},"get Location":{"main":[[{"node":"extract Domains","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"to lower case","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"If","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"get Location","type":"main","index":0}]]},"If":{"main":[[{"node":"create records","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Execute Workflow Trigger":[{"json":{"output":"hvac+in+crestview","location":"Los Angeles"}}]},"versionId":"f3be4743-1f19-45a0-aa4c-1805f53bcded","triggerCount":0,"tags":[{"createdAt":"2025-03-13T09:12:01.991Z","updatedAt":"2025-03-13T09:12:01.991Z","id":"Xofq7nfMvlcYr7ow","name":"Sub-workflow"},{"createdAt":"2025-03-13T15:20:45.862Z","updatedAt":"2025-03-13T15:20:45.862Z","id":"tm10GdOzPvsXaclp","name":"Scrapping"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/03/"}