2025/03/Générer des Données de Volume de Recherche de Mots-clés SEO à l'aide de Google API.json
{"createdAt":"2025-03-30T10:23:08.450Z","updatedAt":"2025-03-30T10:23:29.330Z","id":"mW7fSYoysHqMD4GA","name":"Générer des Données de Volume de Recherche de Mots-clés SEO à l'aide de Google API","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"bd597d1d-5baf-4a80-a2c5-c4236e3db064","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[520,520],"typeVersion":1},{"parameters":{"content":"## Generate SEO Keyword Search Volume Data using Google API\n\n## Use Case\nGenerate accurate search volume data for SEO keyword research:\n- You have a list of potential keywords to target for your website SEO but don't know their actual search volume\n- You need historical data to identify seasonal trends in keyword popularity\n- You want to assess keyword difficulty to prioritize your content strategy\n- You need data-driven insights for planning your SEO campaigns\n\n## What this Workflow Does\nThe workflow connects to Google's Keyword Planner API to retrieve keyword metrics for your SEO research:\n\n- Fetches monthly search volume for each keyword\n- Provides historical trends data for the past 12 months\n- Calculates keyword difficulty scores\n- Delivers competition metrics from Google Ads\n\n\n## Setup\n1. Fill the `Set 20 Keywords` with up to 20 Keywords of your choosing in an array e.g. [\"keyword 1\", \"keyword 2\",...]\n2. Create a Google Ads API account and add credentials to `Get Search Data` node\n3. Replace the `Connect to your own database` with your own database for the output\n\n\n## How to Adjust it to Your Needs\n- Change the `Set 20 Keywords` node input to a source of your choosing e.g. Airtable database with 20 keywords\n- Connect to output source of your choosing \n\n\nMade by Simon @ automake.io","height":843.3412992154545,"width":657.3293805248016,"color":4},"id":"77a89e48-f477-4e20-85e3-c843092ad567","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-220,80],"typeVersion":1},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"1277ad97-5308-49b2-923d-d467ccf5b7d6","name":"Split Out by KW","type":"n8n-nodes-base.splitOut","position":[1220,520],"notesInFlow":true,"typeVersion":1},{"parameters":{"content":"**Set up to 20 keywords** ","height":249.10159911061476,"width":250.00985945500486,"color":7},"id":"44b28797-7b22-402c-a22e-71c357c57418","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[680,460],"typeVersion":1},{"parameters":{"content":"**Update record in own Database**","height":213.62075341687063,"width":231.51775697271012,"color":7},"id":"37d75b25-c32c-4a05-8930-054342391593","name":"Sticky Note25","type":"n8n-nodes-base.stickyNote","position":[1440,460],"typeVersion":1},{"parameters":{"content":"**POST request to Google API for Keyword Data**","height":250.67161641737852,"width":475.3228796552902,"color":7},"id":"7299b437-0925-4fd0-bcb6-ccb13b2ff58a","name":"Sticky Note26","type":"n8n-nodes-base.stickyNote","position":[940,460],"typeVersion":1},{"parameters":{"content":"**REQUIRED**\nRemove pinned data in 'Set >= 20 Keywords' to test and connect to own datasource if desired","height":94.39142091152823,"width":248.59379819295242,"color":3},"id":"45253893-1d32-4f3f-a09c-3a52c3d7fb69","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","position":[660,720],"typeVersion":1},{"parameters":{"content":"**REQUIRED**\nAt this time 15/10/2024 this API endpoint is the latest, it will need to be updated as it changes\nhttps://developers.google.com/google-ads/api/docs/concepts/call-structure\n\n**Replace the following in the HTTP request with your own account values**\n- URL >> customer_id must be your own account customer id e.g. '1234567890' in https://googleads.googleapis.com/v16/customers/1234567890:generateKeywordHistoricalMetrics\n- developer-token\n- login-customer-id","height":217.5249520543415,"width":723.161826981043,"color":3},"id":"55494f9a-71f9-42e0-b76c-e6b64dfca3f9","name":"Sticky Note20","type":"n8n-nodes-base.stickyNote","position":[920,720],"typeVersion":1},{"parameters":{"content":"**REQUIRED**\nConnect to your own database / GSheet / Airtable base to output these","height":80,"width":284.87764467541297,"color":3},"id":"8bd64055-8c1b-47fb-abde-dc93a3a0bc8d","name":"Sticky Note21","type":"n8n-nodes-base.stickyNote","position":[1440,360],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"973e949e-1afd-4378-8482-d2168532eff6","name":"Keyword","type":"array","value":"=[\"workflow automation software\", \"enterprise workflow automation\", \"finance automation software\", \"saas automation platform\", \"automation roi calculator\", \"hr process automation\", \"data synchronization software\", \"n8n workflow automation\", \"scalable business operations\", \"n8n vs zapier\", \"lead generation automation\", \"automation consulting services\", \"n8n automation\", \"marketing automation tools\", \"custom automation solutions\", \"ecommerce automation solutions\", \"business process automation\", \"small business automation\", \"no code automation\", \"crm automation integration\"] "}]},"options":{}},"id":"b1a94f1c-aabe-43d8-a532-0cd5177a11f1","name":"Set >=20 Keywords","type":"n8n-nodes-base.set","position":[720,520],"notesInFlow":true,"typeVersion":3.4,"notes":"Insert up to 20 keywords to test"},{"parameters":{},"id":"b9796aca-c041-408b-ab5c-ead4b265a353","name":"Connect to your own database.","type":"n8n-nodes-base.noOp","position":[1500,520],"typeVersion":1},{"parameters":{"method":"POST","url":"https://googleads.googleapis.com/v16/customers/{customer_id}:generateKeywordHistoricalMetrics","authentication":"predefinedCredentialType","nodeCredentialType":"googleAdsOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"},{"name":"developer-token","value":"replace-with-value"},{"name":"login-customer-id","value":"replace-with-value"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"keywords","value":"={{ $json.Keyword }}"},{"name":"keywordPlanNetwork","value":"GOOGLE_SEARCH"}]},"options":{}},"id":"7798764d-0e39-4b33-844d-40e7f12aa9d5","name":"Get Search Data","type":"n8n-nodes-base.httpRequest","position":[1000,520],"notesInFlow":false,"retryOnFail":true,"typeVersion":4.2,"notes":"Seed KW with Vol & Comp\n\nhttps://developers.google.com/google-ads/api/docs/concepts/call-structure Google API call structure"}],"connections":{"Get Search Data":{"main":[[{"node":"Split Out by KW","type":"main","index":0}]]},"Split Out by KW":{"main":[[{"node":"Connect to your own database.","type":"main","index":0}]]},"Set >=20 Keywords":{"main":[[{"node":"Get Search Data","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set >=20 Keywords","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Set >=20 Keywords":[{"json":{"Keyword":["workflow automation software","enterprise workflow automation","finance automation software","saas automation platform","automation roi calculator","hr process automation","data synchronization software","n8n workflow automation","scalable business operations","n8n vs zapier","lead generation automation","automation consulting services","n8n automation","marketing automation tools","custom automation solutions","ecommerce automation solutions","business process automation","small business automation","no code automation","crm automation integration"]}}]},"versionId":"b3bc6d2b-ccca-42b7-93ba-d663b366281c","triggerCount":0,"tags":[{"createdAt":"2025-03-30T10:19:36.471Z","updatedAt":"2025-03-30T10:19:36.471Z","id":"2awtnFv76lnUjGU5","name":"Seo"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/03/"}