2025/03/Jarvis.json
{"createdAt":"2025-03-25T07:23:03.705Z","updatedAt":"2025-03-25T07:46:29.227Z","id":"b5q9MmUBaYMclhtJ","name":"Jarvis","active":false,"nodes":[{"parameters":{"name":"emailAgent","description":"Call this tool for any email actions.","workflowId":{"__rl":true,"value":"KHIoltiUe0hfcxTT","mode":"list","cachedResultName":"__Email_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[40,840],"id":"6b974c98-086c-4466-8429-507249038665","name":"Email Agent"},{"parameters":{"name":"contactAgent","description":"Call this tool for any contact related actions.","workflowId":{"__rl":true,"value":"KG5b3cHrIfvg7tX1","mode":"list","cachedResultName":"__Contact_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[320,840],"id":"a431915b-dcc2-4b5d-ac43-184c6df145e4","name":"Contact Agent"},{"parameters":{"name":"contentCreator","description":"Call this tool to create blog posts.","workflowId":{"__rl":true,"value":"URkiocaTe4AAS4hV","mode":"list","cachedResultName":"__Content_Creator_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[460,840],"id":"0b9125bd-3bfd-4b8b-a368-b51e6f862532","name":"Content Creator Agent"},{"parameters":{"toolDescription":"Use this tool to search the internet","method":"POST","url":"https://api.tavily.com/search","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"api_key\": \"YOUR-API-KEY\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"What the user has requested to search the internet for","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[500,520],"id":"6ce946d2-14e8-44fc-8b08-b959e250dc22","name":"Tavily"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[640,520],"id":"0d3b3b43-5da6-47aa-b339-c84445ddc1ee","name":"Calculator"},{"parameters":{"name":"calendarAgent","description":"Call this tool for any calendar action.","workflowId":{"__rl":true,"value":"UHLF9oFmSeVruSZY","mode":"list","cachedResultName":"__Calendar_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[180,840],"id":"784b7e46-451d-4f0b-b8a6-5ed4ef34b9cb","name":"Calendar Agent"},{"parameters":{"httpMethod":"POST","path":"jarvis","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-240,300],"id":"63e0e09c-2925-4196-82dc-1ea6b768820a","name":"Webhook","webhookId":"dced53d2-e10e-4357-9d22-4f8db19efa7c"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[520,300],"id":"c7e61c10-0e43-4920-abd6-ceb5044ce9b1","name":"Respond to Webhook"},{"parameters":{"promptType":"define","text":"={{ $json.body.query }}","options":{"systemMessage":"=# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You should never be writing emails, or creating even summaries, you just need to call the correct tool.\n\n## Tools\n- emailAgent: Use this tool to take action in email\n- calendarAgent: Use this tool to take action in calendar\n- contactAgent: Use this tool to get, update, or add contacts\n- contentCreator: Use this tool to create blog posts\n- Tavily: Use this tool to search the web\n\n## Rules\n- Some actions require you to look up contact information first. For the following actions, you must get contact information and send that to the agent who needs it:\n  - sending emails\n  - drafting emails\n  - creating calendar event with attendee\n\n## Examples\n1) \n- Input: send an email to nate herkelman asking him what time he wants to leave\n  - Action: Use contactAgent to get nate herkelman's email\n  - Action: Use emailAgent to send the email. You will pass the tool a query like \"send nate herkelman an email to ask what time he wants to leave. here is his email: [email address]\n- Output: The email has been sent to Nate Herkelman. Anything else I can help you with?\n\n\n## Final Reminders\nHere is the current date/time: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[120,300],"id":"0f0d318b-e241-41d3-ab76-64c44992c0e6","name":"Jarvis"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-100,520],"id":"d04de008-79b1-40b3-8757-62bca2a3b980","name":"4o","credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.headers.host }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[40,520],"id":"abe0c4f2-e2a0-43e0-885f-c0f4d02e7cde","name":"Simple Memory"},{"parameters":{"content":"# JARVIS Main Agent\n","height":260,"width":380,"color":4},"type":"n8n-nodes-base.stickyNote","position":[60,180],"typeVersion":1,"id":"b2acec1a-e3ae-448d-a40e-a23d5de4a199","name":"Sticky Note"},{"parameters":{"content":"# Nate Herk | AI Automation","height":100,"width":500,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"676a3585-1584-48fc-a277-0169a53394aa","name":"Sticky Note1"},{"parameters":{"content":"# Child Agents","height":260,"width":820,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-220,740],"typeVersion":1,"id":"76146f2f-6260-46bd-89a5-87feb3238e7d","name":"Sticky Note2"},{"parameters":{"content":"# IMPORTANT\nMake sure to map the correct workflows in these child agents","height":140,"width":280},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,740],"id":"1ce720d0-3630-4bdc-a476-06386597ece3","name":"Sticky Note3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-220,100],"id":"d01caa3c-916e-4086-8b53-0d231f5e0e6f","name":"When chat message received","webhookId":"dbe35693-d4c6-420f-9118-1cb9238be9f4"}],"connections":{"Email Agent":{"ai_tool":[[{"node":"Jarvis","type":"ai_tool","index":0}]]},"Contact Agent":{"ai_tool":[[{"node":"Jarvis","type":"ai_tool","index":0}]]},"Content Creator Agent":{"ai_tool":[[{"node":"Jarvis","type":"ai_tool","index":0}]]},"Tavily":{"ai_tool":[[{"node":"Jarvis","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Jarvis","type":"ai_tool","index":0}]]},"Calendar Agent":{"ai_tool":[[{"node":"Jarvis","type":"ai_tool","index":0}]]},"Webhook":{"main":[[{"node":"Jarvis","type":"main","index":0}]]},"Jarvis":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"4o":{"ai_languageModel":[[{"node":"Jarvis","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Jarvis","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"Jarvis","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6d1d38ab-1cbf-4fdc-96b7-b8ce6fef2262","triggerCount":1,"tags":[{"createdAt":"2025-03-14T08:57:18.912Z","updatedAt":"2025-03-14T08:57:18.912Z","id":"oIge5Hf6vQbDhMVe","name":"Agentic"},{"createdAt":"2025-03-13T09:14:05.263Z","updatedAt":"2025-03-13T09:14:05.263Z","id":"bV8FAGYck0l4O5dn","name":"Assistant-personnel"},{"createdAt":"2025-03-13T09:12:58.701Z","updatedAt":"2025-03-13T09:12:58.701Z","id":"KAkHJSNW3CxNo4dk","name":"Call-Sub-Workflows"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/03/"}