2025/03/My workflow 2.json
{"createdAt":"2025-03-21T09:26:35.429Z","updatedAt":"2025-03-21T10:12:55.105Z","id":"Nd72USRQbgjcp61H","name":"My workflow 2","active":false,"nodes":[{"parameters":{"url":"={{ $node[\"setFields\"].json[\"urlGithub\"] }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubOAuth2Api","options":{"batching":{"batch":{"batchSize":1}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[740,60],"id":"3e4ad204-8350-4408-8112-b6bebb85beb1","name":"HTTP Request1","credentials":{"githubOAuth2Api":{"id":"yf4MRzy0qmMObkWx","name":"GitHub account"}}},{"parameters":{"functionCode":"try {\n  // Vérification de la présence des données d'entrée\n  if (!$input || typeof $input.all !== 'function') {\n    throw new Error(\"Aucune donnée d'entrée fournie !\");\n  }\n\n  // Récupérer tous les éléments d'entrée\n  const items = $input.all();\n  if (!Array.isArray(items) || !items.length) {\n    throw new Error(\"Les données d'entrée ne sont pas au format attendu !\");\n  }\n\n  // Vérifier la présence du nœud 'setFields'\n  if (!$node[\"setFields\"] || !$node[\"setFields\"].json) {\n    throw new Error(\"Le nœud 'setFields' est manquant ou mal configuré !\");\n  }\n\n  // Récupérer les extensions depuis 'setFields'\n  let rawExtensions = $node[\"setFields\"].json.extensions;\n  console.log(\"Extensions trouvées dans le nœud setFields:\", rawExtensions);\n  if (typeof rawExtensions === 'object' && !Array.isArray(rawExtensions)) {\n    console.warn(\"⚠️ Le champ 'extensions' est un objet. Conversion en tableau basée sur les clés...\");\n    rawExtensions = Object.keys(rawExtensions);\n  }\n\n  if (!Array.isArray(rawExtensions)) {\n    throw new Error(`Le champ 'extensions' doit être un tableau. Type trouvé : ${typeof rawExtensions}`);\n  }\n\n  // Filtrer les extensions valides\n  const allowedExtensions = rawExtensions\n    .filter(ext => typeof ext === 'string' && ext.trim() !== '')\n    .map(ext => `.${ext}`);\n  if (!allowedExtensions.length) {\n    throw new Error(\"Aucune extension valide trouvée dans le champ 'extensions' du nœud 'setFields' !\");\n  }\n\n  // Récupérer le chemin du sous-répertoire\n  const subdirectoryPath = $node[\"setFields\"].json['folderDocs'] || '';\n  if (typeof subdirectoryPath !== 'string' || subdirectoryPath.trim() === '') {\n    throw new Error(\"Chemin du sous-répertoire invalide !\");\n  }\n\n  const filteredFiles = [];\n  for (const item of items) {\n    if (item.json && Array.isArray(item.json.tree)) {\n      for (const file of item.json.tree) {\n        if (file.path && file.url) {\n          const fileExtension = `.${file.path.split('.').pop()}`;\n          // On vérifie ici que le chemin est exactement \"docs\" ou commence par \"docs/\"\n          if ((file.path === subdirectoryPath || file.path.startsWith(`${subdirectoryPath}/`)) && allowedExtensions.includes(fileExtension)) {\n            filteredFiles.push({ json: { path: file.path, url: file.url } });\n          }\n        }\n      }\n    }\n  }\n\n  if (!filteredFiles.length) {\n    console.warn(\"Aucun fichier correspondant n'a été trouvé !\");\n  }\n\n  return filteredFiles;\n} catch (error) {\n  console.error(`❌ Erreur détectée : ${error.message}`);\n  throw new Error(`Erreur : ${error.message}`);\n}\n"},"id":"91d79aaf-10c6-48c4-8d01-5b3c99f2929d","name":"Filtrer les fichiers","type":"n8n-nodes-base.function","typeVersion":1,"position":[1100,60],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"5edf0f4a-e6fd-4279-836e-fba023ba366a","name":"urlGithub","value":"=https://api.github.com/repos/{{ $json[\"Url du de la documentation du dépôt Github\"].match(/^https:\\/\\/github\\.com\\/(.+)$/)[1] }}/git/trees/main?recursive=1","type":"string"},{"id":"07ebc0fc-db46-4e82-bc49-6bf8688a43ab","name":"urlDrive","value":"={{ $json['Url de votre répertoire Drive'].match(/[-\\w]{25,}/)[0] }}","type":"string"},{"id":"926aea52-c4db-4bfc-bc6b-65fc946f1c00","name":"pathDrive","value":"={{ $json['Path Sous-répertoire'] }}","type":"string"},{"id":"99c95f44-a43c-45de-bcd4-bfdcc1bba245","name":"extensions","value":"=[\"md\"]","type":"array"},{"id":"eb7c34e4-a9b9-4b25-a8d9-4dc58f925ba0","name":"pathGithub","value":"={{ $json[\"Url du de la documentation du dépôt Github\"].match(/^https:\\/\\/github\\.com\\/(.+)$/)[1] }}","type":"string"},{"id":"bad4ab79-177c-4a11-b764-3ac3927cb4e9","name":"folderGithub","value":"={{ $json[\"Url du de la documentation du dépôt Github\"].split('/').slice(-1)[0]?.trim() }}","type":"string"},{"id":"1ed6a58e-b0f3-40cb-a359-f4d06ff12923","name":"folderDocs","value":"docs","type":"string"},{"id":"ba07bede-a304-45e0-a51b-37aea2bcfe14","name":"parentFolderName","value":"Documentation Rag","type":"string"},{"id":"70dbd039-5432-4320-bfb4-726f52c8c40a","name":"idFolderMain","value":"={{ $json.id || $('Google Drive2').json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,80],"id":"d0de3cf3-5d37-4632-b32e-86337b739636","name":"setFields"},{"parameters":{"authentication":"oAuth2","resource":"folder","name":"={{ $json[\"path\"].split('/').pop() }}","options":{"parents":["={{ $json.parentId }}"]}},"name":"get drive folder1","type":"n8n-nodes-base.googleDrive","typeVersion":1,"position":[2080,80],"id":"f4a59a5b-4b07-400d-80cd-7ae6a119bf01","alwaysOutputData":true,"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"b206d289-a89a-4722-acc5-65478b5c2b3b","name":"Url du de la documentation du dépôt Github","value":"https://github.com/Olivier340/n8n-docs","type":"string"},{"id":"2a13b915-b445-49f8-9203-1d8f1d40be56","name":"Url de votre répertoire Drive","value":"https://drive.google.com/drive/folders/1YCugN9LL7YlgkrK89ucRo6gZQuhGN3zB","type":"string"},{"id":"b510a045-b7c2-4689-b4d9-f1c5a5d870ce","name":"Path Sous-répertoire","value":"docs","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-100,60],"id":"cd26d55c-42a2-40b8-8ac7-f9a41261cfe2","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-320,60],"id":"0304db38-1f21-4386-8f4c-b4fabafb5130","name":"When clicking ‘Test workflow’"},{"parameters":{"resource":"folder","name":"={{ $json[\"Url du de la documentation du dépôt Github\"].split('/').slice(-1)[0] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json['Url de votre répertoire Drive'].match(/[-\\w]{25,}/)[0] }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[80,260],"id":"bd831516-82ee-4178-b7ee-d52a95b3a8f4","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[260,80],"id":"fc7606ae-ed9f-4747-9c7c-aa220ade2710","name":"Merge"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1620,60],"id":"bce4690f-756b-406f-a3bc-a66543225455","name":"Loop Over Items"},{"parameters":{"jsCode":"const items = $input.all();\nconst paths = new Set();\n\nfor (const item of items) {\n    const path = item.json.path.split('/').slice(0, -1).join('/');\n    let currentPath = '';\n    for (const part of path.split('/')) {\n        currentPath += (currentPath ? '/' : '') + part;\n        paths.add(currentPath);\n    }\n}\n\nreturn Array.from(paths).map(path => ({ json: { path } }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,60],"id":"f6223b01-5706-489d-8cd7-f65a93dd1093","name":"Code3"},{"parameters":{"assignments":{"assignments":[{"id":"4498f57e-89e7-4038-91b4-bc55c15f7a87","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"88bff86a-50ba-4825-97e5-f6a381460cb4","name":"path","value":"={{ $('Loop Over Items').item.json.path }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2460,80],"id":"2b4cfd6c-6b65-4262-b760-807680cbf0a2","name":"Stockage IDs"},{"parameters":{"assignments":{"assignments":[{"id":"4498f57e-89e7-4038-91b4-bc55c15f7a87","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"88bff86a-50ba-4825-97e5-f6a381460cb4","name":"path","value":"={{ $('Loop Over Items').item.json.path }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,-140],"id":"ac7d4499-367a-45b4-b881-56c593e81a77","name":"Stockage IDs1"},{"parameters":{"jsCode":"// Dans un Code Node en amont de \"get drive folder1\"\nlet parentId;\ntry {\n  const stockageNodes = $('Stockage IDs').all(); \n  const found = stockageNodes.find(item => item.json.path === parentPath);\n  parentId = found ? found.json.id : $('setFields').first().json.idFolderMain ;\n} catch (error) {\n  // Fallback si Stockage IDs est indisponible\n  parentId = $('setFields').json.idFolderMain;\n}\n\n// On stocke parentId dans item.json pour la suite\nreturn [{ json: { parentId } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1860,80],"id":"f384ced1-4911-44fc-9148-cb1b96505382","name":"Code"}],"connections":{"HTTP Request1":{"main":[[{"node":"Filtrer les fichiers","type":"main","index":0}]]},"Filtrer les fichiers":{"main":[[{"node":"Code3","type":"main","index":0}]]},"setFields":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"get drive folder1":{"main":[[{"node":"Stockage IDs","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Google Drive2","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"setFields","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Stockage IDs":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Stockage IDs1":{"main":[[]]},"Code":{"main":[[{"node":"get drive folder1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"38329eb3-18bd-4ab7-8e58-a26e84be4366","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-worklow","repo_path":"","subPath":"2025/03/"}