2025/03/Ocr Mistral.json
{"createdAt":"2025-03-29T07:58:38.113Z","updatedAt":"2025-03-29T12:00:05.529Z","id":"XZ4qi5kkNbZnFAAI","name":"Ocr Mistral","active":false,"isArchived":false,"nodes":[{"parameters":{"fieldToSplitOut":"=$binary","include":"allOtherFields","options":{"includeBinary":true}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3980,480],"id":"d401fbe7-c75e-4e1a-9e95-7615a033e30c","name":"Split Out","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3980,700],"id":"26bec282-959a-4d28-a007-579ab135a520","name":"Loop Over Items"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3980,320],"id":"10171bff-f595-4030-95e4-025a5160b476","name":"Gmail","webhookId":"95d74977-6b94-4130-83f9-915e5de2d11f"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"q":"has:attachment"}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[3980,160],"id":"7f303071-38a4-42cb-aad2-ba43231c8848","name":"Gmail Trigger"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}","options":{}},"id":"9852b0c5-51f8-4051-a2cc-c1e8ed4fc3ba","name":"OCR PDF","type":"n8n-nodes-base.httpRequest","position":[5380,700],"typeVersion":4.2},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/ocr","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"image_url\",\n    \"image_url\": \"{{ $json.url }}\"\n  }\n}","options":{}},"id":"2af2776f-3702-4525-a090-c9cb8411d3ff","name":"OCR IMG","type":"n8n-nodes-base.httpRequest","position":[5380,900],"typeVersion":4.2,"alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45c8149d-28d1-4391-9e71-dbe12ed95eac","leftValue":"={{ $('Img ou Pdf ?').item.json.extension }}","rightValue":"pdf","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4860,700],"id":"3c1dd584-ef36-437e-b62a-0c027674e443","name":"If"},{"parameters":{"jsCode":"return [\n  {\n    extension: $json.filename.split('.').pop()\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4520,700],"id":"19aff34f-5a79-429a-9d57-a753866e367e","name":"Img ou Pdf ?"},{"parameters":{"method":"POST","url":"https://api.mistral.ai/v1/files","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"purpose","value":"ocr"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"id":"e43edb76-c4bc-49e5-9825-0ccb3b092044","name":"Mistral Upload","type":"n8n-nodes-base.httpRequest","position":[4360,700],"typeVersion":4.2,"credentials":{"mistralCloudApi":{"id":"NBeSmYZTNG8XbHEk","name":"Mistral Cloud account"}}},{"parameters":{"url":"=https://api.mistral.ai/v1/files/{{ $('Mistral Upload').item.json.id }}/url","authentication":"predefinedCredentialType","nodeCredentialType":"mistralCloudApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"expiry","value":"24"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"options":{}},"id":"d2611347-980e-46e7-97f8-48d1883a6391","name":"Mistral Signed URL","type":"n8n-nodes-base.httpRequest","position":[4660,700],"typeVersion":4.2,"credentials":{"mistralCloudApi":{"id":"NBeSmYZTNG8XbHEk","name":"Mistral Cloud account"}}},{"parameters":{"text":"={{ $json.pages[0].markdown }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"nfacture\": \"string\",\n  \"date\": \"string\",\n  \"nom de la société\": \"string\",\n  \"titulaire du compte\": \"string\",\n  \"banque\": \"string\",\n  \"compte bancaire\": \"string\",\n  \"articles\": [\n    {\n      \"description\": \"string\",\n      \"quantite\": \"string\",\n      \"prix_unitaire\": \"string\"\n    \n    }\n  ],\n  \"montant_total\": \"string\",\n  \"tva\": \"string\",\n  \"montant_du\": \"string\"\n}\n","options":{"systemPromptTemplate":"Tu es un algorithme d'extraction expert.\nExtrait uniquement les informations pertinentes du texte.\nSi tu ne connais pas la valeur d’un attribut à extraire, tu peux omettre la valeur de cet attribut.\nLes prix sont des int2, ils ne doivent pas avoir de symbole.\nLe numéro de facture se compose uniquement de 4 caractères ( ex : 0001 )."}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[5440,300],"id":"21c6f129-a55e-479d-bef0-8179fd5467fe","name":"Information Extractor1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5120,700],"id":"2a6ca8d7-8320-456f-9bcd-0c94eee537e2","name":"Wait","webhookId":"6aea89a3-0fbe-47fa-a117-77f346a5ae1e"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[5500,500],"id":"16f1d9df-b395-418f-a2c7-548826012a2d","name":"OpenAI Chat Model"},{"parameters":{"tableId":"FactureDemi","fieldsUi":{"fieldValues":[{"fieldId":"nfacture","fieldValue":"={{ $json.nfacture }}"},{"fieldId":"nom_client","fieldValue":"={{ $json[\"nom_de_la_société\"] }}"},{"fieldId":"articles","fieldValue":"={{ $json.description }}"},{"fieldId":"prix","fieldValue":"={{ $json.prix_unitaire }}"},{"fieldId":"quantité","fieldValue":"={{ $json.quantite }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[5940,300],"id":"f414dbf0-d47c-4536-98dc-fde72fc0be1d","name":"Supabase","credentials":{"supabaseApi":{"id":"8YCbwnlgD9JwQmoP","name":"Supabase Rag_agentic"}}},{"parameters":{"jsCode":"const result = [];\n\nfor (const item of items) {\n  const data = item.json.output;\n  const articles = data.articles;\n\n  for (const article of articles) {\n    result.push({\n      json: {\n        nfacture: data.nfacture,\n        date: data.date,\n        nom_de_la_société: data[\"nom de la société\"],\n        titulaire_du_compte: data[\"titulaire du compte\"],\n        banque: data.banque,\n        compte_bancaire: data[\"compte bancaire\"],\n        description: article.description,\n        quantite: article.quantite,\n        prix_unitaire: article.prix_unitaire,\n        montant_total: data.montant_total,\n        tva: data.tva,\n        montant_du: data.montant_du\n      }\n    });\n  }\n}\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,-300],"id":"bece36d3-a10a-48bf-bbb3-2ec40bf2cfd6","name":"Code2"},{"parameters":{"jsCode":"const result = [];\n\nfor (const item of items) {\n  const data = item.json.output;\n  const articles = data.articles;\n\n  for (const article of articles) {\n    result.push({\n      json: {\n        nfacture: data.nfacture,\n        date: data.date,\n        nom_de_la_société: data[\"nom de la société\"],\n        titulaire_du_compte: data[\"titulaire du compte\"],\n        banque: data.banque,\n        compte_bancaire: data[\"compte bancaire\"],\n        description: article.description,\n        quantite: article.quantite,\n        prix_unitaire: article.prix_unitaire,\n        montant_total: data.montant_total,\n        tva: data.tva,\n        montant_du: data.montant_du\n      }\n    });\n  }\n}\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4480,-220],"id":"1bde1946-a0ec-4bd0-b524-27a2da1434ba","name":"Code3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[4980,260],"id":"ecc3f60c-ed84-4e4e-93e7-8cd35e1ee059","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[4820,260],"id":"765bf7c7-68e0-40ef-b075-a7b08e39a14d","name":"When chat message received","webhookId":"6343db1b-42a2-4c45-aafc-165f7977df3f"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4900,440],"id":"6b279ba3-40d5-4d2b-a3e0-feab8ab1fe83","name":"OpenAI Chat Model1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[5060,440],"id":"c35f0745-9323-41fc-bccd-36517c483574","name":"Simple Memory"},{"parameters":{"operation":"getAll","tableId":"FactureDemi","returnAll":true},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[5180,440],"id":"a21b98e1-4f25-446c-b284-489cb06c62b2","name":"Supabase1"},{"parameters":{"jsCode":"const newItems = [];\nfor (const [key, value] of Object.entries(items[0].binary)) {\n  newItems.push({\n    json: {\n      ...items[0].json,\n      attachmentName: key\n    },\n    binary: {\n      data: value\n    }\n  });\n}\n\nreturn newItems;\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4200,700],"id":"bbf80ac0-9ae4-4836-8fd4-dc317744b5a3","name":"On facilite le traitement"},{"parameters":{"jsCode":"const result = [];\n\nfor (const item of items) {\n  const data = item.json.output;\n  const articles = data.articles;\n\n  for (const article of articles) {\n    result.push({\n      json: {\n        nfacture: data.nfacture,\n        date: data.date,\n        nom_de_la_société: data[\"nom de la société\"],\n        titulaire_du_compte: data[\"titulaire du compte\"],\n        banque: data.banque,\n        compte_bancaire: data[\"compte bancaire\"],\n        description: article.description,\n        quantite: article.quantite,\n        prix_unitaire: article.prix_unitaire,\n        montant_total: data.montant_total,\n        tva: data.tva,\n        montant_du: data.montant_du\n      }\n    });\n  }\n}\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5760,300],"id":"0386e8e6-cfbc-4fa5-8e7e-891051c407a0","name":"Tableau"},{"parameters":{"content":"## Agent IA","height":440,"width":580},"type":"n8n-nodes-base.stickyNote","position":[4780,180],"typeVersion":1,"id":"93c1d523-f2ea-42d7-b378-f15116c1ea3a","name":"Sticky Note"}],"connections":{"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"On facilite le traitement","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"OCR PDF":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Information Extractor1","type":"main","index":0}]]},"OCR IMG":{"main":[[{"node":"Loop Over Items","type":"main","index":0},{"node":"Information Extractor1","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"OCR IMG","type":"main","index":0}]]},"Img ou Pdf ?":{"main":[[{"node":"Mistral Signed URL","type":"main","index":0}]]},"Mistral Upload":{"main":[[{"node":"Img ou Pdf ?","type":"main","index":0}]]},"Mistral Signed URL":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"OCR PDF","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor1","type":"ai_languageModel","index":0}]]},"Information Extractor1":{"main":[[{"node":"Tableau","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Supabase1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"On facilite le traitement":{"main":[[{"node":"Mistral Upload","type":"main","index":0}]]},"Tableau":{"main":[[{"node":"Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ad1a88b4-32b8-4f06-a07e-e6d94ff4e519","triggerCount":0,"tags":[{"createdAt":"2025-03-29T07:58:54.769Z","updatedAt":"2025-03-29T07:58:54.769Z","id":"pjxlWrV90ylvCmSr","name":"Dont Delete"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/03/"}