2025/03/Parallelization.json
{"createdAt":"2025-03-14T08:58:22.081Z","updatedAt":"2025-03-14T08:59:05.438Z","id":"yZSqHKujOKReQsjN","name":"Parallelization","active":false,"nodes":[{"parameters":{"content":"# Parallelization\n✅ Faster Analysis – Instead of sequential analysis, all aspects are evaluated in parallel.\n\n✅ Specialized AI Agents – Each LLM focuses on a single analytical area, improving accuracy.\n\n✅ Comprehensive Review – The final aggregation step ensures clarity and a well-structured report.\n\n✅ Scalability – Can be extended to analyze additional text properties (e.g., readability, factual accuracy).","height":240,"width":760,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-480,-140],"typeVersion":1,"id":"6a876ffc-20d1-45be-a5a9-04b03ce80819","name":"Sticky Note"},{"parameters":{"options":{"systemMessage":"Analyze the emotional tone of the incoming text. Categorize it as positive, negative, neutral, or mixed. Provide a brief explanation."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-160,180],"id":"a3c02a26-27f1-4783-9daf-59567063604d","name":"Emotion Agent"},{"parameters":{"options":{"systemMessage":"Analyze the intent behind this text. Classify it as informational, persuasive, aggressive, or neutral. Provide reasoning."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-160,420],"id":"4603ac82-cdbc-4d60-bd42-47cd94c0abd0","name":"Intent Agent"},{"parameters":{"options":{"systemMessage":"Analyze this text for potential biases. Identify if it exhibits political, gender, racial, or other biases. Suggest ways to make it more neutral."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-160,680],"id":"5d76a5eb-a72d-4558-bff1-d2797316dd69","name":"Bias Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-580,420],"id":"b2d16387-fa1e-49bd-a605-09df84ed0fd6","name":"When chat message received","webhookId":"ac25dd9f-b310-4daa-9c49-db68a2433ef1"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[380,360],"id":"1a3bff2a-24d8-4ade-b0f7-6167fcc2d01c","name":"Merge"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[600,420],"id":"34d80b81-ab4e-4b41-a2a8-f84c566c2be6","name":"Merge1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"output"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[760,420],"id":"beaf1e06-7ebd-4023-b7ae-c265addbee0c","name":"Aggregate"},{"parameters":{"promptType":"define","text":"=Here is the analysis: \n\n{{ $json.output }}","options":{"systemMessage":"Merge the incoming emotional tone, intent, and bias analysis into a structured report. Ensure it is clear, concise, and actionable."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[920,420],"id":"8d1b0d65-38c5-4540-9bc2-b1ee011ac659","name":"Final Agent"},{"parameters":{"operation":"update","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1240,420],"id":"e78c7462-9b6a-401a-9eb7-669de8a2e52a","name":"Write to Docs"},{"parameters":{"model":"deepseek-reasoner","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[-640,860],"id":"e47d1050-4df4-4629-a01c-af1381566845","name":"DeepSeek R1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-480,760],"id":"99c8ec3a-dc50-4c2b-9083-59cad1457652","name":"4o mini","credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[900,660],"id":"e8fd0244-bdfa-46f9-8cc2-b9797c5b39d6","name":"4o_mini","credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Emotion Agent","type":"main","index":0},{"node":"Intent Agent","type":"main","index":0},{"node":"Bias Agent","type":"main","index":0}]]},"Emotion Agent":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Intent Agent":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Bias Agent":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Final Agent","type":"main","index":0}]]},"Final Agent":{"main":[[{"node":"Write to Docs","type":"main","index":0}]]},"4o mini":{"ai_languageModel":[[{"node":"Intent Agent","type":"ai_languageModel","index":0},{"node":"Emotion Agent","type":"ai_languageModel","index":0},{"node":"Bias Agent","type":"ai_languageModel","index":0}]]},"4o_mini":{"ai_languageModel":[[{"node":"Final Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ce600f1b-973e-4c27-a662-070429c8464c","triggerCount":0,"tags":[{"createdAt":"2025-03-14T08:57:18.912Z","updatedAt":"2025-03-14T08:57:18.912Z","id":"oIge5Hf6vQbDhMVe","name":"Agentic"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/03/"}