2025/03/Prompt Chaining.json
{"createdAt":"2025-03-14T09:02:46.901Z","updatedAt":"2025-03-14T09:03:38.297Z","id":"m7CbryrlRpMHhnxy","name":"Prompt Chaining","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[540,640],"id":"e8fc2052-aa58-4535-b29a-1226db171fab","name":"4o mini","credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Here is the topic to write a blog about: {{ $json.chatInput }}","options":{"systemMessage":"# Overview\nYou are an expert outline writer. Your job is to generate a structured outline for a blog post with section titles and key points."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[220,380],"id":"4c301725-3112-4974-a608-5a9b1207facd","name":"Outline Writer"},{"parameters":{"content":"# Prompt Chaining\n ✅ Improved Accuracy and Quality – Each step focuses on a specific task, reducing errors and hallucinations.\n\n ✅ Greater Control Over Each Step – You can refine or tweak individual steps without affecting the entire process.\n\n ✅ Specialization Leads to More Effective AI Agents – Each AI agent becomes a specialist rather than a generalist, improving reliability.\n\n ✅ Easier Debugging and Optimization – If an output isn’t ideal, you only need to fix the weak link rather than redoing everything.\n\n ✅ More Scalable and Reusable Workflows – A structured, step-by-step workflow can be repurposed for different use cases.\n","height":260,"width":940,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"be576c46-ee4d-4ea4-8a02-a2e48b3b0849","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"=Here is the outline: \n\n{{ $json.output }}","options":{"systemMessage":"=# Overview\nYou are an expert blog evaluator. Revise this outline and ensure it covers the following key criteria: \n(1) Engaging Introduction \n(2) Clear Section Breakdown\n(3) Logical Flow\n(4) Conclusion with Key Takeaways\n\n## Output\nOnly output the revised outline."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[540,380],"id":"a2cdf26a-e6df-4465-b2de-429f8935dd86","name":"Outline Evaluation"},{"parameters":{"promptType":"define","text":"=Here if the revised outline: {{ $json.output }}","options":{"systemMessage":"=# Overview\nYou are an expert blog writer. Generate a detailed blog post using the outline with well-structured paragraphs and engaging content."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[880,380],"id":"62d4d23f-e0a2-490f-9e2e-a3a571f0fc27","name":"Blog Writer"},{"parameters":{"operation":"update","simple":false,"actionsUi":{"actionFields":[{"action":"insert","text":"={{ $json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1220,380],"id":"2d3a6008-0755-4031-850e-cc4d72ee29bb","name":"Post to Docs"},{"parameters":{"model":"deepseek-reasoner","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatDeepSeek","typeVersion":1,"position":[1060,640],"id":"8cd7fb78-b785-4508-938e-bed8b14f9504","name":"DeepSeek R1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[20,380],"id":"fa43f627-0286-4090-a4ba-2395bc4570bb","name":"When chat message received","webhookId":"8b5d17e6-9356-437e-a97a-4f4027e6451d"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[220,640],"id":"27976cb6-f728-4e1d-b894-9542e570f13d","name":"2.0 Flash","credentials":{"googlePalmApi":{"id":"o3oFKeoPBUiDkJtq","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[940,660],"id":"1e3ce215-d5df-4612-b7ec-441e57931429","name":"Claude 3.5"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[820,640],"id":"b851bc49-f0d1-4b8a-a09d-a767e9ecce52","name":"4o mini1","credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}}],"connections":{"4o mini":{"ai_languageModel":[[{"node":"Outline Evaluation","type":"ai_languageModel","index":0}]]},"Outline Writer":{"main":[[{"node":"Outline Evaluation","type":"main","index":0}]]},"Outline Evaluation":{"main":[[{"node":"Blog Writer","type":"main","index":0}]]},"Blog Writer":{"main":[[{"node":"Post to Docs","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Outline Writer","type":"main","index":0}]]},"2.0 Flash":{"ai_languageModel":[[{"node":"Outline Writer","type":"ai_languageModel","index":0}]]},"Claude 3.5":{"ai_languageModel":[[]]},"4o mini1":{"ai_languageModel":[[{"node":"Blog Writer","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"281ee9a3-3c7a-4832-9d2a-fca197f593b6","triggerCount":0,"tags":[{"createdAt":"2025-03-14T08:57:18.912Z","updatedAt":"2025-03-14T08:57:18.912Z","id":"oIge5Hf6vQbDhMVe","name":"Agentic"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/03/"}