2025/03/Routing Email.json
{"createdAt":"2025-03-14T08:59:28.443Z","updatedAt":"2025-03-14T09:02:18.429Z","id":"BYfk9BXxA5SSSoeP","name":"Routing Email","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# Routing\n✅ Optimized Response Handling – Ensures the right AI agent processes the query instead of a single generalist AI.\n\n✅ Scalable & Modular – New AI agents can be added to handle additional topics.\n\n✅ Faster & More Efficient – Reduces unnecessary LLM calls and improves response speed.\n\n✅ Human Escalation for Critical Issues – Ensures urgent problems are handled by real support staff.\n\n✅ Better User Experience – More accurate and relevant responses tailored to the customer’s needs.","height":280,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"0a38d2f0-985d-4755-b68f-055f3ac97505","name":"Sticky Note"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"labelIds":[]},"options":{}},"id":"2d807aaf-2b9d-4ef1-8986-f09be0c46b21","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.1,"position":[420,420],"credentials":{"gmailOAuth2":{"id":"59cQX0HUU0crTquR","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"c73aa54f-9d57-4a2e-905c-94100b020492","name":"High Priority","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1020,80],"webhookId":"c2817f4a-2f52-4ae7-8cd0-16ee702b7c22","credentials":{"gmailOAuth2":{"id":"59cQX0HUU0crTquR","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"daea0420-6653-4563-8404-36fc52a02db7","name":"Customer Support","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1020,300],"webhookId":"00c21fcb-fdf2-47d1-96fd-f61c83181bab","credentials":{"gmailOAuth2":{"id":"59cQX0HUU0crTquR","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["CATEGORY_PROMOTIONS"]},"id":"87202946-b7df-4ad3-ba54-3f487f834a6a","name":"Promotion","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1020,540],"webhookId":"1e06eea2-bead-419e-b14c-c2ccabfa736a","credentials":{"gmailOAuth2":{"id":"59cQX0HUU0crTquR","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}"},"id":"03268888-e5d5-4226-ab7b-82a2f69c5abe","name":"Finance/Billing","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1020,740],"webhookId":"f3181ea4-b320-4e02-8518-47911e4978ac","credentials":{"gmailOAuth2":{"id":"59cQX0HUU0crTquR","name":"Gmail account"}}},{"parameters":{"inputText":"={{ $json.text }}","categories":{"categories":[{"category":"High Priority","description":"Emails requiring immediate attention or action, typically from key stakeholders, clients, or decision-makers. These emails often contain time-sensitive requests, deadlines, or escalated issues. Keywords: urgent, ASAP, immediate, deadline, action required, high priority"},{"category":"Customer Support","description":"Emails related to ongoing communication with current clients or customers, including service requests, feedback, support tickets, and inquiries. Keywords: request, inquiry, support, question, follow-up, feedback"},{"category":"Promotions","description":"Emails related to marketing campaigns, promotional offers, newsletters, or business updates from partners. Typically these emails contain content aimed at engaging your audience or updating on promotions. Keywords: newsletter, promotion, offer, sale, campaign, marketing, launch"},{"category":"Finance/Billing","description":" Description: Emails related to financial matters, such as invoices, billing statements, payment reminders, or expense reports. Anything involving transactions or accounting should fall under this label.  Keywords: invoice, payment, billing, receipt, financial, expense, account"}]},"options":{"systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."}},"id":"e8cbac43-a963-457d-8710-112df1e00025","name":"Email Classifier","type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[620,420]},{"parameters":{"options":{}},"id":"b65ae4b8-2a99-4d57-a196-9256dedc2a6d","name":"4o mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[660,720],"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nHere is the Email: \n{{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are an agent in charge of high priority emails. Your job is to summarize incoming emails and escalate them to the human.\n\n## Tools\nTelegram - Use this tool to escalate to a human. Send over the summary of the email."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,80],"id":"fbe544de-1129-4821-9323-26180c58b3f5","name":"High Priority Agent"},{"parameters":{"chatId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Chat_ID', ``, 'string') }}","text":"=Urgent Email: \n{{ $fromAI(\"summary\") }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegramTool","typeVersion":1.2,"position":[1680,320],"id":"51dc3e14-629e-4924-883d-0a39ba9b56c5","name":"Telegram","webhookId":"4a005847-6ed4-48c6-99bd-d09e9d7271af","credentials":{"telegramApi":{"id":"9aWKzSaGcHyxa8yE","name":"n8n_oga_bot"}}},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are a customer support representitive named Kelly. Your job is to respond to customer inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Kelly from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,300],"id":"c3eb3b4f-f77e-4bbc-a5d9-13d48dcaae7b","name":"Customer Support Agent"},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are in charge of promotional opportunities. Your job is to respond to inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Meredith from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,540],"id":"50682610-4c22-4978-a336-cf326b4ca79e","name":"Promotion Agent"},{"parameters":{"promptType":"define","text":"=Email from: {{ $('Gmail Trigger').item.json.to.value[0].name }}\n\nEmail: {{ $('Gmail Trigger').item.json.text }}","options":{"systemMessage":"=# Overview\nYou are in charge of finacnes. Your job is to respond to inquiries in a friendly and professional manner. \n\n## Tools\nEmail Draft - Use this to send an email reply to a customer. Always sign off as Angela from ABC Corp."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1240,740],"id":"6ef5d6dc-bbed-48bb-9fd8-4945caf528e2","name":"Finance Agent"},{"parameters":{"resource":"draft","subject":"={{ $fromAI(\"subject\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"threadId":"={{ $('Gmail Trigger').item.json.threadId }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1740,620],"id":"8724b5aa-bee5-4a19-a690-1c0845162fbe","name":"Email Draft","webhookId":"5d8537bc-efa2-4889-82bb-cc44dc383ace","credentials":{"gmailOAuth2":{"id":"59cQX0HUU0crTquR","name":"Gmail account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"Email Classifier","type":"main","index":0}]]},"High Priority":{"main":[[{"node":"High Priority Agent","type":"main","index":0}]]},"Customer Support":{"main":[[{"node":"Customer Support Agent","type":"main","index":0}]]},"Promotion":{"main":[[{"node":"Promotion Agent","type":"main","index":0}]]},"Finance/Billing":{"main":[[{"node":"Finance Agent","type":"main","index":0}]]},"Email Classifier":{"main":[[{"node":"High Priority","type":"main","index":0}],[{"node":"Customer Support","type":"main","index":0}],[{"node":"Promotion","type":"main","index":0}],[{"node":"Finance/Billing","type":"main","index":0}]]},"4o mini":{"ai_languageModel":[[{"node":"Email Classifier","type":"ai_languageModel","index":0},{"node":"High Priority Agent","type":"ai_languageModel","index":0},{"node":"Customer Support Agent","type":"ai_languageModel","index":0},{"node":"Promotion Agent","type":"ai_languageModel","index":0},{"node":"Finance Agent","type":"ai_languageModel","index":0}]]},"Telegram":{"ai_tool":[[{"node":"High Priority Agent","type":"ai_tool","index":0}]]},"Email Draft":{"ai_tool":[[{"node":"Customer Support Agent","type":"ai_tool","index":0},{"node":"Finance Agent","type":"ai_tool","index":0},{"node":"Promotion Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"af09766c-f220-40c6-b6ad-8e8be85c3930","triggerCount":0,"tags":[{"createdAt":"2025-03-14T08:57:18.912Z","updatedAt":"2025-03-14T08:57:18.912Z","id":"oIge5Hf6vQbDhMVe","name":"Agentic"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/03/"}