2025/03/Ultimate assistant personnel.json
{"createdAt":"2025-03-13T09:15:52.308Z","updatedAt":"2025-07-25T16:29:24.429Z","id":"i4wRWB3JbYA0wAx0","name":"Ultimate assistant personnel","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=\n# Overview\nVous êtes l'assistant personnel ultime. Votre travail consiste à envoyer la demande de l'utilisateur à l'outil approprié. Vous ne devez jamais rédiger d'e-mails ni créer des résumés ; vous devez simplement appeler l'outil adéquat.\n\n## Tools\n- **emailAgent** : utilisez cet outil pour effectuer des actions sur les e-mails.\n- **calendarAgent** : utilisez cet outil pour effectuer des actions sur le calendrier.\n- **contactAgent** : utilisez cet outil pour obtenir, mettre à jour ou ajouter des contacts.\n- **contentCreator** : utilisez cet outil pour créer des articles de blog.\n- **Tavily** : utilisez cet outil pour rechercher sur le web.\n\n## Rules\n- Certaines actions nécessitent d'abord de rechercher les coordonnées. Pour les actions suivantes, vous devez obtenir les coordonnées puis les envoyer à l'agent qui en a besoin :\n  - envoyer des e-mails\n  - rédiger des e-mails\n  - créer des événements de calendrier avec participants\n\n## Examples\n1) \n- **Entrée** : envoyer un e-mail à Nate Herkelman pour lui demander à quelle heure il veut partir\n  - **Action** : utilisez **contactAgent** pour obtenir l'adresse e-mail de Nate Herkelman\n  - **Action** : utilisez **emailAgent** pour envoyer l'e-mail. Vous passerez à l'outil une requête comme « envoyer un e-mail à Nate Herkelman pour lui demander à quelle heure il veut partir. Voici son adresse : [adresse email] »\n- **Sortie** : l'e-mail a été envoyé à Nate Herkelman. Puis-je vous aider avec autre chose ?\n\n## Final Reminders\nVoici la date et l'heure actuelles : {{ $now }}\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-160,-40],"id":"070bfc9e-9221-466d-b0aa-1dc8ed6effbf","name":"Ultimate Assistant"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-480,260],"id":"1e458099-fa7b-4a57-ac0e-ab0f3d29350f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"name":"emailAgent","description":"Call this tool for any email actions.","workflowId":{"__rl":true,"value":"KHIoltiUe0hfcxTT","mode":"list","cachedResultName":"__Email_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-260,420],"id":"6d69af7a-7005-4f44-85ae-284b4b52bf68","name":"Email Agent"},{"parameters":{"name":"contactAgent","description":"Call this tool for any contact related actions.","workflowId":{"__rl":true,"value":"KG5b3cHrIfvg7tX1","mode":"list","cachedResultName":"__Contact_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[20,440],"id":"cd5c3653-dbcf-49fc-8e53-6b4313d4f30c","name":"Contact Agent"},{"parameters":{"name":"contentCreator","description":"Call this tool to create blog posts.","workflowId":{"__rl":true,"value":"URkiocaTe4AAS4hV","mode":"list","cachedResultName":"__Content_Creator_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[140,400],"id":"0d29a805-efc9-4613-a6d0-341361e263fc","name":"Content Creator Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-380,360],"id":"27dafeaf-af51-479f-8f49-6b134af9f190","name":"Window Buffer Memory"},{"parameters":{"toolDescription":"Use this tool to search the internet","method":"POST","url":"https://api.tavily.com/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"api_key\": \"your-api-key\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"What the user has requested to search the internet for","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[280,340],"id":"2d713a69-267c-47d7-9c33-3ded2994ed08","name":"Tavily","credentials":{"httpHeaderAuth":{"id":"fci1xGuYz3jG89W2","name":"Tavily"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[380,240],"id":"2a9ce0ad-1495-423c-8da5-73f06d119554","name":"Calculator"},{"parameters":{"name":"calendarAgent","description":"Call this tool for any calendar action.","workflowId":{"__rl":true,"value":"UHLF9oFmSeVruSZY","mode":"list","cachedResultName":"__Calendar_Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[-120,440],"id":"f5ca8b2c-c440-4e6a-a80f-2d706ecf91fc","name":"Calendar Agent"},{"parameters":{"updates":["message","callback_query","edited_message","inline_query","*"],"additionalFields":{}},"id":"259b0807-a8f3-4161-b915-4d3aefa88b0a","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-840,-40],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","credentials":{"telegramApi":{"id":"9aWKzSaGcHyxa8yE","name":"n8n_oga_bot"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"575453fb-2cdd-4352-be11-80a96f0e2671","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,40]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"9708c5f0-2c4a-480d-9370-e4d064a597b5","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-680,-40]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"308d0417-b482-4de0-b9c8-116cf808a494","name":"Response","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[300,-40],"webhookId":"5dced4b9-5066-4036-a4d4-14fc07edd53c","credentials":{"telegramApi":{"id":"9aWKzSaGcHyxa8yE","name":"n8n_oga_bot"}}},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"5b071a75-482d-4195-ba71-e7d60ede8c00","name":"Download File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-480,-160],"webhookId":"83bb7385-33f6-4105-8294-1a91c0ebbee5","credentials":{"telegramApi":{"id":"9aWKzSaGcHyxa8yE","name":"n8n_oga_bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"eeb42f72-9c05-4253-8272-59375075396a","name":"Transcribe","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-320,-160],"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Ultimate Assistant","type":"ai_languageModel","index":0}]]},"Email Agent":{"ai_tool":[[{"node":"Ultimate Assistant","type":"ai_tool","index":0}]]},"Contact Agent":{"ai_tool":[[{"node":"Ultimate Assistant","type":"ai_tool","index":0}]]},"Content Creator Agent":{"ai_tool":[[{"node":"Ultimate Assistant","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Ultimate Assistant","type":"ai_memory","index":0}]]},"Tavily":{"ai_tool":[[{"node":"Ultimate Assistant","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Ultimate Assistant","type":"ai_tool","index":0}]]},"Calendar Agent":{"ai_tool":[[{"node":"Ultimate Assistant","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"Set 'Text'":{"main":[[{"node":"Ultimate Assistant","type":"main","index":0}]]},"Ultimate Assistant":{"main":[[{"node":"Response","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"Transcribe":{"main":[[{"node":"Ultimate Assistant","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b9c2db3a-849b-444f-b501-670b048e8e8f","triggerCount":1,"tags":[{"createdAt":"2025-03-13T09:12:58.701Z","updatedAt":"2025-03-13T09:12:58.701Z","id":"KAkHJSNW3CxNo4dk","name":"Call-Sub-Workflows"},{"createdAt":"2025-03-13T09:14:05.263Z","updatedAt":"2025-03-13T09:14:05.263Z","id":"bV8FAGYck0l4O5dn","name":"Assistant-personnel"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/03/"}