2025/03/workflow_precision_specialisation.json
{"createdAt":"2025-03-14T16:10:39.326Z","updatedAt":"2025-03-17T07:15:16.494Z","id":"pMozw8AI4W1vdViB","name":"workflow_precision_specialisation","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://api.company.com/financials","options":{}},"name":"Fetch Financial Data","type":"n8n-nodes-base.httpRequest","position":[-620,-20],"id":"b21df3a9-0d20-4854-877a-908b6d1efbe1","typeVersion":4.2},{"parameters":{"model":"chatgpt-4o-latest","prompt":"=[\n    {\n        \"role\": \"system\",\n        \"content\": \"Tu es un rédacteur financier expert.\"\n    },\n    {\n        \"role\": \"user\",\n        \"content\": \"Génère un rapport financier basé sur les données suivantes :\\n\\n\" +\n                   \"- Ventes : {{$json['data']['sales']}} {{$json['data']['currency']}}\\n\" +\n                   \"- Dépenses : {{$json['data']['expenses']}} {{$json['data']['currency']}}\\n\" +\n                   \"- Bénéfices : {{$json['data']['profit']}} {{$json['data']['currency']}}\\n\\n\" +\n                   \" Détail des sources de revenus :\\n\" +\n                   \"- Produit A : {{$json['data']['revenue_sources']['product_a']}} {{$json['data']['currency']}}\\n\" +\n                   \"- Produit B : {{$json['data']['revenue_sources']['product_b']}} {{$json['data']['currency']}}\\n\" +\n                   \"- Produit C : {{$json['data']['revenue_sources']['product_c']}} {{$json['data']['currency']}}\\n\\n\" +\n                   \" Détail des coûts :\\n\" +\n                   \"- Fabrication : {{$json['data']['cost_breakdown']['manufacturing']}} {{$json['data']['currency']}}\\n\" +\n                   \"- Marketing : {{$json['data']['cost_breakdown']['marketing']}} {{$json['data']['currency']}}\\n\" +\n                   \"- Logistique : {{$json['data']['cost_breakdown']['logistics']}} {{$json['data']['currency']}}\\n\\n\" +\n                   \"Structure le rapport de manière professionnelle avec une introduction, une analyse des données, une conclusion et des recommandations.\"\n    }\n]\n","simplifyOutput":false,"options":{},"requestOptions":{}},"name":"Generate Draft Report","type":"n8n-nodes-base.openAi","position":[160,0],"id":"dda02532-f9cf-4afc-91c8-0d2906740cfd","typeVersion":1.1,"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"model":"chatgpt-4o-latest","prompt":"=Tu es un évaluateur expert en finance. Analyse le rapport suivant en fonction des critères suivants :\n\n- Précision des données\n- Clarté du langage\n- Structure logique\n\nRapport : {{ $json.message.content }}\n\nSi le rapport est satisfaisant, réponds simplement par 'VALIDÉ'.\nSi le rapport doit être amélioré, donne une liste de points à corriger.","options":{},"requestOptions":{}},"name":"Evaluate Report","type":"n8n-nodes-base.openAi","position":[400,0],"id":"e23427ee-2eb3-4c5b-a834-5527a4756a7d","typeVersion":1.1,"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00abc9f9-6423-469a-944f-fe1cfdc524b5","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"name":"Check If Valid","type":"n8n-nodes-base.if","position":[600,0],"id":"a6276a77-f1c1-4f2b-9958-f09e3b340120","typeVersion":2.2},{"parameters":{"model":"gpt-4","prompt":"Tu es un expert financier spécialisé en rédaction.\n\nAméliore le rapport suivant en prenant en compte les remarques suivantes :\n{{$node['Evaluate Report'].json['text']}}\n\nGénère un rapport corrigé avec une structure claire et un langage professionnel.","options":{},"requestOptions":{}},"name":"Optimize Report","type":"n8n-nodes-base.openAi","position":[800,0],"id":"de8f3c6a-bee8-4d30-8f11-c675920b68e5","typeVersion":1.1,"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"content":"🚀 Cas d'usage réel : Rédaction automatisée de rapports financiers\n\nObjectif :\nGénérer automatiquement un rapport financier basé sur des données brutes.\nOptimiser la qualité du rapport en utilisant une boucle d'évaluation et d'amélioration.\n\n🔎 Structure du Workflow :\nAgent 1 : Récupération des données\nRécupère les données brutes (ventes, dépenses, bénéfices, etc.) via une requête API ou une base de données.\n\nAgent 2 : Génération du brouillon du rapport\nCrée un premier brouillon basé sur les données brutes (OpenAI GPT).\n\nAgent 3 : Évaluation du rapport\nAnalyse la qualité du brouillon en fonction des critères suivants :\nExactitude des données\nClarté du langage\nStructure logique\n\nAgent 4 : Optimisation du rapport\nSi le rapport est jugé insatisfaisant, l'agent optimise la rédaction en fonction du feedback.\n\nAgent 3 (Bis) : Nouvelle évaluation\nSi le rapport est validé, envoi du rapport par e-mail.\nSi le rapport est refusé → Retour à l'étape 4 pour une nouvelle révision.\n","height":520,"width":700},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-60,-600],"id":"11fd9faf-3122-4b28-9941-14088408567d","name":"Sticky Note"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-340,0],"id":"69e35cdf-f5b8-4277-9854-df98be39ccad","name":"When clicking ‘Test workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"b69b8eb3-df1b-4c21-9851-a9373f50f34c","name":"data","value":"{     \"sales\": 125000,     \"expenses\": 78000,     \"profit\": 47000,     \"quarter\": \"Q1 2025\",     \"region\": \"Europe\",     \"currency\": \"EUR\",     \"revenue_sources\": {         \"product_a\": 75000,         \"product_b\": 30000,         \"product_c\": 20000     },     \"cost_breakdown\": {         \"manufacturing\": 45000,         \"marketing\": 20000,         \"logistics\": 13000     } }","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,0],"id":"a8619e92-9998-4e6f-8758-63c4c399d6a4","name":"Edit Fields"},{"parameters":{"sendTo":"olivier.info.dev@gfmail.com","subject":"analyse","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[800,-220],"id":"2ac21e36-5c88-445d-865e-dd02ecc1ee57","name":"Gmail","webhookId":"267e8e96-f55a-4f0b-b0fb-9689f55297d6","credentials":{"gmailOAuth2":{"id":"59cQX0HUU0crTquR","name":"Gmail account"}}},{"parameters":{"functionCode":"const items = $input.all();\nconst mdFiles = [];\nfor (const item of items) {\n  if (item.json.tree) {\n    for (const file of item.json.tree) {\n      if (file.path.endsWith('.md')) {\n        mdFiles.push({ json: { path: file.path, url: file.url } });\n      }\n    }\n  }\n}\nreturn mdFiles;"},"id":"c2710ef7-07f0-4f8a-95fa-5616ea36967f","name":"Filtrer les fichiers .md","type":"n8n-nodes-base.function","typeVersion":1,"position":[-300,560]},{"parameters":{"functionCode":"const items = $input.all();\nfor (const item of items) {\n  const content = item.json.content;\n  const buff = Buffer.from(content, 'base64');\n  item.json.content = buff.toString('utf-8');\n}\nreturn items;"},"id":"d3ce7f1c-e1c9-4d67-9423-42b482c4097b","name":"Décoder le contenu base64","type":"n8n-nodes-base.function","typeVersion":1,"position":[200,440]},{"parameters":{"options":{}},"id":"711367e1-586b-4017-bbe7-f880627b1bd3","name":"Traiter le contenu du fichier .md","type":"n8n-nodes-base.set","typeVersion":1,"position":[980,320]},{"parameters":{"url":"=https://api.github.com/repos/Olivier340/n8n-docs/contents/{{ $json.path }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubOAuth2Api","options":{"batching":{"batch":{"batchSize":1}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-60,560],"id":"281883cb-a1b0-48f2-8321-d9e606f49a26","name":"HTTP Request","credentials":{"githubOAuth2Api":{"id":"yf4MRzy0qmMObkWx","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"https://api.github.com/repos/Olivier340/n8n-docs/git/trees/main?recursive=1","authentication":"predefinedCredentialType","nodeCredentialType":"githubOAuth2Api","options":{"batching":{"batch":{"batchSize":1}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-580,560],"id":"45e217ca-d9b3-48fb-bf55-828efad465cf","name":"HTTP Request1","credentials":{"githubOAuth2Api":{"id":"yf4MRzy0qmMObkWx","name":"GitHub account"}}},{"parameters":{"inputDataFieldName":"=data","name":"={{ $json.name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1ofPptlXCxS_XYk9FMaDGKnBNAu0kJMW2","mode":"list","cachedResultName":"n8n docs","cachedResultUrl":"https://drive.google.com/drive/folders/1ofPptlXCxS_XYk9FMaDGKnBNAu0kJMW2"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[700,560],"id":"e0ca2f21-5d86-496a-9550-041ad4fd465b","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"content","options":{"fileName":"={{ $json.name.replace(/\\.md$/, '.txt') }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[420,700],"id":"2653185e-6eba-4489-b816-c4b6ef5747ef","name":"Convert to File"}],"connections":{"Fetch Financial Data":{"main":[[]]},"Generate Draft Report":{"main":[[{"node":"Evaluate Report","type":"main","index":0}]]},"Evaluate Report":{"main":[[{"node":"Check If Valid","type":"main","index":0}]]},"Check If Valid":{"main":[[{"node":"Gmail","type":"main","index":0}],[{"node":"Optimize Report","type":"main","index":0}]]},"Optimize Report":{"main":[[{"node":"Evaluate Report","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Generate Draft Report","type":"main","index":0}]]},"Filtrer les fichiers .md":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Décoder le contenu base64":{"main":[[]]},"HTTP Request":{"main":[[{"node":"Décoder le contenu base64","type":"main","index":0},{"node":"Convert to File","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Filtrer les fichiers .md","type":"main","index":0}]]},"Traiter le contenu du fichier .md":{"main":[[]]},"Convert to File":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f9d2a81f-9ee9-43bc-b7fe-32bd9e138ed3","triggerCount":0,"tags":[{"createdAt":"2025-03-14T08:57:18.912Z","updatedAt":"2025-03-14T08:57:18.912Z","id":"oIge5Hf6vQbDhMVe","name":"Agentic"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/03/"}