2025/07/Sirene Crm.json
{"createdAt":"2025-07-09T13:29:08.403Z","updatedAt":"2025-07-16T09:41:21.093Z","id":"uMGyqby5NqlRBwA5","name":"Sirene Crm","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"1b68354e-3d08-4ad8-a375-f44d85e0e215","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[-20,400],"typeVersion":1},{"parameters":{"url":"=https://api.insee.fr/api-sirene/3.11/siren?q=periode(denominationUniteLegale:\"{{ $json.denominationUniteLegale }}\")","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"X-INSEE-Api-Key-Integration","value":"={{ $('Set Insee API Key').all()[0].json['X-INSEE-Api-Key-Integration']  }}"}]},"options":{}},"id":"2e2b9ac2-bb91-4370-a3a1-e7b904e3d589","name":"Find Company in SIREN database","type":"n8n-nodes-base.httpRequest","position":[760,500],"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api.insee.fr/api-sirene/3.11/siret/{{ $json.unitesLegales[0].siren }}{{ $json.unitesLegales[0].periodesUniteLegale[0].nicSiegeUniteLegale }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"X-INSEE-Api-Key-Integration","value":"={{ $('Set Insee API Key').all()[0].json['X-INSEE-Api-Key-Integration']  }}"}]},"options":{}},"id":"8f7f736c-933c-413d-ae48-a184c28f1a89","name":"Request all data from SIREN database","type":"n8n-nodes-base.httpRequest","position":[1000,480],"typeVersion":4.2},{"parameters":{"content":"### Enrich CRM data with data from French INSEE OpenDatabase API\nThis workflow takes all company entries from **Agile CRM** and enriches their data using the French [Insee Opendata API](https://portail-api.insee.fr/) (Free Access)\n\n__This will update :__ \n1) Official Address of the company headquarters\n2) Add government company id number (SIREN) in a Custom Field","height":240,"width":460},"id":"2ba4b1cb-8c97-441e-a814-ae61dbb2d677","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,80],"typeVersion":1},{"parameters":{"jsCode":"// Get input data\nconst input = $input.all();\nconst output = input.filter(item => {\n    const properties = item.json.properties || [];\n    return !properties.some(property => property.name === \"RO\" && property.value === \"1\"); // Remove all ReadOnly entries\n}).map(item => {\n    const companyId = item.json.id;\n    const denominationUniteLegale = item.json.properties[0]?.value || null; \n    return {\n        json: {\n            companyId,\n            denominationUniteLegale\n        }\n    };\n});\n\n// Return the transformed output\nreturn output;\n"},"id":"bb9f7b46-d70e-4706-847d-b7ec0cd4dc5b","name":"FilterOut all Company that have the ReadOnly Key set","type":"n8n-nodes-base.code","position":[540,500],"typeVersion":2},{"parameters":{"content":"### 👨‍🎤 Setup\n1. Add your **Agile CRM** credentials\n2. Link each AgileCRM node to the correct **Agile CRM** credentials\n3. Add your **INSEE** API Key to the **\"Set Insee API Key\"** node\n4. Make sure the **Custom Fields** for the **companies** are set as below (Admin Settings):\n   - Label : \"SIREN\", Type : \"Text Field\", Description \"N° de SIREN\"\n   - Label : \"RO\", Type : \"Number\", Description \"Locks entry from update\"\n5. Click on **Test Workflow** to make sure everything is working\n6. Configure schedule if needed and don't forget to change status to **Active**","height":232,"width":647,"color":5},"id":"ca001b4a-1f05-4a0a-b506-03decf7d232b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[480,80],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"e993e665-cf31-48b1-8ca8-a4829dc82642","name":"X-INSEE-Api-Key-Integration","type":"string","value":"put-your-insee-api-key-here"}]},"options":{}},"id":"9b428e7e-6a92-4dfd-90a4-7f20d237729a","name":"Set Insee API Key","type":"n8n-nodes-base.set","position":[160,500],"typeVersion":3.4},{"parameters":{"rule":{"interval":[{}]}},"id":"fe916bc4-f9db-4dca-8d65-30d9326ed075","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-20,580],"typeVersion":1.2},{"parameters":{},"id":"23aa335f-8daa-45b8-b7ea-ebd681af92ef","name":"clean_route","type":"n8n-nodes-base.noOp","position":[760,360],"typeVersion":1},{"parameters":{"resource":"company","operation":"getAll","options":{}},"id":"4731ca56-3285-40fb-8875-dadab989a271","name":"Get all Compagnies from Agile CRM","type":"n8n-nodes-base.agileCrm","position":[340,500],"typeVersion":1},{"parameters":{"resource":"company","operation":"update","companyId":"={{ $json.companyId }}","additionalFields":{"addressOptions":{"addressProperties":[{"subtype":"office","address":"={{ $json.etablissement.adresseEtablissement.complementAdresseEtablissement }}\n{{ $json.etablissement.adresseEtablissement.typeVoieEtablissement }} {{ $json.etablissement.adresseEtablissement.libelleVoieEtablissement }}\n{{ $json.etablissement.adresseEtablissement.codePostalEtablissement }}{{ $json.etablissement.adresseEtablissement.libelleCommuneEtablissement }}"}]},"customProperties":{"customProperty":[{"name":"SIREN","subtype":"TEXT","value":"={{ $json.etablissement.siren }}"}]}}},"id":"41b5e69e-1310-4c23-941f-1f8499c3e4fe","name":"Enrich CRM with INSEE Data","type":"n8n-nodes-base.agileCrm","position":[1460,380],"typeVersion":1},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"denominationUniteLegale","field2":"etablissement.uniteLegale.denominationUniteLegale"}]},"options":{}},"id":"f6691163-fa2e-4284-aef7-02d1b49327a1","name":"Merge data from CRM and SIREN database with enriched for the CRM","type":"n8n-nodes-base.merge","position":[1240,380],"typeVersion":3},{"parameters":{"content":"👆 You can use any of those two Trigger to start the process.","height":80},"id":"dcc7ad06-da27-458e-9c7e-9c6f4feef999","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-40,740],"typeVersion":1},{"parameters":{"content":"### 🗒️ Notes : \n1. This workflow is made to write over any entry already present. You can change this for each company by setting the **\"RO\"** Custom Field to **1**, making it read-only for this workflow.\n\n2. If you want to make it readonly after the update from this workflow, then **add a custom property** in the last node **Enrich CRM with INSEE Data** named **\"RO\"**, SubType **\"Number\"** and Value **\"1\"**","height":240,"width":380},"id":"6e9b5957-9ca2-4480-a9fd-911534ca69fa","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1160,80],"typeVersion":1},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,8.232558139534888],"id":"60612846-95a2-4190-bb9a-b2120d29696d","name":"Error Trigger"},{"parameters":{},"type":"n8n-nodes-base.debugHelper","typeVersion":1,"position":[220,20],"id":"5d213f38-090f-47bc-bb46-721a23619722","name":"DebugHelper"}],"connections":{"clean_route":{"main":[[{"node":"Merge data from CRM and SIREN database with enriched for the CRM","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Insee API Key","type":"main","index":0}]]},"Set Insee API Key":{"main":[[{"node":"Get all Compagnies from Agile CRM","type":"main","index":0}]]},"Find Company in SIREN database":{"main":[[{"node":"Request all data from SIREN database","type":"main","index":0}]]},"Get all Compagnies from Agile CRM":{"main":[[{"node":"FilterOut all Company that have the ReadOnly Key set","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set Insee API Key","type":"main","index":0}]]},"Request all data from SIREN database":{"main":[[{"node":"Merge data from CRM and SIREN database with enriched for the CRM","type":"main","index":1}]]},"FilterOut all Company that have the ReadOnly Key set":{"main":[[{"node":"Find Company in SIREN database","type":"main","index":0},{"node":"clean_route","type":"main","index":0}]]},"Merge data from CRM and SIREN database with enriched for the CRM":{"main":[[{"node":"Enrich CRM with INSEE Data","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"DebugHelper","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2ea37896-8204-44eb-ae5b-6a9b3a73d431","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/07/"}