2025/08/__Contact_Agent.json
{"createdAt":"2025-08-06T09:00:11.841Z","updatedAt":"2025-08-06T09:00:11.841Z","id":"cRpb87WVI9CxACvR","name":"__Contact_Agent","active":false,"isArchived":false,"nodes":[{"id":"6e8b5295-f0ca-479e-a0bb-5b587de6f84e","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1040,280],"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"id":"b3b6289b-04cf-4e2d-ac36-b4299d6ee72f","name":"Contact Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-920,60],"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\n**Contact Management**  \n   - Use \"Get Contacts\" to retrieve contact information. \n   - Use \"Add or Update Contact\" to store new contact information or modify existing entries. "}}},{"id":"d42348e5-e87b-4f66-af05-153b069597f4","name":"Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,-20],"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}}},{"id":"1a89d011-fd9e-459b-b7a5-2feb21f01053","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,160],"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}}},{"id":"cbbb21ae-9896-4279-90b2-024a64f15386","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1140,60],"parameters":{"inputSource":"passthrough"}},{"id":"c9519df6-92fe-495e-a2a4-7dc6bd5f99af","name":"Google Contacts","type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[-840,280],"parameters":{"operation":"get","contactId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Contact_ID', ``, 'string') }}","rawData":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('RAW_Data', ``, 'boolean') }}"},"credentials":{"googleContactsOAuth2Api":{"id":"GCMKSD5pKNlhQEyI","name":"Google Contacts account"}}},{"id":"23cabd65-e3f7-4235-80cb-fb27e5d49e7f","name":"Get Contacts","type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-840,500],"parameters":{"operation":"search","base":{"__rl":true,"value":"appK0rbtvf9e7vt6w","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w"},"table":{"__rl":true,"value":"tbl08JGCfUK1RhXsG","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w/tbl08JGCfUK1RhXsG"},"options":{}}},{"id":"c48d15f7-f62a-4b76-b227-09a704b300b9","name":"Add or Update Contact2","type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-660,500],"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appK0rbtvf9e7vt6w","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w"},"table":{"__rl":true,"value":"tbl08JGCfUK1RhXsG","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w/tbl08JGCfUK1RhXsG"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $fromAI(\"name\") }}","email":"={{ $fromAI(\"emailAddress\") }}","phoneNumber":"={{ $fromAI(\"phoneNumber\") }}"},"matchingColumns":["name"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}}},{"id":"dac74377-a5f7-4f0e-af5e-11fa0647dcff","name":"Add or Update Contact","type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[-660,280],"parameters":{"familyName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Family_Name', ``, 'string') }}","givenName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Given_Name', ``, 'string') }}","additionalFields":{"emailsUi":{"emailsValues":[{"type":"home","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}"},{"type":"work","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}"},{"type":"other","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}"}]}}},"credentials":{"googleContactsOAuth2Api":{"id":"GCMKSD5pKNlhQEyI","name":"Google Contacts account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Contact Agent","type":"ai_languageModel","index":0}]]},"Contact Agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Contact Agent","type":"main","index":0}]]},"Google Contacts":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"Get Contacts":{"ai_tool":[[]]},"Add or Update Contact2":{"ai_tool":[[]]},"Add or Update Contact":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"c6ca893b-c007-4e25-af08-ff7f300b8f24","triggerCount":0,"shared":[{"createdAt":"2025-08-06T09:00:11.841Z","updatedAt":"2025-08-06T09:00:11.841Z","role":"workflow:owner","workflowId":"cRpb87WVI9CxACvR","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}