2025/08/AI Agent pour n8n Creators Leaderboard - Trouver des flux de travail populaires.json
{"createdAt":"2025-08-06T09:00:18.633Z","updatedAt":"2025-08-06T09:00:18.633Z","id":"xe1rtEQn5GEpG0l6","name":"AI Agent pour n8n Creators Leaderboard - Trouver des flux de travail populaires","active":false,"isArchived":false,"nodes":[{"id":"3a2317b2-0321-4b28-a0ec-47a73d735ec0","name":"stats_aggregate_creators","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-680,1280],"parameters":{"url":"={{ $json.path }}{{ $json['creators-filename'] }}.json","options":{}}},{"id":"ee6ef784-f924-4bff-96f4-0df949bdca83","name":"stats_aggregate_workflows","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-680,1500],"parameters":{"url":"={{ $json.path }}{{ $json['workflows-filename'] }}.json","options":{}}},{"id":"80bfb86a-84f1-40fc-a273-0bbf24bf653a","name":"Global Variables","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1100,1480],"parameters":{"assignments":{"assignments":[{"id":"4bcb91c6-d250-4cb4-8ee1-022df13550e1","name":"path","type":"string","value":"https://raw.githubusercontent.com/teds-tech-talks/n8n-community-leaderboard/refs/heads/main/"},{"id":"a910a798-0bfe-41b1-a4f1-41390c7f6997","name":"workflows-filename","type":"string","value":"=stats_aggregate_workflows"},{"id":"e977e816-dc1e-43ce-9393-d6488e6832ca","name":"creators-filename","type":"string","value":"=stats_aggregate_creators"},{"id":"20efae68-948e-445c-ab89-7dd23149dd50","name":"chart-filename","type":"string","value":"=stats_aggregate_chart"},{"id":"14233ab4-3fa4-4e26-8032-6ffe26cb601e","name":"datetime","type":"string","value":"={{ $now.format('yyyy-MM-dd') }}"},{"id":"f63dc683-a430-43ec-9c25-53fa5c0a3ced","name":"username","type":"string","value":"={{ $json.query.username }}"}]},"options":{}}},{"id":"e0b1d4ad-6d69-4955-bd9f-927b1e42924d","name":"Parse Workflow Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,1560],"parameters":{"assignments":{"assignments":[{"id":"76f4b20e-519e-4d46-aeac-c6c3f98a69fd","name":"data","type":"array","value":"={{ $json.data }}"}]},"options":{}}},{"id":"bbd172c1-4e57-4a71-ae70-45bb58a72d08","name":"Parse Creators Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,1220],"parameters":{"assignments":{"assignments":[{"id":"76f4b20e-519e-4d46-aeac-c6c3f98a69fd","name":"data","type":"array","value":"={{ $json.data }}"}]},"options":{}}},{"id":"e3c12b13-7041-4153-b505-f2e67204ae10","name":"Take Top 25 Creators","type":"n8n-nodes-base.limit","typeVersion":1,"position":[300,1220],"parameters":{"maxItems":25}},{"id":"737b02c8-2ccd-46e5-bda9-7de9bece924a","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-120,1920],"parameters":{"aggregate":"aggregateAllItemData","options":{}}},{"id":"0f4f7ef7-e92f-4c87-bd8b-cdaaffd8a249","name":"Filter By Creator Username","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-320,1920],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"21b17fb0-1809-4dc0-b775-cf43a570aa3a","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.username }}","rightValue":"={{ $('Global Variables').item.json.username }}"}]},"options":{}}},{"id":"d9684e55-ffb5-4bef-8702-76c5a247b93e","name":"gpt-4o-mini","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1400,600],"parameters":{},"credentials":{}},{"id":"b3db4751-64c0-4aff-93ed-6a430f16def5","name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1420,1480],"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"query\": \n    {\n      \"username\": \n      \"joe\"\n    }\n}"}},{"id":"be192600-b433-4741-82fc-8058639eb58d","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1420,240],"parameters":{"options":{}}},{"id":"32212e2c-f8c4-4810-9733-34fced6dbfae","name":"Workflow Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1,"position":[-800,600],"parameters":{"name":"n8n_creator_stats","description":"Call this tool to get n8n Creator Stats.","workflowId":"={{ $workflow.id }}","specifyInputSchema":true,"jsonSchemaExample":"{\n  \"username\": \"n8n creator username\"\n}"}},{"id":"14ac2233-69a5-4b13-90b4-a87ae50cc98f","name":"creator-summary","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-460,240],"parameters":{"operation":"toText","sourceProperty":"output","options":{"fileName":"=creator-summary"}}},{"id":"641df6c2-33d0-42a3-85c2-2b4d556d19ec","name":"Workflow Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[140,1920],"parameters":{"assignments":{"assignments":[{"id":"eeff1310-2e1c-4ea4-9107-a14b1979f74f","name":"response","type":"string","value":"={{ $json.data }}"}]},"options":{}}},{"id":"a892ee0e-c5e3-4272-82e5-038fabc19a21","name":"n8n Creator Stats Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1060,240],"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=You are tasked with generating a **comprehensive Markdown report** about a specific n8n community workflow contributor using the provided tools. Your report should not only address the user's query but also provide meaningful insights into the contributor's impact on the n8n community. Follow the structure below:\n\n## Detailed Summary\n- Provide a thorough summary of the contributor's workflows.\n- Highlight unique features, key use cases, and notable technical components for each workflow.\n\n## Workflows\nCreate a well-formatted markdown table with these columns:\n- **Workflow Name**: The name of the workflow.  Keep the emojies of they exist.\n- **Description**: A brief overview of its purpose and functionality.\n- **Unique Weekly Visitors**: The number of unique users who visited this workflow weekly.\n- **Unique Monthly Visitors**: The number of unique users who visited this workflow monthly.\n- **Unique Weekly Inserters**: The number of unique users who inserted this workflow weekly.\n- **Unique Monthly Inserters**: The number of unique users who inserted this workflow monthly.\n- **Why It’s Popular**: Explain what makes this workflow stand out (e.g., innovative features, ease of use, specific use cases).\n\n## Community Analysis\n- Analyze why these workflows are popular and valued by the n8n community.\n- Discuss any trends, patterns, or feedback that highlight their significance.\n\n## Additional Insights\n- If available, provide extra information about the contributor's overall impact, such as their engagement in community forums or other notable contributions.\n\n## Formatting Guidelines\n- Use Markdown formatting exclusively (headers, lists, and tables) for clarity and organization.\n- Ensure your response is concise yet comprehensive, structured for easy navigation.\n\n## Error Handling\n- If data is unavailable or incomplete, clearly state this in your response and suggest possible reasons or next steps.\n\n## TOOLS\n\n### n8n_creator_stats  \n- Use this tool to retrieve detailed statistics about the n8n creator.\n\n\n \n"}},"alwaysOutputData":true},{"id":"d35e79f4-70ee-420a-b400-790d41e24c60","name":"Save creator-summary.md","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-260,240],"parameters":{"operation":"write","fileName":"=C:\\\\test\\\\{{ $binary.data.fileName }}-{{ $now.format('yyyy-MM-dd-hh-mm-ss') }}.md","options":{"append":true}}},{"id":"7ee75ca5-50ff-4cb3-9249-427efccb5933","name":"Summary Report","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-460,620],"parameters":{"assignments":{"assignments":[{"id":"c44ee9a7-e640-4f5e-acbe-ec559868b74c","name":"output","type":"string","value":"={{ $json.output }}"}]},"options":{}}},{"id":"3d476e5a-1dfe-4e28-b387-d620dfde07d2","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1240,120],"parameters":{"content":"## AI Agent for n8n Creator Leaderboard Stats\nhttps://github.com/teds-tech-talks/n8n-community-leaderboard","height":320,"width":620,"color":6}},{"id":"7f28ecca-c952-4933-8e10-5d071c7d6db6","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-880,480],"parameters":{"content":"## Tool Call for n8n Creators Stats","height":280,"width":260}},{"id":"9491d4e7-f7e3-408d-8021-16b9cebf9e89","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1500,480],"parameters":{"content":"## Local or Cloud LLM","height":460,"width":300,"color":5}},{"id":"0337e75f-aff3-46af-a50d-b2acc2972fef","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-1400,780],"parameters":{"options":{}},"disabled":true},{"id":"3ae114b4-11e9-46c1-b061-8818c94a8761","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-580,120],"parameters":{"content":"## Save n8n Creator Report Locally\n(optional for local install)","height":320,"width":540,"color":7}},{"id":"3ddd937a-25d8-49d6-9fbd-4d2dd88fac30","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-580,480],"parameters":{"content":"## Summary Report Response","height":340,"width":320,"color":4}},{"id":"082616d1-ad5a-46ef-b088-5975f5abd643","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,1360],"parameters":{"content":"## Global Workflow Variables\n\n","height":320,"width":300}},{"id":"0c9433f9-f99a-4e22-b152-8c622e8d8854","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1240,1120],"parameters":{"content":"## Daily n8n Leaderboard Stats\nhttps://github.com/teds-tech-talks/n8n-community-leaderboard\n\n### n8n Leaderboard\nhttps://teds-tech-talks.github.io/n8n-community-leaderboard/","height":640,"width":780,"color":3}},{"id":"40e6b5e2-c2b3-41f2-99dd-38e739f64a24","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-420,1120],"parameters":{"content":"## n8n Creators Stats","height":300,"width":1120,"color":6}},{"id":"8177f503-54a7-42a3-9ab4-b8ca4795d839","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-420,1460],"parameters":{"content":"## n8n Workflow Stats","height":300,"width":1120,"color":4}},{"id":"01be7bad-11d0-4f6b-9b6f-a1a498bceb02","name":"Creators Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,1220],"parameters":{"assignments":{"assignments":[{"id":"02b02023-c5a2-4e22-bcf9-2284c434f5d3","name":"name","type":"string","value":"={{ $json.user.name }}"},{"id":"4582435b-3c76-45e7-a251-12055efa890a","name":"username","type":"string","value":"={{ $json.user.username }}"},{"id":"b713a971-ce29-43cf-8f42-c426a38c6582","name":"bio","type":"string","value":"={{ $json.user.bio }}"},{"id":"19a06510-802e-4bd5-9552-7afa7355ff92","name":"sum_unique_weekly_inserters","type":"number","value":"={{ $json.sum_unique_weekly_inserters }}"},{"id":"e436533a-5170-47c2-809b-7d79502eb009","name":"sum_unique_monthly_inserters","type":"number","value":"={{ $json.sum_unique_monthly_inserters }}"},{"id":"198fef5d-86b8-4009-b187-6d3e6566d137","name":"sum_unique_inserters","type":"number","value":"={{ $json.sum_unique_inserters }}"}]},"options":{}}},{"id":"169be7c5-0f61-48cb-9655-1ada5bf693bb","name":"Workflows Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,1560],"parameters":{"assignments":{"assignments":[{"id":"3bc3cd11-904d-4315-974d-262c0bd5fea7","name":"template_url","type":"string","value":"={{ $json.template_url }}"},{"id":"c846c523-f077-40cd-b548-32460124ffb9","name":"wf_detais.name","type":"string","value":"={{ $json.wf_detais.name }}"},{"id":"f330de47-56fb-4657-8a30-5f5e5cfa76d7","name":"wf_detais.createdAt","type":"string","value":"={{ $json.wf_detais.createdAt }}"},{"id":"f7ed7e51-a7cf-4f2e-8819-f33115c5ad51","name":"wf_detais.description","type":"string","value":"={{ $json.wf_detais.description }}"},{"id":"02b02023-c5a2-4e22-bcf9-2284c434f5d3","name":"name","type":"string","value":"={{ $json.user.name }}"},{"id":"4582435b-3c76-45e7-a251-12055efa890a","name":"username","type":"string","value":"={{ $json.user.username }}"},{"id":"f952cad3-7e62-46b7-aeb7-a5cbf4d46c0d","name":"unique_weekly_inserters","type":"number","value":"={{ $json.unique_weekly_inserters }}"},{"id":"6123302b-5bda-48f4-9ef2-71ff52a5f3ba","name":"unique_monthly_inserters","type":"number","value":"={{ $json.unique_monthly_inserters }}"},{"id":"92dca169-e03f-42ad-8790-ebb55c1a7272","name":"unique_weekly_visitors","type":"number","value":"={{ $json.unique_weekly_visitors }}"},{"id":"ee640389-d396-4d65-8110-836372a51fb0","name":"unique_monthly_visitors","type":"number","value":"={{ $json.unique_monthly_visitors }}"},{"id":"9f1c5599-3672-4f4e-9742-d7cc564f6714","name":"user.avatar","type":"string","value":"={{ $json.user.avatar }}"}]},"options":{}}},{"id":"540736fc-0079-4909-8878-97670e99d49a","name":"Merge Creators & Workflows","type":"n8n-nodes-base.merge","typeVersion":3,"position":[800,1560],"parameters":{"mode":"combine","fieldsToMatchString":"username","joinMode":"enrichInput1","options":{}}},{"id":"64a9c0cf-d589-48b6-a8a2-179f8b90da72","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-420,1800],"parameters":{"content":"## Filter by n8n Creator Username","height":320,"width":480}},{"id":"69fbe811-89ef-4850-8d89-25f5667c67ff","name":"Split Out Creators","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-120,1220],"parameters":{"fieldToSplitOut":"data","options":{}}},{"id":"c573c286-da17-4977-ad0a-4d840dd894ce","name":"Split Out Workflows","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-120,1560],"parameters":{"fieldToSplitOut":"data","options":{}}},{"id":"9661bce4-71c9-4595-9680-ef5389629e73","name":"Sort By Top Weekly Creator Inserts","type":"n8n-nodes-base.sort","typeVersion":1,"position":[80,1220],"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"sum_unique_weekly_inserters","order":"descending"}]},"options":{}}},{"id":"8010ddde-7436-4b09-b773-f353497f1897","name":"Sort By Top Weekly Workflow Inserts","type":"n8n-nodes-base.sort","typeVersion":1,"position":[80,1560],"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"unique_weekly_inserters","order":"descending"}]},"options":{}}},{"id":"199177a3-1e41-4999-908c-0818fd3cb49e","name":"Take Top 300 Workflows","type":"n8n-nodes-base.limit","typeVersion":1,"position":[300,1560],"parameters":{"maxItems":300}},{"id":"97a8dffd-6148-4925-8723-297eaca78860","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1500,1040],"parameters":{"content":"## Workflow for n8n Creators Stats","height":1120,"width":2510,"color":7}},{"id":"cdf1b125-6c07-4ea5-a5c2-23fbc28f4800","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-780,1160],"parameters":{"content":"## GET n8n Stats from GitHub repo","height":560,"width":280,"color":7}},{"id":"fb8e6400-130c-461a-a9ff-64019e149206","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,720],"parameters":{"content":"# n8n Creators Leaderboard Stats Workflow\n\n## Overview\nThis workflow aggregates and processes data from the n8n community to generate detailed statistics about creators and their workflows. It fetches information from JSON files stored on GitHub, merges creator and workflow data, filters the results based on a specified username, and uses an AI agent to output a comprehensive Markdown report.\n\n## Data Retrieval\n- **Creators Data**:  \n  -  An HTTP Request node (\"stats_aggregate_creators\") retrieves a JSON file containing aggregated statistics for workflow creators.  \n- **Workflows Data**:  \n  -  A separate HTTP Request node (\"stats_aggregate_workflows\") pulls a JSON file with detailed workflow metrics such as visitor counts and inserter statistics.  \n- **Global Variables**:  \n  -  A global variable is set with the GitHub repository base URL housing these JSON files, ensuring that the correct data source is used.\n\n## Data Processing and Merging\n- **Parsing the Data**:  \n  -  The \"Parse Creators Data\" and \"Parse Workflow Data\" nodes extract JSON arrays from the retrieved files for further processing.  \n- **Limiting and Sorting**:  \n  -  Nodes like \"Take Top 25 Creators\" and \"Take Top 300 Workflows\" limit the result sets, while nodes such as \"Sort By Top Weekly Creator Inserts\" and \"Sort By Top Weekly Workflow Inserts\" sort the data based on performance metrics.  \n- **Merging Records**:  \n  -  Data from creators and workflows is merged by matching the username, enriching the dataset with combined statistics for each creator.\n\n## Filtering and Report Generation\n- **Username Filtering**:  \n  -  A filter node (\"Filter By Creator Username\") allows the workflow to focus on a single creator based on the input username (e.g., \"joe\").  \n- **Generating the Markdown Report**:  \n  -  An AI agent node (\"gpt-4o-mini\") processes the filtered data using a predefined prompt. This prompt instructs the agent to produce a detailed Markdown report that includes:  \n    - An overall summary of the creator’s workflows  \n    - A Markdown table listing each workflow along with key metrics (unique weekly/monthly visitors and inserters) and a brief explanation of its popularity  \n    - Insights into trends or community feedback related to the workflows  \n- **Output Conversion and Saving**:  \n  -  The resulting text is converted into a file (using the \"creator-summary\" node) and then saved locally with a filename that includes a timestamp, ensuring easy tracking and retrieval\n","height":1000,"width":1000,"color":2}},{"id":"5fd55efb-d671-47a4-8fe5-93c919e7f25b","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-1080,600],"parameters":{}},{"id":"60258de3-43f8-4978-a85e-5db12c6c106b","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1180,480],"parameters":{"content":"## Chat History Memory","height":280,"width":280,"color":3}},{"id":"5c5481ee-a874-4436-b822-ac87aca5643e","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2020,20],"parameters":{"content":"# Quick Start Guide for the n8n Creators Leaderboard Workflow\n\n## Prerequisites\n- Ensure your n8n instance is running.\n- Verify that the GitHub base URL and file variables (for creators and workflows) are correctly set in the Global Variables node.\n- Confirm that your OpenAI credentials are configured for the AI Agent node.\n\n## How to Start the Workflow\n- **Activate the Workflow:**  \n  Ensure the workflow is active in your n8n environment.\n\n- **Trigger via Chat:**  \n  The workflow is initiated by the Chat Trigger node. Send a chat message such as:  \n  `show me stats for username [desired_username]`  \n  This input provides the required username for filtering.\n\n- **Processing & Report Generation:**  \n  Once triggered, the workflow fetches aggregated creator and workflow data from GitHub, processes and merges the information, and then uses the AI Agent to generate a Markdown report.\n\n- **Output:**  \n  The final Markdown report is saved locally as a file (with a timestamp), which you can review to see detailed leaderboard statistics and insights for the specified creator.\n\n## Summary\nBy sending a chat message with the appropriate username command, you can quickly trigger this workflow, which will then fetch, process, and generate dynamic statistics about n8n community creators. Enjoy exploring your community’s leaderboard data!\n","height":980,"width":480}},{"id":"cb73cb49-fb2f-42d6-a24b-c7e75af609c4","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2020,1040],"parameters":{"content":"# Why Use the n8n Creators Leaderboard Workflow?\n\n## Benefits\nThis workflow provides valuable insights into the n8n community by analyzing and presenting detailed statistics about workflow creators and their contributions. It helps users to:\n\n- **Discover Popular Workflows**: Identify the most widely used workflows based on unique visitors and inserters, both weekly and monthly.\n- **Understand Community Trends**: Gain insights into what types of workflows are resonating with the community, enabling better decision-making for creating or improving workflows.\n- **Recognize Top Contributors**: Highlight the most active and impactful creators, fostering collaboration and inspiration within the community.\n- **Save Time with Automation**: Automates data retrieval, processing, and report generation, eliminating manual effort.\n\n## Key Features\n- **Data Aggregation**: Fetches creator and workflow statistics from GitHub repositories.\n- **Custom Filtering**: Allows filtering by specific usernames to focus on individual contributors.\n- **AI-Powered Reports**: Generates comprehensive Markdown reports with detailed summaries, tables, and community analysis.\n- **Output Flexibility**: Saves reports locally for easy access and future reference.\n\n## Use Cases\n- **For Workflow Creators**: Monitor performance metrics of your workflows to understand their impact and optimize them for better engagement.\n- **For Community Managers**: Recognize top contributors and trends to encourage participation and improve community resources.\n- **For New Users**: Explore popular workflows as a starting point for building your own automations.\n\n","height":940,"width":480}},{"id":"81456c40-9c0e-4c30-bf44-8c2c2c502204","name":"Ollama Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-1040,460],"parameters":{"model":"mistral:latest","options":{}},"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}}],"connections":{"Aggregate":{"main":[[{"node":"Workflow Response","type":"main","index":0}]]},"Creators Data":{"main":[[{"node":"Merge Creators & Workflows","type":"main","index":0}]]},"Workflow Tool":{"ai_tool":[[{"node":"n8n Creator Stats Agent","type":"ai_tool","index":0}]]},"Workflows Data":{"main":[[{"node":"Merge Creators & Workflows","type":"main","index":1}]]},"creator-summary":{"main":[[{"node":"Save creator-summary.md","type":"main","index":0}]]},"Global Variables":{"main":[[{"node":"stats_aggregate_creators","type":"main","index":0},{"node":"stats_aggregate_workflows","type":"main","index":0}]]},"Split Out Creators":{"main":[[{"node":"Sort By Top Weekly Creator Inserts","type":"main","index":0}]]},"Parse Creators Data":{"main":[[{"node":"Split Out Creators","type":"main","index":0}]]},"Parse Workflow Data":{"main":[[{"node":"Split Out Workflows","type":"main","index":0}]]},"Split Out Workflows":{"main":[[{"node":"Sort By Top Weekly Workflow Inserts","type":"main","index":0}]]},"Take Top 25 Creators":{"main":[[{"node":"Creators Data","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"n8n Creator Stats Agent","type":"ai_memory","index":0}]]},"Take Top 300 Workflows":{"main":[[{"node":"Workflows Data","type":"main","index":0}]]},"n8n Creator Stats Agent":{"main":[[{"node":"Summary Report","type":"main","index":0},{"node":"creator-summary","type":"main","index":0}]]},"stats_aggregate_creators":{"main":[[{"node":"Parse Creators Data","type":"main","index":0}]]},"stats_aggregate_workflows":{"main":[[{"node":"Parse Workflow Data","type":"main","index":0}]]},"Filter By Creator Username":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Merge Creators & Workflows":{"main":[[{"node":"Filter By Creator Username","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"n8n Creator Stats Agent","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Global Variables","type":"main","index":0}]]},"Sort By Top Weekly Creator Inserts":{"main":[[{"node":"Take Top 25 Creators","type":"main","index":0}]]},"Sort By Top Weekly Workflow Inserts":{"main":[[{"node":"Take Top 300 Workflows","type":"main","index":0}]]},"Ollama Chat Model1":{"ai_languageModel":[[{"node":"n8n Creator Stats Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"f0630441-46ad-4982-814c-32eeab61878d","triggerCount":0,"shared":[{"createdAt":"2025-08-06T09:00:18.633Z","updatedAt":"2025-08-06T09:00:18.633Z","role":"workflow:owner","workflowId":"xe1rtEQn5GEpG0l6","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}