2025/08/Automate Blog Content Creation with GPT-4, Perplexity & WordPress.json
{"createdAt":"2025-08-06T08:59:56.674Z","updatedAt":"2025-08-06T08:59:56.674Z","id":"GKt23srcZMJ23Maa","name":"Automate Blog Content Creation with GPT-4, Perplexity & WordPress","active":false,"isArchived":false,"nodes":[{"id":"62d12abb-edc6-452d-ad54-b056e5fad1bb","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-220,180],"parameters":{"content":"## Perplexity Section\n🌐 Calls Perplexity API to get fresh research based on a form input.\n\n\n","height":300,"width":460,"color":4}},{"id":"7a6b25c4-2968-492c-b271-6ee872e251df","name":"Perplexity Research","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-140,280],"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a professional news researcher who is capable of finding detailed summaries about a news topic from highly reputable sources.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \" Research the following topic and return everything you can find about: '{{ $json['Topic or Question'] }}'.\"\n    }\n  ]\n}\n","options":{}}},{"id":"dd3ce21a-ba1f-41c8-9df6-29a98fea6aca","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[340,180],"parameters":{"options":{}}},{"id":"6687b552-71eb-40b3-a281-e0c6b2a44632","name":"Slack-List","type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1280,580],"parameters":{}},{"id":"0081ed17-2002-4c5d-99e4-f5895ef96d74","name":"Copywriting AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[800,280],"parameters":{"promptType":"define","text":"=You are an expert in SEO content writing.\n\nYour mission is to create, publish, and notify about a search engine optimized article for a blog focused on artificial intelligence. Follow the steps below: {{ $('Format Research Output').item.json.research }}\n\n1. **Write an SEO-optimized article with a maximum of 20 lines** based on the provided information:\n   - Structure the article with a catchy **H1 title**, one or two **H2 subtitles**, and a professional yet accessible tone.\n   - Extract and include relevant keywords from the data.\n   - Optimize for readability: short sentences, clear paragraphs, and a CTA if relevant.\n   - Do not exceed 20 lines of content.\n\n2. **Publish the article on WordPress**, including:\n   - The **title** as the article's headline\n   - The **SEO content** as the body\n\n3. **Send an email** to my address : {{ $json.emailAddress }} containing:\n   - The article's title\n   - The **URL** of the published article on WordPress\n\n4. **Retrieve the list of available Slack tools first** using “Slack Tools”.\n   - Then, send a notification on Slack that the article has been published, including:\n     - The article title\n     - The article link\n     - Slack channel ID: {{ $json.slackChannelId }}\n\n5. **Retrieve the list of available Notion tools first** using “Notion Tools”.\n   Then, **add a new entry to my Notion database** (ID: {{ $json.notionDatabaseId }}) with the following fields:\n   - The 'Name' column is of type 'title'  → {{ $('Start with Research Query Submission').item.json['Topic or Question'] }}\n   The 'Subject' column is of type 'rich_text' → [the article's headline]\n   - The 'Content'column is of type 'rich_text' → [The SEO content]\n   - The 'URL' column is of type 'URL': → [The article link]\n   - The 'Status' column is of type 'select' → Select: `publish`\n\nImportant: Ensure that each step is successfully completed **before proceeding to the next**.\n","options":{}}},{"id":"f4a16318-3e52-40d8-a24d-0b30dd4e4c32","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[260,0],"parameters":{"content":"## My Copywriting AI Agent\n✍️ Transforms live research into SEO-optimized blog articles using GPT-4, then automatically publishes to WordPress, sends notifications via Gmail & Slack, and logs everything to Notion. This is your full-stack content assistant — from prompt to post, hands-free.\n**mcp-notion-server** : [Guide](https://github.com/suekou/mcp-notion-server)\n**mcp-slack-server** : [Guide](https://github.com/modelcontextprotocol/servers/tree/main/src/slack)","height":820,"width":1300}},{"id":"7cfbf37e-7a13-4b7a-9a5e-50c367eef0b4","name":"Format Research Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[60,280],"parameters":{"assignments":{"assignments":[{"id":"23b8e8c4-9191-415a-9661-1b60d413528a","name":"research","type":"string","value":"={{ $json.choices[0].message.content.replaceAll(\"[1]\", \" - source: \" +$json.citations[0]).replaceAll(\"[2]\",\" - source:\" +$json.citations[1]).replaceAll(\"[3]\",\" - source: \" +$json.citations[2]).replaceAll(\"[4]\",\" - source: \"+$json.citations[3]).replaceAll(\"[5]\",\" - source: \"+$json.citations[4]).replaceAll(\"[6]\",\" - source: \"+$json.citations[5]).replaceAll(\"[7]\",\" - source: \"+$json.citations[6]).replaceAll(\"[8]\",\" - source: \"+$json.citations[7]).replaceAll(\"[9]\",\" - source: \"+$json.citations[8]).replaceAll(\"[10]\",\" - source: \"+$json.citations[9]) }}"}]},"options":{}}},{"id":"01ad2e50-9a34-4923-a4fe-f18ee74dec35","name":"Publish Article to WordPress","type":"n8n-nodes-base.wordpressTool","typeVersion":1,"position":[620,580],"parameters":{"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","additionalFields":{"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Content', ``, 'string') }}","status":"publish"}}},{"id":"cee90345-8180-440f-997a-13273f01aab6","name":"Send Email Notification","type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1140,580],"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}}},{"id":"6eb1efd7-04ab-4967-a035-62cc57619cc3","name":"Notify Slack Channel","type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[1420,580],"parameters":{"operation":"executeTool","toolName":"={{ $fromAI(\"tool\", \"the tool selected\")  }}","toolParameters":"={{ $fromAI('Tool_Parameters', ``, 'json') }}"}},{"id":"fd918e3e-cffe-4765-942c-2effa979ad77","name":"Generate SEO Blog Content (GPT-4o)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[380,580],"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini","cachedResultName":"gpt-4o-mini"},"options":{}}},{"id":"e0891f75-9c1d-458a-8b2a-ecd90523a9cf","name":"Start with Research Query Submission","type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-400,280],"parameters":{"formTitle":"AutoBlog Creator","formDescription":"From research to article — no writing required","formFields":{"values":[{"fieldLabel":"Topic or Question","fieldType":"textarea","placeholder":"=How is GPT-4 transforming content creation in 2025?","requiredField":true}]},"options":{}}},{"id":"24cbbe2e-eed4-40dc-97ea-b7ff59a9e11a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-220,0],"parameters":{"content":"## Intro Sticky \n🔁 **This workflow automates the full cycle of SEO blog content creation** — from live topic research using Perplexity to blog publishing on WordPress, Slack/Gmail notifications, and Notion logging.","height":140,"width":460,"color":3}},{"id":"bd43c2b5-2d4c-4770-a522-41b6926955e8","name":"Edit Workflow Variables","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-100,640],"parameters":{"assignments":{"assignments":[{"id":"c06b2d24-1fd7-40f0-aee5-b5d6553e289e","name":"emailAddress","type":"string","value":""},{"id":"451aad67-5190-4eab-a982-56092734bb07","name":"slackChannelId","type":"string","value":""},{"id":"8a294900-f367-47a2-b260-344b133dc2ff","name":"notionDatabaseId","type":"string","value":""}]},"options":{}},"alwaysOutputData":true},{"id":"f850b0ff-0c77-480b-af87-2cde11520eea","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-220,520],"parameters":{"content":"## Workflow Configuration Panel\n🛠️ **Set your variables here** (email, Slack, Notion, OpenAI model)","height":300,"width":460,"color":6}},{"id":"b859cf7c-3703-4d38-a08b-d2839979c2f5","name":"Notion-List","type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[780,580],"parameters":{}},{"id":"02a05fc6-d882-4ee2-824d-b6c2ea702615","name":"Insert Article in Notion","type":"n8n-nodes-mcp.mcpClientTool","typeVersion":1,"position":[960,580],"parameters":{"operation":"executeTool","toolName":"={{ $fromAI(\"tool\", \"the tool selected\")  }}","toolParameters":"={{ $fromAI('tool_parameters', ``, 'json') }}"}}],"connections":{"Slack-List":{"ai_tool":[[{"node":"Copywriting AI Agent","type":"ai_tool","index":0}]]},"Notion-List":{"ai_tool":[[{"node":"Copywriting AI Agent","type":"ai_tool","index":0}]]},"Perplexity Research":{"main":[[{"node":"Format Research Output","type":"main","index":0}]]},"Notify Slack Channel":{"ai_tool":[[{"node":"Copywriting AI Agent","type":"ai_tool","index":0}]]},"Format Research Output":{"main":[[{"node":"Edit Workflow Variables","type":"main","index":0}]]},"Edit Workflow Variables":{"main":[[{"node":"Copywriting AI Agent","type":"main","index":0}]]},"Send Email Notification":{"ai_tool":[[{"node":"Copywriting AI Agent","type":"ai_tool","index":0}]]},"Insert Article in Notion":{"ai_tool":[[{"node":"Copywriting AI Agent","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Copywriting AI Agent","type":"main","index":0}]]},"Publish Article to WordPress":{"ai_tool":[[{"node":"Copywriting AI Agent","type":"ai_tool","index":0}]]},"Generate SEO Blog Content (GPT-4o)":{"ai_languageModel":[[{"node":"Copywriting AI Agent","type":"ai_languageModel","index":0}]]},"Start with Research Query Submission":{"main":[[{"node":"Perplexity Research","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"49517849-9463-4703-967d-962f71fbfe1b","triggerCount":0,"shared":[{"createdAt":"2025-08-06T08:59:56.674Z","updatedAt":"2025-08-06T08:59:56.674Z","role":"workflow:owner","workflowId":"GKt23srcZMJ23Maa","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}