2025/08/bolt.diy Expert Agent.json
{"createdAt":"2025-08-06T09:00:01.422Z","updatedAt":"2025-08-06T09:00:01.422Z","id":"8AnKRLQgcpx5XLKZ","name":"bolt.diy Expert Agent","active":false,"isArchived":false,"nodes":[{"id":"9ef7b5f5-2e7a-478c-a9d3-ca50118f8dde","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[840,-60],"parameters":{"assignments":{"assignments":[{"id":"ee2bcd57-3b4c-43f9-b4b7-3a25687b9a68","name":"query","value":"={{ $json.body.query }}","type":"string"},{"id":"63f23e51-af2b-47c4-a288-5abaf9b6c357","name":"user_id","value":"={{ $json.body.user_id }}","type":"string"},{"id":"b97a3670-8a87-481b-8695-db44624be7d8","name":"request_id","value":"={{ $json.body.request_id }}","type":"string"},{"id":"b4a4acb2-b2c4-45c1-af2e-02636999af94","name":"session_id","value":"={{ $json.body.session_id }}","type":"string"}]},"options":{}}},{"id":"17a4fe24-4be0-422e-b3d3-9b2d696bdf2f","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1480,-60],"parameters":{"respondWith":"allIncomingItems","options":{"responseHeaders":{"entries":[{"name":"X-n8n-Signature","value":"EvtIS^EBVISeie6svB@6ev"}]}}}},{"id":"6d7d42ce-6f7c-48a1-aaa0-3bbaf5bb648b","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[1140,160],"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Edit Fields').item.json.session_id }}","tableName":"messages"},"credentials":{"postgres":{"id":"jgM99C1xGUNlSO7F","name":"Postgres supabase"}}},{"id":"00150394-8e19-45ed-b061-18ebe5c5cb77","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1000,160],"parameters":{"options":{}},"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"id":"8595b586-ee7d-4dab-a8b8-caba5e86ebf9","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,400],"parameters":{"url":"https://stackblitz-labs.github.io/bolt.diy/","options":{}}},{"id":"6ff30fb6-8a38-424d-9b40-3316149ee93f","name":"HTML","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[960,400],"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"links","cssSelector":"nav a.md-nav__link","returnValue":"attribute","attribute":"href","returnArray":true}]},"options":{}}},{"id":"725e358b-fceb-405d-8fb2-515b860407b0","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1320,400],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"320649a3-9c46-4067-bdec-7566a3e588ed","leftValue":"={{ $json.links }}","rightValue":"/","operator":{"type":"string","operation":"endsWith"}},{"id":"dbd44d34-9f7e-4eae-9e14-cd82a5b33387","leftValue":"={{ $json.links }}","rightValue":".","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}}},{"id":"cacba495-0b16-4a65-b16a-309519dffdf2","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1140,400],"parameters":{"fieldToSplitOut":"links","options":{}}},{"id":"a918ce15-3a05-4447-b30e-0d4bc2d73331","name":"HTTP Request2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,400],"parameters":{"url":"={{ `https://stackblitz-labs.github.io/bolt.diy/${$json.links.replaceAll(\".\", \"\")}` }}","options":{}}},{"id":"04a25517-8b80-4f6a-8bb7-e3a3ff1e9c11","name":"HTML1","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1700,400],"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"content","cssSelector":"article","returnArray":true}]},"options":{}}},{"id":"81de60b0-dcd0-4cf5-96bb-6a3e22965dd8","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1900,400],"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"content","separateBy":"other","customSeparator":"\\n\\nNext page:\\n\\n"}]},"options":{}}},{"id":"4d8a2809-f704-4bcf-baa4-8878fca8e7a4","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[340,400],"parameters":{}},{"id":"e21d7d5a-656a-447f-9843-a9f3b861f383","name":"Call n8n Workflow Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1280,160],"parameters":{"name":"fetch_ottodev_documentation","description":"Call this tool to get the oTToDev documentation when you need to answer a question for the user.","workflowId":{"__rl":true,"value":"={{ $workflow.id }}","mode":"id"},"responsePropertyName":"concatenated_content","fields":{"values":[{"name":"session_id","stringValue":"={{$('Edit Fields').item.json.session_id}}"}]}}},{"id":"fb50781a-579f-4793-8c8e-a18f226916bf","name":"Add AI Documentation Message to DB","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[540,400],"parameters":{"tableId":"messages","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $json.session_id }}"},{"fieldId":"message","fieldValue":"={{ {\n\"type\": \"ai\",\n\"content\": \"-> Reading bolt.diy documentation...\",\n\"data\": {},\n\"additional_kwargs\": {},\n\"response_metadata\": {}\n} }}"}]}},"credentials":{"supabaseApi":{"id":"8GZCWpmmiv0XhArA","name":"Supabase n8n"}}},{"id":"d2c2b8b6-c0b4-49c8-89b4-c2d85f6c17e8","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,-100],"parameters":{"content":"# bolt.diy Expert Agent\n\nAuthor: [Cole Medin](https://www.youtube.com/@ColeMedin)\n\nThe bolt.diy Expert Agent is a specialized n8n AI agent designed to assist users with questions and issues related to bolt.diy - the official open source bolt.new that enables users to choose from multiple LLM providers for web development. It does this by researching the bolt.diy documentation for the user.\n\n## Purpose\n\nThis agent serves as a knowledgeable assistant that:\n- Answers questions about bolt.diy features and capabilities\n- Helps troubleshoot installation and setup issues\n- Provides guidance on using different LLM providers\n- Assists with understanding bolt.diy architecture and components\n- Offers support for contributing to the project","height":441.41627906976817,"width":651.0139534883727,"color":6}},{"id":"c0710813-3f7b-47b3-9d1e-d93a30d20a32","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[600,-60],"parameters":{"httpMethod":"POST","path":"invoke-ottodev-expert","authentication":"headerAuth","responseMode":"responseNode","options":{}},"credentials":{"httpHeaderAuth":{"id":"sgOE2BzhDy5BIQZo","name":"Header Auth Rapid API"}}},{"id":"1c84478b-85d7-44dc-b079-fd884fc70246","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1080,-60],"parameters":{"promptType":"define","text":"={{ $('Edit Fields').item.json.query }}","options":{"systemMessage":"=You are an expert at an open source AI coding assistant called bolt.diy. You also have access to fetch the full documentation for bolt.diy to answer any questions for the user. The documentation URL is:\n\nhttps://stackblitz-labs.github.io/bolt.diy\n\nYou use this README to answer user questions to the best of your ability. If you don't know the answer and the guide/FAQ doesn't help you with it, just be honest and tell the user you don't know the answer and they can instead post a question on the Discourse community for bolt.diy (the Think Tank):\n\nhttps://thinktank.ottomator.ai\n\nYour answers are focused around helping beginners use bolt.diy. Keep your answers simple yet still comprehensive!"}}}],"connections":{"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"HTTP Request1":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Add AI Documentation Message to DB","type":"main","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Add AI Documentation Message to DB":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"ed8b970b-66dc-4cb1-90a1-a4d54e11cd6c","triggerCount":0,"shared":[{"createdAt":"2025-08-06T09:00:01.422Z","updatedAt":"2025-08-06T09:00:01.422Z","role":"workflow:owner","workflowId":"8AnKRLQgcpx5XLKZ","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}