2025/08/Eleven_Labs_RAG_Agent.json.json
{"createdAt":"2025-08-06T09:00:22.707Z","updatedAt":"2025-08-06T09:00:22.707Z","id":"On5xBkTugJ5h9EuI","name":"Eleven_Labs_RAG_Agent.json","active":false,"isArchived":false,"nodes":[{"id":"0713bf52-b9bb-496d-998b-a62cc788d41a","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1060,20],"parameters":{"httpMethod":"POST","path":"testing","responseMode":"responseNode","options":{}}},{"id":"98a8fa3a-8234-48f6-8732-50495fbe3b44","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-280,20],"parameters":{"options":{}}},{"id":"811ff7c9-cf16-4edd-8644-3001ca528549","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-840,260],"parameters":{"options":{}}},{"id":"0dd72a61-1e54-4772-939e-7de030c51b42","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-180,480],"parameters":{"model":"gpt-4o","options":{}}},{"id":"00e7bbf4-1fb4-4203-bd0e-2d6a71ed5201","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[520,340],"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}}},{"id":"91d1a30d-9c95-4a9c-a5fc-e5139286f9b5","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[400,320],"parameters":{"model":"text-embedding-3-small","options":{}}},{"id":"9f18af1e-5964-4c74-bb6a-b70372aa4324","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-340,220],"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions."}},{"id":"bd92681f-c9e4-4b06-8066-980d2161655d","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[200,360],"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"executeOnce":true},{"id":"8a2c153e-f453-4663-8125-724ecd14a267","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,140],"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1AZzb8fYcwLyNMnJkSjfz0EFRE67KSpLK","mode":"list","cachedResultName":"Note des Réunions","cachedResultUrl":"https://drive.google.com/drive/folders/1AZzb8fYcwLyNMnJkSjfz0EFRE67KSpLK"},"event":"fileCreated","options":{}}},{"id":"feb33cba-9a0b-46b7-a21a-6be99df2b6a5","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,0],"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1AZzb8fYcwLyNMnJkSjfz0EFRE67KSpLK","mode":"list","cachedResultName":"Note des Réunions","cachedResultUrl":"https://drive.google.com/drive/folders/1AZzb8fYcwLyNMnJkSjfz0EFRE67KSpLK"},"event":"fileUpdated","options":{}}},{"id":"960a6dce-6871-4654-9113-bc652101ce74","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,520],"parameters":{"operation":"text","options":{}},"alwaysOutputData":true},{"id":"8501ce76-ce27-4d9a-b68c-82b39ff41d14","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-340,540],"parameters":{"model":"text-embedding-3-small","options":{}}},{"id":"9f8b8f84-b714-42d7-9d2a-0beb19baa342","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[420,500],"parameters":{"options":{}}},{"id":"a3efe651-0442-42e2-9c66-731b151ea507","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[200,200],"parameters":{"tableId":"documents"},"alwaysOutputData":true},{"id":"33a5f2a2-a9d1-42ba-8c7e-34864394139a","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[200,0],"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}}},{"id":"93255a67-4953-4cbf-96a4-8abc0a4fac27","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-620,20],"parameters":{"promptType":"define","text":"={{ $json.body.information }} id de la session : {{ $json.id['cf-connecting-ip'] }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents when you don't know the answer yourself.\n\nYou use user_documents to get data."}}},{"id":"8dd96cbb-9887-43ea-b289-702d4b28e719","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-400,380],"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}}},{"id":"b9faa7f5-0689-4cde-8c8f-a542f5d76ebe","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[400,20],"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}}},{"id":"53d03bbf-34be-4961-a99c-585abe7fa6dc","name":"Google Calendar","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[-500,260],"parameters":{"calendar":{"__rl":true,"value":"quentingavila@gmail.com","mode":"list","cachedResultName":"quentingavila@gmail.com"},"additionalFields":{}}},{"id":"25e7a9bb-c0b5-4752-bd5a-102629637cec","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-840,20],"parameters":{"assignments":{"assignments":[{"id":"869579ee-0387-44ed-9645-62959e09a6da","name":"body.information","value":"={{ $json.body.information }}","type":"string"},{"id":"e1c9bc28-3064-4577-9800-1d1d96872b8f","name":"id['cf-connecting-ip']","value":"={{ $json.headers['cf-connecting-ip'] }}","type":"string"}]},"options":{}}},{"id":"d17bb52d-4e9f-4f36-a624-9f361ef5e1c2","name":"Postgres Chat Memory1","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-660,240],"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.id['cf-connecting-ip'] }}"}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Edit Fields":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"a18c73fe-dde3-4b91-a784-49200a284b24","triggerCount":0,"shared":[{"createdAt":"2025-08-06T09:00:22.707Z","updatedAt":"2025-08-06T09:00:22.707Z","role":"workflow:owner","workflowId":"On5xBkTugJ5h9EuI","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}