2025/08/Extraction de données AI avec Dynamic Prompts et Airtable.json
{"createdAt":"2025-08-06T09:00:03.332Z","updatedAt":"2025-08-06T09:00:03.332Z","id":"LnHGjYL3oWqWbWjI","name":"Extraction de données AI avec Dynamic Prompts et Airtable","active":false,"isArchived":false,"nodes":[{"id":"5a807b8d-d565-4fc5-b120-567bde19caf5","name":"Event Type","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1780,900],"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"2162daf8-d23d-4b8f-8257-bdfc5400a3a8","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.event_type }}","rightValue":"row.updated"}]},"renameOutput":true,"outputKey":"row.updated"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"48e112f6-afe8-40bf-b673-b37446934a62","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.event_type }}","rightValue":"field.created"}]},"renameOutput":true,"outputKey":"field.created"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"5aa258cd-15c2-4156-a32d-afeed662a38e","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.event_type }}","rightValue":"field.updated"}]},"renameOutput":true,"outputKey":"field.updated"}]},"options":{}}},{"id":"c661767e-bf33-4764-a5ca-c81a629befe0","name":"Get Prompt Fields","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,900],"parameters":{"jsCode":"const fields = $input.first().json.fields\n    .filter(item => item.description)\n    .map((item, idx) => ({\n      id: item.id,\n      order: idx,\n      name: item.name,\n      type: item.type,\n      description: item.description,\n    }));\n\nreturn { json: { fields } };"}},{"id":"360c50e0-7292-4a04-8eb8-d0335e9dae70","name":"Get File Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3220,1360],"parameters":{"url":"={{ $json.File[0].url }}","options":{}}},{"id":"5b4575ee-9be0-4fce-bba4-e5675a39bda0","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3380,1360],"parameters":{"operation":"pdf","options":{}}},{"id":"0386b4a9-41e9-4c68-ba10-6c665bd201ef","name":"Get Result","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4000,1420],"parameters":{"assignments":{"assignments":[{"id":"63d7c52e-d5bf-4f4c-9e37-1d5feaea20f4","name":"id","type":"string","value":"={{ $('Row Reference').item.json.id }}"},{"id":"3ad72567-1d17-4910-b916-4c34a43b1060","name":"={{ $('Event Ref').first().json.field.name }}","type":"string","value":"={{ $json.text.trim() }}"}]},"options":{}}},{"id":"d14dcecd-7f71-4d2a-a20c-81037e0d8c13","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2800,1260],"parameters":{"options":{}}},{"id":"6877a262-91a9-4389-9ce3-e0bd5b27fc19","name":"Row Reference","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2980,1360],"parameters":{}},{"id":"c24b6f11-db20-4f4e-a71a-a7028c31ef8d","name":"Generate Field Value","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[3540,1360],"parameters":{"promptType":"define","text":"=<file>\n{{ $json.text }}\n</file>\n\nData to extract: {{ $('Event Ref').first().json.field.description }}\noutput format is: {{ $('Event Ref').first().json.field.type }}","messages":{"messageValues":[{"message":"=You assist the user in extracting the required data from the given file.\n* Keep you answer short.\n* If you cannot extract the requested data, give you response as \"n/a\"."}]}}},{"id":"3b21d09a-144f-4fcf-b585-25df1717b649","name":"Fields to Update","type":"n8n-nodes-base.code","typeVersion":2,"position":[3560,740],"parameters":{"jsCode":"const row = $('Row Ref').first().json;\nconst fields = $('Get Prompt Fields').first().json.fields;\nconst missingFields = fields\n  .filter(field => field.description && !row[field.name]);\n\nreturn missingFields;"}},{"id":"4ebeed9a-41af-4907-8bda-0ed379fd9a68","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2820,620],"parameters":{"options":{}}},{"id":"36c46c18-275b-4ca6-a7f1-a0cf58a5dca2","name":"Row Ref","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3000,740],"parameters":{}},{"id":"6de43ac5-91bc-4a58-9d94-cd0b5092e94b","name":"Get File Data1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3240,740],"parameters":{"url":"={{ $('Row Ref').item.json.File[0].url }}","options":{}}},{"id":"e23ab923-307d-45e7-bb51-ee8cc7fae613","name":"Extract from File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[3400,740],"parameters":{"operation":"pdf","options":{}}},{"id":"b3c2a6e3-1f71-4ea0-ab2a-2e6190518b98","name":"Get Result1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4120,780],"parameters":{"assignments":{"assignments":[{"id":"e376ba60-8692-4962-9af7-466b6a3f44a2","name":"={{ $('Fields to Update').item.json.name }}","type":"string","value":"={{ $json.text.trim() }}"}]},"options":{}}},{"id":"71db79f9-5ed4-4851-aef9-eb298ee83220","name":"Generate Field Value1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[3720,740],"parameters":{"promptType":"define","text":"=<file>\n{{ $('Extract from File1').first().json.text }}\n</file>\n\nData to extract: {{ $json.description }}\noutput format is: {{ $json.type }}","messages":{"messageValues":[{"message":"=You assist the user in extracting the required data from the given file.\n* Keep you answer short.\n* If you cannot extract the requested data, give you response as \"n/a\" followed by \"(reason)\" where reason is replaced with reason why data could not be extracted."}]}}},{"id":"1a3c2816-b988-411a-9d4b-ea016e728826","name":"Filter Valid Rows","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2520,620],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"7ad58f0b-0354-49a9-ab2f-557652d7b416","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.File[0].url }}","rightValue":""}]},"options":{}}},{"id":"6d72b829-e0d8-4225-881f-e37062b64f7b","name":"Filter Valid Fields","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2340,1260],"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"5b4a7393-788c-42dc-ac1f-e76f833f8534","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.field.description }}","rightValue":""}]},"options":{}}},{"id":"2d4e44a2-b9de-4fbd-8320-e549d853fba3","name":"Event Ref","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2160,1260],"parameters":{}},{"id":"81e23435-c1f6-4c06-80c6-37dea5f03abd","name":"Event Ref1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2160,620],"parameters":{}},{"id":"73bb5087-89fa-410d-8086-4f761d71896a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[820,700],"parameters":{"content":"### 1. Get Table Schema\n[Learn more about the Airtable node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.airtable/)\n\nFor this operation, we'll use the handy Airtable node. I recommend getting familiar with this node for all your Airtable needs!\n","height":440,"width":480,"color":7}},{"id":"4abce2d1-2723-4074-a596-5beb9cf5dcbc","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1740,600],"parameters":{"content":"### 2a. Updates Minimal Number of Rows\nThis branch updates only the rows impacted.","height":80,"width":330,"color":5}},{"id":"dcf175b2-8499-476a-b61f-8b139f3039e9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,1180],"parameters":{"content":"### 2b. Update Every Row under the Field\nThis branch updates all applicable rows under field when the field/column is created or changed. Watch out - if you have 1000s of rows, this could take a while!","height":120,"width":390,"color":5}},{"id":"8ef5ba41-c506-4a74-880d-fdbd8a7df697","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,40],"parameters":{"content":"## Try It Out!\n### This n8n template powers a \"dynamic\" or \"user-defined\" prompts with PDF workflow pattern for a [Airtable](https://airtable.com/invite/r/cKzxFYVc) table. Simply put, it allows users to populate a spreadsheet using prompts without touching the underlying template.\n\n**Check out the video demo I did for n8n Studio**: https://www.youtube.com/watch?v=_fNAD1u8BZw\n\n**Check out the example Airtable here:** https://airtable.com/appAyH3GCBJ56cfXl/shrXzR1Tj99kuQbyL\n\nThis template is intended to be used as a webhook source for Airtable. **Looking for a Baserow version? [Click here](https://n8n.io/workflows/2780-ai-data-extraction-with-dynamic-prompts-and-baserow)**\n\n## How it works\n* Each Airtable.io tables offers integration feature whereby changes to the table can be sent as events to any accessible webhook. This allows for a reactive trigger pattern which makes this type of workflow possible. For our usecase, we capture the vents of `row_updated`, `field_created` and `field_updated`.\n* Next, we'll need an \"input\" column in our Airtable.io table. This column will be where our context lives for evaluating the prompts against. In this example, our \"input\" column name is \"file\" and it's where we'll upload our PDFs. Note, this \"input\" field is human-controlled and never updated from this template.\n* Now for the columns (aka \"fields\" in Airtable). Each field allows us to define a name, type and description and together form the schema. The first 2 are self-explaintory but the \"description\" will be for users to provide their prompts ie. what data should the field to contain.\n* In this template, a webhook trigger waits for when a row or column is updated. The incoming event comes with lots of details such as the table, row and/or column Ids that were impacted.\n* We use this information to fetch the table's schema in order to get the column's descriptions (aka dynamic prompts).\n* For each triggered event, we download our input ie. the PDF and ready it for our AI/LLM. By iterating through the available columns and feeding the dynamic prompts, our LLM can run those prompts against the PDF and thus generating a value response for each cell.\n* These values are then collected and used to update the Airtable Record.\n\n## How to use\n* You'll need to publish this workflow and make it accessible to our Airtable instance.\n* you must run the \"Create Airtable Webhooks\" mini-flow to link it to your Airtable.\n* This template is reusable for other Airtables but the webhooks need to be created each time for each table.\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Flowgramming!","height":1120,"width":520}},{"id":"94e8750d-42ce-43e5-89cb-1d73560978c0","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1320,700],"parameters":{"content":"### 2. Event Router Pattern\n[Learn more about the Switch node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.switch/)\n\nA simple switch node can be used to determine which event to handle. The difference between our row and field events is that row event affect a single row whereas field events affect all rows. \n","height":440,"width":760,"color":7}},{"id":"116512e9-aeb1-4176-b6a8-ae77bfcda1ba","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2100,420],"parameters":{"content":"### 3. Filter Only Rows with Valid Input\n[Learn more about the Split Out node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitout/)\n\nThis step handles one or more updated rows where \"updated\" means the \"input\" column (ie. \"file\" in our example) for these rows were changed. For each affected row, we'll get the full row to figure out only the columns we need to update - this is an optimisation to avoid redundant work ie. generating values for columns which already have a value.","height":400,"width":620,"color":7}},{"id":"534b5955-234c-44ad-bf10-02412c12c27b","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4060,560],"parameters":{"content":"### 6. Update the Airtable Record\n[Learn more about the Edit Fields node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/)\n\nFinally, we can collect the LLM responses and combine them to build an API request to update our Airtable record - the Id of which we got from initial webhook. After this is done, we can move onto the next row and repeat the process.\n","height":440,"width":600,"color":7}},{"id":"a6ca8508-ff1b-475e-ae55-3d7d4c00b9c3","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3180,460],"parameters":{"content":"### 5. PDFs, LLMs and Dynamic Prompts? Oh My!\n[Learn more about the Basic LLM node](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainllm/)\n\nThis step is where it all comes together! In short, we give our LLM the PDF contents as the context and loop through our dynamic prompts (from the schema we pulled earlier) for our row. At the end, our LLM should have produced a value for each column requested.\n\n**Note**: There's definitely a optimisation which could be done for caching PDFs but it beyond the scope of this demonstration.\n","height":580,"width":860,"color":7}},{"id":"018d886a-4b2c-4540-b348-df7b1a9678ab","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2740,460],"parameters":{"content":"### 4. Using an Items Loop\n[Learn more about the Split in Batches node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/)\n\nA split in batches node is used here to update a row at a time however, this is a preference for user experience - changes are seen in the Airtable quicker.\n","height":460,"width":420,"color":7}},{"id":"6c3b0d82-b231-4c57-9e61-3db31982ed40","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2100,1080],"parameters":{"content":"### 7. Listing All Applicable Rows Under The Column\n[Learn more about the Filter node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.filter)\n\nTo keep things performant, we can decide to get only rows with inputfield populated as this is required to perform the extraction. This can easily be achieved with Airtable filters.","height":360,"width":600,"color":7}},{"id":"0f1ce6fb-e749-49e7-b334-18477bb572ca","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3160,1180],"parameters":{"content":"### 9. Generating Value using LLM\n[Learn more about the Extract From File node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.extractfromfile/)\n\nPretty much identical to Step 5 but instead of updating every field/column, we only need to generate a value for one. \n","height":500,"width":700,"color":7}},{"id":"4807d8f6-39c4-40fe-b26a-8ed30e5b4395","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[3720,900],"parameters":{"options":{}}},{"id":"7aec470d-d183-4464-925a-ad66dd908b05","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2720,1080],"parameters":{"content":"### 8. Using an Items Loop\n[Learn more about the Split in Batches node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.splitinbatches/)\n\nSimilar to Step 4, the Split in Batches node is a preference for user experience - changes are seen in the Airtable quicker.\n","height":460,"width":420,"color":7}},{"id":"d4db75dc-f1a3-4459-936e-a2559f55ab03","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[3540,1540],"parameters":{"options":{}}},{"id":"2a14f59e-c025-4473-be6a-9bafa8fc438e","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3880,1180],"parameters":{"content":"### 10. Update the Airtable Record\n[Learn more about the Edit Fields node](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.set/)\n\nAs with Step 6, the LLM response is used to update the row however only under the field that was created/changed. Once complete, the loop continues and the next row is processed.\n","height":440,"width":500,"color":7}},{"id":"eff2e66c-79af-4c41-a132-565356acadc7","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-240,-100],"parameters":{"content":"[![airtable.io](https://res.cloudinary.com/daglih2g8/image/upload/f_auto,q_auto/v1/n8n-workflows/airtable_logo)](https://airtable.com/invite/r/cKzxFYVc)","height":120,"width":300,"color":7}},{"id":"e658326a-1756-4d6a-86d9-57fd9dae7049","name":"Get Webhook Payload","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1420,900],"parameters":{"url":"=https://api.airtable.com/v0/bases/{{ $('Airtable Webhook').first().json.body.base.id }}/webhooks/{{ $('Airtable Webhook').first().json.body.webhook.id }}/payloads","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","options":{}}},{"id":"3f44b145-cb35-458d-93ed-b5704af65cfe","name":"Parse Event","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,900],"parameters":{"jsCode":"const webhook = $('Airtable Webhook').first().json;\nconst schema = $('Get Prompt Fields').first().json;\nconst { payloads } = $input.first().json;\nif (!payloads.length) return [];\n\nconst event = payloads[payloads.length - 1];\nconst baseId = webhook.body.base.id;\nconst tableId = Object.keys(event.changedTablesById)[0];\nconst table = event.changedTablesById[tableId];\n\nreturn {\n  baseId,\n  tableId,\n  event_type: getEventType(table),\n  fieldId: getFieldId(table),\n  field: getField(getFieldId(table)),\n  rowId: getRecordId(table),\n}\n\nfunction getEventType(changedTableByIdObject) {\n  if (changedTableByIdObject['createdFieldsById']) return 'field.created';\n  if (changedTableByIdObject['changedFieldsById']) return 'field.updated'\n  if (changedTableByIdObject['changedRecordsById']) return 'row.updated';\n  return 'unknown';\n}\n\nfunction getFieldId(changedTableByIdObject) {\n  const field = changedTableByIdObject.createdFieldsById\n    || changedTableByIdObject.changedFieldsById\n    || null;\n\n  return field ? Object.keys(field)[0] : null;\n}\n\nfunction getField(id) {\n  return schema.fields.find(field => field.id === id);\n}\n\nfunction getRecordId(changedTableByIdObject) {\n  const record = changedTableByIdObject.changedRecordsById\n    || null;\n\n  return record ? Object.keys(record)[0] : null;\n}"}},{"id":"3b8c49e1-0270-4379-a057-e0e63b871c2a","name":"Get Table Schema","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[920,900],"parameters":{"resource":"base","operation":"getSchema","base":{"__rl":true,"mode":"id","value":"={{ $('Airtable Webhook').item.json.body.base.id }}"}}},{"id":"86051a43-b9d1-4707-9db4-4c53e1b13975","name":"Fetch Records","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2520,1260],"parameters":{"operation":"search","base":{"__rl":true,"mode":"id","value":"={{ $json.baseId }}"},"table":{"__rl":true,"mode":"id","value":"={{ $json.tableId }}"},"filterByFormula":"NOT({File} = \"\")","options":{}}},{"id":"bd84e6a5-81bc-47fd-a39d-e400f77129cd","name":"Update Row","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[4180,1420],"parameters":{"operation":"update","base":{"__rl":true,"mode":"id","value":"={{ $('Event Ref').first().json.baseId }}"},"table":{"__rl":true,"mode":"id","value":"={{ $('Event Ref').first().json.tableId }}"},"columns":{"value":{},"schema":[{"id":"id","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"id","defaultMatch":true},{"id":"Name","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"File","type":"array","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"File","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Full Name","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Full Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Created","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"Created","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Last Modified","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"Last Modified","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Address","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Address","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"autoMapInputData","matchingColumns":["id"]},"options":{}}},{"id":"0163b1c8-c687-4fd5-8288-d7d7cd589e14","name":"Get Row","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[2340,620],"parameters":{"base":{"__rl":true,"mode":"id","value":"={{ $json.baseId }}"},"table":{"__rl":true,"mode":"id","value":"={{ $json.tableId }}"},"id":"={{ $json.rowId }}","options":{}}},{"id":"18923505-a1bc-450c-99d5-8ae695858425","name":"Add Row ID to Payload","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4300,780],"parameters":{"mode":"raw","jsonOutput":"={{\n{\n  id: $('Row Ref').item.json.id,\n  ...$input.all()\n    .map(item => item.json)\n    .reduce((acc, item) => ({\n      ...acc,\n      ...item,\n    }), {})\n}\n}}","options":{}},"executeOnce":true},{"id":"a9653120-8e3a-4f8d-8c27-4bb49ccba3b4","name":"Update Record","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[4480,780],"parameters":{"operation":"update","base":{"__rl":true,"mode":"id","value":"={{ $('Event Ref1').first().json.baseId }}"},"table":{"__rl":true,"mode":"id","value":"={{ $('Event Ref1').first().json.tableId }}"},"columns":{"value":{},"schema":[{"id":"id","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"id","defaultMatch":true},{"id":"Name","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"File","type":"array","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"File","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Full Name","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Full Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Address","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Address","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Created","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"Created","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Last Modified","type":"string","display":true,"removed":false,"readOnly":true,"required":false,"displayName":"Last Modified","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"autoMapInputData","matchingColumns":["id"]},"options":{}}},{"id":"b498e2ce-a040-4b71-b710-5da754f85938","name":"Airtable Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[600,900],"parameters":{"httpMethod":"POST","path":"a82f0ae7-678e-49d9-8219-7281e8a2a1b2","options":{}}},{"id":"718bfd88-291a-43dc-981c-e260e1234c0c","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[400,400],"parameters":{}},{"id":"2a809bd1-1a69-470b-bc7e-69bc0e83ba50","name":"Set Airtable Vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,400],"parameters":{"assignments":{"assignments":[{"id":"012cb420-1455-4796-a2ac-a31e6abf59ba","name":"appId","type":"string","value":"<MY_BASE_ID>"},{"id":"e863b66c-420f-43c6-aee2-43aa5087a0a5","name":"tableId","type":"string","value":"<MY_TABLE_ID>"},{"id":"e470be1a-5833-47ed-9e2f-988ef5479738","name":"notificationUrl","type":"string","value":"<MY_WEBHOOK_URL>"},{"id":"e4b3213b-e3bd-479b-99ec-d1aa31eaa4c8","name":"inputField","type":"string","value":"File"}]},"options":{}}},{"id":"dbec7b56-9388-43b7-abf9-6e7efe1c2b30","name":"Get Table Schema1","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[760,220],"parameters":{"resource":"base","operation":"getSchema","base":{"__rl":true,"mode":"id","value":"={{ $json.appId }}"}}},{"id":"b02a0970-87ee-4233-a912-29a6b4640423","name":"Get \"Input\" Field","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[940,220],"parameters":{"mode":"raw","jsonOutput":"={{\n$input.all()\n    .map(item => item.json)\n    .find(item => item.id === $('Set Airtable Vars').first().json.tableId)\n    .fields\n    .find(field => field.name === $('Set Airtable Vars').first().json.inputField)\n}}","options":{}},"executeOnce":true},{"id":"341a7b86-3ef3-4798-bbf1-ac078e741fef","name":"RecordsChanged Webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,220],"parameters":{"method":"POST","url":"=https://api.airtable.com/v0/bases/{{ $('Set Airtable Vars').first().json.appId }}/webhooks","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"notificationUrl\": $('Set Airtable Vars').first().json.notificationUrl,\n  \"specification\": {\n    \"options\": {\n      \"filters\": {\n        \"fromSources\": [ \"client\" ],\n        \"dataTypes\": [ \"tableData\" ],\n        \"changeTypes\": [ \"update\" ],\n        \"recordChangeScope\": $('Set Airtable Vars').first().json.tableId,\n        \"watchDataInFieldIds\": [$json.id]\n      }\n    }\n  }\n}\n}}","options":{}}},{"id":"e5abf287-fac2-4918-a1f5-f453c9778537","name":"FieldsChanged Webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,400],"parameters":{"method":"POST","url":"=https://api.airtable.com/v0/bases/{{ $('Set Airtable Vars').first().json.appId }}/webhooks","authentication":"predefinedCredentialType","nodeCredentialType":"airtableTokenApi","sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"notificationUrl\": $('Set Airtable Vars').first().json.notificationUrl,\n  \"specification\": {\n    \"options\": {\n      \"filters\": {\n        \"fromSources\": [ \"client\" ],\n        \"dataTypes\": [ \"tableFields\" ],\n        \"changeTypes\": [ \"add\", \"update\" ],\n        \"recordChangeScope\": $('Set Airtable Vars').first().json.tableId\n      }\n    }\n  }\n}\n}}","options":{}}},{"id":"9b06a498-5594-4c88-a4fe-7880f7cc81f5","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,40],"parameters":{"content":"## ⭐️ Creating Airtable Webhooks\nTo link this workflow with Airtable, you'll have to create webhooks for the Base.\nYou'll only really need to do this this once but if these webhooks are inactive after 7 days, you'll need to create them again.\n\nCheck out the Airtable Developer documentation for more info: [https://airtable.com/developers/web/api/webhooks-overview](https://airtable.com/developers/web/api/webhooks-overview)","height":580,"width":1020,"color":5}}],"connections":{"Get Row":{"main":[[{"node":"Filter Valid Rows","type":"main","index":0}]]},"Row Ref":{"main":[[{"node":"Get File Data1","type":"main","index":0}]]},"Event Ref":{"main":[[{"node":"Filter Valid Fields","type":"main","index":0}]]},"Event Ref1":{"main":[[{"node":"Get Row","type":"main","index":0}]]},"Event Type":{"main":[[{"node":"Event Ref1","type":"main","index":0}],[{"node":"Event Ref","type":"main","index":0}],[{"node":"Event Ref","type":"main","index":0}]]},"Get Result":{"main":[[{"node":"Update Row","type":"main","index":0}]]},"Update Row":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Result1":{"main":[[{"node":"Add Row ID to Payload","type":"main","index":0}]]},"Parse Event":{"main":[[{"node":"Event Type","type":"main","index":0}]]},"Fetch Records":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get File Data":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Row Reference":{"main":[[{"node":"Get File Data","type":"main","index":0}]]},"Update Record":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Get File Data1":{"main":[[{"node":"Extract from File1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Row Reference","type":"main","index":0}]]},"Airtable Webhook":{"main":[[{"node":"Get Table Schema","type":"main","index":0}]]},"Fields to Update":{"main":[[{"node":"Generate Field Value1","type":"main","index":0}]]},"Get Table Schema":{"main":[[{"node":"Get Prompt Fields","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Row Ref","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Generate Field Value","type":"main","index":0}]]},"Filter Valid Rows":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Get \"Input\" Field":{"main":[[{"node":"RecordsChanged Webhook","type":"main","index":0}]]},"Get Prompt Fields":{"main":[[{"node":"Get Webhook Payload","type":"main","index":0}]]},"Get Table Schema1":{"main":[[{"node":"Get \"Input\" Field","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Generate Field Value1","type":"ai_languageModel","index":0}]]},"Set Airtable Vars":{"main":[[{"node":"Get Table Schema1","type":"main","index":0},{"node":"FieldsChanged Webhook","type":"main","index":0}]]},"Extract from File1":{"main":[[{"node":"Fields to Update","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Generate Field Value","type":"ai_languageModel","index":0}]]},"Filter Valid Fields":{"main":[[{"node":"Fetch Records","type":"main","index":0}]]},"Get Webhook Payload":{"main":[[{"node":"Parse Event","type":"main","index":0}]]},"Generate Field Value":{"main":[[{"node":"Get Result","type":"main","index":0}]]},"Add Row ID to Payload":{"main":[[{"node":"Update Record","type":"main","index":0}]]},"Generate Field Value1":{"main":[[{"node":"Get Result1","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set Airtable Vars","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"e396d39f-0c89-4124-8255-14bec235ff76","triggerCount":0,"shared":[{"createdAt":"2025-08-06T09:00:03.332Z","updatedAt":"2025-08-06T09:00:03.332Z","role":"workflow:owner","workflowId":"LnHGjYL3oWqWbWjI","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}