2025/08/Extract personal data with self-hosted LLM Mistral NeMo.json
{"createdAt":"2025-08-06T09:00:26.654Z","updatedAt":"2025-08-06T09:00:26.654Z","id":"cNej8KQJoPjlSMsT","name":"Extract personal data with self-hosted LLM Mistral NeMo","active":false,"isArchived":false,"nodes":[{"id":"a0d43205-2f3f-47ad-b8af-44eec4c84a9f","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[60,180],"parameters":{"options":{}}},{"id":"400e14e6-3501-4e74-ae49-95a3fc756011","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[280,580],"parameters":{"model":"mistral:latest","options":{"temperature":0.1,"keepAlive":"2h","useMLock":true}},"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"id":"b998b434-3262-48fb-851f-afb18fc95fd5","name":"Auto-fixing Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[360,380],"parameters":{"options":{"prompt":"Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"}}},{"id":"20524b94-8542-4c05-8f04-34161e715a4f","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[620,560],"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\",\n      \"description\": \"Name of the user\"\n    },\n    \"surname\": {\n      \"type\": \"string\",\n      \"description\": \"Surname of the user\"\n    },\n    \"commtype\": {\n      \"type\": \"string\",\n      \"enum\": [\"email\", \"phone\", \"other\"],\n      \"description\": \"Method of communication\"\n    },\n    \"contacts\": {\n      \"type\": \"string\",\n      \"description\": \"Contact details. Required if commtype is 'email' or 'phone'\"\n    },\n    \"timestamp\": {\n      \"type\": \"string\",\n      \"format\": \"date-time\",\n      \"description\": \"When the communication occurred\",\n      \"pattern\": \"^(\\\\d{4}-[01]\\\\d-[0-3]\\\\d[T\\\\s][0-2]\\\\d:[0-5]\\\\d:[0-5]\\\\d(?:\\\\.\\\\d+)?(?:[+-][0-2]\\\\d:[0-5]\\\\d|Z)?)$\"\n    },\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"Brief description of the communication topic\"\n    }\n  },\n  \"required\": [\"name\", \"commtype\"],\n  \"if\": {\n    \"properties\": { \"commtype\": { \"enum\": [\"email\", \"phone\"] } }\n  },\n  \"then\": {\n    \"required\": [\"contacts\"]\n  }\n}\n"}},{"id":"b34b92b2-5d63-4dcb-86df-bf02bbdab7a0","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[320,180],"parameters":{"hasOutputParser":true,"messages":{"messageValues":[{"message":"=Please analyse the incoming user request. Extract information according to the JSON schema. Today is: \"{{ $now.toISO() }}\""}]}}},{"id":"f1094b31-77ae-4509-bee2-5ea85909494e","name":"On Error","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[760,300],"parameters":{}},{"id":"450ffb9d-f4dc-42ca-bacd-9adad79a9049","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"parameters":{"content":"## Update data source\nWhen you change the data source, remember to update the `Prompt Source (User Message)` setting in the **Basic LLM Chain node**.","height":500,"width":960,"color":2}},{"id":"7ee3888b-5b83-4249-8696-a7b51956851b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,500],"parameters":{"content":"## Configure local LLM\nOllama offers additional settings \nto optimize model performance\nor memory usage.","height":220,"width":440,"color":2}},{"id":"ccb6e7bd-88cc-4bbd-bc46-6f9b6ae6b916","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,500],"parameters":{"content":"## Define JSON Schema","height":220,"width":400,"color":2}},{"id":"95bf581d-57d8-4b25-8864-218b732d7164","name":"Extract JSON Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[760,80],"parameters":{"mode":"raw","jsonOutput":"={{ $json.output }}\n","options":{}}},{"id":"9892afbd-1ac9-4859-9cf4-cecd0aad98f9","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,360],"parameters":{"content":"If the LLM response does not pass \nthe **Structured Output Parser** checks,\n**Auto-Fixer** will call the model again with a different \nprompt to correct the original response.","height":120,"width":960}},{"id":"e8788d08-868b-4bc4-8bc4-2bb2e7a34d28","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,620],"parameters":{"content":"The same LLM connects to both **Basic LLM Chain** and to the **Auto-fixing Output Parser**. \n","height":80}},{"id":"aad2ed2b-7521-4b2e-9a10-1fd4eaaf2b23","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[760,600],"parameters":{"content":"When the LLM model responds, the output is checked in the **Structured Output Parser**","height":100,"width":200}}],"connections":{"Basic LLM Chain":{"main":[[{"node":"Extract JSON Output","type":"main","index":0}],[{"node":"On Error","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"When chat message received":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"b4578d40-96be-45df-9d85-a055f229b39a","triggerCount":0,"shared":[{"createdAt":"2025-08-06T09:00:26.654Z","updatedAt":"2025-08-06T09:00:26.654Z","role":"workflow:owner","workflowId":"cNej8KQJoPjlSMsT","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}