2025/08/Générateur de workflow.json
{"createdAt":"2025-08-09T08:41:37.096Z","updatedAt":"2025-08-09T08:41:37.096Z","id":"2QwkTAW241Kn51Fw","name":"Générateur de workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1248,160],"id":"c457d062-7134-4f61-b9e9-0a25d42738b0","name":"ENVOIE INFORMATIONS","webhookId":"5832474f-158c-47ef-babc-adbca8fa0b0c"},{"parameters":{"model":{"__rl":true,"value":"claude-opus-4-20250514","mode":"list","cachedResultName":"Claude Opus 4"},"options":{"maxTokensToSample":16000,"thinking":false}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1408,400],"id":"260e8b9c-53d9-4732-80df-cce70d5a4e32","name":"Claude 4"},{"parameters":{"promptType":"define","text":"=## RÔLE ##\n\nTu es un expert en création de scénario JSON sur N8N.\n\n## CONTEXTE ##\n\nJe vais t'expliquer l'objectif de mon projet, et toi, ton rôle, sera de reproduire fidèlement le JSON de l'automatisation\n\n## OUTILS ##\n\n- Modules (JSON) N8N : Tous les modules JSON de N8N, sont stockés ici. Ils te serviront de modèles\n- N8N Guidelines : Tout ce que tu dois savoir pour réaliser des scénarios N8N sont stockés ici.\n\n## EXIGENCES DE CONFIGURATIONS CRITIQUES ##\n\nPour les nœuds OpenAI, toujours configurer :\n\n\"operation\": \"Message a Model\"\n\"resource\": \"text\"\n\"model\": \"chatgpt-4o-latest\" (ou \"o1-mini\" en cas de besoin de rapidité ou de réduction de coûts)\nUn \"temperature\" approprié (par exemple, 0.1 pour des tâches précises, 0.7 pour des tâches créatives)\n\n- Chaque nœud OpenAI qui retourne des données structurées doit avoir \"responseFormat\": \"json_object\".\n- Tous les nœuds doivent être correctement reliés via \"connections\".\n- Tout nœud de type code (Function) doit inclure une gestion des erreurs (try/catch).\n- Fournir les références aux identifiants de connexion (sans exposer de clés réelles).\n- Ajouter des nœuds finaux ou étapes marquant clairement la fin du workflow.\n\n## FORMAT ##\n\n- Ne produire que du JSON valide dans un bloc de code (json ... ).\n- Aucune image ni capture d’écran.\n- Aucune explication ou commentaire hors du bloc JSON.\n\n## INFORMATIONS COMPLEMENTAIRES ##\n\n- Assure toi de toujours utiliser des MODULES EXISTANTS dans N8N.\n- Tu ne dois pas inventer\n\n## TÂCHES ##\n\nJe souhaite que tu analyses mon contexte, et que tu crées un workflow n8n entièrement fonctionnel au format JSON : {{ $json.chatInput }}\n\n## ATTENTION ##\n\nSi il te manque des éléments, il faut que tu poses des questions.","options":{"maxIterations":20}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1488,160],"id":"3db33370-5342-4847-aef7-2889dcfaa8ab","name":"Création SCENARIO (N8N)"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1584,400],"id":"55477670-2b41-46ff-991e-ae710bdafef1","name":"Mémoire"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[144,144],"id":"14a6071d-5b22-4107-95f9-a4b285876f7e","name":"When clicking ‘Test workflow’","disabled":true},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"n8n_workflow_guidelines","mode":"list","cachedResultName":"n8n_workflow_guidelines"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[608,144],"id":"916f0511-bda2-4f00-9442-4c1acbc6da6b","name":"Supabase Vector Store","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[560,432],"id":"a8878a83-f5c0-40d2-b49b-7d3a5f055b97","name":"Embeddings OpenAI1","disabled":true},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[752,368],"id":"c28af717-2f89-4e27-96a8-019c05057623","name":"Default Data Loader","disabled":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"11w9tAOoo7P_PH_pbD0nRyB6ModrPvWOg","mode":"list","cachedResultName":"INFORMATIONS_COMPLEMENTAIRES.pdf","cachedResultUrl":"https://drive.google.com/file/d/11w9tAOoo7P_PH_pbD0nRyB6ModrPvWOg/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[368,144],"id":"b2b0cc63-a5f3-4786-a726-e5def6fe7f4f","name":"Google Drive1","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[768,544],"id":"40ee866b-a3c5-4d7c-a779-9c5d0db28ebc","name":"Recursive Character Text Splitter","disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1792,560],"id":"7a9d0b3e-a3bd-4af6-a796-e30efa8c30cc","name":"Embeddings OpenAI"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2080,544],"id":"c7a30313-41e0-4991-9914-cfd1315fd9bd","name":"Embeddings OpenAI2"},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"Cette table réunit tous les JSON de N8N. Utilise cette table pour savoir comment rédiger les modules JSON pour N8N.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[1760,384],"id":"c1fafe14-ed03-4f58-b7d8-d2f248ca1e58","name":"Modules (JSON) N8N"},{"parameters":{"mode":"retrieve-as-tool","toolName":"n8n_workflow_guidelines","toolDescription":"Les instructions afin de réalisation le SCENARIO N8N sont stockées ICI.","tableName":{"__rl":true,"value":"n8n_workflow_guidelines","mode":"list","cachedResultName":"n8n_workflow_guidelines"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.1,"position":[2064,384],"id":"9e3ea380-37a6-4263-81a7-34dded0c6f32","name":"N8N Guidelines"},{"parameters":{"content":"## Stockage (Base de donnée)","height":760,"width":1120,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"f9572fb5-4e1e-4ccb-940f-b6c991a583e1","name":"Sticky Note"},{"parameters":{"content":"## Création de scénario (N8N)","height":760,"width":1220,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1168,0],"id":"9e4d53e7-f06b-42dc-84b6-4d3faa351112","name":"Sticky Note1"}],"connections":{"ENVOIE INFORMATIONS":{"main":[[{"node":"Création SCENARIO (N8N)","type":"main","index":0}]]},"Claude 4":{"ai_languageModel":[[{"node":"Création SCENARIO (N8N)","type":"ai_languageModel","index":0}]]},"Mémoire":{"ai_memory":[[{"node":"Création SCENARIO (N8N)","type":"ai_memory","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"Google Drive1":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Modules (JSON) N8N","type":"ai_embedding","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"N8N Guidelines","type":"ai_embedding","index":0}]]},"Modules (JSON) N8N":{"ai_tool":[[{"node":"Création SCENARIO (N8N)","type":"ai_tool","index":0}]]},"N8N Guidelines":{"ai_tool":[[{"node":"Création SCENARIO (N8N)","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"544a7666-ae09-4839-b184-d99eebadf7d6","triggerCount":0,"shared":[{"createdAt":"2025-08-09T08:41:37.096Z","updatedAt":"2025-08-09T08:41:37.096Z","role":"workflow:owner","workflowId":"2QwkTAW241Kn51Fw","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}