2025/08/hacker_news.json
{"createdAt":"2025-08-06T09:00:30.810Z","updatedAt":"2025-08-07T05:50:46.200Z","id":"3Fiej6Z9RGefkWTD","name":"hacker_news","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"50ad9b0c-c29a-4fd1-aae2-ea61602ef97a","name":"On new manual Chat Message","type":"@n8n/n8n-nodes-langchain.manualChatTrigger","typeVersion":1.1,"position":[-128,-80]},{"parameters":{},"id":"d176c2fa-4a8f-421f-940f-728e07f50bc3","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-176,560]},{"parameters":{"resource":"all","limit":50,"additionalFields":{}},"id":"ec1af189-aa40-4009-91fa-0994f2c023c2","name":"Hacker News","type":"n8n-nodes-base.hackerNews","typeVersion":1,"position":[48,560]},{"parameters":{"fields":{"values":[{"name":"title","stringValue":"={{ $json._highlightResult.title.value }}"},{"name":"points","type":"numberValue","numberValue":"={{ $json.points }}"},{"name":"url","stringValue":"={{ $json.url }}"},{"name":"created_at","stringValue":"={{ $json.created_at }}"},{"name":"author","stringValue":"={{ $json.author }}"}]},"include":"none","options":{}},"id":"6efeda1d-f14a-48bd-9f64-240ad717720f","name":"Clean up data","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[272,560]},{"parameters":{"options":{"humanMessage":"TOOLS\n------\nAssistant can ask the user to use tools to look up information that may be helpful in answering the users original question. The tools the human can use are:\n\n{tools}\n\n{format_instructions}\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else):\n\n{{input}}","systemMessage":"Assistant is a large language model trained by OpenAI.\n\nAssistant is designed to be able to assist with a wide range of tasks, from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. As a language model, Assistant is able to generate human-like text based on the input it receives, allowing it to engage in natural-sounding conversations and provide responses that are coherent and relevant to the topic at hand.\n\nAssistant is constantly learning and improving, and its capabilities are constantly evolving. It is able to process and understand large amounts of text, and can use this knowledge to provide accurate and informative responses to a wide range of questions. Additionally, Assistant is able to generate its own text based on the input it receives, allowing it to engage in discussions and provide explanations and descriptions on a wide range of topics.\n\nOverall, Assistant is a powerful system that can help with a wide range of tasks and provide valuable insights and information on a wide range of topics. Whether you need help with a specific question or just want to have a conversation about a particular topic, Assistant is here to assist.","maxIterations":10}},"id":"8c4b02d8-4587-42ae-9ffc-c6c886501e66","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.1,"position":[112,-80]},{"parameters":{"options":{}},"id":"f807240a-68c6-49f7-b267-82257d0b4db5","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[112,144],"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"jsCode":"return {\n  'response': JSON.stringify($input.all().map(x => x.json))\n}"},"id":"f10044ed-7e00-49b8-b9be-2dac9d268e6a","name":"Stringify","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,560]},{"parameters":{"content":"### Replace me\nwith any other service, e.g. fetching your own data","height":293,"width":150,"color":7},"id":"f9d26d84-caa5-4d3d-964b-864822ac197e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,448]},{"parameters":{"content":"### Sub-workflow: Custom tool\nThis can be called by the agent above. This example fetches the top 50 posts ever on Hacker News","height":406.875,"width":927.5,"color":7},"id":"6d24d68c-d8ae-490a-9316-9a777dd08dc3","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,368]},{"parameters":{"content":"### Main workflow: AI agent using custom tool\nTry it out by clicking 'Chat' and entering 'What is the 5th most popular post ever on Hacker News?'","height":486.5625,"width":927.5,"color":7},"id":"26d14e52-de91-41eb-a708-0d666e0a16c1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,-176]},{"parameters":{"content":"## Try me out\n\nClick the 'Chat' button and enter:\n\n_What is the 5th most popular post ever on Hacker News?_","height":218,"width":185.9375},"id":"f2e9a7e5-57b4-42b5-bfe5-11ad5d9eb333","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-416,-80]},{"parameters":{"name":"hn_tool","description":"Returns a list of the most popular posts ever on Hacker News, in json format","workflowId":"={{ $workflow.id }}"},"id":"3f43e584-55f5-44ba-acd2-1a7d4d79e538","name":"Custom tool to call the wf below","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1,"position":[272,144]}],"connections":{"Hacker News":{"main":[[{"node":"Clean up data","type":"main","index":0}]]},"Clean up data":{"main":[[{"node":"Stringify","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Hacker News","type":"main","index":0}]]},"On new manual Chat Message":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Custom tool to call the wf below":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"838225d3-2702-4ca6-98a6-50cddbde3585","triggerCount":0,"shared":[{"createdAt":"2025-08-06T09:00:30.810Z","updatedAt":"2025-08-06T09:00:30.810Z","role":"workflow:owner","workflowId":"3Fiej6Z9RGefkWTD","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}