2025/08/Instagram post.json
{"createdAt":"2025-08-18T06:26:36.905Z","updatedAt":"2025-08-18T06:26:36.905Z","id":"FJ4x1qhrG5EAFXQb","name":"Instagram post","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{"temperature":0.9}},"id":"cd17beee-19e4-4f99-a955-11c045f80761","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1168,592]},{"parameters":{},"id":"b54d106d-3046-4bf5-b9fb-c6e3868b569b","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-928,592]},{"parameters":{},"id":"7ce275b3-2586-42f7-8ba1-871a8a682430","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1808,368]},{"parameters":{"jsonSchemaExample":"{\n\t\"post_description\": \"\",\n\t\"midjourney_prompt\": \"\"\n}"},"id":"ca3a08f3-429f-4c9b-95b4-0834d7037e66","name":"Structured Output Parser1","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-816,592]},{"parameters":{"method":"POST","url":"https://api.midjourneyapi.xyz/mj/v2/seed","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-API-KEY","value":"={{ $('Set-API-Keys').item.json['goapi-midjourney-v2'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task_id\": \"{{ $json.task_id }}\"\n} ","options":{}},"id":"98d59683-4c64-48b0-a344-e1ff612d32f4","name":"GoAPI MidJourneyV2 SEED","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-16]},{"parameters":{"method":"POST","url":"https://api.midjourneyapi.xyz/mj/v2/fetch","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-API-KEY","value":"={{ $('Set-API-Keys').item.json['goapi-midjourney-v2'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task_id\": \"{{ $json.task_id }}\"\n}  ","options":{}},"id":"ba171e5e-cbee-4ff5-bda8-50bb4667cc3a","name":"GOAPI MidJourneyV2 Fetch","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32,-16]},{"parameters":{"method":"POST","url":"https:///api.midjourneyapi.xyz/mj/v2/upscale","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"=application/json"},{"name":"X-API-KEY","value":"={{ $('Set-API-Keys').item.json['goapi-midjourney-v2'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"origin_task_id","value":"={{ $('GOAPI MidJourneyV2 Fetch').item.json.meta.origin_task_id }}"},{"name":"index","value":"={{ $json.content }}"}]},"options":{}},"id":"dbd5e09e-4d09-443a-a28c-7369cf975af5","name":"GOAPI MidJourneyV2 Upscale","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,496]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v20.0/17841458266465743/media","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $('Set-API-Keys').item.json['instagram-token'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"image_url","value":"={{ $json.task_result.image_url }}"},{"name":"caption","value":"={{ $('AI Agent1').item.json[\"output\"][\"output\"][\"post_description\"] }}"}]},"options":{}},"id":"8a9b143c-5382-4f9f-b30d-ad50ef189b38","name":"Instagram Media Container","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1536,256]},{"parameters":{"method":"POST","url":"https://api.midjourneyapi.xyz/mj/v2/seed","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-API-KEY","value":"={{ $('Set-API-Keys').item.json['goapi-midjourney-v2'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task_id\": \"{{ $json.task_id }}\"\n}   ","options":{}},"id":"e0ecb6e4-0c61-4efd-9b52-0ebe955cf90d","name":"GoAPI MidJourneyV2 SEED (Upscaled image)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1056,496]},{"parameters":{"method":"POST","url":"https://api.midjourneyapi.xyz/mj/v2/fetch","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-API-KEY","value":"={{ $('Set-API-Keys').item.json['goapi-midjourney-v2'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task_id\": \"{{ $json.task_id }}\"\n}   ","options":{}},"id":"72498a4f-1a72-47b6-9fe7-cc4dae665c87","name":"GOAPI MidJourneyV2 Fetch (Upscaled Image)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,496]},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v20.0/17841458266465743/media_publish","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{ $('Set-API-Keys').item.json['instagram-token'] }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"creation_id","value":"={{ $('Instagram Media Container').item.json.id }}"}]},"options":{}},"id":"7dbd8109-6bec-44ae-8f2f-4890bdd13497","name":"Instagram Media Post","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1936,256]},{"parameters":{"assignments":{"assignments":[{"id":"d3c7ee87-e18f-4e9a-9f2f-6c010a402b98","name":"goapi-midjourney-v2","value":"","type":"string"},{"id":"19dce022-4925-44a9-b3b1-09a5b1b19e19","name":"instagram-token","value":"","type":"string"}]},"options":{}},"id":"a2f075af-1329-4ee9-977f-d217f958fc25","name":"Set-API-Keys","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1376,272]},{"parameters":{"method":"POST","url":"https://api.midjourneyapi.xyz/mj/v2/imagine","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-API-KEY","value":"={{ $('Set-API-Keys').item.json['goapi-midjourney-v2'] }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $json.output.output.midjourney_prompt }}\",\n  \"process_mode\":\"fast\", \n  \"aspect_ratio\": \"9:16\",\n  \"webhook_endpoint\": \"\",\n  \"webhook_secret\": \"\"\n}","options":{}},"id":"24cddf38-65fb-4582-9137-d06afeb9b7aa","name":"GoAPI MidJourneyV2 Imagine","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-608,272]},{"parameters":{"amount":30},"id":"04357599-f978-4330-9dd5-5ff90c255c98","name":"Wait-30s2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1728,256],"webhookId":"58bd81e9-d956-42cb-8d7d-62ed066b9b2d"},{"parameters":{"amount":60},"id":"5d79ce6f-1e16-4912-9edf-864b7ad3c364","name":"Wait-60s1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[240,272],"webhookId":"58bd81e9-d956-42cb-8d7d-62ed066b9b2d"},{"parameters":{"amount":60},"id":"abc23638-c9b6-41b0-b8d3-49f922f55112","name":"Wait-60s2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[880,496],"webhookId":"58bd81e9-d956-42cb-8d7d-62ed066b9b2d"},{"parameters":{"amount":120},"id":"212b24a5-3c2c-4f32-949e-bb77f540e538","name":"Wait-120s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-416,272],"webhookId":"58bd81e9-d956-42cb-8d7d-62ed066b9b2d"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=This image was generated for this prompt:\n \"{{ $('AI Agent1').item.json.output.output.post_description }}\".\nActually this image is a combined image of 4 different images, 2 at the top half and 2 at the below half. \nUpper left image is indexed as 1.\nUpper right image is indexed as 2.\nLower left image is indexed as 3.\nLower right image is indexed as 4.\n\nWithout any explanation just return the index of the image that is best as per the image description, is most eye catching and engaging.","imageUrls":"={{ $json.task_result.image_url }}","options":{}},"id":"fb37e8c5-823b-449e-85eb-1d6d9409705e","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[432,272]},{"parameters":{"public":true,"initialMessages":"Say \"Post\" to create a post on your instagram profile","options":{}},"id":"3bc38a5f-4f21-4f30-8390-8b7c311a6dc8","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[-1808,176],"webhookId":"30c39754-c107-4e08-a95d-36f892e56bed"},{"parameters":{"agent":"openAiFunctionsAgent","promptType":"define","text":"I want to create a Instagram post for the mindfulness and deep thoughts niche. Post should include a captivating and thought-provoking description along with a detailed MidJourney prompt for creating an intriguing and beautiful image. The image can feature scenery, people in deep thoughts or with deep facial expressions, or any other suitable visuals. Description should be engaging and useful, encouraging people to reflect deeply. You can use some of the best quotes on the internet. The post can be related to truth about world, relationships, society, aspirations, illusion etc. Include appropriate hashtags for the post. Let's call instagram post description as \"post_description\" and midjourney prompt as \"midjourney_prompt\".\nRandomize the overall post so that you don't create same post every time.\nImportant: Don't include the model, aspect ratio flags in the midjourney prompt.","hasOutputParser":true,"options":{"maxIterations":5}},"id":"0125e5a7-48bb-4feb-adbc-4007eec88696","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1072,272]}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Set-API-Keys","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"GoAPI MidJourneyV2 SEED":{"main":[[{"node":"GOAPI MidJourneyV2 Fetch","type":"main","index":0}]]},"GOAPI MidJourneyV2 Fetch":{"main":[[{"node":"Wait-60s1","type":"main","index":0}]]},"GOAPI MidJourneyV2 Upscale":{"main":[[{"node":"Wait-60s2","type":"main","index":0}]]},"Instagram Media Container":{"main":[[{"node":"Wait-30s2","type":"main","index":0}]]},"GoAPI MidJourneyV2 SEED (Upscaled image)":{"main":[[{"node":"GOAPI MidJourneyV2 Fetch (Upscaled Image)","type":"main","index":0}]]},"GOAPI MidJourneyV2 Fetch (Upscaled Image)":{"main":[[{"node":"Instagram Media Container","type":"main","index":0}]]},"Set-API-Keys":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"GoAPI MidJourneyV2 Imagine":{"main":[[{"node":"Wait-120s","type":"main","index":0}]]},"Wait-30s2":{"main":[[{"node":"Instagram Media Post","type":"main","index":0}]]},"Wait-60s1":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Wait-60s2":{"main":[[{"node":"GoAPI MidJourneyV2 SEED (Upscaled image)","type":"main","index":0}]]},"Wait-120s":{"main":[[{"node":"GoAPI MidJourneyV2 SEED","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"GOAPI MidJourneyV2 Upscale","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"GoAPI MidJourneyV2 Imagine","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Set-API-Keys","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"dfbef263-52d0-45cb-9512-2d4ee44b6bce","triggerCount":0,"shared":[{"createdAt":"2025-08-18T06:26:36.905Z","updatedAt":"2025-08-18T06:26:36.905Z","role":"workflow:owner","workflowId":"FJ4x1qhrG5EAFXQb","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}