2025/08/Newsletter.json
{"createdAt":"2025-08-13T10:10:08.237Z","updatedAt":"2025-08-13T10:51:08.864Z","id":"shycX7PPt676MfTb","name":"Newsletter","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"00963f85-5306-4ee6-8b23-d2d7469ca027","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-48,0],"webhookId":"telegram-newsletter-bot"},{"parameters":{"assignments":{"assignments":[{"id":"a1b2c3d4","name":"userId","value":"={{ $('Telegram Trigger').item.json.message.from.id }}","type":"string"},{"id":"e5f6g7h8","name":"messageText","value":"={{ $('Telegram Trigger').item.json.message.text }}","type":"string"},{"id":"i9j0k1l2","name":"chatId","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"string"}]},"options":{}},"id":"b9ce6392-3b7b-4a41-bb93-26dc3561ce89","name":"Extract Message Data","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[144,0]},{"parameters":{"jsCode":"// Récupérer la sortie de l'AI Agent\nconst aiResponse = $input.first().json.output;\nlet newsletterData;\n\ntry {\n  // Si déjà un objet\n  if (typeof aiResponse === 'object') {\n    newsletterData = aiResponse;\n  } else {\n    // Sinon, parser le JSON texte\n    newsletterData = JSON.parse(aiResponse);\n  }\n} catch (error) {\n  // Si parsing échoue, fallback minimal\n  newsletterData = {\n    subject: \"Newsletter IA du jour\",\n    preheader: \"Découvrez l'actualité de l'IA\",\n    content_html: \"<p>Contenu généré par l'IA.</p>\",\n    key_takeaways: [],\n    recipient_email: \"subscriber@example.com\"\n  };\n}\n\n// Convertir les key_takeaways s'ils sont au format string → array\nif (typeof newsletterData.key_takeaways === 'string') {\n  newsletterData.key_takeaways = newsletterData.key_takeaways\n    .split(/\\n|\\r|\\d+\\.\\s*|\\s*-\\s+/) // split par numérotation ou tirets\n    .map(t => t.trim())\n    .filter(t => t.length > 0);\n}\n\n// Générer le HTML\nconst htmlTemplate = `\n<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; }\n        .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n        .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; border-radius: 10px 10px 0 0; }\n        .content { background: #ffffff; padding: 30px; border: 1px solid #e1e4e8; border-top: none; }\n        .section { margin: 25px 0; }\n        .section h2 { color: #24292e; margin-bottom: 10px; }\n        .takeaway { background: #f6f8fa; padding: 15px; border-left: 4px solid #667eea; margin: 10px 0; }\n        .footer { background: #f6f8fa; padding: 20px; text-align: center; border-radius: 0 0 10px 10px; }\n        .signature { margin-top: 30px; padding-top: 20px; border-top: 1px solid #e1e4e8; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>${newsletterData.subject || 'Newsletter IA'}</h1>\n            <p style=\"margin: 0; opacity: 0.9;\">${newsletterData.preheader || 'Les dernières actualités de l\\'IA'}</p>\n        </div>\n        <div class=\"content\">\n            ${newsletterData.content_html || '<p>Contenu indisponible</p>'}\n            \n            ${Array.isArray(newsletterData.key_takeaways) && newsletterData.key_takeaways.length > 0 ? `\n            <div class=\"section\">\n                <h2>Points clés à retenir</h2>\n                ${newsletterData.key_takeaways.map(point => `\n                    <div class=\"takeaway\">${point}</div>\n                `).join('')}\n            </div>\n            ` : ''}\n            \n            <div class=\"signature\">\n                <p><strong>Julien IA</strong><br>\n                Fondateur d'Agencya & Academya<br>\n                <em>Votre expert en agents IA</em></p>\n            </div>\n        </div>\n        <div class=\"footer\">\n            <p>© 2025 Agencya - Tous droits réservés<br>\n            <a href=\"#\">Se désabonner</a> | <a href=\"#\">Préférences</a></p>\n        </div>\n    </div>\n</body>\n</html>\n`;\n\n// Retourner les données\nreturn {\n  subject: newsletterData.subject,\n  html_content: htmlTemplate,\n  recipient: newsletterData.recipient_email || \"subscriber@example.com\",\n  chat_id: $('Extract Message Data').first().json.chatId\n};\n"},"id":"5420cebd-7156-438e-9d7f-849324db609d","name":"Format Newsletter HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,0]},{"parameters":{"sendTo":"TON MAIL","subject":"={{ $json.subject }}","message":"={{ $json.html_content }}","options":{}},"id":"c6b9425c-0d02-41e6-9fc8-deaddc2e26a6","name":"Send Newsletter Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[880,0],"webhookId":"64b76fde-1362-478f-a0b9-f7ed2209c2d9"},{"parameters":{"chatId":"={{ $('Format Newsletter HTML').item.json.chat_id }}","text":"=✅ Newsletter envoyée avec succès!\n\n📧 Destinataire: {{ $('AI Agent').item.json.output.recipient_email }}\n📑 Objet: {{ $('AI Agent').item.json.output.subject }}\n\n🎯 La newsletter a été générée et envoyée. N'hésitez pas à me demander d'autres newsletters ou des modifications!","additionalFields":{}},"id":"96a808a3-d614-484b-a08f-a319b2e77e06","name":"Telegram Confirmation","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1072,0],"webhookId":"9ca256a0-972a-48e6-8461-b5973ccc2089"},{"parameters":{"promptType":"define","text":"={{ $json.messageText }}","hasOutputParser":true,"options":{"systemMessage":"Tu es Julien IA, créateur de contenu spécialisé en IA depuis 2 ans, fondateur d'Agencya (agence IA) et d'Academya (groupe de formation Skool sur les agents IA).\n\nTon rôle est de rédiger des newsletters professionnelles sur l'IA, ses applications pratiques et les insights business. Tu dois :\n\n1. Écrire dans un ton professionnel mais accessible\n2. Intégrer ton expertise d'agence et de formation\n3. Fournir des insights actionnables\n4. Partager des cas d'usage concrets\n5. Le destinataire est toujours julien.intelligenceartificielle@gmail.com\n\nStructure des newsletters :\n- Objet accrocheur (max 60 caractères)\n- Introduction engageante (2-3 phrases)\n- 3-5 sections clés avec insights\n- Points pratiques à retenir\n- Signature professionnelle\n\nDonne-moi une réponse au format JSON, à toi d'inventer\n\n{\n  \"subject\": \"Objet de la newsletter\",\n  \"preheader\": \"Texte de prévisualisation\",\n  \"content_html\": \"Contenu HTML complet de la newsletter\",\n  \"key_takeaways\": \"Point 1, 2, 3\",\n  \"recipient_email\": \"email@example.com\"\n}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[320,0],"id":"5b2842a9-634f-4a21-868c-733e01c77422","name":"AI Agent"},{"parameters":{"model":"gpt-4.1","options":{"frequencyPenalty":0,"maxTokens":4096,"responseFormat":"json_object","presencePenalty":0,"temperature":0.7,"timeout":60000,"maxRetries":3,"topP":1}},"id":"11e56c2b-6aeb-48e6-bbe0-98e74c51852d","name":"OpenAI Chat Model2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[176,208]},{"parameters":{"sessionIdType":"customKey","sessionKey":"4"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[368,208],"id":"7a5fd13a-13ca-435b-81a1-36e47f22de9f","name":"Simple Memory"},{"parameters":{"jsonSchemaExample":"{\n  \"subject\": \"Objet de la newsletter\",\n  \"preheader\": \"Texte de prévisualisation\",\n  \"content_html\": \"Contenu HTML complet de la newsletter\",\n  \"key_takeaways\": \"Point 1 2 3\",\n  \"recipient_email\": \"email@example.com\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[560,208],"id":"cdb3a8f3-4dd9-4ffc-b0cf-65c5e6c2e68f","name":"Structured Output Parser1"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Extract Message Data","type":"main","index":0}]]},"Extract Message Data":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Format Newsletter HTML":{"main":[[{"node":"Send Newsletter Gmail","type":"main","index":0}]]},"Send Newsletter Gmail":{"main":[[{"node":"Telegram Confirmation","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Format Newsletter HTML","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e2fd8042-ddc3-4b13-b0c7-d7eaa53919e9","triggerCount":0,"shared":[{"createdAt":"2025-08-13T10:10:08.237Z","updatedAt":"2025-08-13T10:10:08.237Z","role":"workflow:owner","workflowId":"shycX7PPt676MfTb","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}