2025/08/OpenAIAssistant___Avec_Memoire___Adapter.json
{"createdAt":"2025-08-06T09:00:28.542Z","updatedAt":"2025-08-06T09:00:28.542Z","id":"L8TanUBeBmpctrZ9","name":"OpenAIAssistant___Avec_Memoire___Adapter","active":false,"isArchived":false,"nodes":[{"id":"aa68aa77-09b3-4c02-84ae-4e2ec4cab26a","name":"OpenAI Assistant","type":"@n8n/n8n-nodes-langchain.openAiAssistant","typeVersion":1,"position":[1080,140],"parameters":{"assistantId":"asst_i6grPba6gKj063rzBP7k6Rqa","text":"=## Our Previous Conversation:\n{{ $json[\"messages\"].map(m => `\nHuman: ${m.human}\nAI Assistant: ${m.ai}\n`) }}\n## Current message:\n{{ $('Prompt').item.json.Prompt.slice(0,40000) }}","options":{}}},{"id":"b270b78d-22d4-4d20-939b-6d053de2731e","name":"Chat Memory Manager","type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1,"position":[460,140],"parameters":{"options":{}},"alwaysOutputData":true},{"id":"122372d0-fb8e-4d6f-b510-aaa31224ddd3","name":"Chat Memory Manager1","type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1,"position":[1480,140],"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"user","message":"={{ $('Prompt').item.json.Prompt }}"},{"type":"ai","message":"={{ $json.output }}"}]}},"alwaysOutputData":true},{"id":"8dc40bf0-ad2e-4888-b7c9-43e12489f60a","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[900,140],"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"messages","options":{}},"alwaysOutputData":true},{"id":"e64b7872-ba42-4453-b3d0-5da1aced7162","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[1860,140],"parameters":{}},{"id":"8714785a-3a79-4078-90f2-523c97f529ed","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[360,80],"parameters":{"content":"Lire le contenu en mémoire","height":196.64941360686112,"width":514.8706020514577,"color":7}},{"id":"27e456a3-2ab0-4ca4-82c5-64e63f5549fe","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[900,80],"parameters":{"content":"Appelez l'assistant en lui transmettant les messages de discussion précédents","height":196.64941360686112,"width":482.8002782399533,"color":7}},{"id":"97d24272-a0e8-4c6c-bed8-b87dd4e9dc93","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1420,80],"parameters":{"content":"Ajouter les derniers messages de discussion à la mémoire","height":196.64941360686112,"width":396.4922858579441,"color":7}},{"id":"84212866-8646-405a-b702-2bd1e9ca7c78","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1840,80],"parameters":{"content":"Return the model output","height":196.64941360686112,"width":585.8059209315821,"color":7}},{"id":"30810692-7c4c-4e41-be12-6c5fda4a9a01","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.1,"position":[1040,560],"parameters":{"sessionKey":"={{ $node[\"VariablAleatoire\"].json[\"session\"] }}","contextWindowLength":20}},{"id":"caa908bc-62d7-4137-a016-f2f865d6f7f3","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1640,180],"parameters":{}},{"id":"23c55524-c7e2-47c8-83ec-d38c2a537bf2","name":"Updatesheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.2,"position":[2060,140],"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1N-rAaQT0HZBpRfz3F-ey1S5OpDa5UY112IZMzYX9y1o/edit#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N-rAaQT0HZBpRfz3F-ey1S5OpDa5UY112IZMzYX9y1o/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('LoopPartiesSheet').item.json.row_number }}","Résultat":"={{ $('OpenAI Assistant').item.json.output }}"},"matchingColumns":["row_number"],"schema":[{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Résultat","displayName":"Résultat","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}}},{"id":"eae9f8ef-22c8-4179-86ec-24de1c2cc8bd","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[-1400,180],"parameters":{"operation":"search","base":{"__rl":true,"value":"app3PTeUBz7AAJ2sR","mode":"list","cachedResultName":"Contenu - Assistant AI","cachedResultUrl":"https://airtable.com/app3PTeUBz7AAJ2sR"},"table":{"__rl":true,"value":"tbl3yhOCDlZWPLWCy","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/app3PTeUBz7AAJ2sR/tbl3yhOCDlZWPLWCy"},"filterByFormula":"({Status} = 'A créer')","options":{}}},{"id":"3fa49cfd-f291-4927-ad2c-a6f0b6bbd555","name":"LoopArticlesAirtable","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1180,180],"parameters":{"options":{}}},{"id":"c30a7c1f-a97d-47c4-9861-b917e52fb221","name":"LoopPartiesSheet","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-500,80],"parameters":{"options":{"reset":"={{$node[\"LoopPartiesSheet\"].context[\"noItemsLeft\"]}}"}}},{"id":"1a0bf857-7430-4d7d-9eca-f58746c530cb","name":"GetInstructions","type":"n8n-nodes-base.googleSheets","typeVersion":4.2,"position":[-740,160],"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1N-rAaQT0HZBpRfz3F-ey1S5OpDa5UY112IZMzYX9y1o/edit#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N-rAaQT0HZBpRfz3F-ey1S5OpDa5UY112IZMzYX9y1o/edit#gid=0"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"zdCtsjBLk8S5V1ad","name":"Google Sheets account"}}},{"id":"455f6d0f-8369-4430-96e7-f3c0fc6195cd","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,120],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"53863a27-3e75-4ad3-829e-890e877e4183","leftValue":"={{ $json.row_number }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}}},{"id":"04ea5928-5af3-4bdd-a417-0194a205649d","name":"PromptTitre","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[0,0],"parameters":{"fields":{"values":[{"name":"Prompt","stringValue":"={{ $node[\"LoopPartiesSheet\"].json[\"Prompt\"] }} : {{ $('LoopArticlesAirtable').item.json['Mots clés'] }}"}]},"include":"none","options":{}}},{"id":"70760ef1-1c0f-43a0-9200-5297bf473bad","name":"PromptAutre","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[0,200],"parameters":{"options":{}}},{"id":"b9ccbcbe-b346-4d97-8205-ec158df1d203","name":"Prompt","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[200,140],"parameters":{"fields":{"values":[{"name":"Prompt","stringValue":"={{ $json.Prompt }}"}]},"include":"none","options":{}}},{"id":"adf37459-e83f-47d1-8234-79358d7d90aa","name":"Contenu","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[3480,120],"parameters":{"fields":{"values":[{"name":"Contenu","stringValue":"={{ $json.Resultat[5] }} {{ $json.Resultat[2] }} {{ $json.Resultat[3] }} {{ $json.Resultat[4] }} {{ $json.Resultat[7] }} {{ $json.Resultat[6] }} "}]},"include":"none","options":{}}},{"id":"cdb022ea-c3bc-4f2e-84aa-1c18cfa688ca","name":"UpdateAirtable","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[3740,120],"parameters":{"operation":"update","base":{"__rl":true,"value":"app3PTeUBz7AAJ2sR","mode":"list","cachedResultName":"Contenu - Assistant AI","cachedResultUrl":"https://airtable.com/app3PTeUBz7AAJ2sR"},"table":{"__rl":true,"value":"tbl3yhOCDlZWPLWCy","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/app3PTeUBz7AAJ2sR/tbl3yhOCDlZWPLWCy"},"columns":{"mappingMode":"defineBelow","value":{"Status":"Créé","id":"={{ $node[\"LoopArticlesAirtable\"].json.id }}","Articles":"={{ $node[\"Contenu\"].json[\"Contenu\"] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Mots clés","displayName":"Mots clés","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Articles","displayName":"Articles","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"A créer","value":"A créer"},{"name":"Créé","value":"Créé"}],"readOnly":false,"removed":false}]},"options":{}}},{"id":"c9fd04f4-0620-457b-9a36-4725aac1d3ad","name":"AggregateResultat","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[3240,120],"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Resultat"}]},"options":{}}},{"id":"807744d1-6d2a-4daa-a52e-23b6e62f4848","name":"SetResultat","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[3000,120],"parameters":{"fields":{"values":[{"name":"Resultat","stringValue":"={{ $json[\"Résultat\"] }}"}]},"include":"none","options":{}}},{"id":"b312f2b4-d85e-4002-9f07-0dc7a15fdda9","name":"GetGoogleSheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.2,"position":[2740,120],"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1N-rAaQT0HZBpRfz3F-ey1S5OpDa5UY112IZMzYX9y1o/edit#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1N-rAaQT0HZBpRfz3F-ey1S5OpDa5UY112IZMzYX9y1o/edit#gid=0"},"options":{}}},{"id":"5efa48a7-bc69-4075-aa76-c1a9c6d2d92f","name":"FIN","type":"n8n-nodes-base.if","typeVersion":1,"position":[2500,140],"parameters":{"conditions":{"boolean":[{"value1":true,"value2":"={{$node[\"LoopPartiesSheet\"].context[\"noItemsLeft\"]}}"}]}}},{"id":"c286d2c2-564b-4359-84b4-5776ff3aaba9","name":"VariablAleatoire","type":"n8n-nodes-base.set","typeVersion":3.2,"position":[-920,160],"parameters":{"fields":{"values":[{"name":"session","stringValue":"={{ $workflow.id }}{{Math.floor(Math.random()*999999999)}}"}]},"options":{}}}],"connections":{"Limit":{"main":[[{"node":"Updatesheet","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"OpenAI Assistant","type":"main","index":0}]]},"OpenAI Assistant":{"main":[[{"node":"Chat Memory Manager1","type":"main","index":0}]]},"Chat Memory Manager1":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0},{"node":"Chat Memory Manager1","type":"ai_memory","index":0}]]},"When clicking \"Test workflow\"":{"main":[[{"node":"Airtable","type":"main","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Updatesheet":{"main":[[{"node":"FIN","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"LoopArticlesAirtable","type":"main","index":0}]]},"LoopArticlesAirtable":{"main":[[],[{"node":"VariablAleatoire","type":"main","index":0}]]},"LoopPartiesSheet":{"main":[[],[{"node":"If","type":"main","index":0}]]},"GetInstructions":{"main":[[{"node":"LoopPartiesSheet","type":"main","index":0}]]},"If":{"main":[[{"node":"PromptTitre","type":"main","index":0}],[{"node":"PromptAutre","type":"main","index":0}]]},"PromptTitre":{"main":[[{"node":"Prompt","type":"main","index":0}]]},"PromptAutre":{"main":[[{"node":"Prompt","type":"main","index":0}]]},"Prompt":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Contenu":{"main":[[{"node":"UpdateAirtable","type":"main","index":0}]]},"AggregateResultat":{"main":[[{"node":"Contenu","type":"main","index":0}]]},"SetResultat":{"main":[[{"node":"AggregateResultat","type":"main","index":0}]]},"GetGoogleSheet":{"main":[[{"node":"SetResultat","type":"main","index":0}]]},"FIN":{"main":[[{"node":"GetGoogleSheet","type":"main","index":0}],[{"node":"LoopPartiesSheet","type":"main","index":0}]]},"UpdateAirtable":{"main":[[{"node":"LoopArticlesAirtable","type":"main","index":0}]]},"VariablAleatoire":{"main":[[{"node":"GetInstructions","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"2e6eca10-9b20-409c-bfea-5101f53d5c78","triggerCount":0,"shared":[{"createdAt":"2025-08-06T09:00:28.542Z","updatedAt":"2025-08-06T09:00:28.542Z","role":"workflow:owner","workflowId":"L8TanUBeBmpctrZ9","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}