2025/08/Parse Any Pdf.json
{"createdAt":"2025-08-06T09:00:05.926Z","updatedAt":"2025-08-06T09:00:05.926Z","id":"ctdymBqQsewHu2eK","name":"Parse Any Pdf","active":false,"isArchived":false,"nodes":[{"id":"860f0735-79c0-4003-b6a1-9110d2352d29","name":"Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1020,-20],"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"id":"b5ba2419-ad38-4831-a72a-acf18baf1ee4","name":"Upload File","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1260,-20],"parameters":{"method":"POST","url":"https://api.cloud.llamaindex.ai/api/parsing/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"Authorization","value":"Bearer "},{"name":"parsing_instruction","value":"Please extract invoice line items: Name, Quantity, Unit Price, Amount "}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"webhook_url","value":"https://n8n.lowcoding.dev/webhook/0f7f5ebb-8b66-453b-a818-20cc3647c783"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"disable_ocr","value":"true"},{"name":"disable_image_extraction","value":"True"}]},"options":{}}},{"id":"2a67608a-d346-4417-8eec-236f7d240c4a","name":"Google Drive Trigger","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[820,-20],"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"list","value":"1IC39VXU8rewBU85offxYlBd9QlYzf8S7","cachedResultUrl":"https://drive.google.com/drive/folders/1IC39VXU8rewBU85offxYlBd9QlYzf8S7","cachedResultName":"Invoices"},"event":"fileCreated","options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"id":"fcb10308-6038-4b6d-a324-55e0aa473cdb","name":"Create Invoice","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1300,500],"parameters":{"operation":"create","base":{"__rl":true,"mode":"list","value":"appndgSF4faN4jPXi","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi","cachedResultName":"Philipp's Base"},"table":{"__rl":true,"mode":"list","value":"tbloPc7Eay4Cvwysq","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tbloPc7Eay4Cvwysq","cachedResultName":"Invoices"},"columns":{"value":{},"schema":[{"id":"Name","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Line Items","type":"array","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Line Items","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[]},"options":{}}},{"id":"89fd2eb7-6524-46be-b4d3-968922cbebca","name":"Create Line Item","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1700,500],"parameters":{"operation":"create","base":{"__rl":true,"mode":"list","value":"appndgSF4faN4jPXi","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi","cachedResultName":"Philipp's Base"},"table":{"__rl":true,"mode":"list","value":"tblIuVR9ocAomznzK","cachedResultUrl":"https://airtable.com/appndgSF4faN4jPXi/tblIuVR9ocAomznzK","cachedResultName":"Line Items"},"columns":{"value":{"Qty":"={{ $json.qty }}","Amount":"={{ parseFloat($json.amount.replace('$', '').trim()) }}","Invoices":"=[\"{{ $('Create Invoice').item.json.id }}\"]","Unit price":"={{ parseFloat($json.unit_price.replace('$', '').trim()) }}","Description":"={{ $json.description }}"},"schema":[{"id":"Name","type":"string","display":true,"removed":true,"readOnly":false,"required":false,"displayName":"Name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Description","type":"string","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Description","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Qty","type":"number","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Qty","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Unit price","type":"number","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Unit price","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Amount","type":"number","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Amount","defaultMatch":false,"canBeUsedToMatch":true},{"id":"Invoices","type":"array","display":true,"removed":false,"readOnly":false,"required":false,"displayName":"Invoices","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[]},"options":{}}},{"id":"109fe119-afc5-4f93-b011-064318b0c105","name":"OpenAI - Extract Line Items","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,500],"parameters":{"method":"POST","url":"=https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": {{ JSON.stringify($('Set Fields').item.json.prompt) }}\n      },\n      {\n        \"role\": \"user\",\n        \"content\": {{ JSON.stringify( JSON.stringify($('Webhook').item.json.body.json[0].items) ) }}\n      }\n    ],\n  \"response_format\":{ \"type\": \"json_schema\", \"json_schema\":  {{ $('Set Fields').item.json.schema }}\n\n }\n  }","options":{}},"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"id":"1f18f393-9c21-4e8d-b1e0-3fa867722460","name":"Set Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,500],"parameters":{"assignments":{"assignments":[{"id":"dc09a5b4-ff6a-4cee-b87e-35de7336ac05","name":"prompt","type":"string","value":"Please, process parsed data and return only needed."},{"id":"4e0f9af6-517f-42af-9ced-df0e8a7118b0","name":"schema","type":"string","value":"={\n  \"name\": \"generate_schema\",\n  \"description\": \"Generate schema for an array of objects representing items with their descriptions, quantities, unit prices, and amounts.\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"required\": [\n      \"items\"\n    ],\n    \"properties\": {\n      \"items\": {\n        \"type\": \"array\",\n        \"description\": \"Array of item objects\",\n        \"items\": {\n          \"type\": \"object\",\n          \"required\": [\n            \"description\",\n            \"qty\",\n            \"unit_price\",\n            \"amount\"\n          ],\n          \"properties\": {\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Description of the item\"\n            },\n            \"qty\": {\n              \"type\": \"string\",\n              \"description\": \"Quantity of the item\"\n            },\n            \"unit_price\": {\n              \"type\": \"string\",\n              \"description\": \"Unit price of the item formatted as a string\"\n            },\n            \"amount\": {\n              \"type\": \"string\",\n              \"description\": \"Total amount for the item formatted as a string\"\n            }\n          },\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"additionalProperties\": false\n  }\n}"}]},"options":{}}},{"id":"f31d5bbd-4531-4042-aabc-f75222b66cc0","name":"Process Line Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,500],"parameters":{"jsCode":"// Get the input from the \"OpenAI - Extract Line Items\" node\nconst input = $(\"OpenAI - Extract Line Items\").first().json;\n\n// Initialize an array for the output\nconst outputItems = [];\n\n// Navigate to the 'content' field in the choices array\nconst content = input.choices[0]?.message?.content;\n\nif (content) {\n  try {\n    // Parse the stringified JSON in the 'content' field\n    const parsedContent = JSON.parse(content);\n\n    // Extract 'items' and add them to the output array\n    if (Array.isArray(parsedContent.items)) {\n      outputItems.push(...parsedContent.items.map(i => ({ json: i })));\n    }\n  } catch (error) {\n    // Handle any parsing errors\n    console.error('Error parsing content:', error);\n  }\n}\n\n// Return the extracted items\nreturn outputItems;\n"}},{"id":"fe82205b-c3e6-4c07-98cb-3b67f6c8c0e4","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[680,500],"parameters":{"httpMethod":"POST","path":"0f7f5ebb-8b66-453b-a818-20cc3647c783","options":{}}},{"id":"11e6a589-3695-4483-bac8-4f01408af0a5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,-140],"parameters":{"content":"## Scenario 1\n\n","height":400,"width":920}},{"id":"ba1f7a91-52fa-460f-9063-92b41017fc46","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[620,400],"parameters":{"content":"## Scenario 2\n\n","height":460,"width":1340}},{"id":"28a3a984-943a-48f6-89c1-5a20ff45ea93","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,160],"parameters":{"content":"### Replace Google Drive connection","height":80,"width":270,"color":3}},{"id":"cf253f76-6429-4a9f-92dc-a06505077b5e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1220,160],"parameters":{"content":"### Replace API key in header","height":80,"width":170,"color":3}},{"id":"c4d1e680-e814-4c7d-8f2e-c5be883e917d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,700],"parameters":{"content":"### Replace OpenAI connection","height":80,"width":170,"color":3}},{"id":"2bc9efdb-5ec8-4f5b-8ee7-50ed7c27c8dd","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1300,700],"parameters":{"content":"### Replace Airtable connection","height":80,"width":530,"color":3}},{"id":"d95b7b28-32ac-4a04-98ee-67f089990650","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[140,540],"parameters":{"content":"### ... or watch set up video [7 min]\n[![Youtube Thumbnail](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/Video%2010%20-%20Parser%20invoices%20Blur.png)](https://youtu.be/E4I0nru-fa8)\n","height":239.5888196628349,"width":330.5152611046425,"color":7}},{"id":"6e94eb84-6f1f-409d-8e99-9d66312dfd1a","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,-140],"parameters":{"content":"![5min Logo](https://cflobdhpqwnoisuctsoc.supabase.co/storage/v1/object/public/my_storage/banner.png)\n## AI Agent for realtime insights on meetings\n**Made by [Mark Shcherbakov](https://www.linkedin.com/in/marklowcoding/) from community [5minAI](https://www.skool.com/5minai)**\n\nTranscribing meetings manually can be tedious and prone to error. This workflow automates the transcription process in real-time, ensuring that key discussions and decisions are accurately captured and easily accessible for later review, thus enhancing productivity and clarity in communications.\n\nThe workflow leverages n8n and LlamaParse to automatically detect new invoices in a designated Google Drive folder, parse essential billing details, and store the extracted data in a structured format. The key functionalities include:\n- Real-time detection of new invoices via Google Drive triggers.\n- Automated HTTP requests to initiate parsing through Lama Cloud.\n- Structured storage of invoice details and line items in a database for future reference.\n\n1. **Google Drive Integration**: Monitors a specific folder in Google Drive for new invoice uploads.\n2. **Parsing with LlamaParse**: Automatically sends invoices for parsing and processes results through webhooks.\n3. **Data Storage in Airtable**: Creates records for invoices and their associated line items, allowing for detailed tracking.","height":657,"width":636,"color":7}},{"id":"e4a8bfcb-ad5f-4e23-a76b-8a4c70a3fec9","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,540],"parameters":{"content":"### Set up steps\n\n1. **Google Drive Trigger**: \n   - Set up a trigger to detect new files in a specified folder dedicated to invoices.\n\n2. **File Upload to LlamaParse**: \n   - Create an HTTP request that sends the invoice file to LlamaParse for parsing, including relevant header settings and webhook URL.\n\n3. **Webhook Processing**: \n   - Establish a webhook node to handle parsed results from LlamaParse, extracting needed invoice details effectively.\n\n4. **Invoice Record Creation**: \n   - Create initial records for invoices in your database using the parsed details received from the webhook.\n\n5. **Line Item Processing**: \n   - Transform string data into structured line item arrays and create individual records for each item linked to the main invoice.","height":626,"width":280,"color":7}},{"id":"e21485a8-7098-4dce-bae6-0609b75ddec6","name":"OpenAI - Extract Line Items1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,860],"parameters":{"method":"POST","url":"=https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": {{ JSON.stringify($('Set Fields').item.json.prompt) }}\n      },\n      {\n        \"role\": \"user\",\n        \"content\": {{ JSON.stringify( JSON.stringify($('Webhook').item.json.body.json[0].items) ) }}\n      }\n    ],\n  \"response_format\":{ \"type\": \"json_schema\", \"json_schema\":  {{ $('Set Fields').item.json.schema }}\n\n }\n  }","options":{}},"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"id":"e5fe5eec-7475-43ca-a752-0cf0496a166b","name":"Set Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,880],"parameters":{"assignments":{"assignments":[{"id":"dc09a5b4-ff6a-4cee-b87e-35de7336ac05","name":"prompt","type":"string","value":"Please, process parsed data and return only needed."},{"id":"4e0f9af6-517f-42af-9ced-df0e8a7118b0","name":"schema","type":"string","value":"={\n  \"name\": \"generate_bank_statement_schema\",\n  \"description\": \"Generate schema for an array of objects representing bank transactions with Date, Value Date, Nature of Operations, Credit, and Debit.\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"required\": [\n      \"transactions\"\n    ],\n    \"properties\": {\n      \"transactions\": {\n        \"type\": \"array\",\n        \"description\": \"Array of bank transaction objects\",\n        \"items\": {\n          \"type\": \"object\",\n          \"required\": [\n            \"date\",\n            \"valeur\",\n            \"nature\",\n            \"credit\",\n            \"debit\"\n          ],\n          \"properties\": {\n            \"date\": {\n              \"type\": \"string\",\n              \"description\": \"Date of the transaction in format DD/MM/YYYY\"\n            },\n            \"valeur\": {\n              \"type\": \"string\",\n              \"description\": \"Value date of the transaction in format DD/MM/YYYY\"\n            },\n            \"nature\": {\n              \"type\": \"string\",\n              \"description\": \"Nature of the operation, e.g., VIR SEPA, CB, PRLV\"\n            },\n            \"credit\": {\n              \"type\": \"string\",\n              \"description\": \"Credit amount of the transaction formatted as a string, or empty if not applicable\"\n            },\n            \"debit\": {\n              \"type\": \"string\",\n              \"description\": \"Debit amount of the transaction formatted as a string, or empty if not applicable\"\n            }\n          },\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"additionalProperties\": false\n  }\n}\n"}]},"options":{}}}],"connections":{"Webhook":{"main":[[{"node":"Set Fields","type":"main","index":0}]]},"Set Fields":{"main":[[{"node":"OpenAI - Extract Line Items","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Upload File","type":"main","index":0}]]},"Create Invoice":{"main":[[{"node":"Process Line Items","type":"main","index":0}]]},"Process Line Items":{"main":[[{"node":"Create Line Item","type":"main","index":0}]]},"Google Drive Trigger":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"OpenAI - Extract Line Items":{"main":[[{"node":"Create Invoice","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"2b7563a0-3366-475e-9210-17027f9d260d","triggerCount":0,"shared":[{"createdAt":"2025-08-06T09:00:05.926Z","updatedAt":"2025-08-06T09:00:05.926Z","role":"workflow:owner","workflowId":"ctdymBqQsewHu2eK","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}