2025/08/Production Ready Error Handling.json
{"createdAt":"2025-08-12T09:14:12.302Z","updatedAt":"2025-08-12T14:56:52.361Z","id":"4tY9HyrzcTQ23yO1","name":"Production Ready Error Handling","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"487a09e0-78da-4e63-9669-b20f036d94cf","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[672,1840]},{"parameters":{"method":"POST","url":"https://api.piapi.ai/api/v1/task","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"A waffle personified as a human. The waffle is wearing a suit and tie.\",\n        \"width\": 540, \n        \"height\": 960\n    } \n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,3376],"id":"e5a95914-cf2a-480b-9297-abc5ad4fcca5","name":"Generate Image"},{"parameters":{"url":"=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,3376],"id":"8fbfb873-1497-4069-9bb9-ff7efb7a4bb7","name":"Get Images"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b18d8c25-c1a1-4583-b75c-3ebad98b212a","leftValue":"={{ $json.data.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1152,3376],"id":"12c5d1fb-d62a-4d34-afaa-ff56838f7912","name":"If1"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[896,3376],"id":"2ced637d-56d5-4116-96a5-8c4dd3626283","name":"Wait","webhookId":"7ab54d36-3c1b-4dda-92ce-f4bf1879c15d"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,3440],"id":"231654fa-fe8b-488c-8fea-e8b33740c863","name":"Wait1","webhookId":"33adf426-612c-4780-9d92-78bc428a9244"},{"parameters":{"assignments":{"assignments":[{"id":"6f7a5a6a-d14e-4e29-b81e-30e24a059c38","name":"query","value":"\"pineapples on pizza\"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[912,3824],"id":"964c9d01-4b92-432f-9ee7-24104a3b05ed","name":"Set"},{"parameters":{"content":"# Production Ready Error Handling\n**Author: [Nate Herk](https://www.youtube.com/@nateherk)**\n\n## Errors that...\n### - Send notifications\n### - Are logged\n### - Have retry/fallback logic\n### - Fail safely\n\n\n\n## 1) Error Workflow\n## 2) Retry on Failure\n## 3) Fallback LLM\n## 4) Continue on Error\n## 5) Polling\n\n## 🎁 Bonus: Building Guardrails","height":608,"width":576},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"e949f5a9-7d87-465b-a441-b12975fd0d6a","name":"Sticky Note3"},{"parameters":{"jsCode":"// n8n Code Node - Output array of companies\nconst items = [\n  { json: { value: \"google\" } },\n  { json: { value: \"meta\" } },\n  { json: { value: '\"nvidia\"' } }\n];\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,1840],"id":"77a741e9-1e7a-4ce7-824a-3e9e80c6164b","name":"Code"},{"parameters":{"options":{}},"id":"b1b55a2b-514f-4309-8624-0be97258da5c","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1056,1840]},{"parameters":{"assignments":{"assignments":[{"id":"00873281-b8c8-400e-8385-e5fd5e35ae9d","name":"data","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"21b4b697-e9f2-469d-98f8-2106a2aecb01","name":"Example","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1296,1728]},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","authentication":"predefinedCredentialType","nodeCredentialType":"tavilyApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"{{ $json.query.replace(/\"/g, '') }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,3824],"id":"910992ec-f3e4-444f-83f4-732d8909e038","name":"Tavily 1"},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","authentication":"predefinedCredentialType","nodeCredentialType":"tavilyApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"{{ $json.value }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,1952],"id":"a77fd0ca-9fc4-4883-bf2f-7f03b3adec80","name":"Tavily"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[704,416],"id":"997ff895-a54d-464f-a75f-95db9562f74a","name":"Error Trigger"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[736,128],"id":"d5e285d2-2a96-43e6-83a9-297c18c3039a","name":"Bad Agent"},{"parameters":{"base":{"__rl":true,"mode":"list","value":""},"table":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[1136,144],"id":"51046901-0a5d-4749-ba91-93572c4fd517","name":"Get a record in Airtable"},{"parameters":{"content":"# 1) Error Workflow - [Full video](https://youtu.be/bTF3tACqPRU?si=Z0-Q_I9-tN4Eioim)","height":608,"width":768,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,0],"id":"f108f36c-a3e8-4d22-9c0e-df35a4769b2e","name":"Sticky Note"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1pqsIwwXktJ7uVHKAr29NAuqpEvEWMFgQRFN4tUIwJy4","mode":"list","cachedResultName":"Error Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pqsIwwXktJ7uVHKAr29NAuqpEvEWMFgQRFN4tUIwJy4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1pqsIwwXktJ7uVHKAr29NAuqpEvEWMFgQRFN4tUIwJy4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Workflow","displayName":"Workflow","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Node","displayName":"Node","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Error Message","displayName":"Error Message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[960,336],"id":"131c547a-db29-4acd-a8ed-df2d13d455ab","name":"Log Error"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C08L6NKQBEW","mode":"list","cachedResultName":"all-awesome-ai-stuff"},"text":"ERROR","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1104,448],"id":"9363d1cb-8b8a-4304-ae61-3a86c02d96b0","name":"Error Notification","webhookId":"bd1df886-4a72-40b3-b884-87d460940833"},{"parameters":{"content":"# 2) Retry on Failure","height":480,"width":768,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,624],"id":"4bc06ad8-7dfe-46a2-9151-bab1ba8be75a","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[656,736],"id":"bbe77095-1f9d-4635-b45f-0bcab40009a5","name":"AI Agent","retryOnFail":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[704,928],"id":"6ffeff70-6bdd-43a6-9ee1-2c70b4f68c43","name":"OpenRouter Chat Model"},{"parameters":{"sendTo":"nate@example.com","subject":"Test","message":"Test","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1056,736],"id":"fb72b67e-ce91-4cc6-bf37-53a9ffcd8ed8","name":"Send a message","webhookId":"5c0cba63-4f51-4506-b51a-5820900b4b9c","retryOnFail":true},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,912],"id":"a4678213-20a8-43f4-a086-8bd5f078ad20","name":"Code1"},{"parameters":{"url":"http://cool.com","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,912],"id":"ffaa7fe7-9094-47b4-9184-8ca1abddc1b0","name":"HTTP Request"},{"parameters":{"needsFallback":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[880,1264],"id":"15dcabc6-58bc-4acb-b526-c67ed102413a","name":"Fallback Agent","retryOnFail":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[784,1440],"id":"ace8ec05-0ba6-4cc8-8fba-d512eebd6d15","name":"OpenRouter","credentials":{"openRouterApi":{"id":"XZufKXcYBY32qaby","name":"OpenRouter account"}}},{"parameters":{"content":"# 3) Fallback LLM","height":480,"width":768,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,1120],"id":"8ef2e835-ba38-4bc3-b71a-b1c0cd107f85","name":"Sticky Note2"},{"parameters":{"content":"# 4) Continue on Error","height":1568,"width":912,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,1616],"id":"2f64fd4b-6a7b-474a-906d-c755bf8bea7d","name":"Sticky Note4"},{"parameters":{"content":"## Stops Workflow","height":208,"width":224,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1232,1888],"id":"340cacc6-9a6c-48d1-892a-0a8eeb713024","name":"Sticky Note5"},{"parameters":{"jsCode":"// n8n Code Node - Output array of companies\nconst items = [\n  { json: { value: \"google\" } },\n  { json: { value: \"meta\" } },\n  { json: { value: '\"nvidia\"' } }\n];\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,2320],"id":"302f8e80-808d-4b5f-88f7-5a58df6fcee6","name":"Code2"},{"parameters":{"options":{}},"id":"784803fc-19b4-4419-a852-9a4b612d3c1d","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1056,2320]},{"parameters":{"assignments":{"assignments":[{"id":"00873281-b8c8-400e-8385-e5fd5e35ae9d","name":"data","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"4103e04f-c86e-4c5e-8e0a-e30f175856a6","name":"Example1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1296,2208]},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","authentication":"predefinedCredentialType","nodeCredentialType":"tavilyApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"{{ $json.value }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,2432],"id":"60f08f03-4598-42eb-a2a5-38b5ee429a89","name":"Tavily1","onError":"continueRegularOutput"},{"parameters":{"content":"## Workflow Continues\n","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1232,2368],"id":"7b8191b8-7515-4599-b52c-a535ffc588ce","name":"Sticky Note6"},{"parameters":{"jsCode":"// n8n Code Node - Output array of companies\nconst items = [\n  { json: { value: \"google\" } },\n  { json: { value: \"meta\" } },\n  { json: { value: '\"nvidia\"' } }\n];\n\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,2800],"id":"a1273274-3b9e-4718-b979-bbb8887e92b2","name":"Code3"},{"parameters":{"options":{}},"id":"0abff1c2-2f22-4482-a247-415dd1276d46","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1056,2800]},{"parameters":{"assignments":{"assignments":[{"id":"00873281-b8c8-400e-8385-e5fd5e35ae9d","name":"data","value":"={{ $json.data }}","type":"string"}]},"options":{}},"id":"d6dc7fd3-f38b-4bbc-8565-2c5f2fcb34ec","name":"Example2","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1296,2688]},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","authentication":"predefinedCredentialType","nodeCredentialType":"tavilyApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"{{ $json.value }}\",\n  \"auto_parameters\": false,\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": true,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_favicon\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": [],\n  \"country\": null\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,2912],"id":"562a4c46-6639-4074-9d86-b438d86d2d0b","name":"Tavily2","alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"content":"## Good.\n","height":208,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1232,2848],"id":"c3886d2c-2d62-4c7d-a6da-eb44e54c846c","name":"Sticky Note7"},{"parameters":{"content":"# 5) Polling","height":480,"width":912,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,3200],"id":"420dd8ff-4f0a-4e83-8dc1-e03514d2619d","name":"Sticky Note8"},{"parameters":{"content":"# Guardrail Example\n","height":352,"width":912},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,3696],"id":"efc7f685-4901-4054-abfd-08caa1da5ae6","name":"Sticky Note9"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[688,1264],"id":"ea219336-744f-4254-998e-a40f4fc72232","name":"When chat message received","webhookId":"5f8b5568-5968-4fd9-bb7f-3ae16f4e8bb5"},{"parameters":{},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[1296,3824],"id":"37368ac9-b907-4892-aa4e-cc3a5282ca60","name":"Search","credentials":{}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[960,1456],"id":"1f598fc3-714a-44b0-be9e-2e680c0071c9","name":"Google Gemini Chat Model"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Code","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get Images":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[],[{"node":"Wait1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Images","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Get Images","type":"main","index":0}]]},"Set":{"main":[[{"node":"Tavily 1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Example","type":"main","index":0}],[{"node":"Tavily","type":"main","index":0}]]},"Tavily":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a record in Airtable":{"ai_tool":[[{"node":"Bad Agent","type":"ai_tool","index":0}]]},"Error Trigger":{"main":[[{"node":"Log Error","type":"main","index":0},{"node":"Error Notification","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenRouter":{"ai_languageModel":[[{"node":"Fallback Agent","type":"ai_languageModel","index":0}]]},"Code2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Example1","type":"main","index":0}],[{"node":"Tavily1","type":"main","index":0}]]},"Tavily1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Example2","type":"main","index":0}],[{"node":"Tavily2","type":"main","index":0}]]},"Tavily2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Fallback Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Fallback Agent","type":"ai_languageModel","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1944ad8f-5426-4c9f-ab4c-cf6010f9a3a7","triggerCount":0,"shared":[{"createdAt":"2025-08-12T09:14:12.302Z","updatedAt":"2025-08-12T09:14:12.302Z","role":"workflow:owner","workflowId":"4tY9HyrzcTQ23yO1","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}