2025/08/Prospection IA – Cold Emails + Appels + Calendrier Auto.json
{"createdAt":"2025-08-15T08:23:06.015Z","updatedAt":"2025-08-15T08:23:06.015Z","id":"s2UKyodfUI15m6PE","name":"Prospection IA – Cold Emails + Appels + Calendrier Auto","active":false,"isArchived":false,"nodes":[{"parameters":{"triggerTimes":{"item":[{"hour":8}]}},"id":"75b444fc-32c2-413b-b66c-57601650b4d0","name":"Daily Trigger 08h00","type":"n8n-nodes-base.cron","typeVersion":1,"position":[2304,464]},{"parameters":{"content":"### Workflow Prospection IA\n1. Lecture des leads « Nouveau »\n2. Génération & envoi Email #1\n3. Relance Email #2 après 2 jours si pas de réponse\n4. Appel vocal IA via API Twilio si toujours muet\n5. Création d’un RDV Google Agenda si l’appel aboutit\n6. Mises à jour d’état + logs\n\n> **À faire** : remplacer toutes les valeurs fictives (ID doc, clés API, e-mails)."},"id":"f1b61d0d-b9d8-4d16-aab6-38675a90b361","name":"Sticky Note – Vue d’ensemble","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-176,160]},{"parameters":{"documentId":"YOUR_SHEET_ID","sheetName":"Leads","options":{}},"id":"7fd2568c-b07f-448d-8403-7db52f1b5fe0","name":"Get New Leads","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2544,464]},{"parameters":{"batchSize":1,"options":{}},"id":"8bb3ee4c-ada0-4db1-a000-0b206dece5bd","name":"Process Leads One-by-One","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[2816,464]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"6cbd6df1-d9ba-403e-9287-a7b24db71054","name":"Generate Email #1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1904,224]},{"parameters":{"method":"POST","url":"https://api.sendgrid.com/v3/mail/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $credentials.sendgridApi.key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"c44fafdc-3103-4eeb-8fe2-baa152bd2117","name":"Send Email #1 (SendGrid)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2288,16]},{"parameters":{"operation":"update","documentId":"YOUR_SHEET_ID","sheetName":"Leads","columns":{"mappingMode":"defineBelow","value":{"STATUS":"Email1 Sent","LAST_TOUCH":"={{ $now.format('yyyy-LL-dd') }}","row_number":"={{ $json.row_number }}"},"schema":[]},"options":{}},"id":"95fbdf8f-ee13-4762-ab60-72bdc3f73fe5","name":"Mark Email1 Sent","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2512,16]},{"parameters":{},"id":"274710bd-f279-4017-8b52-230a53005966","name":"Wait 2 Days","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2736,16],"webhookId":"f9627e6f-cad3-4197-8dbb-055b9fe2b64b"},{"parameters":{"documentId":"YOUR_SHEET_ID","sheetName":"Leads","options":{}},"id":"cc3c624f-9099-48c4-bfa0-4d016d8fc8c1","name":"Reload Lead Status","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2960,16]},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.STATUS }}","rightValue":"Email1 Sent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f074c627-10c6-4ba1-94e3-438f7ed4f13c","name":"Still No Reply ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3168,16]},{"parameters":{"model":"gpt-4o-mini","options":{}},"id":"99703781-c3cb-4eb8-a9c5-1ee870e9d809","name":"Generate Email #2 (Follow-up)","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2112,224]},{"parameters":{"method":"POST","url":"https://api.sendgrid.com/v3/mail/send","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $credentials.sendgridApi.key }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"d23002b1-5b65-46bf-bdf9-04461f5451a6","name":"Send Email #2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2304,224]},{"parameters":{"operation":"update","documentId":"YOUR_SHEET_ID","sheetName":"Leads","columns":{"mappingMode":"defineBelow","value":{"STATUS":"Email2 Sent","LAST_TOUCH":"={{ $now.format('yyyy-LL-dd') }}","row_number":"={{ $json.row_number }}"},"schema":[]},"options":{}},"id":"0e1e2c87-e80c-4014-9faa-a8c0ee838d66","name":"Mark Email2 Sent","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2512,224]},{"parameters":{},"id":"b8d3a2b7-7e05-468c-99df-e31e83adb96a","name":"Wait 2 Days (again)","type":"n8n-nodes-base.wait","typeVersion":1,"position":[2704,224],"webhookId":"c621c509-bd7b-461d-8335-0abe229c4da9"},{"parameters":{"documentId":"YOUR_SHEET_ID","sheetName":"Leads","options":{}},"id":"23a29b0c-2dd2-434a-8727-82ee45a9e83a","name":"Reload Status Post Email2","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2912,224]},{"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.STATUS }}","rightValue":"Email2 Sent","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"458adebc-f97b-4fb0-a3f1-dd59853aa40e","name":"Always No Reply ?","type":"n8n-nodes-base.if","typeVersion":2,"position":[3104,224]},{"parameters":{"method":"POST","url":"https://api.twilio.com/2010-04-01/Accounts/YOUR_ACCOUNT_SID/Calls.json","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"To","value":"={{ $json.PHONE }}"},{"name":"From","value":"+15005550006"},{"name":"Twiml","value":"<Response><Say voice=\"Polly.Joanna\">Bonjour {{ $json.FIRST_NAME }} ! ...</Say></Response>"}]},"options":{}},"id":"c4109e2f-2544-4c87-847d-f3be46a5ee95","name":"Voice Call (Bot Twilio)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3312,224]},{"parameters":{"operation":"update","documentId":"YOUR_SHEET_ID","sheetName":"Leads","columns":{"mappingMode":"defineBelow","value":{"STATUS":"Call Placed","LAST_TOUCH":"={{ $now.format('yyyy-LL-dd') }}","row_number":"={{ $json.row_number }}"},"schema":[]},"options":{}},"id":"ab11246e-7f66-4b3c-9225-41389db98a95","name":"Mark Call Done","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[3504,224]},{"parameters":{"operation":"quickAdd","calendar":"primary"},"id":"8516da32-dc75-4c54-b64f-807878fb8171","name":"Create Calendar Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[3696,224]},{"parameters":{"options":{}},"id":"bf2ac023-eee0-45c3-90bc-445d6716c399","name":"Process End","type":"n8n-nodes-base.set","typeVersion":3,"position":[3952,336]}],"connections":{"Daily Trigger 08h00":{"main":[[{"node":"Get New Leads","type":"main","index":0}]]},"Get New Leads":{"main":[[{"node":"Process Leads One-by-One","type":"main","index":0}]]},"Process Leads One-by-One":{"main":[[{"node":"Process End","type":"main","index":0}]]},"Send Email #1 (SendGrid)":{"main":[[{"node":"Mark Email1 Sent","type":"main","index":0}]]},"Mark Email1 Sent":{"main":[[{"node":"Wait 2 Days","type":"main","index":0}]]},"Wait 2 Days":{"main":[[{"node":"Reload Lead Status","type":"main","index":0}]]},"Reload Lead Status":{"main":[[{"node":"Still No Reply ?","type":"main","index":0}]]},"Send Email #2":{"main":[[{"node":"Mark Email2 Sent","type":"main","index":0}]]},"Mark Email2 Sent":{"main":[[{"node":"Wait 2 Days (again)","type":"main","index":0}]]},"Wait 2 Days (again)":{"main":[[{"node":"Reload Status Post Email2","type":"main","index":0}]]},"Reload Status Post Email2":{"main":[[{"node":"Always No Reply ?","type":"main","index":0}]]},"Always No Reply ?":{"main":[[{"node":"Voice Call (Bot Twilio)","type":"main","index":0}]]},"Voice Call (Bot Twilio)":{"main":[[{"node":"Mark Call Done","type":"main","index":0}]]},"Mark Call Done":{"main":[[{"node":"Create Calendar Event","type":"main","index":0}]]},"Create Calendar Event":{"main":[[{"node":"Process End","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2a6c1fa4-ec01-4908-a723-57d092207cb4","triggerCount":0,"shared":[{"createdAt":"2025-08-15T08:23:06.015Z","updatedAt":"2025-08-15T08:23:06.015Z","role":"workflow:owner","workflowId":"s2UKyodfUI15m6PE","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}