2025/08/Rag Agent Local V3.json
{"createdAt":"2025-08-06T09:00:23.424Z","updatedAt":"2025-08-06T09:00:23.424Z","id":"HRdBCqXti3Gms0XK","name":"Rag Agent Local V3","active":false,"isArchived":false,"nodes":[{"id":"c2b201eb-b45a-4013-9797-c4c9cb298b63","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-180,0],"parameters":{"options":{}}},{"id":"475a7648-2a0b-4cfb-9841-dccb2e3ee177","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[40,0],"parameters":{"hasOutputParser":true,"options":{}},"alwaysOutputData":true},{"id":"3f4aeacb-d23c-4667-900e-b3dd047889c8","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[220,200],"parameters":{"name":"compagny_database"}},{"id":"b05387e9-ae61-4931-b2a4-89c5a430061a","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[180,360],"parameters":{"qdrantCollection":{"__rl":true,"value":"texte_loi_français","mode":"list","cachedResultName":"texte_loi_français"},"options":{}},"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"id":"b676b79c-dcef-42b7-ae35-65e1a65e3e86","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[480,360],"parameters":{"options":{}},"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"id":"4cf55ce2-da14-40bb-85d2-6a4a7ee7b772","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[240,520],"parameters":{"options":{}},"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"id":"890d5d34-ca34-4b17-a756-223728fee6bb","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-60,240],"parameters":{"options":{}},"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"id":"2b32a854-4dc9-4e53-b887-5138c69058ba","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[420,0],"parameters":{"operation":"create","base":{"__rl":true,"value":"appuJBHWCXCaoDwXa","mode":"list","cachedResultName":"Log Tracking","cachedResultUrl":"https://airtable.com/appuJBHWCXCaoDwXa"},"table":{"__rl":true,"value":"tbl4WBlGUD4hdAASn","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appuJBHWCXCaoDwXa/tbl4WBlGUD4hdAASn"},"columns":{"mappingMode":"defineBelow","value":{"Output":"={{ $json.output }}","agent":"=Local RAG","Time":"={{ $now }}","Log":"={{ $json[\"output\"] ? \"[]\" : ($json[\"message\"] ? \"error\" : \"unknown error\") }}","LLM Utilisé":"gpt 4o","Input":"={{ $('When chat message received').item.json.chatInput }}"},"matchingColumns":[],"schema":[{"id":"recordiD","displayName":"recordiD","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"agent","displayName":"agent","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Output","displayName":"Output","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"LLM Utilisé","displayName":"LLM Utilisé","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Prompt de l'Agent","displayName":"Prompt de l'Agent","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Mémoire (postgres)","displayName":"Mémoire (postgres)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Note/10 Input -> Output.","displayName":"Note/10 Input -> Output.","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Log","displayName":"Log","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Time","displayName":"Time","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}}},{"id":"f1f8dc32-245c-406c-8ab8-0c0df331c58e","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[720,0],"parameters":{}},{"id":"bb320e5b-ea2f-4227-9ea7-e5d95542bf30","name":"GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[920,0],"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"Quentin-aq","mode":"name"},"repository":{"__rl":true,"value":"actual-backend-app","mode":"list","cachedResultName":"actual-backend-app","cachedResultUrl":"https://github.com/Quentin-aq/actual-backend-app"},"filePath":"Fra14562-1.pdf","additionalParameters":{}},"credentials":{"githubApi":{"id":"7b8cYybSiLIJp8dU","name":"GitHub account"}}},{"id":"438fff75-07ba-4c3a-80ba-fa700fcb776a","name":"Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[720,220],"parameters":{"operation":"pdf","options":{}}},{"id":"26c38cd3-9f78-4490-b815-e9080a3f06c8","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[920,220],"parameters":{"maxItems":30}},{"id":"ac34d182-91ad-4993-bc69-908fe3787987","name":"Qdrant Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1140,220],"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"texte_loi_français","mode":"list","cachedResultName":"texte_loi_français"},"options":{}},"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"id":"04b83e56-e6b8-4ea3-8baf-db498cf2e34a","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[980,400],"parameters":{"options":{}},"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"id":"f38591b3-7abd-4625-9348-bafed06cc36a","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1160,400],"parameters":{"options":{}}},{"id":"d67f8622-4bf0-4bf4-b7e4-85536f6750f1","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[1220,560],"parameters":{"separator":"\"\\n\\n\"","chunkOverlap":200}},{"id":"ca2d47bf-0188-4bd4-ba2f-81d3c24c7d8c","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[60,240],"parameters":{}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Airtable","type":"main","index":0}],[{"node":"Airtable","type":"main","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Qdrant Vector Store1","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store1","type":"ai_document","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"d8c49e2b-75cb-4cf5-b32d-c1566058dc66","triggerCount":0,"shared":[{"createdAt":"2025-08-06T09:00:23.424Z","updatedAt":"2025-08-06T09:00:23.424Z","role":"workflow:owner","workflowId":"HRdBCqXti3Gms0XK","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}