2025/08/RAG:Context-Aware Chunking | Google Drive à Pinecone via OpenRouter & Gemini.json
{"createdAt":"2025-08-06T09:00:07.018Z","updatedAt":"2025-08-06T09:00:07.018Z","id":"HLDTbddwv7kNNCGa","name":"RAG:Context-Aware Chunking | Google Drive à Pinecone via OpenRouter & Gemini","active":false,"isArchived":false,"nodes":[{"id":"7a0939d1-f80f-490e-8cfd-ee5fa04d69e6","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,60],"parameters":{}},{"id":"6d2c98fa-ce32-4077-a77a-3e8fcc38b138","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1300,60],"parameters":{"options":{}}},{"id":"fb7131a2-6906-4fb5-b1e9-3ea1f2e16053","name":"OpenRouter Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[220,500],"parameters":{},"credentials":{}},{"id":"cb3088e2-45f6-42a1-8ee2-04ec7bba3a1a","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[980,420],"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"list","value":"context-rag-test","cachedResultName":"context-rag-test"},"options":{}}},{"id":"38a9efbb-7f0b-4131-8cd5-1a497df98e37","name":"Embeddings Google Gemini","type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[920,600],"parameters":{"modelName":"models/text-embedding-004"}},{"id":"8f08ea41-6db6-4422-bb77-82c00ae309c3","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1120,600],"parameters":{"options":{}}},{"id":"f138a1ef-525a-4c8f-93aa-2dd985e4e29b","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1040,740],"parameters":{"chunkSize":100000,"options":{}}},{"id":"86dd1bc9-c7ef-4ffc-9ae5-09aaa74a5eee","name":"Get Document From Google Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[420,60],"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"list","value":"1gm0jxFTLuiWB5u4esEjzoCPImrVqu0AEMIKBIesTf9M","cachedResultUrl":"https://docs.google.com/document/d/1gm0jxFTLuiWB5u4esEjzoCPImrVqu0AEMIKBIesTf9M/edit?usp=drivesdk","cachedResultName":"Udit Rawat - Details"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"id":"eb6f9911-cce8-4222-a723-91bac0edffc6","name":"Extract Text Data From Google Document","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[640,60],"parameters":{"operation":"text","options":{}}},{"id":"5bc1d99d-9be6-4f2d-b62a-6502773dd981","name":"Split Document Text Into Sections","type":"n8n-nodes-base.code","typeVersion":2,"position":[860,60],"parameters":{"jsCode":"let split_text = \"—---------------------------—-------------[SECTIONEND]—---------------------------—-------------\";\nfor (const item of $input.all()) {\n  item.json.section = item.json.data.split(split_text);\n  item.json.document = JSON.stringify(item.json.section)\n}\nreturn $input.all();"}},{"id":"abbffea4-269d-42c7-8165-349390862a0a","name":"Prepare Sections For Looping","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1080,60],"parameters":{"fieldToSplitOut":"section","options":{}}},{"id":"e14be368-b725-4c35-a7b2-98240e5421a5","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,-40],"parameters":{"content":"## Prepare Document. \nThis section is responsible for downloading the file from Google Drive, splitting the text into sections by detecting separators, and preparing them for looping.","height":280,"width":1300}},{"id":"2c9c69ac-49fa-4f2e-b843-66fb0209e90e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,280],"parameters":{"content":"## Prepare context\nIn this section, the \nagent node will prepare \ncontext for a section \n(chunk of text), which \nwill then be passed for \nconversion into a vectors \nalong with the section itself.","height":360,"width":780}},{"id":"88226011-bba3-497f-92f6-7c24e0792a8f","name":"AI Agent - Prepare Context","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[240,320],"parameters":{"agent":"conversationalAgent","promptType":"define","text":"=<document> \n{{ $('Split Document Text Into Sections').item.json.document }}\n</document> \nHere is the chunk we want to situate within the whole document \n<chunk> \n{{ $json.section }}\n</chunk> \nPlease give a short succinct context to situate this chunk within the overall document for the purposes of improving search retrieval of the chunk. Answer only with the succinct context and nothing else. ","options":{}}},{"id":"c560889b-6f00-4a1b-8515-f273b347c9d8","name":"Concatenate the context and section text","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,320],"parameters":{"assignments":{"assignments":[{"id":"e5fb0381-5d23-46e2-a0d1-438240b80a3e","name":"=section_chunk","type":"string","value":"={{ $json.output }}. {{ $('Loop Over Items').item.json.section }}"}]},"options":{}}},{"id":"0dacb8dd-411a-4f9c-b8b4-a6510223873c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[840,280],"parameters":{"content":"## Convert Text To Vectors\nIn this step, the Pinecone node converts the provided text into vectors using Google Gemini and stores them in the Pinecone vector database.","height":600,"width":580}},{"id":"7e8b8911-d78f-4664-a619-183070bc8e49","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,-60],"parameters":{"content":"## Video Demo\n[![Video Thumbnail](https://img.youtube.com/vi/qBeWP65I4hg/maxresdefault.jpg)](https://www.youtube.com/watch?v=qBeWP65I4hg)","height":300,"width":400}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"AI Agent - Prepare Context","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"AI Agent - Prepare Context":{"main":[[{"node":"Concatenate the context and section text","type":"main","index":0}]]},"Prepare Sections For Looping":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Document From Google Drive":{"main":[[{"node":"Extract Text Data From Google Document","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Split Document Text Into Sections":{"main":[[{"node":"Prepare Sections For Looping","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get Document From Google Drive","type":"main","index":0}]]},"Extract Text Data From Google Document":{"main":[[{"node":"Split Document Text Into Sections","type":"main","index":0}]]},"Concatenate the context and section text":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"73a02aa1-1f27-4b25-9734-fe2ff769f6ae","triggerCount":0,"shared":[{"createdAt":"2025-08-06T09:00:07.018Z","updatedAt":"2025-08-06T09:00:07.018Z","role":"workflow:owner","workflowId":"HLDTbddwv7kNNCGa","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}