2025/08/resuperation plu pour analyse projet architecture.json
{"createdAt":"2025-08-15T08:03:41.257Z","updatedAt":"2025-08-15T08:03:41.257Z","id":"g7LM8UzGPRO9RPcn","name":"resuperation plu pour analyse projet architecture","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Objectif du workflow\nRecevoir une adresse depuis WhatsApp ➜ récupérer automatiquement le PLU/PLUI correspondant via l’API Perplexity ➜ générer un rapport complet (chapitres, articles, OAP, SUP, PPRI, PPRN, PPRFF…) ➜ renvoyer le rapport dans WhatsApp.\n\n> Pensez à ajouter vos identifiants : *WhatsApp Cloud* et *Perplexity API*.","height":320,"width":680,"color":5},"id":"b5a2b5d7-bf38-4640-97f5-81f384db07f9","name":"📌 Vue d’ensemble","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-112,128]},{"parameters":{"httpMethod":"POST","path":"whatsapp-feasibility","options":{"responseData":{"statusCode":200,"body":"Message reçu – traitement en cours"}}},"id":"4143cee8-c880-4ee8-91fc-9d40e0363cf3","name":"WhatsApp Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"webhookId":"3b4c2d79-f6e9-4f9e-97c8-1df450850aa1","position":[96,272]},{"parameters":{"options":{}},"id":"8860f7a8-08f2-474f-b7e6-8c0f594f8910","name":"Extract Address","type":"n8n-nodes-base.set","typeVersion":3,"position":[336,272]},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"fb8926d9-7cd8-4a47-af52-aee5be3ccb84","name":"HTTP Perplexity","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,272],"credentials":{"httpHeaderAuth":{"id":"PIlpZeOrEcJkKzFH","name":"Tavily"}}},{"parameters":{"conditions":{"combinator":"and","conditions":[{"operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.statusCode }}","rightValue":200}]},"options":{}},"id":"b7ffced3-56f0-44e3-930f-89ee80d63fc3","name":"Check Status","type":"n8n-nodes-base.if","typeVersion":2,"position":[832,272]},{"parameters":{"options":{}},"id":"fd5053ac-533a-46f1-be6c-9913e2e90dae","name":"Build Report","type":"n8n-nodes-base.set","typeVersion":3,"position":[1040,160]},{"parameters":{"options":{}},"id":"c9613428-d934-4aa4-a2fe-29245a87e2b1","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1248,160]},{"parameters":{"options":{}},"id":"ce08d509-af2b-4503-85a2-5d469ff49b7d","name":"Error Message","type":"n8n-nodes-base.set","typeVersion":3,"position":[1040,400]},{"parameters":{"options":{}},"id":"73affc32-e8cd-4a92-bdb8-fddc29626e08","name":"Respond Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1248,400]},{"parameters":{"content":"## Fin\nToutes les réponses sont renvoyées à WhatsApp.","height":120,"width":220,"color":4},"id":"86c5bc1d-dcbd-4a1e-8897-098ccc9b0c23","name":"🛑 Fin du Processus","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1440,272]},{"parameters":{"content":"### HTTP Perplexity\n- Créez une clé API sur https://perplexity.ai/settings\n- Ajoutez-la dans **Credentials ➜ HTTP Header Auth**\n- Cette requête renvoie un contenu JSON/ChatGPT.","width":500},"id":"c58289a7-3e2a-4aaa-ad42-e688f6a5fb69","name":"📝 Note API Perplexity","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[592,128]}],"connections":{"WhatsApp Webhook":{"main":[[{"node":"Extract Address","type":"main","index":0}]]},"Extract Address":{"main":[[{"node":"HTTP Perplexity","type":"main","index":0}]]},"HTTP Perplexity":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Build Report","type":"main","index":0}],[{"node":"Error Message","type":"main","index":0}]]},"Build Report":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Error Message":{"main":[[{"node":"Respond Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2e326b60-1c4e-4d76-a4cc-6a11e318b971","triggerCount":0,"shared":[{"createdAt":"2025-08-15T08:03:41.257Z","updatedAt":"2025-08-15T08:03:41.257Z","role":"workflow:owner","workflowId":"g7LM8UzGPRO9RPcn","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}