2025/08/Ultimate_Agentic_RAG_AI_Agent_Template.json
{"createdAt":"2025-08-06T09:00:08.029Z","updatedAt":"2025-08-06T09:00:08.029Z","id":"ELydUoYpDjkLUy44","name":"Ultimate_Agentic_RAG_AI_Agent_Template","active":false,"isArchived":false,"nodes":[{"id":"b3e9ad0f-14ac-4124-93ad-7128f316359a","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1080,340],"parameters":{"options":{}},"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"id":"4189ab48-1f8b-43ec-9427-5edff87ca23e","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[660,1120],"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID').first().json.file_title }}"}]}}}},{"id":"b382073e-fde3-40bd-a2a4-bb2e38522dd4","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[420,1120],"parameters":{"model":"text-embedding-3-small","options":{}},"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"id":"d61bd6e0-5d02-42f5-b3c4-97050893582e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,0],"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4}},{"id":"9e5a11dc-0e91-411c-bb58-cf0e9641194d","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2080,560],"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":867,"width":3073,"color":5}},{"id":"0b32dfc4-4e11-4ff9-b7c4-c33c9c5e3a80","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1000,800],"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}},"executeOnce":true},{"id":"14fb40a2-68b3-44de-8835-3937b9a62022","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-2020,640],"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1JeD_QO2NNn6IbkmkwQxCLELfVAhBWiO5","mode":"list","cachedResultName":"releve","cachedResultUrl":"https://drive.google.com/drive/folders/1JeD_QO2NNn6IbkmkwQxCLELfVAhBWiO5"},"event":"fileCreated","options":{"fileType":"all"}},"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"id":"0732fde7-558c-4abc-befb-11d548b1e0b2","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-2020,800],"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1JeD_QO2NNn6IbkmkwQxCLELfVAhBWiO5","mode":"list","cachedResultName":"releve","cachedResultUrl":"https://drive.google.com/drive/folders/1JeD_QO2NNn6IbkmkwQxCLELfVAhBWiO5"},"event":"fileUpdated","options":{}},"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"id":"6d570f86-00ec-4179-b5bc-1e2376b463a9","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-140,1120],"parameters":{"operation":"text","options":{}},"alwaysOutputData":true},{"id":"a2b0a5c9-9d3b-4a73-8d53-ac24578a6c06","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-940,340],"parameters":{},"credentials":{"postgres":{"id":"jgM99C1xGUNlSO7F","name":"Postgres supabase"}}},{"id":"ed14aa86-229f-4e0c-9f83-c943ca655fd9","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1480,620],"parameters":{"tableId":"documents"},"credentials":{"supabaseApi":{"id":"8YCbwnlgD9JwQmoP","name":"Supabase Rag_agentic"}},"alwaysOutputData":true},{"id":"51563528-f3c7-4556-b113-3e2367823ae3","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1660,800],"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}}},{"id":"f15131ae-2029-45bf-ac41-38e396588dbe","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1380,40],"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":1035.6381264595484}},{"id":"ea6fbb2b-fb23-4693-a8a1-d9db8f181d06","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-520,120],"parameters":{"options":{}}},{"id":"c806e030-49dd-420b-bbb4-8b3ab7d96903","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1080,120],"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"b80831d8-c653-4203-8706-adedfdb98f77","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}}},{"id":"7409e98d-72bc-4714-ac2a-d9a7777afbac","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1340,120],"parameters":{"public":true,"options":{}}},{"id":"6310e866-4401-4235-90fd-53daf98e6104","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1340,320],"parameters":{"httpMethod":"POST","path":"bf4dd093-bb02-472c-9454-7ab9af97bd1d","authentication":"headerAuth","responseMode":"responseNode","options":{}},"credentials":{"httpHeaderAuth":{"id":"sgOE2BzhDy5BIQZo","name":"Header Auth Rapid API"}}},{"id":"cfac1a6f-13a9-4d91-a493-3ba55aab70dd","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-140,560],"parameters":{"operation":"pdf","options":{}}},{"id":"ad211e4a-629f-4cb3-a026-55ce422a0480","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-100,740],"parameters":{"aggregate":"aggregateAllItemData","options":{}}},{"id":"21ecbcf6-b7a2-44c4-8256-fc1c5bcad88c","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[560,1240],"parameters":{}},{"id":"c75874c1-7865-4e6b-ba05-231f32e8064a","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[100,820],"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}}},{"id":"812bcdfe-205e-40a8-8b68-dd495581068f","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-860,120],"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents. The documents are either text based (Txt, docs, extracted PDFs, etc.) or tabular data (CSVs or Excel documents).\n\nYou are given tools to perform RAG in the 'documents' table, look up the documents available in your knowledge base in the 'document_metadata' table, extract all the text from a given document, and query the tabular files with SQL in the 'document_rows' table.\n\nAlways start by performing RAG unless the question requires a SQL query for tabular data (fetching a sum, finding a max, something a RAG lookup would be unreliable for). If RAG doesn't help, then look at the documents that are available to you, find a few that you think would contain the answer, and then analyze those.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them."}}},{"id":"7001ef56-7bcc-446b-9323-ba4254d71d99","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-800,780],"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":3}}},{"id":"30dbfe2d-d6d1-4bf7-abf4-18682e72871f","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[580,900],"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"credentials":{"supabaseApi":{"id":"8YCbwnlgD9JwQmoP","name":"Supabase Rag_agentic"}}},{"id":"da87d123-5563-4086-81c9-837580622f7b","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-320,740],"parameters":{"operation":"xlsx","options":{}}},{"id":"27eec3c0-1908-45ee-9321-52896245af33","name":"Set Schema","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,680],"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}}},{"id":"bfeb2d08-d090-400b-bdde-4c9ddbe4ab6e","name":"Extract from CSV","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-320,920],"parameters":{"options":{}}},{"id":"9663c9e0-e11b-4fa4-aaf8-844b667e4e04","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2080,200],"parameters":{"content":"## Run Each Node Once to Set Up Database Tables","height":300,"width":680,"color":3}},{"id":"05b052ab-e1a2-4237-88df-634253ad670b","name":"Create Document Metadata Table","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1820,300],"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);","options":{}},"credentials":{"postgres":{"id":"jgM99C1xGUNlSO7F","name":"Postgres supabase"}}},{"id":"5e353b14-2cfa-400d-80a8-6f5e55d86e52","name":"Create Document Rows Table (for Tabular Data)","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1600,300],"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);","options":{}},"credentials":{"postgres":{"id":"jgM99C1xGUNlSO7F","name":"Postgres supabase"}}},{"id":"5893a3ec-626c-4c07-8bc0-a4bdc128a9f8","name":"List Documents","type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-800,340],"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"returnAll":true,"options":{}},"credentials":{"postgres":{"id":"jgM99C1xGUNlSO7F","name":"Postgres supabase"}}},{"id":"572391a5-20ed-488c-91fa-4c558599349d","name":"Get File Contents","type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-660,340],"parameters":{"descriptionType":"manual","toolDescription":"Given a file ID, fetches the text from the document.","operation":"executeQuery","query":"SELECT \n    string_agg(content, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';","options":{"queryReplacement":"={{ $fromAI('file_id') }}"}},"credentials":{"postgres":{"id":"jgM99C1xGUNlSO7F","name":"Postgres supabase"}}},{"id":"d7fb5dd6-a28c-40e2-a9d2-29cb0aec343b","name":"Query Document Rows","type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-500,340],"parameters":{"descriptionType":"manual","toolDescription":"Run a SQL query - use this to query from the document_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"credentials":{"postgres":{"id":"jgM99C1xGUNlSO7F","name":"Postgres supabase"}}},{"id":"476da881-3d0b-46a5-bb8a-163ef24ec620","name":"Supabase Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-160,120],"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"Use RAG to look up information in the knowledgebase.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"credentials":{"supabaseApi":{"id":"8YCbwnlgD9JwQmoP","name":"Supabase Rag_agentic"}}},{"id":"b76aca2a-c3f8-4206-889b-39d9d2e24f09","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-80,300],"parameters":{"options":{}},"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"id":"bed34534-a99f-4701-a9f4-22fb68f17922","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1840,640],"parameters":{"options":{"reset":false}}},{"id":"c11650df-697a-413c-88cf-58e7ac9a1b3d","name":"Create Documents Table and Match Function","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2020,300],"parameters":{"operation":"executeQuery","query":"-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;\n\n-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"credentials":{"postgres":{"id":"jgM99C1xGUNlSO7F","name":"Postgres supabase"}}},{"id":"d61074a8-571d-4ddb-8978-e7caa7b2aa86","name":"Delete Old Data Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1320,800],"parameters":{"operation":"delete","tableId":"document_rows","filters":{"conditions":[{"keyName":"dataset_id","condition":"eq","keyValue":"={{ $('Set File ID').item.json.file_id }}"}]}},"credentials":{"supabaseApi":{"id":"8YCbwnlgD9JwQmoP","name":"Supabase Rag_agentic"}},"alwaysOutputData":true,"executeOnce":true},{"id":"694d1ba3-1d2d-4bd9-8d90-3fe67063727a","name":"Insert Document Metadata","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1160,660],"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","title":"={{ $('Set File ID').item.json.file_title }}","url":"={{ $('Set File ID').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"credentials":{"postgres":{"id":"jgM99C1xGUNlSO7F","name":"Postgres supabase"}},"executeOnce":true},{"id":"a656938d-27c9-4092-ae20-75e9052e98e1","name":"Insert Table Rows","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-100,920],"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"document_rows","mode":"list","cachedResultName":"document_rows"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"credentials":{"postgres":{"id":"jgM99C1xGUNlSO7F","name":"Postgres supabase"}}},{"id":"649eaf29-508c-4a6c-8d25-396aa84f97f1","name":"Update Schema for Document Metadata","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[760,680],"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"credentials":{"postgres":{"id":"jgM99C1xGUNlSO7F","name":"Postgres supabase"}}},{"id":"2c20a76f-ef32-4b3a-9006-cc5a63a359e5","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2660,60],"parameters":{"content":"## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!","height":1320,"width":540,"color":6}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Delete Old Data Rows","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Set Schema","type":"main","index":0},{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Set Schema":{"main":[[{"node":"Update Schema for Document Metadata","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Create Document Metadata Table":{"main":[[{"node":"Create Document Rows Table (for Tabular Data)","type":"main","index":0}]]},"List Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Get File Contents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Query Document Rows":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create Documents Table and Match Function":{"main":[[{"node":"Create Document Metadata Table","type":"main","index":0}]]},"Delete Old Data Rows":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Download File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-03-11T16:27:09Z"},"node:File Updated":{"lastTimeChecked":"2025-03-11T16:27:09Z"}},"meta":null,"pinData":null,"versionId":"b640281b-a78b-47fc-b19e-ce9a1d92a99f","triggerCount":0,"shared":[{"createdAt":"2025-08-06T09:00:08.029Z","updatedAt":"2025-08-06T09:00:08.029Z","role":"workflow:owner","workflowId":"ELydUoYpDjkLUy44","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}