2025/08/Update LinkedIn Profiles one by one with Bright Data and Google Sheets with no scrapping.json
{"createdAt":"2025-08-06T08:59:56.332Z","updatedAt":"2025-08-06T08:59:56.332Z","id":"Szm4PDBa3Vmwznj3","name":"Update LinkedIn Profiles one by one with Bright Data and Google Sheets with no scrapping","active":false,"isArchived":false,"nodes":[{"id":"31748cdf-bdd3-452d-a069-fb1bca01efe6","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-260,520],"parameters":{}},{"id":"e2cc7818-38cb-479b-8560-0b148927f35e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,-40],"parameters":{"content":"# Update LinkedIn Profiles one by one with Bright Data and Google Sheets with no scrapping\n\n## TODO\n- Create a new Google Project (or reuse an existing one).\n- Create an OAuth2 credentials (or reuse an existing one) and complete client_id and client_secret to authorize access to Google Sheets and Gmail from your n8n. You need to add Google Sheets and Gmail API to your project.\n- Clone https://docs.google.com/spreadsheets/d/1vq7cNUv4_8zzqWXjEq6Hd0VVDKOF-jh_hAnQWdu85a4/edit?gid=0#gid=0 to another place.\n- Update Google Sheets with the new URI.\n- You need a valid Bright Data api key.\n","height":740,"width":2020}},{"id":"c60e8f08-31e8-4872-a012-8dafcf2dd062","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[500,340],"parameters":{"options":{}}},{"id":"d5819bbc-ed61-44fc-a2cb-c689f35a7827","name":"Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1480,280],"parameters":{"sendTo":"miquel@n8nhackers.com","subject":"=LinkedIn update process","message":"={{ $json.count_processed }} profiles were updated!","options":{"appendAttribution":false}}},{"id":"2ef844ad-ee1b-4430-906d-921c3efd8933","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-260,340],"parameters":{"rule":{"interval":[{}]}}},{"id":"b35b0b9f-6215-4fab-a932-7bf885dc841e","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[280,340],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8b34893b-01ff-449e-9cb1-b3231d94b797","leftValue":"={{$json.processed + \"\" }}","rightValue":"true","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}}},{"id":"e92927fd-86a4-4473-9c87-047c6ae0c891","name":"Update LinkedIn Uri Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1180,440],"parameters":{"operation":"update","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1vq7cNUv4_8zzqWXjEq6Hd0VVDKOF-jh_hAnQWdu85a4/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"WebScrapper","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vq7cNUv4_8zzqWXjEq6Hd0VVDKOF-jh_hAnQWdu85a4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"processed":"true","fullname":"={{ $json.name }}","location":"={{ $json.city }}","country":"={{ $json.country_code }}","current_company":"={{ $json.current_company_name }}","followers":"={{ $json.followers }}","connections":"={{ $json.connections }}","about":"={{ $json.about }}","profile_avatar":"={{ $json.avatar }}","languages":"={{ $json.languages.map(item => item.title).join(\",\")}}","linkedin_uri":"={{ $json.url }}"},"matchingColumns":["linkedin_uri"],"schema":[{"id":"linkedin_uri","displayName":"linkedin_uri","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"profile_avatar","displayName":"profile_avatar","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"profile_image","displayName":"profile_image","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fullname","displayName":"fullname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"current_company","displayName":"current_company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"about","displayName":"about","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"languages","displayName":"languages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"followers","displayName":"followers","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"connections","displayName":"connections","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"processed","displayName":"processed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"zdCtsjBLk8S5V1ad","name":"Google Sheets account"}}},{"id":"9b795a65-9976-4719-ad30-a886952fa8ec","name":"Summarize total records","type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1180,280],"parameters":{"fieldsToSummarize":{"values":[{"field":"processed"}]},"options":{}}},{"id":"48b3d22f-16e9-4dea-b423-bc5d7414e001","name":"Read All Rows","type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[80,340],"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1vq7cNUv4_8zzqWXjEq6Hd0VVDKOF-jh_hAnQWdu85a4/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"WebScrapper","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vq7cNUv4_8zzqWXjEq6Hd0VVDKOF-jh_hAnQWdu85a4/edit#gid=0"},"options":{}},"credentials":{"googleSheetsOAuth2Api":{"id":"zdCtsjBLk8S5V1ad","name":"Google Sheets account"}}},{"id":"5b80428e-a1b9-4bfb-8c1b-3c1a1ca016c7","name":"BrightData/Scrape By URL","type":"n8n-nodes-brightdata.brightData","typeVersion":1,"position":[900,440],"parameters":{"resource":"webScrapper","dataset_id":{"__rl":true,"value":"gd_l1viktl72bvl7bjuj0","mode":"list","cachedResultName":"LinkedIn people profiles"},"urls":"=[{\"url\":\"{{$json.linkedin_uri}}\"}]"},"credentials":{"brightdataApi":{"id":"HYZgQs0rYTgG3p8a","name":"BrightData account"}}}],"connections":{"Loop Over Items1":{"main":[[{"node":"Summarize total records","type":"main","index":0}],[{"node":"BrightData/Scrape By URL","type":"main","index":0}]]},"Schedule Trigger":{"main":[[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Read All Rows","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Update LinkedIn Uri Sheets":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Summarize total records":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Read All Rows":{"main":[[{"node":"Filter","type":"main","index":0}]]},"BrightData/Scrape By URL":{"main":[[{"node":"Update LinkedIn Uri Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"e0a36853-0734-4bc0-81da-951723983623","triggerCount":0,"shared":[{"createdAt":"2025-08-06T08:59:56.332Z","updatedAt":"2025-08-06T08:59:56.332Z","role":"workflow:owner","workflowId":"Szm4PDBa3Vmwznj3","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}