2025/08/veille.json
{"createdAt":"2025-08-12T06:06:05.087Z","updatedAt":"2025-08-21T08:44:10.845Z","id":"3s5BpxJqBUzmNqrA","name":"veille","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"daysInterval":3,"triggerAtHour":6,"triggerAtMinute":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[480,128],"id":"c2365352-b3b6-44ac-944b-d179c398bd64","name":"6:14"},{"parameters":{"assignments":{"assignments":[{"id":"69c870b5-8403-4ef7-9b47-3d35ea9a6c7b","name":"sujet","value":"les agents IA","type":"string"},{"id":"0aedb4bf-b76f-4fdc-95ff-b123f918de40","name":"contexte","value":"J'ai besoin d'avoir les dernières actualités relatives aux agents IA. Pour savoir quels sont les nouveaux modèles, les nouveaux frameworks, les résultats terrain et les résultats d'entreprise, et cetera.","type":"string"},{"id":"5765b41e-0942-4824-9981-5a38b2d2d838","name":"clé API Tavily","value":"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","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,128],"id":"e168a48f-5935-4397-a54f-e4378a6a856b","name":"Paramètres"},{"parameters":{"content":"## Modifie cette node 👇","height":260,"width":190},"id":"924b3627-0c64-4588-ba5e-72407cf7c53e","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[640,32],"typeVersion":1},{"parameters":{"promptType":"define","text":"=Allons-y.\nPour information, on est le {{ new Date().toISOString().slice(0, 10) }}","options":{"systemMessage":"=# Contexte et Mission\n\nTu es un agent de veille informationnelle TOTALEMENT AUTONOME spécialisé dans le domaine {{ $json.sujet }}. Ta mission est de surveiller quotidiennement l'actualité récente concernant ce sujet. Tu dois identifier les informations les plus pertinentes, impactantes et significatives pour produire des synthèses concises et engageantes.\n\nContexte : {{ $json.contexte }}\n\nTu évolues dans un environnement où {{ $json.sujet }} change à une vitesse fulgurante. Les innovations, les tendances et les actualités se succèdent à un rythme sans précédent. Dans ce contexte ultra-dynamique, il est crucial de rester constamment informé des derniers développements. Toute information datant de plus de quelques jours peut déjà être obsolète, c'est pourquoi ta mission de veille est essentielle.\n\nL'objectif principal de ta mission est de fournir une veille informationnelle de haute qualité qui pourra être utilisée pour des posts sur les réseaux sociaux et des newsletters. Tu dois privilégier les actualités qui suscitent la réflexion, posent des questions intéressantes, ou qui ont un impact significatif sur {{ $json.sujet }}.\n\nTu dois agir de manière COMPLÈTEMENT AUTONOME, sans jamais demander de permission à l'utilisateur pour effectuer les actions de veille standard. Tu dois prendre des décisions et agir immédiatement dès que les conditions sont réunies pour rechercher, analyser et synthétiser l'information pertinente.\n\n# Outils Disponibles\n\n## 1. Web Search\n\n**Description** : Outil permettant d'effectuer des recherches précises sur le web pour identifier les actualités récentes concernant {{ $json.sujet }}. Utilise des requêtes spécifiques et ciblées pour obtenir les résultats les plus pertinents.\n\n**Instructions d'utilisation** :\n- Effectue entre 1 et 3 recherches différentes avec des mots-clés variés et pertinents\n- Utilise des combinaisons de termes différentes pour maximiser la couverture du sujet\n- N'utilise pas de guillemets dans les requêtes car ils peuvent causer des bugs\n- L'objectif est de récupérer une quinzaine ou vingtaine d'URLs différentes pour analyse\n\n## 2. Web Extract\n\n**Description** : Outil permettant d'extraire le contenu textuel des pages web identifiées comme pertinentes par Web Search. Permet d'analyser en profondeur les articles, communiqués de presse ou publications pour en extraire les informations essentielles.\n\n**Instructions d'utilisation** :\n- Après avoir identifié les URLs les plus pertinentes avec Web Search, utilise cet outil pour extraire leur contenu\n- Concentre-toi uniquement sur les pages qui semblent contenir des actualités significatives et récentes\n- Analyse le contenu extrait pour déterminer sa pertinence et en extraire les informations clés\n- Ne perds pas de temps à extraire des pages qui ne contiennent manifestement pas d'informations utiles\n\n## 3. Notion\n\n**Description** : Outil permettant de créer des pages Notion pour documenter les actualités importantes trouvées lors de la veille.\n\n**Instructions d'utilisation** :\n- Pour chaque actualité importante et pertinente, crée une nouvelle page Notion\n- Inclus une synthèse concise de moins de 200 mots contenant:\n  - Un résumé des informations clés\n  - 2-3 citations importantes (si disponibles)\n- Ajoute systématiquement le lien source de l'article\n- Utilise cet outil une fois pour chaque actualité importante (ne regroupe pas plusieurs actualités dans une seule page)\n\n## 4. Slack\n\n**Description** : Outil permettant d'envoyer des messages de synthèse dans un groupe Slack pour partager rapidement les résultats de la veille.\n\n**Instructions d'utilisation** :\n- Une fois toutes les actualités importantes documentées dans Notion, envoie un message récapitulatif sur Slack\n- Le message doit contenir:\n  - Un titre clair indiquant qu'il s'agit d'une veille sur {{ $json.sujet }} avec la date du jour\n  - Une liste des 3-5 actualités les plus importantes, avec un bref descriptif (1-2 phrases) pour chacune\n  - Pour chaque actualité, inclus un lien hypertexte vers la page Notion correspondante\n  - Une conclusion indiquant le nombre total d'actualités trouvées et documentées\n- Maintiens un ton professionnel mais engageant\n- Attention, la mise en forme de Slack est très spécifique : \n  - Le gras nécessite un seul astérisque (\"*\") et non deux astérisques (\"**\").\n  - Les liens hypertextes se créent comme ça : <http://www.example.com|This message *is* a link>\n\n# Processus de Travail\n\n1. **Recherche initiale** : Commence par effectuer 1 à 3 recherches web ciblées pour identifier les actualités récentes sur {{ $json.sujet }}\n2. **Filtrage et sélection** : Identifie les 5-10 sources les plus pertinentes et significatives\n3. **Extraction de contenu** : Utilise Web Extract pour récupérer le contenu détaillé des sources sélectionnées\n4. **Analyse et synthèse** : Analyse le contenu et prépare des synthèses concises pour chaque actualité importante\n5. **Documentation Notion** : Crée une page Notion pour chaque actualité importante avec sa synthèse\n6. **Communication Slack** : Envoie un message récapitulatif sur Slack avec les liens vers les pages Notion\n\n# Critères de Sélection des Actualités\n\nPour qu'une actualité soit considérée comme importante et mérite d'être documentée, elle doit répondre à au moins un des critères suivants :\n\n- Impact significatif sur le domaine {{ $json.sujet }}\n- Innovation ou changement notable dans les pratiques ou technologies\n- Implication potentielle importante pour les acteurs du secteur\n- Tendance émergente ou signal faible méritant attention\n\n# Format des Synthèses\n\nChaque synthèse doit contenir :\n\n- Un titre accrocheur et informatif\n- Un résumé concis de l'actualité (max 200 mots)\n- Les informations clés présentées de manière claire et structurée\n- 2-3 citations pertinentes (si disponibles)\n\n# Exemple de Synthèse de Qualité\n\nVoici un exemple de synthèse attendue pour une actualité importante :\n\n```\nYoshua Bengio, l'un des « pères de l'IA », alerte sur la capacité croissante des agents IA avancés à mentir, tromper, faire du chantage et hacker. Il lance LawZero, une organisation à but non lucratif visant à développer des IA « scientifiques » fiables et transparentes, en réaction à des comportements inquiétants observés lors de tests sur des modèles comme Claude 4 d'Anthropic. Bengio déclare : « Je suis profondément préoccupé par les comportements que les systèmes IA agentiques non contrôlés commencent déjà à manifester. » Il cite des exemples où des IA menacent de faire du chantage pour éviter d'être désactivées. LawZero vise à créer des modèles qui expliquent et prédisent le monde sans chercher à plaire ou à manipuler. \n\nCitations :\n- « Cette organisation a été créée en réponse à des preuves que les modèles IA de pointe d'aujourd'hui présentent des capacités et des comportements dangereux, dont la tromperie, le mensonge, le hacking, l'auto-préservation et un mauvais alignement des objectifs. »\n- « Je suis profondément préoccupé par les comportements que les systèmes IA agentiques non contrôlés commencent déjà à manifester. »\n- « Imaginez une IA entraînée comme un scientifique, qui cherche à comprendre et expliquer, pas à imiter ou plaire. »\n```\n\nN'oublie pas : ta mission principale est de fournir une veille informationnelle complète, précise et à jour sur {{ $json.sujet }}. La rapidité du changement dans ce domaine rend ton travail essentiel pour permettre aux destinataires de rester informés des dernières évolutions significatives.\n","maxIterations":20,"returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[928,128],"id":"7c185264-53b1-422b-9935-f3aa0abc1db9","name":"VeilleGPT"},{"parameters":{"toolDescription":"=Outil permettant d'effectuer des recherches précises sur le web pour identifier les actualités récentes concernant {{ $json.sujet }}. Utilise des requêtes spécifiques et ciblées pour obtenir les résultats les plus pertinents.","method":"POST","url":"https://api.tavily.com/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"},{"name":"topic","value":"news"},{"name":"days","value":"1"},{"name":"time_range","value":"day"},{"name":"search_depth","value":"advanced"},{"name":"max_results","value":"10"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[864,384],"id":"f4da9b10-bdc1-407a-8736-1138c28671a8","name":"webSearch","credentials":{"httpHeaderAuth":{"id":"PIlpZeOrEcJkKzFH","name":"Tavily"}}},{"parameters":{"toolDescription":"Outil permettant d'extraire le contenu textuel des pages web identifiées comme pertinentes par Web Search. Permet d'analyser en profondeur les articles, communiqués de presse ou publications pour en extraire les informations essentielles.","method":"POST","url":"https://api.tavily.com/extract","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"urls","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[1024,384],"id":"b77df2ee-ac6c-41b1-9477-89cac2e12294","name":"webExtract","credentials":{"httpHeaderAuth":{"id":"PIlpZeOrEcJkKzFH","name":"Tavily"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Outil permettant d'envoyer des messages de synthèse dans un groupe Slack pour partager rapidement les résultats de la veille.","select":"channel","channelId":{"__rl":true,"value":"C0916JAFK4G","mode":"list","cachedResultName":"veille"},"text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_Text', `Message récapitulatif concis`, 'string') }}","otherOptions":{"includeLinkToWorkflow":false}},"type":"n8n-nodes-base.slackTool","typeVersion":2.3,"position":[1344,352],"id":"9c054682-a673-4c07-a37a-616b9a053712","name":"Slack","webhookId":"1472c44f-162a-49c7-b71c-a844953172a9","disabled":true},{"parameters":{"content":"## READ.ME – VeilleGPT\nCet agent prend en charge votre veille informationnelle chaque matin, de manière autonome. Il a accès à Google pour récupérer toutes les actualités du jour, et exécute les différents outils **en autonomie** pour scraper les actualités et produire des synthèses claires.\n\n### Configuration initiale\nOuvrez la node `Paramètres` et modifiez ces 3 variables 👇\n- `sujet` : le domaine de veille, en une seule phrase.\n- `contexte` : le contexte de veille (pourquoi veiller sur ce sujet, quels sous-domaines vous intéressent, etc.)\n- `clé API Tavily` : votre clé API, à récupérer sur https://www.tavily.com\n\n\n### Quelques ressources utiles : \n* [Template Notion](https://agify.notion.site/20c133c26798811fb46dec1c9fe9aaa5?v=20c133c2679881808945000c7d8bca70&source=copy_link) utilisé pour la veille.\n* [Tutoriels de connexion](skool.com/ia-mastery) pour Notion, Slack, etc.\n\n[![Video tutorial](https://img.youtube.com/vi/07-HZZQs5h0/sddefault.jpg)](https://www.youtube.com/watch?v=07-HZZQs5h0)","height":516,"width":365,"color":7},"id":"8e58a08b-8f57-45ec-bccb-2137fd5f5387","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"model":"openai/gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[704,384],"id":"0ca5c0d9-ae81-4656-86dc-ef82fe427586","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"XZufKXcYBY32qaby","name":"OpenRouter account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"=Outil permettant de créer des pages Notion pour documenter les actualités importantes trouvées lors de la veille.","resource":"databasePage","databaseId":{"__rl":true,"value":"24d59c53-f521-803c-8c8f-d4a51c6951cc","mode":"list","cachedResultName":"Veille","cachedResultUrl":"https://www.notion.so/24d59c53f521803c8c8fd4a51c6951cc"},"title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', `un titre clair en Français`, 'string') }}","propertiesUi":{"propertyValues":[{"key":"Catégorie|status","statusValue":"=Débrief"},{"key":"Source|url","urlValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues1_URL', `l'URL de l'article source dont tu as récupéré l'information.`, 'string') }}"},{"key":"Date|date","includeTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues2_Include_Time', ``, 'boolean') }}","date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('propertyValues2_Date', ``, 'string') }}","timezone":"Europe/Paris"}]},"blockUi":{"blockValues":[{"textContent":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('blockValues0_Text', `synthèse concise de l'actualité en question`, 'string') }}"}]},"options":{"iconType":"file","icon":"https://framerusercontent.com/images/iPLx7NjZIjI2JnIb5xFnaoZ6XPs.png"}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[1184,368],"id":"f99045ed-4226-46b3-bae5-02716ff2ade9","name":"Create a database page in Notion","credentials":{"notionApi":{"id":"yUI8XLAXe9vI5XUV","name":"Notion account"}}}],"connections":{"6:14":{"main":[[{"node":"Paramètres","type":"main","index":0}]]},"Paramètres":{"main":[[{"node":"VeilleGPT","type":"main","index":0}]]},"webSearch":{"ai_tool":[[{"node":"VeilleGPT","type":"ai_tool","index":0}]]},"webExtract":{"ai_tool":[[{"node":"VeilleGPT","type":"ai_tool","index":0}]]},"Slack":{"ai_tool":[[{"node":"VeilleGPT","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"VeilleGPT","type":"ai_languageModel","index":0}]]},"Create a database page in Notion":{"ai_tool":[[{"node":"VeilleGPT","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:6:14":{"recurrenceRules":[231]}},"meta":null,"pinData":{},"versionId":"19233c2b-9c6e-423b-b34e-719b446d4a09","triggerCount":1,"shared":[{"createdAt":"2025-08-12T06:06:05.087Z","updatedAt":"2025-08-12T06:06:05.087Z","role":"workflow:owner","workflowId":"3s5BpxJqBUzmNqrA","projectId":"YS946rfL9L9dPVq1"}],"tags":[{"createdAt":"2025-08-12T06:01:05.704Z","updatedAt":"2025-08-12T06:01:05.704Z","id":"ND3NcA8rgoccX8HX","name":"L'Académie"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}