2025/08/Workflow to scrape data and send it to Pinecone.json
{"createdAt":"2025-08-06T09:00:27.020Z","updatedAt":"2025-08-06T09:00:27.020Z","id":"TvUTRjuZONEm50sF","name":"Workflow to scrape data and send it to Pinecone","active":false,"isArchived":false,"nodes":[{"id":"1cd71bf1-621e-48af-93cd-f1786e99cfb4","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[2360,420],"parameters":{"model":"text-embedding-3-large","options":{}}},{"id":"533176ab-a1d0-49e9-8e8a-a1b8cc3884db","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2540,340],"parameters":{"options":{}}},{"id":"e50c9d21-9aa1-448b-a48c-20682234ba95","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[2580,540],"parameters":{"options":{"splitCode":"markdown"}}},{"id":"3e196aea-605b-4eb6-b969-e309fd285856","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1440,420],"parameters":{"batchSize":10,"options":{}}},{"id":"86c8c8e4-f815-449d-b608-2946caf39103","name":"OpenAI Model","type":"@n8n/n8n-nodes-langchain.lmOpenAi","typeVersion":1,"position":[960,1060],"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}}},{"id":"a570d571-c950-455d-86f1-70c2a273a2cd","name":"Get sitemap","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,120],"parameters":{"url":"https://n8n-io.github.io/n8n-demo-website/sitemap.xml","options":{}}},{"id":"3987a0aa-5d8b-44e5-80c1-41c807eb6c7d","name":"Turn XML sitemap into JSON","type":"n8n-nodes-base.xml","typeVersion":1,"position":[1020,120],"parameters":{"options":{"explicitRoot":false,"ignoreAttrs":true}}},{"id":"ed3976e2-e917-40d3-9ac7-725c905b254c","name":"Turn the URL array into multiple items","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1240,120],"parameters":{"fieldToSplitOut":"url","options":{}}},{"id":"5fc23f14-cc06-440b-b42d-1420a76bb42f","name":"Wait 5 seconds","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1960,440],"parameters":{}},{"id":"bedcfb14-1a21-486b-a163-7219d591c12d","name":"Get pages listed in the sitemap","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1700,440],"parameters":{"url":"={{ $json.loc }}","options":{}}},{"id":"e7d7b28d-8bc6-4dc1-8c23-b4b887d409dc","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[660,800],"parameters":{}},{"id":"26cfa14b-24d1-4627-a8b3-66f7c5c567b7","name":"Question and Answer Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.3,"position":[1000,800],"parameters":{"promptType":"define","text":"={{ $('Chat Trigger').item.json.chatInput }}","options":{}}},{"id":"75c6fdff-0ffb-43ff-a4e6-83d372c92d6f","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[1200,1000],"parameters":{"topK":10}},{"id":"808e4b78-8b3a-4fd7-87af-7d71cb3a5ccb","name":"Embeddings OpenAI2","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1500,1420],"parameters":{"model":"text-embedding-3-large","options":{}}},{"id":"97c0c6d9-98a2-421f-80c8-54234c8882ee","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2180,120],"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"content"}]},"options":{}}},{"id":"5ba66a5e-f1ab-4c37-bff3-f2e34c365ca0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2120,-100],"parameters":{"content":"**Aggregate into one item**\n\nThe Pinecone node loops over each input item. This is standard n8n node behavior.\n\nThis means if you want to use the **Clear namespace** setting in the Pinecone node, you need to input a single item.","height":381.66422439067196,"color":5}},{"id":"2cfcd925-66b2-4eb5-99f9-95903987442b","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[420,-140],"parameters":{"content":"### Workflow to scrape data and send it to Pinecone","height":878.8927796727229,"width":2382.6739342193496,"color":7}},{"id":"31fcf582-f278-4b68-b423-c66fc7a776fe","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[720,880],"parameters":{"content":"### Workflow to chat and get answers from the Pinecone vector database","height":825.9872504327399,"width":1181.407211476183,"color":7}},{"id":"25cef185-6a5a-4e0b-8628-c3c8f7aa313b","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,-60],"parameters":{"content":"## Try it out \n\n1. Set credentials and choose your Pinecone vector database. See the notes on individual nodes for details.\n2. Select **Test workflow** to run the main workflow and load data into Pinecone.\n3. Select **Chat** and try asking:\n\n_What is the purpose of the n8n demo website?_","height":326.49681260818465,"color":4}},{"id":"b6bc60e7-09da-43c6-8a55-88cf15d5fd21","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2420,-100],"parameters":{"content":"**Setup**\n\n1. In Pinecone, create a vector database. Set **Dimensions** to `3072` and **Metric** to `cosine`. You can use the free starter plan.\n2. In the Pinecone node, set your credentials.\n3. Select your Pinecone index.","height":381.3701016273242,"width":304.1011298750183,"color":2}},{"id":"c018cc7e-5913-49a1-8644-6ac67dff4f47","name":"Pinecone Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[2440,120],"parameters":{"mode":"insert","pineconeIndex":{},"options":{"clearNamespace":true,"pineconeNamespace":"test-web-scraper"}}},{"id":"acc67265-8931-4635-8242-d2e8655ec163","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2740,660],"parameters":{"content":"## Next steps\n\nLearn more about [Advanced AI in n8n](https://docs.n8n.io/advanced-ai/)","width":331.8066536811489}},{"id":"d4e2a700-9bc0-4a1c-9f40-342767b3beb1","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2420,500],"parameters":{"content":"**Set your credentials**","height":206.68134932939768,"width":182.42633582707612,"color":2}},{"id":"c48fd8d6-7c42-43ea-860d-1f45379e6b75","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1040,1140],"parameters":{"content":"**Set your credentials**","height":184.89671964234537,"width":173.09006596119673,"color":2}},{"id":"a7d79a08-72c0-4e61-ae40-2bc8fdd5d61b","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1420,1360],"parameters":{"content":"**Set your credentials**","height":192.67694453057842,"width":221.3274602682409,"color":2}},{"id":"098c0a48-4d0b-496d-b1ba-9e51cbaf19cf","name":"Pinecone Vector Store2","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[1300,1220],"parameters":{"pineconeIndex":{"__rl":true,"value":"debs-test","mode":"list","cachedResultName":"debs-test"},"options":{"pineconeNamespace":"test-web-scraper"}}},{"id":"8ed3cc78-a3c4-4e06-8807-7a84efd69749","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1200,1140],"parameters":{"content":"**Set your credentials**\n\n**Select your Pinecone index***","width":367.59568816702017,"color":2}},{"id":"7a444fa2-21c1-43e4-b2b0-0175e41109cc","name":"Start the workflow by clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[580,120],"parameters":{}},{"id":"c71eedc8-9996-4b77-ba09-09cb73f26c24","name":"Extract main content","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1900,120],"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"content","cssSelector":".md-content","returnValue":"html"}]},"options":{"trimValues":true,"cleanUpText":true}}},{"id":"85a30232-2a2e-417b-9fd9-7fade453558a","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1060,400],"parameters":{"content":"**Batch the calls to the website**\n\nFor the small demo website in this example, this is not essential. If you want to use this example with a larger website, batching like this helps avoid timeouts. Using the Wait node between batches avoids hitting the website with too many requests too fast.","height":298.48800301054644,"width":316.2462039046831,"color":5}},{"id":"ea3c316a-4d1b-4933-91d4-1383eb0ef6a2","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,340],"parameters":{"content":"## How to scrape a different website\n\nThis workflow uses a small example website provided by n8n. To use a different site:\n\n1. Change the sitemap URL in **Get sitemap**.\n2. Update **Extract main content** according to the HTML structure of the website you're scraping.","height":356.06166718347}}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Loop Over Items":{"main":[[{"node":"Extract main content","type":"main","index":0}],[{"node":"Get pages listed in the sitemap","type":"main","index":0}]]},"Get sitemap":{"main":[[{"node":"Turn XML sitemap into JSON","type":"main","index":0}]]},"Turn XML sitemap into JSON":{"main":[[{"node":"Turn the URL array into multiple items","type":"main","index":0}]]},"Turn the URL array into multiple items":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait 5 seconds":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get pages listed in the sitemap":{"main":[[{"node":"Wait 5 seconds","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}]]},"OpenAI Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Pinecone Vector Store2","type":"ai_embedding","index":0}]]},"Aggregate":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Pinecone Vector Store2":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Start the workflow by clicking \"Test workflow\"":{"main":[[{"node":"Get sitemap","type":"main","index":0}]]},"Extract main content":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"18eddd59-425a-4111-9aaf-d324067bcdbc","triggerCount":0,"shared":[{"createdAt":"2025-08-06T09:00:27.020Z","updatedAt":"2025-08-06T09:00:27.020Z","role":"workflow:owner","workflowId":"TvUTRjuZONEm50sF","projectId":"YS946rfL9L9dPVq1"}],"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/08/"}