2025/01/AI chat with any data source.json
{"createdAt":"2025-01-28T11:33:00.088Z","updatedAt":"2025-02-04T07:55:50.359Z","id":"wF9UfS5mYRn2sy9R","name":"AI chat with any data source","active":false,"nodes":[{"parameters":{},"id":"4c52efcf-039b-4550-8a63-3d3d4dde488b","name":"On new manual Chat Message","type":"@n8n/n8n-nodes-langchain.manualChatTrigger","position":[520,340],"typeVersion":1.1},{"parameters":{},"id":"adb528f1-b87b-4bb2-99e1-776fd839522e","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[460,980],"typeVersion":1},{"parameters":{"resource":"all","limit":50,"additionalFields":{}},"id":"092cf737-5b53-4fc8-82f5-c775b77ea0bd","name":"Hacker News","type":"n8n-nodes-base.hackerNews","position":[680,980],"typeVersion":1},{"parameters":{"fields":{"values":[{"name":"title","stringValue":"={{ $json._highlightResult.title.value }}"},{"name":"points","type":"numberValue","numberValue":"={{ $json.points }}"},{"name":"url","stringValue":"={{ $json.url }}"},{"name":"created_at","stringValue":"={{ $json.created_at }}"},{"name":"author","stringValue":"={{ $json.author }}"}]},"include":"none","options":{}},"id":"a0805137-630c-4065-826e-88afa000660f","name":"Clean up data","type":"n8n-nodes-base.set","position":[900,980],"typeVersion":3.2},{"parameters":{"text":"={{ $json.chatInput }}","options":{"maxIterations":10,"returnIntermediateSteps":false}},"id":"e1b255f4-e970-42d6-9870-4e302bf2da83","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[740,340],"typeVersion":1.1},{"parameters":{"options":{}},"id":"91e3391e-909e-4d63-9649-ff62781dbba9","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[660,580],"typeVersion":1,"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"jsCode":"return {\n  action_input: $input.all().map(x => x.json) // Récupère tous les objets\n};"},"id":"cd1f0028-635e-48eb-ac38-4c6fb25ed63e","name":"Stringify","type":"n8n-nodes-base.code","position":[1120,980],"typeVersion":2},{"parameters":{"content":"### Replace me\nwith any other service, e.g. fetching your own data","height":293,"width":150,"color":7},"id":"7df241eb-67d3-4724-8b32-4b53561ed55f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[660,860],"typeVersion":1},{"parameters":{"content":"### Sub-workflow: Custom tool\nThis can be called by the agent above. This example fetches the top 50 posts ever on Hacker News","height":406.875,"width":927.5,"color":7},"id":"270845df-7c2d-4035-9ac0-e41d418b3026","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[380,780],"typeVersion":1},{"parameters":{"content":"### Main workflow: AI agent using custom tool\nTry it out by clicking 'Chat' and entering 'What is the 5th most popular post ever on Hacker News?'","height":486.5625,"width":927.5,"color":7},"id":"1d796a86-45d1-4fc4-8245-893525505d1f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"content":"## Try me out\n\nClick the 'Chat' button and enter:\n\n_What is the 5th most popular post ever on Hacker News?_","height":218,"width":185.9375},"id":"38ff64b5-6f47-4d2d-9051-caab418bb0e8","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[180,340],"typeVersion":1},{"parameters":{"name":"hn_tool","description":"Returns a list of the most popular posts ever on Hacker News, in json format","workflowId":"={{ $workflow.id }}"},"id":"3532e461-bd74-48f7-93e1-96d608c88688","name":"Custom tool to call the wf below","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[900,560],"typeVersion":1},{"parameters":{"model":"deepseek-r1:8b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[480,580],"id":"466aabc1-500e-49f1-9e9b-dba1ffcdf274","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}}],"connections":{"Hacker News":{"main":[[{"node":"Clean up data","type":"main","index":0}]]},"Clean up data":{"main":[[{"node":"Stringify","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Hacker News","type":"main","index":0}]]},"On new manual Chat Message":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Custom tool to call the wf below":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[]]},"Stringify":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2026","templateCredsSetupCompleted":true},"pinData":{},"versionId":"e3bad353-13aa-4af9-b0d0-e5dc5c8663a2","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-worklow","repo_path":"","subPath":"2025/01/"}