2025/01/AI Powered Web Scraping with Jina, Google Sheets and OpenAI : the EASY way.json
{"createdAt":"2025-01-23T10:14:49.769Z","updatedAt":"2025-01-23T15:41:42.860Z","id":"upWnsE19ReGfdc9X","name":"AI Powered Web Scraping with Jina, Google Sheets and OpenAI : the EASY way","active":false,"nodes":[{"parameters":{},"id":"c3ef40df-084e-435c-9a11-3aa0a2f94f36","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[1040,440],"typeVersion":1},{"parameters":{"fieldToSplitOut":"output.results","options":{}},"id":"e0583472-a450-4582-83bc-84a014bea543","name":"Split Out","type":"n8n-nodes-base.splitOut","position":[1940,440],"typeVersion":1},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"1VDbfi2PpeheD2ZlO6feX3RdMeSsm0XukQlNVW8uVcuo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VDbfi2PpeheD2ZlO6feX3RdMeSsm0XukQlNVW8uVcuo/edit?usp=drivesdk","cachedResultName":"Book Prices"},"sheetName":{"__rl":true,"mode":"list","value":258629074,"cachedResultUrl":"https://docs.google.com/spreadsheets/d/1VDbfi2PpeheD2ZlO6feX3RdMeSsm0XukQlNVW8uVcuo/edit#gid=258629074","cachedResultName":"Sheet2"},"columns":{"value":{},"schema":[{"id":"name","type":"string","display":true,"removed":false,"required":false,"displayName":"name","defaultMatch":false,"canBeUsedToMatch":true},{"id":"price","type":"string","display":true,"removed":false,"required":false,"displayName":"price","defaultMatch":false,"canBeUsedToMatch":true},{"id":"availability","type":"string","display":true,"removed":false,"required":false,"displayName":"availability","defaultMatch":false,"canBeUsedToMatch":true},{"id":"image","type":"string","display":true,"removed":false,"required":false,"displayName":"image","defaultMatch":false,"canBeUsedToMatch":true},{"id":"link","type":"string","display":true,"removed":false,"required":false,"displayName":"link","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"autoMapInputData","matchingColumns":["Book prices"]},"options":{}},"id":"b8aa573d-5b63-4669-900f-bcc915b6ad41","name":"Save to Google Sheets","type":"n8n-nodes-base.googleSheets","position":[2200,440],"typeVersion":4.2},{"parameters":{"options":{}},"id":"a63c3ab3-6aab-43b2-8af6-8b00e24e0ee6","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1600,620],"typeVersion":1},{"parameters":{"text":"={{ $json.data }}","schemaType":"manual","inputSchema":"{\n  \"results\": {\n      \"type\": \"array\",\n      \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"price\": {\n              \"type\": \"string\"\n              },\n            \"title\": {\n              \"type\": \"string\"\n            },\n            \"image_url\": {\n              \"type\": \"string\"\n            },\n            \"product_url\": {\n              \"type\": \"string\"\n            },\n            \"availability\": {\n              \"type\": \"string\"\n            }            \n           }\n      }\n  }\n}","options":{"systemPromptTemplate":"You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.\nAlways output the data in a json array called results.  Each book should have a title, price, availability and product_url, image_url"}},"id":"40326966-0c46-4df2-8d80-fa014e05b693","name":"Information Extractor","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[1560,440],"typeVersion":1},{"parameters":{"url":"https://r.jina.ai/http://books.toscrape.com/catalogue/category/books/historical-fiction_4/index.html","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"allowUnauthorizedCerts":true}},"id":"8ddca560-8da7-4090-b865-0523f95ca463","name":"Jina Fetch","type":"n8n-nodes-base.httpRequest","position":[1320,440],"typeVersion":4.1,"credentials":{"httpHeaderAuth":{"id":"LsRh6A9iQ9p2VXh4","name":"Header Auth account"}}},{"parameters":{"content":"## Start here: Step-by Step Youtube Tutorial :star:\n\n[![AI Powered Web Scraping : the EASY way with n8n and Jina.ai (no-code!)](https://img.youtube.com/vi/f3AJYXHirr8/sddefault.jpg)](https://youtu.be/f3AJYXHirr8)\n\n[Google Sheet Example](https://docs.google.com/spreadsheets/d/1VDbfi2PpeheD2ZlO6feX3RdMeSsm0XukQlNVW8uVcuo/edit?usp=sharing)\n\n\n","height":570,"width":587,"color":5},"id":"b1745cea-fdbe-4f14-b09c-884549beac7e","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[260,540],"typeVersion":1},{"parameters":{"content":"Template description\nPurpose of workflow:\nThe purpose of this workflow is to automate scraping of a website, transforming it into a structured format, and loading it directly into a Google Sheets spreadsheet.\n\nHow it works:\n\nWeb Scraping: Uses the Jina AI service to scrape website data and convert it into LLM-friendly text.\nInformation Extraction: Employs an AI node to extract specific book details (title, price, availability, image URL, product URL) from the scraped data.\nData Splitting: Splits the extracted information into individual book entries.\nGoogle Sheets Integration: Automatically populates a Google Sheets spreadsheet with the structured book data.\nStep by step setup:\n\nSet up Jina AI service:\n\nSign up for a Jina AI account and obtain an API key.\nConfigure the HTTP Request node:\n\nEnter the Jina AI URL with the target website.\nAdd the API key to the request headers for authentication.\nSet up the Information Extractor node:\n\nUse Claude AI to generate a JSON schema for data extraction.\nUpload a screenshot of the target website to Claude AI.\nAsk Claude AI to suggest a JSON schema for extracting required information.\nCopy the generated schema into the Information Extractor node.\nConfigure the Split node:\n\nSet it up to separate the extracted data into individual book entries.\nSet up the Google Sheets node:\n\nCreate a Google Sheets spreadsheet with columns for title, price, availability, image URL, and product URL.\nConfigure the node to map the extracted data to the appropriate columns.","height":660,"width":1180,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,-240],"id":"4df7813b-1c9d-490e-862e-bbb58fec492b","name":"Sticky Note"}],"connections":{"Split Out":{"main":[[{"node":"Save to Google Sheets","type":"main","index":0}]]},"Jina Fetch":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"When clicking \"Test workflow\"":{"main":[[{"node":"Jina Fetch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateId":"2552"},"pinData":{},"versionId":"c28dc5e7-f7ce-4a46-b4a8-8d8fb6523291","triggerCount":0,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-worklow","repo_path":"","subPath":"2025/01/"}