2025/01/Build a Financial Documents Assistant using Qdrant and Mistral.ai.json
{"createdAt":"2025-01-29T12:27:23.638Z","updatedAt":"2025-02-05T04:02:05.798Z","id":"Am1YglzJ6lqybXg7","name":"Build a Financial Documents Assistant using Qdrant and Mistral.ai","active":true,"nodes":[{"parameters":{"triggerOn":"folder","path":"/data/paperport/Releves bancaires/Compte cheques/","events":["add","change","unlink"],"options":{"awaitWriteFinish":true,"followSymlinks":true,"ignoreInitial":true,"depth":0,"usePolling":true}},"id":"c5525f47-4d91-4b98-87bb-566b90da64a1","name":"Local File Trigger","type":"n8n-nodes-base.localFileTrigger","position":[460,480],"typeVersion":1},{"parameters":{},"id":"804334d6-e34d-40d1-9555-b331ffe66f6f","name":"When clicking \"Test workflow\"","type":"n8n-nodes-base.manualTrigger","position":[464.5766613599001,661.8474780113352],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"35ea70c4-8669-4975-a68d-bbaa094713c0","name":"directory","type":"string","value":"/data/paperport/Releves bancaires/Compte cheques/"},{"id":"1d081d19-ff4e-462a-9cbe-7af2244bf87f","name":"file_added","type":"string","value":"={{ $json.event === 'add' && $json.path || ''}}"},{"id":"18f8dc03-51ca-48c7-947f-87ce8e1979bf","name":"file_changed","type":"string","value":"={{ $json.event === 'change' && $json.path || '' }}"},{"id":"65074ff7-037b-4b3b-b2c3-8a61755ab43b","name":"file_deleted","type":"string","value":"={{ $json.event === 'unlink' && $json.path || '' }}"},{"id":"9a1902e7-f94d-4d1f-9006-91c67354d3e8","name":"qdrant_collection","type":"string","value":"releve_compte"}]},"options":{}},"id":"7ab0e284-b667-4d1f-8ceb-fb05e4081a06","name":"Set Variables","type":"n8n-nodes-base.set","position":[640,480],"typeVersion":3.3},{"parameters":{"content":"## Step 1. Select the target folder\n[Read more about local file trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.localfiletrigger)\n\nIn this workflow, we'll monitor a specific folder on disk that n8n has access to. Since we're using docker, we can either use the n8n volume or mount a folder from the host machine.\n\nThe local file trigger is useful to execute the workflow whenever changes are made to our target folder.","height":596.8351502261468,"width":665.0909497859384,"color":7},"id":"76173972-ceca-43a4-b85f-00b41f774304","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[380,240],"typeVersion":1},{"parameters":{"content":"## Try It Out!\n### This workflow does the following:\n* Monitors a target folder for changes using the local file trigger\n* Synchronises files in the target folder with their vectors in Qdrant\n* Mistral AI is used to create a Q&A AI agent on all files in the target folder\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!","height":356.540665091993,"width":372.51107341403605},"id":"eda839f7-dde4-4d1f-9fe6-692df4ac7282","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-20,240],"typeVersion":1},{"parameters":{"fileSelector":"={{ $json.file_added }}","options":{}},"id":"f82f6de0-af8f-4fdf-a733-f59ba4fed02f","name":"Read File","type":"n8n-nodes-base.readWriteFile","position":[1140,900],"typeVersion":1},{"parameters":{"chunkOverlap":100,"options":{}},"id":"0b0e29b9-8873-4074-94dc-9f0364c28835","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","position":[1860,1300],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"41a1d4ca-e5a5-4fb9-b249-8796ae759b33","name":"data","type":"string","value":"=## file created\n{{ $now.toISO() }}\n## file contents\n{{ $json.text }}"},{"id":"c091704d-b81c-448b-8c90-156ef568b871","name":"file_location","type":"string","value":"={{ [$('Read File').item.json.directory, $('Read File').item.json.fileName].join('/') }}"}]},"options":{}},"id":"c0555ba6-a1bd-4aa9-a340-a9c617f8e6db","name":"Prepare Embedding Document","type":"n8n-nodes-base.set","position":[1600,900],"typeVersion":3.3},{"parameters":{},"id":"ffe8c363-0809-4d21-aa8f-34b0fc2dc57f","name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[2440,440],"webhookId":"37587fe0-b8db-4012-90a7-1f65b9bfd0df","typeVersion":1},{"parameters":{"options":{"systemPromptTemplate":"Use the following pieces of context to answer the users question.\nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n----------------\n{context}"}},"id":"8d958669-60be-4bb2-80fc-2a6c7c7bfae6","name":"Question and Answer Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","position":[2660,440],"typeVersion":1.3},{"parameters":{},"id":"06dd8f4c-3b66-43e0-85c8-ec222e275f87","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","position":[2780,600],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"840219e1-ed47-4b00-83fd-6b3c0bd71650","name":"file_added","type":"string","value":"={{ $('Set Variables').item.json.file_changed }}"}]},"options":{}},"id":"e5664534-de07-481f-87dd-68d7d0715baa","name":"Remap for File_Added Flow","type":"n8n-nodes-base.set","position":[1720,480],"typeVersion":3.3},{"parameters":{"method":"POST","url":"=http://qdrant:6333/collections/{{ $('Set Variables').item.json.qdrant_collection }}/points/scroll","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"filter\": {\n        \"must\": [\n            {\n                \"key\": \"metadata.filter_by_filename\",\n                \"match\": {\n                    \"value\": \"{{ $json.file_changed }}\"\n                }\n            }\n        ]\n    },\n    \"limit\": 1,\n    \"with_payload\": false,\n    \"with_vector\": false\n}","options":{}},"id":"1fd14832-aafe-4d72-b4f2-7afc72df97dc","name":"Search For Existing Point","type":"n8n-nodes-base.httpRequest","position":[1140,60],"typeVersion":4.2,"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"0392bac0-8fb5-406b-b59f-575edf5ab30d","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.result.points }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"b5fa817f-82d6-41dd-9817-4c1dd9137b76","name":"Has Existing Point?","type":"n8n-nodes-base.if","position":[1320,60],"typeVersion":2},{"parameters":{"method":"POST","url":"=http://qdrant:6333/collections/{{ $('Set Variables').item.json.qdrant_collection }}/points/delete","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"points","value":"={{ $json.result.points.map(point => point.id) }}"}]},"options":{}},"id":"b0fa4fa4-5d1b-4a12-b8ba-a10d71f31f94","name":"Delete Existing Point","type":"n8n-nodes-base.httpRequest","position":[1520,480],"typeVersion":4.2,"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"method":"POST","url":"=http://qdrant:6333/collections/{{ $('Set Variables').item.json.qdrant_collection }}/points/scroll","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"filter\": {\n        \"must\": [\n            {\n                \"key\": \"metadata.filter_by_filename\",\n                \"match\": {\n                    \"value\": \"{{ $json.file_changed }}\"\n                }\n            }\n        ]\n    },\n    \"limit\": 1,\n    \"with_payload\": false,\n    \"with_vector\": false\n}","options":{}},"id":"5408adfe-4d6b-407c-aac7-e87c9b1a1592","name":"Search For Existing Point1","type":"n8n-nodes-base.httpRequest","position":[1140,480],"typeVersion":4.2,"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0392bac0-8fb5-406b-b59f-575edf5ab30d","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.result.points }}","rightValue":""}]},"options":{}},"id":"fac43587-0d24-4d6e-a0d5-8cc8f9615967","name":"Has Existing Point?1","type":"n8n-nodes-base.if","position":[1320,480],"typeVersion":2},{"parameters":{"method":"POST","url":"=http://qdrant:6333/collections/{{ $('Set Variables').item.json.qdrant_collection }}/points/delete","authentication":"predefinedCredentialType","nodeCredentialType":"qdrantApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"points","value":"={{ $json.result.points.map(point => point.id) }}"}]},"options":{}},"id":"010baacd-fac1-4cc1-86bf-9d6ef11916fe","name":"Delete Existing Point1","type":"n8n-nodes-base.httpRequest","position":[1500,60],"typeVersion":4.2,"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"a1f6d86a-9805-4d0e-ac70-90c9cf0ad339","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.file_deleted }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"file_deleted"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"d15cde67-b5b0-4676-b4fb-ead749147392","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.file_changed }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"file_changed"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.file_added }}","rightValue":""}],"combinator":"and"},"renameOutput":true,"outputKey":"file_added"}]},"options":{}},"id":"2d6fb29c-2fac-41de-9ad0-cc781b246378","name":"Handle File Event","type":"n8n-nodes-base.switch","position":[800,480],"typeVersion":3},{"parameters":{"content":"## Step 2. When files are removed, the vector point is cleared.\n[Learn how to delete points using the Qdrant API](https://qdrant.tech/documentation/concepts/points/#delete-points)\n\nTo keep our vectorstore relevant, we'll implement a simple synchronisation system whereby documents deleted from the local file folder are also purged from Qdrant. This can be simply achieved using Qdrant APIs.","height":336,"width":1107,"color":7},"id":"da91b2aa-613c-4e3e-af83-fbd3bb7e922e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1080,-96.07220596424509],"typeVersion":1},{"parameters":{"content":"## Step 3. When files are updated, the vector point is updated.\n[Learn how to delete points using the Qdrant API](https://qdrant.tech/documentation/concepts/points/#delete-points)\n\nSimilarly to the files deleted branch, when we encounter a change in a file we'll update the matching vector point in Qdrant to ensure our vector store stays relevant. Here, we can achieve this my deleting the existing vector point and creating it anew with the updated bank statement.","height":433,"width":1116,"color":7},"id":"2f9f5b2b-6504-4b27-a0c4-f3373df352df","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1080,260],"typeVersion":1},{"parameters":{"content":"## Step 4. When new files are added, add them to Qdrant Vectorstore.\n[Read more about the Qdrant node](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.vectorstoreqdrant)\n\nUsing Qdrant, we'll able to create a simple yet powerful RAG based application for our bank statements. One of Qdrant's most powerful features is its filtering system, we'll use it to manage the synchronisation of our local file system and Qdrant.","height":790,"width":1107,"color":7},"id":"38128b7f-d0f2-405c-a7de-662df812c344","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1080,760],"typeVersion":1},{"parameters":{"content":"## Step 5. Create AI Agent expert on historic bank statements \n[Read more about the Question & Answer Chain](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainretrievalqa)\n\nFinally, let's use a Question & Answer AI node to combine the Mistral AI model and Qdrant as the vector store retriever to create a local expert for all our bank statements questions. ","height":759.7908149448928,"width":744.4578330639196,"color":7},"id":"e85e2a30-e775-42fe-a12a-ac5de4eb4673","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2340,240],"typeVersion":1},{"parameters":{"qdrantCollection":{"__rl":true,"value":"local_file_search","mode":"list","cachedResultName":"local_file_search"},"options":{}},"id":"1857bebb-b492-415e-96c8-235329bfd28a","name":"Qdrant Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","position":[2780,720],"typeVersion":1,"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1360,900],"id":"f23d7185-d9f4-48ba-9a4b-583196bdfdb2","name":"Extract from File"},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1660,1300],"id":"5e385656-5638-4a60-8cb9-460c5617a2a5","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[2940,880],"id":"ba88ca2e-b932-41dd-ba8b-2417e196e914","name":"Embeddings Ollama1","credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"model":"llama3.2:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[2500,700],"id":"fdab0044-269f-4bf9-8a31-b243bf5438f7","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"executeOnce":false,"command":"=ls /data/paperport/Releves\\ bancaires/"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[160,1340],"id":"b8050af5-6c64-4c6c-8aa7-378d327aecf7","name":"Execute Command1"},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"={{ $('Set Variables').item.json.qdrant_collection }}","mode":"id"},"options":{"collectionConfig":""}},"id":"11d7a567-6def-479a-ace4-e9c5f018ef21","name":"Qdrant Vector Store Insert","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1800,900],"alwaysOutputData":true,"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"filter_by_filename","value":"={{ $('Read File').item.json.fileName }}"},{"name":"filter_by_created_month","value":"={{ $now.year + '-' + $now.monthShort }}"},{"name":"filter_by_created_week","value":"={{ $now.year + '-' + $now.monthShort + '-W' + $now.weekNumber }}"}]}}},"id":"a1ad45ff-a882-4aed-82e2-cad2483cf4e8","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","position":[1860,1120],"typeVersion":1},{"parameters":{"text":"={{ $json.data }}","schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"op_dd\": { \"type\": \"string\" },\n    \"op_mm\": { \"type\": \"string\" },\n    \"val_dd\": { \"type\": \"string\" },\n    \"val_mm\": { \"type\": \"string\" },\n    \"amount\": { \"type\": \"string\" },\n    \"second_label\": { \"type\": \"string\" },\n    \"sepa_motif\": { \"type\": \"string\", \"nullable\": true },\n    \"sepa_ref\": { \"type\": \"string\", \"nullable\": true },\n    \"sepa_ech\": { \"type\": \"string\", \"nullable\": true },\n    \"id_emetteur\": { \"type\": \"string\", \"nullable\": true }\n  }\n}\n","options":{"systemPromptTemplate":"You are an expert in extracting structured data from financial documents.\n\nExtract the following information from the provided text:\n- date_op: The operation date in the format DD/MM/YYYY.\n- date_val: The value date in the format DD/MM/YYYY.\n- label: The description or label of the transaction.\n- amount: The transaction amount in a clean numeric format (e.g., 50.76, -300.00).\n- type: The type of transaction (e.g., VIR SEPA RECU, VIREMENT, PRELEVEMENT SEPA).\n- details: A structured object with additional information for SEPA transactions:\n  - sepa_motif: The reason for the SEPA transaction, if available.\n  - sepa_ref: The reference of the SEPA transaction, if available.\n  - sepa_ech: The due date for the SEPA transaction, if available.\n  - id_emetteur: The emitter ID for the SEPA transaction, if available.\n\nIf a piece of information is not present, return it as null. Ensure the output matches the following JSON format:\n\nExample input:\n07.10 07.10 VIR SEPA RECU /DE MME MYRIAM GANDAIS 50,76 /MOTIF VIREMENT /REF\n\nOutput:\n{{ \"date_op\": \"07/10/2025\", \"date_val\": \"07/10/2025\", \"label\": \"MME MYRIAM GANDAIS\", \"amount\": \"50.76\", \"type\": \"VIR SEPA RECU\", \"details\": {{ \"sepa_motif\": \"VIREMENT\", \"sepa_ref\": null, \"sepa_ech\": null, \"id_emetteur\": null }} }}\n\nExample input:\n01.10 01.10 PRELEVEMENT SEPA SFR FIXE ADSL 97,34 ECH/011024 ID EMETTEUR/FR44ZZZ332801 MDT/GP202211210174530057 REF/0601846155780000000001920275240\n\nOutput:\n{{ \"date_op\": \"01/10/2025\", \"date_val\": \"01/10/2025\", \"label\": \"SFR FIXE ADSL\", \"amount\": \"-97.34\", \"type\": \"PRELEVEMENT SEPA\", \"details\": {{ \"sepa_motif\": null, \"sepa_ref\": \"0601846155780000000001920275240\", \"sepa_ech\": \"011024\", \"id_emetteur\": \"FR44ZZZ332801\" }} }}\n"}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[-200,960],"id":"f55ec591-8105-46d0-b382-3fd5a050efeb","name":"Information Extractor"},{"parameters":{"model":"llama3.2:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-180,1160],"id":"a55058b0-7610-42bb-99de-a21fb041b064","name":"Ollama Chat Model1","credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"promptType":"define","text":"=analyse l'image suivante : {{ $json.data }}","options":{"systemMessage":"Vous êtes un assistant financier spécialisé dans l'extraction de données à partir d'images de relevés bancaires. Analysez l'image fournie et extrayez les informations suivantes pour chaque transaction :\n\n- **Date** : au format JJ/MM\n- **Valeur** : au format JJ/MM\n- **Nature de l'opération** : libellé de la transaction.\n- **Débit** : montant négatif de la transaction en euros, avec des décimales séparées par une virgule.\n- **Crédit** : montant positif de la transaction en euros, avec des décimales séparées par une virgule.\n\nSi une information n'est pas disponible, indiquez \"Non spécifié\". Présentez les résultats sous forme de tableau avec les colonnes mentionnées ci-dessus.\n","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1340,1640],"id":"67a7ab00-5fb6-4e25-b325-b828e3832f91","name":"AI Agent","alwaysOutputData":true},{"parameters":{"model":"llava:latest","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1280,1840],"id":"2ff196ea-dfab-4bc2-b8bf-bcbab752ea2d","name":"Ollama Chat Model2","credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"assignments":{"assignments":[{"id":"dc09a5b4-ff6a-4cee-b87e-35de7336ac05","name":"prompt","type":"string","value":"Please, process parsed data and return only needed."},{"id":"4e0f9af6-517f-42af-9ced-df0e8a7118b0","name":"schema","type":"string","value":"={\n  \"name\": \"generate_bank_statement_schema\",\n  \"description\": \"Generate schema for an array of objects representing bank transactions with Date, Value Date, Nature of Operations, Credit, and Debit.\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"required\": [\n      \"transactions\"\n    ],\n    \"properties\": {\n      \"transactions\": {\n        \"type\": \"array\",\n        \"description\": \"Array of bank transaction objects\",\n        \"items\": {\n          \"type\": \"object\",\n          \"required\": [\n            \"date\",\n            \"valeur\",\n            \"nature\",\n            \"credit\",\n            \"debit\"\n          ],\n          \"properties\": {\n            \"date\": {\n              \"type\": \"string\",\n              \"description\": \"Date of the transaction in format DD/MM/YYYY\"\n            },\n            \"valeur\": {\n              \"type\": \"string\",\n              \"description\": \"Value date of the transaction in format DD/MM/YYYY\"\n            },\n            \"nature\": {\n              \"type\": \"string\",\n              \"description\": \"Nature of the operation, e.g., VIR SEPA, CB, PRLV\"\n            },\n            \"credit\": {\n              \"type\": \"string\",\n              \"description\": \"Credit amount of the transaction formatted as a string, or empty if not applicable\"\n            },\n            \"debit\": {\n              \"type\": \"string\",\n              \"description\": \"Debit amount of the transaction formatted as a string, or empty if not applicable\"\n            }\n          },\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"additionalProperties\": false\n  }\n}\n"}]},"options":{}},"id":"a02eb960-eb3d-4e22-8dcb-70a36b5ce117","name":"Set Fields1","type":"n8n-nodes-base.set","position":[660,1660],"typeVersion":3.4},{"parameters":{"method":"POST","url":"=https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"model\": \"gpt-4o-mini\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": {{ JSON.stringify($('Set Fields').item.json.prompt) }}\n      },\n      {\n        \"role\": \"user\",\n        \"content\": {{ JSON.stringify( JSON.stringify($('Webhook').item.json.body.json[0].items) ) }}\n      }\n    ],\n  \"response_format\":{ \"type\": \"json_schema\", \"json_schema\":  {{ $('Set Fields').item.json.schema }}\n\n }\n  }","options":{}},"id":"17188240-1b73-4412-b2da-0827f8e30a6e","name":"OpenAI - Extract Line Items1","type":"n8n-nodes-base.httpRequest","position":[920,1640],"typeVersion":4.2,"credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"command":"python3 /data/shared/script/convert_pdf_to_image.py data/paperport/Releve\\ bancaires/Compte\\ cheques/input.pdf /data/output.png\n\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[160,1680],"id":"3f603c9d-2f3b-41bc-9ccc-eecd5335c61b","name":"Execute Command"},{"parameters":{"language":"python","pythonCode":"import subprocess\nimport sys\n\n# Installation automatique si non installé\ntry:\n    from pdf2image import convert_from_path\nexcept ModuleNotFoundError:\n    subprocess.run([sys.executable, \"-m\", \"pip\", \"install\", \"pdf2image\"])\n    from pdf2image import convert_from_path\n\n# Convertir le PDF en image\npdf_path = \"/mnt/data/input.pdf\"\nimages = convert_from_path(pdf_path, 300)\n\n# Sauvegarde de la première page en image\noutput_path = \"/mnt/data/page_0.png\"\nimages[0].save(output_path, \"PNG\")\n\nreturn {\"image_path\": output_path}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,1800],"id":"a0309266-ee8e-49e8-a8a5-65aa45181acd","name":"Code"},{"parameters":{"command":"which python3\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[160,1500],"id":"ab29d84f-0f80-4fcf-9660-cb4213f1591e","name":"Execute Command2"}],"connections":{"Read File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Chat Trigger":{"main":[[{"node":"Question and Answer Chain","type":"main","index":0}]]},"Set Variables":{"main":[[{"node":"Handle File Event","type":"main","index":0}]]},"Handle File Event":{"main":[[{"node":"Search For Existing Point","type":"main","index":0}],[{"node":"Search For Existing Point1","type":"main","index":0}],[{"node":"Read File","type":"main","index":0}]]},"Local File Trigger":{"main":[[{"node":"Set Variables","type":"main","index":0}]]},"Has Existing Point?":{"main":[[{"node":"Delete Existing Point1","type":"main","index":0}]]},"Has Existing Point?1":{"main":[[{"node":"Delete Existing Point","type":"main","index":0}]]},"Qdrant Vector Store1":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Delete Existing Point":{"main":[[{"node":"Remap for File_Added Flow","type":"main","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question and Answer Chain","type":"ai_retriever","index":0}]]},"Remap for File_Added Flow":{"main":[[{"node":"Read File","type":"main","index":0}]]},"Search For Existing Point":{"main":[[{"node":"Has Existing Point?","type":"main","index":0}]]},"Prepare Embedding Document":{"main":[[{"node":"Qdrant Vector Store Insert","type":"main","index":0}]]},"Search For Existing Point1":{"main":[[{"node":"Has Existing Point?1","type":"main","index":0}]]},"When clicking \"Test workflow\"":{"main":[[{"node":"Set Variables","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store Insert","type":"ai_embedding","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant Vector Store1","type":"ai_embedding","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Question and Answer Chain","type":"ai_languageModel","index":0}]]},"Extract from File":{"main":[[{"node":"Prepare Embedding Document","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store Insert","type":"ai_document","index":0}]]},"Ollama Chat Model1":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[]]},"Ollama Chat Model2":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]},"Execute Command":{"main":[[]]}},"settings":{},"staticData":null,"meta":{"templateId":"2335","templateCredsSetupCompleted":true},"pinData":{},"versionId":"f2df363b-dbac-4caa-a70e-f973f7c4d066","triggerCount":3,"tags":[{"createdAt":"2025-01-27T19:03:28.175Z","updatedAt":"2025-01-27T19:03:28.175Z","id":"PG8DLgbABpMUheXx","name":"En cours de construction"}],"repo_owner":"Olivier340","repo_name":"n8n-worklow","repo_path":"","subPath":"2025/01/"}