2025/01/Local RAG AI Agent V2.json
{"createdAt":"2025-01-29T08:35:05.017Z","updatedAt":"2025-01-29T11:49:19.547Z","id":"gmF4fNTSXwfaVznD","name":"Local RAG AI Agent V2","active":true,"nodes":[{"parameters":{},"id":"dd4836ab-f7fc-4e9d-a72b-2682b4dac7ef","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[1040,560],"credentials":{"postgres":{"id":"gPu37zS904wrxDaM","name":"Postgres account"}}},{"parameters":{"model":"llama3.1:latest","options":{}},"id":"3a8f6f2a-a030-4acc-9656-c0595d820633","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[920,560],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"model":"llama3.1:latest","options":{}},"id":"3828720d-52e1-46ce-b5ad-02067f19b9de","name":"Ollama Model","type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[1960,500],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"name":"documents","topK":3},"id":"ca838d31-3fcd-4041-9f45-aeb08392de4a","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1740,340]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"4c3812e8-4c70-456a-98a8-8448b29da1c4","name":"Embeddings Ollama","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1840,600],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1Z_maAxryu1st6COwvxhvkea0CeTFhiif","mode":"list","cachedResultName":"ogasphere","cachedResultUrl":"https://drive.google.com/drive/folders/1Z_maAxryu1st6COwvxhvkea0CeTFhiif"},"event":"fileCreated","options":{}},"id":"1bc94d61-c4ab-4a76-8f7d-d61958354e15","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[600,880],"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1Z_maAxryu1st6COwvxhvkea0CeTFhiif","mode":"list","cachedResultName":"ogasphere","cachedResultUrl":"https://drive.google.com/drive/folders/1Z_maAxryu1st6COwvxhvkea0CeTFhiif"},"event":"fileUpdated","options":{}},"id":"3c97d7bd-6253-4669-85ae-f1c443b51885","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[600,1100],"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"dd0aa081-79e7-4714-8a67-1e898285554c","name":"folder_id","value":"={{ $json.parents[0] }}","type":"string"}]},"options":{}},"id":"63821fb0-1630-4b62-9071-e890961015f5","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,880]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"ad75bd93-55ff-4cc7-94b6-93a07f4afb47","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1300,880],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"e8adb354-1e0b-4542-938e-43ae4de472db","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1540,880],"alwaysOutputData":true},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Set File ID').item.json.file_id }}"},{"name":"folder_id","value":"={{ $('Set File ID').item.json.folder_id }}"}]}}},"id":"34738722-435f-4415-8711-afef7ecd20f5","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1860,1100]},{"parameters":{"chunkSize":100,"options":{}},"id":"8ad5159c-3322-4625-9b52-49332e356e32","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1860,1320]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"a785d858-06fb-4a5b-8d6e-47eb01fb84c1","name":"Embeddings Ollama1","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1700,1100],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"content":"## Local RAG AI Agent with Chat Interface","height":527.3027193303974,"width":969.0343804425795},"id":"6abf5e9a-a2dc-44c6-8d72-51afe5c61071","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,220]},{"parameters":{"content":"## Agent Tools for Local RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"d850643b-f709-45db-98af-8cd554c1599c","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1540,220]},{"parameters":{"content":"## Workflow to Create Local Knowledgebase from Google Drive Folder","height":705.2695614889159,"width":1568.9362829025763,"color":5},"id":"291f8e9b-d024-49a5-a2f8-499285f7e9a1","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,760]},{"parameters":{"options":{}},"id":"9969b6c4-305b-497a-ac39-a29a6dca5eb0","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[620,340],"webhookId":"cb31b294-29c2-416c-8a2c-4aee3bf352c0"},{"parameters":{"qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"id":"fed133c1-b9eb-42fa-bb16-34e5c1cb9846","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1560,480],"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"code":{"execute":{"code":"const { QdrantVectorStore } = require(\"@langchain/qdrant\");\nconst { OllamaEmbeddings } = require(\"@langchain/community/embeddings/ollama\");\n\nconst embeddings = new OllamaEmbeddings({\n  model: \"nomic-embed-text\",\n  baseUrl: \"http://ollama:11434\"\n});\n\nconst vectorStore = await QdrantVectorStore.fromExistingCollection(\n  embeddings,\n  {\n    url: \"http://qdrant:6333\",\n    collectionName: \"documents\",\n  }\n);\n\nconst fileIdToDelete = this.getInputData()[0].json.file_id;\n\nconst filter = {\n        must: [\n            {\n                key: \"metadata.file_id\",\n                match: {\n                    value: fileIdToDelete,\n                },\n            },\n        ],\n    }\n\n// const results = await vectorStore.similaritySearch(\"this\", 10, filter);\n// const idsToDelete = results.map((doc) => doc.id);\n\n// NOT IMPLEMENTED!\n// await vectorStore.delete({ ids: idsToDelete });\n\nvectorStore.client.delete(\"documents\", {\n  filter\n});\n\nreturn [ {json: { file_id: fileIdToDelete } } ];\n"}},"inputs":{"input":[{"type":"main","required":true}]},"outputs":{"output":[{"type":"main"}]}},"id":"01b5a991-e042-474e-b43f-39e7604e3945","name":"Clear Old Vectors","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[1080,880],"alwaysOutputData":false},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"id":"1c1067a8-771c-4780-a434-65fe92373ba8","name":"Qdrant Vector Store Insert","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1760,880],"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"options":{}},"id":"d4c591dc-7e78-4d1f-8e4b-ce89e75334d8","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,340]},{"parameters":{"httpMethod":"POST","path":"6e96bb59-5289-4b86-b383-f276ba62b4e1","responseMode":"responseNode","options":{}},"id":"4cdaaca4-4760-4acf-bb6d-7f8154de2f65","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[620,520],"webhookId":"6e96bb59-5289-4b86-b383-f276ba62b4e1"},{"parameters":{"options":{}},"id":"de7978e5-6250-4026-ab4c-88f3bbbfbd27","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1000,340]},{"parameters":{"assignments":{"assignments":[{"id":"75ebfdef-c8e2-4c3e-b716-1479d0cc2a73","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"59b7a20f-0626-4861-93e2-015d430c266e","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"b31f1f54-7064-49d3-b279-dbe7657d90b6","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[820,340]},{"parameters":{"command":"ls /data/drive"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[940,1080],"id":"4b89de52-5ff3-472c-aa27-6a2aacaee678","name":"Execute Command"},{"parameters":{"triggerOn":"folder","path":"/data/paperport/","events":["add","change","unlink"],"options":{"awaitWriteFinish":false,"depth":0,"usePolling":true}},"type":"n8n-nodes-base.localFileTrigger","typeVersion":1,"position":[760,1260],"id":"dd6591b0-19f9-4343-88e1-e91e570d37c4","name":"Local File Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"dd0aa081-79e7-4714-8a67-1e898285554c","name":"folder_id","value":"={{ $json.parents[0] }}","type":"string"}]},"options":{}},"id":"b0e0bd58-e8ee-4cf9-9053-c671b75e3368","name":"Set File ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,1260]}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Ollama Model":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Clear Old Vectors","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Qdrant Vector Store Insert","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store Insert","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant Vector Store Insert","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Clear Old Vectors":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Local File Trigger":{"main":[[{"node":"Set File ID1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-01-29T12:01:29Z"},"node:File Updated":{"lastTimeChecked":"2025-01-29T12:00:57Z"}},"meta":{"templateCredsSetupCompleted":true,"instanceId":"f722e3e1e81e942a38faa434ad0aee8699371bbff9f883b9d5c59a7c726605af"},"pinData":{},"versionId":"c5292026-3e51-4b08-af08-0affc5bae26b","triggerCount":6,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-worklow","repo_path":"","subPath":"2025/01/"}