2025/01/Local RAG AI Agent.json
{"createdAt":"2025-01-21T11:19:19.474Z","updatedAt":"2025-02-20T16:38:25.822Z","id":"vTN9y2dLXqTiDfPT","name":"Local RAG AI Agent","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"99b30fd7-b36c-44ba-9daa-408585aaaee9","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[1040,560],"credentials":{"postgres":{"id":"gPu37zS904wrxDaM","name":"Postgres account"}}},{"parameters":{"model":"llama3.1:latest","options":{}},"id":"c7632a7c-2661-492e-bd6f-aab994818998","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[920,560],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"model":"llama3.1:latest","options":{}},"id":"73d773a4-5c72-4af3-a52d-144f0e417823","name":"Ollama Model","type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[1960,500],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"name":"documents","topK":3},"id":"3f882fa7-c8ed-4531-b236-a34c16c55838","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[1740,340]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"3a8e3fa0-3997-4bce-985c-975fb5ad4013","name":"Embeddings Ollama","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1840,600],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"14_J1f0oA1suFfSv1Ae6SfqpikSzPm3XY","mode":"list","cachedResultName":"SearchJobs","cachedResultUrl":"https://drive.google.com/drive/folders/14_J1f0oA1suFfSv1Ae6SfqpikSzPm3XY"},"event":"fileUpdated","options":{}},"id":"7b904686-89ae-4722-9ce5-a9da1b13b1a1","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[600,880],"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"dd0aa081-79e7-4714-8a67-1e898285554c","name":"folder_id","value":"={{ $json.parents[0] }}","type":"string"}]},"options":{}},"id":"87f8bbb0-92c5-4b25-be63-7a9d91fc46f8","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[860,880]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"application/rtf","drawingsToFormat":"application/pdf"}}}},"id":"9f1e08fb-4ef3-4c4d-9473-5a7a1608b8e3","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1300,880],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"Mu7yxTxQSL3Ke6rX","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"7efee822-68ad-4fe2-a616-ba19fd127684","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1540,880],"alwaysOutputData":true},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Set File ID').item.json.file_id }}"},{"name":"folder_id","value":"={{ $('Set File ID').item.json.folder_id }}"}]}}},"id":"da4c8b29-4944-43c4-9df3-e380366c594a","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1860,1100]},{"parameters":{"chunkSize":100,"options":{}},"id":"d11c39b9-3fa7-4d5d-838f-da0d258c67c5","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1860,1320]},{"parameters":{"model":"nomic-embed-text:latest"},"id":"8a04559c-dfe8-479f-8998-a2e9bc994a0a","name":"Embeddings Ollama1","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1700,1100],"credentials":{"ollamaApi":{"id":"NS8KtD03um6xedJo","name":"Ollama account"}}},{"parameters":{"content":"## Local RAG AI Agent with Chat Interface","height":527.3027193303974,"width":969.0343804425795},"id":"a18773ae-1eb3-46b8-91cf-4184c66cf14f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,220]},{"parameters":{"content":"## Agent Tools for Local RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"fa010a11-3dda-4bd5-b261-463a3a6b88d9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1540,220]},{"parameters":{"content":"## Workflow to Create Local Knowledgebase from Google Drive Folder","height":705.2695614889159,"width":1568.9362829025763,"color":5},"id":"f29e6cc7-015e-47cb-a4fd-fecd6ffb0d24","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[560,760]},{"parameters":{"options":{}},"id":"5da52326-dfbd-4350-919c-843461f58913","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[620,340],"webhookId":"4b3b1838-d6b3-447e-9d79-d0931eddb9f8"},{"parameters":{"qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"id":"355370e0-2174-4e5b-830b-dd0f123b2e40","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1560,480],"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"code":{"execute":{"code":"const { QdrantVectorStore } = require(\"@langchain/qdrant\");\nconst { OllamaEmbeddings } = require(\"@langchain/community/embeddings/ollama\");\n\nconst embeddings = new OllamaEmbeddings({\n  model: \"nomic-embed-text\",\n  baseUrl: \"http://ollama:11434\"\n});\n\nconst vectorStore = await QdrantVectorStore.fromExistingCollection(\n  embeddings,\n  {\n    url: \"http://qdrant:6333\",\n    collectionName: \"documents\",\n  }\n);\n\nconst fileIdToDelete = this.getInputData()[0].json.file_id;\n\nconst filter = {\n        must: [\n            {\n                key: \"metadata.file_id\",\n                match: {\n                    value: fileIdToDelete,\n                },\n            },\n        ],\n    }\n\n// const results = await vectorStore.similaritySearch(\"this\", 10, filter);\n// const idsToDelete = results.map((doc) => doc.id);\n\n// NOT IMPLEMENTED!\n// await vectorStore.delete({ ids: idsToDelete });\n\nvectorStore.client.delete(\"documents\", {\n  filter\n});\n\nreturn [ {json: { file_id: fileIdToDelete } } ];\n"}},"inputs":{"input":[{"type":"main","required":true}]},"outputs":{"output":[{"type":"main"}]}},"id":"b93bd001-0c4d-42fe-939a-eb441f354917","name":"Clear Old Vectors","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[1080,880],"alwaysOutputData":false},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"id":"97ec4618-c0ea-445b-9406-5d41784d7836","name":"Qdrant Vector Store Insert","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1760,880],"credentials":{"qdrantApi":{"id":"Aeqltub5twyeo8GY","name":"QdrantApi account"}}},{"parameters":{"options":{}},"id":"e537544a-37d5-4b00-b5ff-bc71f041f4bb","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,340]},{"parameters":{"httpMethod":"POST","path":"invoke_n8n_agent","responseMode":"responseNode","options":{}},"id":"2b8cd01f-30a8-4aab-b0dd-56d2b658f059","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[620,520],"webhookId":"4a839da9-b8a2-45f8-bcaf-c484f9a5912d"},{"parameters":{"options":{}},"id":"c9dfe906-178b-4375-8bda-f9290f35f222","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1000,340]},{"parameters":{"assignments":{"assignments":[{"id":"75ebfdef-c8e2-4c3e-b716-1479d0cc2a73","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"59b7a20f-0626-4861-93e2-015d430c266e","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"8f974a15-aa2f-4525-8278-ad58ad296076","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[820,340]},{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[-120,200],"typeVersion":1,"id":"36326a93-c7a4-456e-8f07-45bf1f6b0719"},{"parameters":{"filePath":"/data/pdf.pdf"},"name":"Read Binary File","type":"n8n-nodes-base.readBinaryFile","position":[80,280],"typeVersion":1,"id":"5cfe4bb6-27ec-4783-b60e-a650f48915fb"},{"parameters":{},"name":"Read PDF","type":"n8n-nodes-base.readPDF","position":[300,300],"typeVersion":1,"id":"35175493-7bac-4ac1-a55d-c3fd00197a77"}],"connections":{"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Ollama Model":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Clear Old Vectors","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Qdrant Vector Store Insert","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store Insert","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant Vector Store Insert","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Clear Old Vectors":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Read Binary File":{"main":[[{"node":"Read PDF","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Read Binary File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-02-20T12:41:10Z"},"node:File Updated":{"lastTimeChecked":"2025-02-24T11:14:42Z"}},"meta":{"templateCredsSetupCompleted":true,"instanceId":"f722e3e1e81e942a38faa434ad0aee8699371bbff9f883b9d5c59a7c726605af"},"pinData":{"File Updated":[{"json":{"kind":"drive#file","copyRequiresWriterPermission":false,"writersCanShare":true,"viewedByMe":true,"mimeType":"application/vnd.google-apps.spreadsheet","exportLinks":{"application/x-vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1gr0rD1FMvvIAhPX2norh0RwCNWfCwgqsqPSsxwkdQ7g&exportFormat=ods","text/tab-separated-values":"https://docs.google.com/spreadsheets/export?id=1gr0rD1FMvvIAhPX2norh0RwCNWfCwgqsqPSsxwkdQ7g&exportFormat=tsv","application/pdf":"https://docs.google.com/spreadsheets/export?id=1gr0rD1FMvvIAhPX2norh0RwCNWfCwgqsqPSsxwkdQ7g&exportFormat=pdf","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":"https://docs.google.com/spreadsheets/export?id=1gr0rD1FMvvIAhPX2norh0RwCNWfCwgqsqPSsxwkdQ7g&exportFormat=xlsx","text/csv":"https://docs.google.com/spreadsheets/export?id=1gr0rD1FMvvIAhPX2norh0RwCNWfCwgqsqPSsxwkdQ7g&exportFormat=csv","application/zip":"https://docs.google.com/spreadsheets/export?id=1gr0rD1FMvvIAhPX2norh0RwCNWfCwgqsqPSsxwkdQ7g&exportFormat=zip","application/vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1gr0rD1FMvvIAhPX2norh0RwCNWfCwgqsqPSsxwkdQ7g&exportFormat=ods"},"parents":["14_J1f0oA1suFfSv1Ae6SfqpikSzPm3XY"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBOsSKfM1sJPrC1gSzfF5ZZzY8V8MmVRhYxo6nSUXlc7HlGE3sVC308N9XcGASVHpGfk-1EWfYpzWZmAZ5h0TpQPwNsfUgiNx_mttgeAnscEkpYqBnTHV_KCuY0OPQ=s220","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet","shared":false,"lastModifyingUser":{"displayName":"Olivier","kind":"drive#user","me":true,"permissionId":"01688517847454001798","emailAddress":"olivier.info.dev@gmail.com","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjUHSZ56L2p79sE4olX-ADxhXKGEbLj9omP3QgrRINlTcxWd0vJZRjJWPCCqETzuU3DBqeqVaNruiPoLxdCYBETU14LJy21qtbkw1X8SsXRzMN9Cqqi8G9WmPjlAwmZIFzCqkRHFxTLRmgQdDclaos__ij-dPp9tqSOnxoo81H4Ps1XpIf2CYuynlxT3KeGnVu5o4ups6CylcHJZJH2N5Xe_evk425WcOzU4cvV-GNqgka_rp3logthvYTF_5qa9uKwYasHhmE6EVZp2K3ZIQ9XpmIAsky68DTnxIn-pTmZ1KD9jjRDBUtwvq1d6YL_vbdMMP1mgYp3DOjggwqXDcWEck96BlvSm0s_er5zVFt5z5WD2yaqDRGCLA_imib1ObuTNFuael-XQ7skHz1vSC3uwex8E4vhTvl7b04zwCRnqU8vV26XFV6swZLUEcBrwnvQlhUOTZmg-vcwAMh8QoQeRDjduzS0Bz1_Ilt-nhL187PWk5s9BUHDiXroPHXT6vmgmphaI0vxppaj7xAiP4RvTwjCbpVxFSmNjvdRt6PkJkJQzxHVlN1wkcEO2rp7PRgxL6tiukIHtq8zv-2butqUw7UgOpP5EY-3cKd7LCn07yCTHKBK2dtw384B9DQw8fzoqSAeCEw2Me5RUEqFqkmmOCpR3csgI8cQ4EyMa9vx9FRFew4NqS6iD3G9u81sgdhbT6g7YiM8qQskyo7SHbL1SvS7IwC2HuLsZyod_P3KyjzzcxAqYw6zTKc8H-YuQgUciK88uoIACuR7QxGpoznpdMRYW5ZpfkNTo7G8llhYZj6C0xW35wddA-cXZCo4bRf7Ica5qcC38NnyeJlzrPponvCBHlZc9QPo5sEPDWkVt4HEkbgucVv8IVZblRVgeyUShLya7B1V1jbAcFmjinA5Zhbx7vngrCfxvCE05DJc5aueAZvo8H-Dfb8sEiFPl06pqczPAuPs-uPdPhAzhYGYH7VLa=s64"},"owners":[{"displayName":"Olivier","kind":"drive#user","me":true,"permissionId":"01688517847454001798","emailAddress":"olivier.info.dev@gmail.com","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjUHSZ56L2p79sE4olX-ADxhXKGEbLj9omP3QgrRINlTcxWd0vJZRjJWPCCqETzuU3DBqeqVaNruiPoLxdCYBETU14LJy21qtbkw1X8SsXRzMN9Cqqi8G9WmPjlAwmZIFzCqkRHFxTLRmgQdDclaos__ij-dPp9tqSOnxoo81H4Ps1XpIf2CYuynlxT3KeGnVu5o4ups6CylcHJZJH2N5Xe_evk425WcOzU4cvV-GNqgka_rp3logthvYTF_5qa9uKwYasHhmE6EVZp2K3ZIQ9XpmIAsky68DTnxIn-pTmZ1KD9jjRDBUtwvq1d6YL_vbdMMP1mgYp3DOjggwqXDcWEck96BlvSm0s_er5zVFt5z5WD2yaqDRGCLA_imib1ObuTNFuael-XQ7skHz1vSC3uwex8E4vhTvl7b04zwCRnqU8vV26XFV6swZLUEcBrwnvQlhUOTZmg-vcwAMh8QoQeRDjduzS0Bz1_Ilt-nhL187PWk5s9BUHDiXroPHXT6vmgmphaI0vxppaj7xAiP4RvTwjCbpVxFSmNjvdRt6PkJkJQzxHVlN1wkcEO2rp7PRgxL6tiukIHtq8zv-2butqUw7UgOpP5EY-3cKd7LCn07yCTHKBK2dtw384B9DQw8fzoqSAeCEw2Me5RUEqFqkmmOCpR3csgI8cQ4EyMa9vx9FRFew4NqS6iD3G9u81sgdhbT6g7YiM8qQskyo7SHbL1SvS7IwC2HuLsZyod_P3KyjzzcxAqYw6zTKc8H-YuQgUciK88uoIACuR7QxGpoznpdMRYW5ZpfkNTo7G8llhYZj6C0xW35wddA-cXZCo4bRf7Ica5qcC38NnyeJlzrPponvCBHlZc9QPo5sEPDWkVt4HEkbgucVv8IVZblRVgeyUShLya7B1V1jbAcFmjinA5Zhbx7vngrCfxvCE05DJc5aueAZvo8H-Dfb8sEiFPl06pqczPAuPs-uPdPhAzhYGYH7VLa=s64"}],"webViewLink":"https://docs.google.com/spreadsheets/d/1gr0rD1FMvvIAhPX2norh0RwCNWfCwgqsqPSsxwkdQ7g/edit?usp=drivesdk","size":"61316","viewersCanCopyContent":true,"permissions":[{"id":"01688517847454001798","displayName":"Olivier","type":"user","kind":"drive#permission","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjV89HJgZmqgvBuxshfS1G4NOvdEPLZUK22jNKHZ22Tgdj-Qjz44q_55p2SSuh0bQECHu80TB04n0aRvw2EDUA1p7ABVHo_HkbyI0a4ak-WKYRHBv6Cm89SWIoYNpwahJYDx3ksblZqt-VzHQBw7FB7VbTD3FqnrjPKe1mJ-3GLVfHnM-26vD-58WPoetQhGmOXqmqnRndNH8VnNjf__PakfywJRR8Uc68wrbw4hxe_PaWeXbtZHUwT4vpVETbyREwpCZKz5KWZzzWbP1_62FY6J9EClhZ-J4Zv4QWYB3uO3gwNBt9zkYsJYn6GeMq4Z-Q0VEyFi6zpjIcyqV3mzzM-Vxraj7mrsfJqKVBy4S-l5L1p9NBhlRz51sRzgpmmKHF-nDlSibsCQyJXmq0l74EpPEX3F79VliHbPxJSbHfdF08j7JYsxUYbIFtlqkikBBi6iSJQoK17l9RN-ygVxC3Ak75v15FUMe6c7oSaiYefoQ2C1X0lFWKUmckjLCkvSTsX1H9NgtRJO7R6u_vwxG2HfvCx6fvNiWWVffm-sRsdiVLi83xwByOVDeU5FF_HaqZudLFTPDtM9OZoJVIiWMOOhpi7KEEbDHlHnKGL67CPa8oUmA69RmYZewxf6JnH2uTM7_5fGJ2GTtAlHvZ-dH_3sdZetXoDnkL6mon5Y94fTqxrZ0BABMHjIASG3tBrQxYa7pjus9GrMOsjFk7N4Yq_cdX3pvGWvFhh1fZwUdydu7hldthlgs4DlgcjJ-zopivhF6qZsYjb96Z4c_2pcQXnMYoauXYP51L80-5iuXHcbXmZ0F4ykvaglhMNAf-2SBW6fhKSvDczwhCAzwl69_GgRKHE-DobLc84ZFYUWb9FWCGEFLlguvjhrAcS4_04lrIy6qmGwHQDaDywlRGD4pX2cgiTZc85TDdP_9sY7QiYoG5qmIfFWyH6mjhmmZHvdKm05XhKe74OueSJS9aFPVivhUL4z=s64","emailAddress":"olivier.info.dev@gmail.com","role":"owner","deleted":false,"pendingOwner":false}],"hasThumbnail":true,"spaces":["drive"],"id":"1gr0rD1FMvvIAhPX2norh0RwCNWfCwgqsqPSsxwkdQ7g","name":"TOLERANCES","starred":false,"trashed":false,"explicitlyTrashed":false,"createdTime":"2025-02-20T12:50:36.176Z","modifiedTime":"2025-02-20T12:50:41.014Z","modifiedByMeTime":"2025-02-20T12:50:41.014Z","viewedByMeTime":"2025-02-20T12:50:41.014Z","quotaBytesUsed":"61316","version":"6","ownedByMe":true,"isAppAuthorized":false,"capabilities":{"canChangeViewersCanCopyContent":true,"canEdit":true,"canCopy":true,"canComment":true,"canAddChildren":false,"canDelete":true,"canDownload":true,"canListChildren":false,"canRemoveChildren":false,"canRename":true,"canTrash":true,"canReadRevisions":true,"canChangeCopyRequiresWriterPermission":true,"canMoveItemIntoTeamDrive":true,"canUntrash":true,"canModifyContent":true,"canMoveItemOutOfDrive":true,"canAddMyDriveParent":false,"canRemoveMyDriveParent":true,"canMoveItemWithinDrive":true,"canShare":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canChangeSecurityUpdateEnabled":false,"canAcceptOwnership":false,"canReadLabels":false,"canModifyLabels":false,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canRemoveContentRestriction":false,"canDisableInheritedPermissions":false,"canEnableInheritedPermissions":true},"thumbnailVersion":"1","modifiedByMe":true,"permissionIds":["01688517847454001798"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false}}]},"versionId":"eb7144a4-3b43-4a13-95b7-e225b79480a1","triggerCount":4,"tags":[],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/01/"}