2025/01/Mon assistant personnel.json
{"createdAt":"2025-01-27T19:01:29.034Z","updatedAt":"2025-03-15T09:19:08.744Z","id":"l47mbE8Fb9e8ecSM","name":"Mon assistant personnel","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-500,160],"id":"cbfdcbd1-56a3-440a-b7b2-737fe486a533","name":"Telegram Trigger","webhookId":"a48421cf-4bb0-47d0-a06c-3e0c06e063e2","credentials":{"telegramApi":{"id":"9aWKzSaGcHyxa8yE","name":"n8n_oga_bot"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"14fb3de7-1d2f-436a-abf0-dae17f4ba7ee","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74f84682-1f19-4d47-a11c-138d7e3e50a8","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-280,160],"id":"31ffd3aa-fca6-4ed6-b8d6-69fb29c069ea","name":"Switch"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[40,-60],"id":"b17c9129-6e03-4f80-92a6-4c8f7a8be743","name":"Telegram","webhookId":"09632c74-cc27-43a0-b7e3-5dc125be3877","credentials":{"telegramApi":{"id":"9aWKzSaGcHyxa8yE","name":"n8n_oga_bot"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,-60],"id":"14b9d1ab-f602-4125-b896-d32d015e08ff","name":"OpenAI","credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=message : {{ $json.text }}","options":{"systemMessage":"#Rôle \n\nVous êtes un assistant personnel. Vous communiquez en français\n\n#Tâche \n\nVous ne devez communiquer qu'avec moi. Vous êtes en contrôle de 3 outils : ma boîte de réception, Ma liste de contacts et mon calendrier. Vous êtes un super assistant personnel et vous agissez comme un gestionnaire de boîte de réception, un gestionnaire de calendrier et un gestionnaire de ma liste de contacts. Vous agissez pas à pas en utilisant ces outils pour réussir à faire ce que je vous demande.\n\n#Outils\n\nVous ne devez communiquer avec moi que par message. Votre sortie est le message que vous voulez m'envoyer. Vous devez me communiquer tout ce qui est important : les mises à jour, les problèmes et les résultats doivent être communiqués. \n\nVous avez le contrôle de la boîte de réception des courriels sur Gmail, vous pouvez envoyer des courriels. Vous pouvez également rechercher dans la boîte de réception les courriels reçus après une certaine date. \nLorsque que tu rédige un e-mail fait toi passer pour moi et n'envoie pas un template mais bien un e-mail complet.\nVous pouvez créer un événement dans mon calendrier sur Calendar. S'il s'agit d'une réunion avec une autre personne, vous aurez besoin de l'adresse électronique de ce participant pour le créer. Vous pouvez également retrouver dans le calendrier tous les événements programmés après une certaine date. Avant de créer un événement, vérifiez les évènements programmés pour cette date pour s'assurer que le créneau est disponible.\n\nVous avez le contrôle de ma liste de contacts sur google contact où je stocke tous mes contacts. Vous pouvez retrouver mes contacts dans google contact et vous pouvez ajouter un nouveau contact à la liste. Si je vous demande d'envoyer un e-mail à l'un de mes contacts, vous devez d'abord récupérer ses informations dans la liste de contacts de google contact. \n\n. Avant d'utiliser un outil, assurez-vous de connaître la date et l'heure actuelles en utilisant l'outil dateTime. \n\n#Notes\n\n. Vous ne devez communiquer avec moi que par message. Partagez les mises à jour importantes, les problèmes et demandez des informations.  \n\n. Agir Pas à pas pour réussir dans n'importe quelle tâche donnée et utiliser les différents outils.\n\n. Si vous avez besoin de connaître l'heure, lorsque vous planifiez un événement par exemple, vous devez utiliser l'outil dateTime pour obtenir la date et l'heure actuelles. \n\n. La timezone est Europe/paris\n\n.N'écrit pas '[Votre Nom]'  dans les e-mail , tu dois tout rédiger et ne pas laisser de zone à compléter"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[420,180],"id":"85774c21-54cc-416e-ad74-6f9d8ec64826","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.1,"position":[80,560],"id":"9e1dc0ae-8ecf-4553-9f0b-380d03767494","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"d4zSwzevlcDFPS3v","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Switch').item.json.update_id }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[300,560],"id":"7978ef1c-32d8-490d-90fb-162c8fa52090","name":"Window Buffer Memory"},{"parameters":{"assignments":{"assignments":[{"id":"8fff9380-d039-4a9f-a304-fd124d80c375","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[40,180],"id":"013f7d58-0ccf-42ac-a86a-f0afd8af08b3","name":"Edit Fields"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[800,180],"id":"b7ba1a14-6c8e-4b23-a188-246d1ce860ab","name":"Telegram1","webhookId":"a18feb9d-cd99-4e35-80a7-bfcd0a7564ad","credentials":{"telegramApi":{"id":"9aWKzSaGcHyxa8yE","name":"n8n_oga_bot"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[1520,480],"id":"9cdb7018-6c01-4b04-9aba-e7c4b75e11b9","name":"Calculator"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1keFoNfAFckoVDd-lUesAMJjxTtc8xybEa0DchGF1f3g","mode":"list","cachedResultName":"Youtube_list_contacts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1keFoNfAFckoVDd-lUesAMJjxTtc8xybEa0DchGF1f3g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1keFoNfAFckoVDd-lUesAMJjxTtc8xybEa0DchGF1f3g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Nom":"={{ $fromAI('contact_name', \"The name fo the contact to add to the contact list\") }} ","E-mail":"={{ $fromAI('contact_email', \"The email fo the contact to add to the contact list\") }} "},"matchingColumns":[],"schema":[{"id":"Nom","displayName":"Nom","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"E-mail","displayName":"E-mail","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"ignoreTypeMismatchErrors":false,"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1100,780],"id":"cb2caf37-d61b-4b83-871a-55fd2416a941","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"zdCtsjBLk8S5V1ad","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1keFoNfAFckoVDd-lUesAMJjxTtc8xybEa0DchGF1f3g","mode":"list","cachedResultName":"Youtube_list_contacts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1keFoNfAFckoVDd-lUesAMJjxTtc8xybEa0DchGF1f3g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Feuille 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1keFoNfAFckoVDd-lUesAMJjxTtc8xybEa0DchGF1f3g/edit#gid=0"},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1240,780],"id":"7eb70928-ff2b-40ad-86ae-5f1244456147","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"zdCtsjBLk8S5V1ad","name":"Google Sheets account"}}},{"parameters":{"name":"current_date_and_time","description":"=Call this tool to know the current date andtime ","workflowId":{"__rl":true,"value":"xq6tnmw2rOoENj66","mode":"list","cachedResultName":"My Sub-Workflow 1"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"ignoreTypeMismatchErrors":false,"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[1500,180],"id":"ab8424eb-26e3-43b1-890a-6175d72f2576","name":"Call n8n Workflow Tool"},{"parameters":{"sendTo":"={{ $fromAI('email') }}","subject":"={{ $fromAI('subject') }}","message":"={{ $fromAI('content' , \"write the full email as me\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[500,560],"id":"47b875ea-144d-4138-ade7-5b6426d9500f","name":"sendGmail","webhookId":"2a752bee-28ae-4f0f-89b4-050da078256a","credentials":{"gmailOAuth2":{"id":"59cQX0HUU0crTquR","name":"Gmail account"}}},{"parameters":{"operation":"getAll","returnAll":true,"filters":{"receivedAfter":"={{ $fromAI('the_date', \"the tool will retrieve all the e-mails received after this date\") }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[660,560],"id":"bddf40a8-4d73-4d24-aa98-41708f831775","name":"getGmail","webhookId":"5d7f78eb-981e-401f-a90f-4dc9f23d9325","credentials":{"gmailOAuth2":{"id":"59cQX0HUU0crTquR","name":"Gmail account"}}},{"parameters":{"calendar":{"__rl":true,"value":"olivier.info.dev@gmail.com","mode":"list","cachedResultName":"olivier.info.dev@gmail.com"},"start":"={{ $fromAI('The_start_time_of_the_event') }}","end":"={{ $fromAI('The_end_time_of_the_event', \"the default value is 30 minutes after the start time\") }}","additionalFields":{"attendees":[],"description":"={{ $fromAI('description_of_the_event', \"a very short description of the event\") }}","summary":"={{ $fromAI('event_name', \"the name of the event\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[820,600],"id":"d4a8fd6a-8684-45c8-b3cd-e73e306e986f","name":"createEvent","credentials":{"googleCalendarOAuth2Api":{"id":"L0OimkxzO6Oz5R72","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"olivier.info.dev@gmail.com","mode":"list","cachedResultName":"olivier.info.dev@gmail.com"},"returnAll":true,"options":{"timeMin":"={{ $fromAI('the_date', \"the tool will retrieve all the events in the calendar scheduled after this date\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[960,600],"id":"53ccf4a0-e62c-4d77-81d3-110d6a6b8df6","name":"getEvent","credentials":{"googleCalendarOAuth2Api":{"id":"L0OimkxzO6Oz5R72","name":"Google Calendar account"}}},{"parameters":{"operation":"getAll","returnAll":true,"options":{}},"type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[1100,600],"id":"7d876a0d-cc59-4613-9fdb-fa3ee6178832","name":"Google Contacts","credentials":{"googleContactsOAuth2Api":{"id":"GCMKSD5pKNlhQEyI","name":"Google Contacts account"}}},{"parameters":{"familyName":"{ $fromAI(name)}","givenName":"{ $fromAI(surName)}","additionalFields":{"emailsUi":{"emailsValues":[{"type":"home","value":"{ $fromAI(email)}"}]}}},"type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[1260,600],"id":"4dbd816c-8731-4845-bc75-a92ccce431d3","name":"Google Contacts1","credentials":{"googleContactsOAuth2Api":{"id":"GCMKSD5pKNlhQEyI","name":"Google Contacts account"}}},{"parameters":{"includeTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', `cet outil permet de definir ou lire les dates des event du calendrier`, 'boolean') }}","options":{}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[1400,600],"id":"95bd4466-c06d-4254-9c14-79f4a9ede399","name":"DateTime"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Sheets":{"ai_tool":[[]]},"Google Sheets1":{"ai_tool":[[]]},"Call n8n Workflow Tool":{"ai_tool":[[]]},"sendGmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"getGmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"createEvent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"getEvent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Contacts":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Contacts1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"DateTime":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":361285444,"message":{"message_id":13,"from":{"id":6859157303,"is_bot":false,"first_name":"El","last_name":"iass","username":"eliasseai","language_code":"fr"},"chat":{"id":6859157303,"first_name":"El","last_name":"iass","username":"eliasseai","type":"private"},"date":1735394846,"text":"slt"}}}]},"versionId":"c881071a-4a84-46d8-a05a-2ddb6ee6076c","triggerCount":1,"tags":[{"createdAt":"2025-03-13T09:14:05.263Z","updatedAt":"2025-03-13T09:14:05.263Z","id":"bV8FAGYck0l4O5dn","name":"Assistant-personnel"}],"repo_owner":"Olivier340","repo_name":"n8n-workflow","repo_path":"","subPath":"2025/01/"}